<!-- BEGIN: description -->{NODE.description}<!-- END: description -->
<!-- BEGIN: head -->
<link type="text/css" href="/share/css/default/screen.css" rel="stylesheet" media="screen" />
<link type="text/css" href="/share/css/default/print.css" rel="stylesheet" media="print" />
<style type="text/css">
{CONFIGURATION.global.css}
</style>
<script type="text/javascript" src="/share/js/compiled.js"></script>
<script type="text/javascript" src="/js/local.js"></script>
{ONXSHOP_REQUEST_head #extra_head}

{CONFIGURATION.global.extra_head}
<!-- END: head -->
<!-- BEGIN: content -->
{ONXSHOP_REQUEST_google_tag_manager #component/google_tag_manager}
{CONFIGURATION.global.extra_body_top}

{ONXSHOP_REQUEST_google_analytics #component/google_analytics}

<header>
	<div class="wrapper">
		<div class="logo">
			<a href="/" title="{I18N_GOTO_HOMEPAGE} {CONFIGURATION.global.title|htmlspecialchars}"><span>{CONFIGURATION.global.title|htmlspecialchars}</span></a>
		</div>
		<nav class="reveal">
			<a href="nav#primary"><span>Menu</span></a>
		</nav>
		<nav class="primary">
			{PRIMARY_NAVIGATION}
		</nav>
	</div>
</header>

<main class="{NODE.node_group} {NODE.css_class} {NODE.taxonomy_class} {NODE.extra_css_class|htmlspecialchars}" data-node-id="{NODE.id}" data-node-controller="{NODE.node_controller}">
	{SUB_CONTENT}
</main>

<footer>
	<div class="wrapper">
		<section id="content-bottom">
			{CONTENT_FOOT}
		</section>
		<nav class="footer">
			{FOOTER_NAVIGATION}
		</nav>
		<small>{CONFIGURATION.global.copyright}</small>
	</div>
</footer>

{CONFIGURATION.global.extra_body_bottom}
<!-- END: content -->
