<!-- BEGIN: description -->{NODE.description}<!-- END: description -->
<!-- BEGIN: keywords -->{NODE.keywords}<!-- END: keywords -->
<!-- BEGIN: head -->
<link type="text/css" href="/share/css/default/screen.css" rel="stylesheet" media="screen" />
<link type="text/css" href="/share/css/default/print.css" rel="stylesheet" media="print" />
<style type="text/css">
{CONFIGURATION.global.css}
</style>
<script type="text/javascript" src="/share/js/compiled.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	popupMessage("div.onxshop_messages");
});
</script>

{ONXSHOP_REQUEST_head #extra_head}

{CONFIGURATION.global.extra_head}
<!-- END: head -->
<!-- BEGIN: content -->
{CONFIGURATION.global.extra_body_top}

{ONXSHOP_REQUEST_google_analytics #component/google_analytics}

<ul id="accessibility"><li><a href="#primaryNavigation">Skip to navigation</a></li><li><a href="#content">Skip to content</a></li></ul>

<div id="site" class="customer_account_type_{_SESSION.client.customer.account_type} locale_{_SESSION.locale|preg_replace('/\.UTF-8/', '', %s)}">
	<div id="siteWrapper">
		<div id="page_id_{GET.id}" class="site {NODE.css_class}">
			<div id="pageWrapper">
				<div class="top"><span></span></div>
				<div id="container">
					<div id="containerWrapper">
						<div class="top"><span></span></div>
						<div id="header">
							<div id="headerWrapper">
								<div class="top"><span></span></div>
								<div class="content">
			
									<div id="logo">
										<div id="logoWrapper">
											<a href="/?ref=logo" title="{I18N_GOTO_HOMEPAGE} {CONFIGURATION.global.title|htmlspecialchars}"><span>{CONFIGURATION.global.title|htmlspecialchars}</span></a>
										</div>
									</div>
									
									<div id="userbox">
										<div id="userboxWrapper">
											{ONXSHOP_REQUEST_userbox #component/client/userbox}
										</div>
									</div>
									
									<div id="globalNavigation">
										<div id="globalNavigationWrapper">
											{GLOBAL_NAVIGATION}
										</div>
									</div>
					
									<div id="search">
										<div id="searchWrapper">
											{ONXSHOP_REQUEST_searchbox #component/searchbox}
										</div>
									</div>
					
									<div id="basket">
										<div id="basketWrapper">
											{ONXSHOP_REQUEST_basket #component/ecommerce/basket}
										</div>
									</div> 
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
			
						<div id="revealNavigationButton">
							<a href="#primaryNavigation"><span>&#9776;</span></a>
						</div>
									
						<div id="primaryNavigation">
							<div id="primaryNavigationWrapper">
								<div class="top"><span></span></div>
								<div class="content">
									{PRIMARY_NAVIGATION}
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
			
						<div id="content">
							<div id="contentWrapper">
								<div class="top"><span></span></div>
								<div class="content">
									{SUB_CONTENT}
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
			
						<div id="contentSide">
							<div id="contentSideWrapper">
								<div class="top"><span></span></div>
								<div class="content">
									{CONTENT_SIDE}
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
						<div></div> <!-- IE requires this empty div -->
						<div id="contentBottom">
							<div id="contentBottomWrapper">
								<div class="top"><span></span></div>
								<div class="content">
									{CONTENT_FOOT}
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
						<div id="footer">
							<div id="footerWrapper">
								<div class="top"><span></span></div>
								<div class="content">
									<div id="footerNavigation">
										<div id="footerNavigationWrapper">
											<div class="top"><span></span></div>
											<div class="content">
												{FOOTER_NAVIGATION}
											</div>
											<div class="bottom"><span></span></div>
										</div>
									</div>
			
									<div id="copyright">
										<div id="copyrightWrapper">
											<p>{CONFIGURATION.global.copyright}</p>
										</div>
									</div>
									<div id="credit">
										<div id="creditWrapper">
											<p>{CONFIGURATION.global.credit}</p>
										</div>
									</div>
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
						<div class="bottom"><span></span></div>
					</div>
				</div>
				
				<div class="bottom"><span></span></div>
			</div>
		</div>
	</div>
</div>
<div id="dialog" title="Dialog Window"></div>
{CONFIGURATION.global.extra_body_bottom}
<!-- END: content -->
