<!-- BEGIN: description -->{NODE.description}<!-- END: description -->
<!-- BEGIN: keywords -->{NODE.keywords}<!-- END: keywords -->
<!-- BEGIN: head -->
<link type="text/css" href="/share/css/default/screen.css" rel="stylesheet" media="screen" />
<link type="text/css" href="/share/css/default/print.css" rel="stylesheet" media="print" />
<style type="text/css">
{CONFIGURATION.global.css}
</style>
<script type="text/javascript" src="/share/js/compiled.js"></script>
<script type="text/javascript" src="/js/local.js"></script>

{ONXSHOP_REQUEST_head #extra_head}

{CONFIGURATION.global.extra_head}
<!-- END: head -->
<!-- BEGIN: content -->
{ONXSHOP_REQUEST_google_tag_manager #component/google_tag_manager}
{CONFIGURATION.global.extra_body_top}

{ONXSHOP_REQUEST_google_analytics #component/google_analytics}
{ONXSHOP_REQUEST_facebook_sdk_js #component/facebook_sdk_js}

<ul id="accessibility"><li><a href="#primaryNavigation">Skip to navigation</a></li><li><a href="#content">Skip to content</a></li></ul>

<div id="site" class="customer_account_type_{_SESSION.client.customer.account_type} locale_{_SESSION.locale|preg_replace('/\.UTF-8/', '', %s)}">
	<div id="siteWrapper">
		<div id="page_id_{GET.id}" class="site {NODE.css_class}">
			<div id="pageWrapper">
				<div class="top"><span></span></div>
				<div id="container">
					<div id="containerWrapper">
						<div class="top"><span></span></div>
						<div id="content">
							<div id="contentWrapper">
								<div class="top"><span></span></div>
								<div class="content">
									{SUB_CONTENT}
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
						
						<div></div> <!-- IE requires this empty div -->
						<div id="contentBottom">
							<div id="contentBottomWrapper">
								<div class="top"><span></span></div>
								<div class="content">
									{CONTENT_FOOT}
								</div>
								<div class="bottom"><span></span></div>
							</div>
						</div>
						
						<div class="bottom"><span></span></div>
					</div>
				</div>
				
				<div class="bottom"><span></span></div>
			</div>
		</div>
	</div>
</div>
<div id="dialog" title="Dialog Window"></div>
{CONFIGURATION.global.extra_body_bottom}
<!-- END: content -->
