<!-- BEGIN: head -->
<link type="text/css" href="/share/css/default/screen.css" rel="stylesheet" media="screen" />
<link type="text/css" href="/share/css/default/print.css" rel="stylesheet" media="print" />
<style type="text/css">
{CONFIGURATION.global.css}
</style>
<script type="text/javascript" src="/share/js/jquery/jquery.js"></script>
<script type="text/javascript">
	$(window).load(function() {window.print()});
</script>
<!-- END: head -->
<!-- BEGIN: content -->
{SUB_CONTENT}
<!-- END: content -->
