<!-- BEGIN: content -->
{MESSAGES}
<table cellspacing="0" class="product-variety-list">
    <thead>
        <tr>
            <th>Product Code</th>
            <th>Option Name</th>
            <th>Stock</th>
            <th>Weight Gross [{VARIETY_CONF.weight_units}]</th>
            <!--<th>Dimensions [{VARIETY_CONF.dimension_units}]</th>-->
            <th>Price Net</th>  
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: variety -->
        <tr>
            <td>
                <a class="title" href="/backoffice/products/variety/{VARIETY.id}/edit" onclick="javascript:openEdit('/request/sys/xhtml.bo/backoffice_wrapper.bo/component/ecommerce/product_variety_edit~id={VARIETY.id}~', this, 0); return false;" title="Click to Edit Product Variety">{VARIETY.sku|htmlspecialchars}</a>
                <a class="button edit small" href="/backoffice/products/variety/{VARIETY.id}/edit" onclick="javascript:openEdit('/request/sys/xhtml.bo/backoffice_wrapper.bo/component/ecommerce/product_variety_edit~id={VARIETY.id}~', this, 0); return false;" title="Click to Edit Product Variety"><span>Edit</span></a>
                {IMAGE}
            </td>
            <td class="{DISABLED}"><a class="title" id="ecommerce-product-variety-variety-name-id-{VARIETY.id}" href="#{VARIETY.id}" onclick="javascript:openEdit('/request/sys/xhtml.bo/backoffice_wrapper.bo/component/ecommerce/product_variety_edit~id={VARIETY.id}~', this, 0); return false;">{VARIETY.name|htmlspecialchars}</a><br /><div style="font-size: small">{VARIETY.description}</div></td>
            <td>{VARIETY.stock}</td>
            <td>{VARIETY.weight_gross}</td>
            <!--<td>Width {VARIETY.width} x Height {VARIETY.height} x Depth {VARIETY.depth}<br />&Oslash; {VARIETY.diameter}</td>-->
            <td class="price">
                <a class="price" id="ecommerce-price-value-product-variety-id-{VARIETY.id}" href="#{VARIETY.id}" onclick="javascript:openEdit('/request/sys/xhtml.bo/backoffice_wrapper.bo/component/ecommerce/product_variety_edit~id={VARIETY.id}~', this, 0); return false;">{VARIETY.price.value_net|money_format('%!n', %s)}</a> {CONFIGURATION.global.default_currency}
            </td>
        </tr>
    <!-- END: variety -->
    </tbody>
</table>

<p><a class="button add" href="/backoffice/products/{GET.id}/variety_add"><span>Add a New Variety</span></a></p>
<!-- END: content -->
