<!-- BEGIN: content -->
{MESSAGES}
<script type="text/javascript">  
$(function(){  
    $("#contact-form-{GET.node_id}").validate({
		highlight: function(element) {
			$(element).addClass("error");
			$(element).parent().parent().addClass("error");
		},
		unhighlight: function(element) {
			$(element).removeClass("error");
			$(element).parent().parent().removeClass("error");
		}
	});
});
</script>

<div class="contact-form-common-simple">
    <form class="contact common-simple" id="contact-form-{GET.node_id}" action="{URI|htmlspecialchars}#node-id-{GET.node_id}" method="post">
    <fieldset class="single">
        <legend>{I18N_CONTACT_FORM}</legend>
        <div class="row name">
            <label for="formdata-name-{GET.node_id}">{I18N_YOUR_NAME}:</label>
            <input type="text" id="formdata-name-{GET.node_id}" name="formdata[required_name]" value="{FORMDATA.required_name|htmlspecialchars}" class="required text" />
        </div>
        <div class="row email">
            <label for="formdata-email-{GET.node_id}">{I18N_EMAIL}:</label>
            <input type="email" id="formdata-email-{GET.node_id}" name="formdata[required_email]" value="{FORMDATA.required_email|htmlspecialchars}" class="required email text" />
        </div>
        <div class="row subject">
            <label for="formdata-subject-{GET.node_id}">{I18N_SUBJECT}:</label>
            <input type="text" id="formdata-subject-{GET.node_id}" name="formdata[required_subject]" value="{FORMDATA.required_subject|htmlspecialchars}" class="required text" />
        </div>
        
        <div class="row message">
            <label for="formdata-message-{GET.node_id}">{I18N_YOUR_MESSAGE}:</label>
            <textarea id="formdata-message-{GET.node_id}" class="required" name="formdata[required_message]" rows="15" cols="45">{FORMDATA.required_message|htmlspecialchars}</textarea>
        </div>

        {FILE "component/captcha.inc.html"}

    </fieldset>
    
        <input type="hidden" name="node_id" value="{GET.node_id}" />
        
        <div class="row submit">
            <label>&nbsp;</label>
            <button type="submit" name="send" value="send" class="submit"><span>{I18N_SUBMIT}</span></button>
        </div>
    
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>
<!-- END: content -->
