<!-- BEGIN: content -->
{MESSAGES}
<script type="text/javascript">  
$(document).ready(function(){  
	$("#contact_form_{GET.node_id}").validate();  
});  
</script>
<div class="contact_form_common">
	<form class="contact" id="contact_form_{GET.node_id}" action="{URI|htmlspecialchars}#node_id_{GET.node_id}" method="post">
	<fieldset class="single">
		<legend>{I18N_CONTACT_FORM}</legend>
		<div class="row title {ERROR.title}">
			<span class="label"><label for="formdata-title_{GET.node_id}">{I18N_TITLE}:</label></span>
			<span class="field"><input class="text short" type="text" id="formdata-title_{GET.node_id}" name="formdata[title]" value="{FORMDATA.title|htmlspecialchars}" />
			</span>
		</div>
		
		<div class="row first_name {ERROR.first_name}">
			<span class="label"><label for="formdata-first_name_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_FIRST_NAME}:</label></span>
			<span class="field"><input type="text" class="required text" id="formdata-first_name_{GET.node_id}" name="formdata[required_first_name]" value="{FORMDATA.required_first_name|htmlspecialchars}" maxlength="45" /></span>
		</div>
		<div class="row last_name {ERROR.last_name}">
			<span class="label"><label for="formdata-last_name_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_LAST_NAME}:</label></span>
			<span class="field"><input type="text" class="required text" id="formdata-last_name_{GET.node_id}" name="formdata[required_last_name]" value="{FORMDATA.required_last_name|htmlspecialchars}" maxlength="45" /></span>
		</div>
		<div class="row company {ERROR.company}">
			<span class="label"><label for="formdata-company_{GET.node_id}">{I18N_COMPANY}:</label></span>
			<span class="field"><input type="text" class="text" id="formdata-company_{GET.node_id}" name="formdata[company]" value="{FORMDATA.company|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row address {ERROR.address}">
			<span class="label"><label for="formdata-address_{GET.node_id}">{I18N_ADDRESS}:</label></span>
			<span class="field"><input type="text" class="text" id="formdata-address_{GET.node_id}" name="formdata[address]" value="{FORMDATA.address|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row city {ERROR.city}">
			<span class="label"><label for="formdata-city_{GET.node_id}">{I18N_CITY}:</label></span>
			<span class="field"><input type="text" class="text" id="formdata-city_{GET.node_id}" name="formdata[city]" value="{FORMDATA.city|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row post_code {ERROR.post_code}">
			<span class="label"><label for="formdata-post_code_{GET.node_id}">{I18N_POSTAL_CODE}:</label></span>
			<span class="field"><input type="text" class="text short" id="formdata-post_code_{GET.node_id}" name="formdata[post_code]" value="{FORMDATA.post_code|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row country {ERROR.country}">
			<span class="label"><label for="formdata-country_{GET.node_id}">{I18N_COUNTRY}:</label></span>
			<span class="field"><input type="text" class="text" id="formdata-country_{GET.node_id}" name="formdata[country]" value="{FORMDATA.country|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row email {ERROR.email}">
			<span class="label"><label for="formdata-email_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_EMAIL}:</label></span>
			<span class="field"><input type="text" class="required email text" id="formdata-email_{GET.node_id}" name="formdata[required_email]" value="{FORMDATA.required_email|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row telephone {ERROR.telephone}">
			<span class="label"><label for="formdata-telephone_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_TEL}:</label></span>
			<span class="field"><input type="text" class="required text" id="formdata-telephone_{GET.node_id}" name="formdata[required_telephone]" value="{FORMDATA.required_telephone|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row message {ERROR.message}">
			<span class="label"><label for="formdata-message_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_YOUR_MESSAGE}:</label></span>
			<span class="field"><textarea id="formdata-message_{GET.node_id}" name="formdata[required_message]" class="required textarea" rows="15" cols="45">{FORMDATA.required_message|htmlspecialchars}</textarea></span>
		</div>

		{FILE "component/captcha.inc.html"}
	
	</fieldset>
	
		<input type="hidden" name="node_id" value="{GET.node_id}" />
	
		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit" name="send" value="send" class="submit"><span>{I18N_SUBMIT}</span></button></span>
		</div>
	
	<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>
<!-- END: content -->
