<!-- BEGIN: content -->
{MESSAGES}
<style type="text/css">
@import url(/share/themes/jquery-ui/onxshop/jquery-ui.css);
</style>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js"></script>
<script type="text/javascript">  
$(document).ready(function(){  
    $("#contact-form-{GET.node_id}").validate({
		highlight: function(element) {
			$(element).addClass("error");
			$(element).parent().parent().addClass("error");
		},
		unhighlight: function(element) {
			$(element).removeClass("error");
			$(element).parent().parent().removeClass("error");
		}
	});
    $('#formdata-purchase-date-{GET.node_id}').datepicker({startDate:'01/01/2000', dateFormat: 'D dd M yy', changeMonth: true, changeYear: true, });
});  
</script>
<div class="contact-form-complaint">
    <form class="contact" id="contact-form-{GET.node_id}" action="{URI|htmlspecialchars}#node-id-{GET.node_id}" method="post">
    <fieldset class="single">
        <legend>{I18N_CONTACT_FORM}</legend>
        
        <div class="contact-form-header">
            <h3>Product Details</h3>
        </div>
        
        <div class="row purchase-date">
            <label for="formdata-purchase-date_{GET.node_id}">Purchase Date:</label>
            <input type="text" class="required text" id="formdata-purchase-date-{GET.node_id}" name="formdata[purchase_date]" value="{FORMDATA.purchase_date|htmlspecialchars}" maxlength="45" />
        </div>
        
        <!-- BEGIN: store -->
        <div class="row store-id">
            <label for="formdata-store-id-{GET.node_id}">Store Purchased From:</label>
            <!-- BEGIN: county_dropdown -->
            <select id="formdata-store-id-{GET.node_id}" name="formdata[store_id]" class="required">
                <option value="">- please select store -</option>
                <!-- BEGIN: province -->
                <optgroup label="{PROVINCE_NAME}">
                    <!-- BEGIN: store -->
                    <option value="{COUNTY.label.title|htmlspecialchars} - {STORE.title|htmlspecialchars}" {STORE.selected}>{COUNTY.label.title|htmlspecialchars} - {STORE.title|htmlspecialchars}</option>
                    <!-- END: store -->
                </optgroup>
                <!-- END: province -->
            </select>
            <!-- END: county_dropdown -->
        </div>
        <!-- END: store -->
        
        <div class="row product-name">
            <label for="formdata-product-name-{GET.node_id}">Product Name:</label>
            <input type="text" class="required text" id="formdata-product-name-{GET.node_id}" name="formdata[required_product_name]" value="{FORMDATA.required_product_name|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row product-barcode">
            <label for="formdata-product-barcode-{GET.node_id}">Product Barcode:</label>
            <input type="text" class="required text" id="formdata-product-barcode-{GET.node_id}" name="formdata[required_product_barcode]" value="{FORMDATA.required_product_barcode|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row use-by-best-before">
            <label for="formdata-use-by-best-before-{GET.node_id}">Use By / Best Before:</label>
            <input type="text" class="text" id="formdata-use-by-best-before-{GET.node_id}" name="formdata[required_use_by_best_before]" value="{FORMDATA.required_use_by_best_before|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row any-other-codes">
            <label for="formdata-any-other-codes-{GET.node_id}">Any Other Codes:</label>
            <input type="text" class="text" id="formdata-any-other-codes-{GET.node_id}" name="formdata[any_other_codes]" value="{FORMDATA.any_other_codes|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row issue-description">
            <label for="formdata-issue-description-{GET.node_id}">Issue Description:</label>
            <select class="select" id="formdata-issue-description-{GET.node_id}" name="formdata[issue_description]" value="{FORMDATA.issue_description|htmlspecialchars}">
              <option class="quality" value="Poor Quality">Poor Quality</option>
              <option class="off" value="Gone Off">Gone Off</option>
              <option class="tough" value="Tough">Tough</option>
              <option class="foreignbody" value="Foreign Body">Foreign Body</option>
              <option class="componentmissing" value="Component Missing">Component Missing</option>
              <option class="other" value="other">Other</option>
            </select>
        </div>
        
        <div class="row other-issue">
            <label for="formdata-other-issue-{GET.node_id}">If Other Please State:</label>
            <input type="text" class="text" id="formdata-other-issue-{GET.node_id}" name="formdata[other_issue]" value="{FORMDATA.other_issue|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row sample-location">
            <label for="formdata-sample-location-{GET.node_id}">Location of Sample:</label>
            <select class="select" id="formdata-sample-location-{GET.node_id}" name="formdata[sample_location]" value="{FORMDATA.sample_location|htmlspecialchars}">
              <option class="home" value="Home">Home</option>
              <option class="store" value="Store">Store</option>
              <option class="discarded" value="Discarded">Discarded</option>
            </select>
        </div>      
        
        <div class="row details">
            <label for="formdata-details-{GET.node_id}"><strong>Details of Issue:</strong></label>
            <textarea id="formdata-details-{GET.node_id}" name="formdata[details]" class="textarea" rows="15" cols="45">{FORMDATA.details|htmlspecialchars}</textarea>
        </div>
        
        <div class="contact-form-header">
            <h3>Your Details</h3>
        </div>
        
        <div class="row name">
            <label for="formdata-name-{GET.node_id}">Your Name:</label>
            <input type="text" class="required text" id="formdata-name-{GET.node_id}" name="formdata[required_name]" value="{FORMDATA.required_name|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row address">
            <label for="formdata-address-{GET.node_id}">Address:</label>
            <input type="text" class="text" id="formdata-address-{GET.node_id}" name="formdata[address]" value="{FORMDATA.address|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row town">
            <label for="formdata-town-{GET.node_id}">Town:</label>
            <input type="text" class="text" id="formdata-town-{GET.node_id}" name="formdata[town]" value="{FORMDATA.town|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row postcode">
            <label for="formdata-postcode-{GET.node_id}">Post Code:</label>
            <input type="text" class="text" id="formdata-postcode-{GET.node_id}" name="formdata[postcode]" value="{FORMDATA.postcode|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row email">
            <label for="formdata-email-{GET.node_id}">{I18N_EMAIL}:</label>
            <input type="email" class="required email text" id="formdata-email-{GET.node_id}" name="formdata[required_email]" value="{FORMDATA.required_email|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row telephone">
            <label for="formdata-telephone-{GET.node_id}">Telephone:</label>
            <input type="text" class="required text" id="formdata-telephone-{GET.node_id}" name="formdata[required_telephone]" value="{FORMDATA.required_telephone|htmlspecialchars}" maxlength="45" />
        </div>
        
        <div class="row consent">
            <label for="formdata-consent-{GET.node_id}">For the purpose of this investigation, I agree to sharing my contact details with the relevant supplier and retailer:</label>
            <select class="select required" id="formdata-consent-{GET.node_id}" name="formdata[consent]" value="{FORMDATA.consent|htmlspecialchars}">
                <option value="">-</option>
                <option class="no" value="No">No</option>
                <option class="yes" value="Yes">Yes</option>
            </select>
        </div>      

        {FILE "component/captcha.inc.html"}
    
    </fieldset>
    
        <input type="hidden" name="node_id" value="{GET.node_id}" />
    
        <div class="row submit">
            <label>&nbsp;</label>
            <button type="submit" name="send" value="send" class="submit"><span>{I18N_SUBMIT}</span></button>
        </div>
    
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>
<!-- END: content -->
