<!-- BEGIN: title -->Currency Rate<!-- END: title -->
<!-- BEGIN: content -->
<form method="post" action="{URI}">
	
	<fieldset>

		<legend>Reference currency: GBP British Pounds</legend>
		<div class="row">
			<span class="label"><label>USD United States Dollars</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[USD]" value="{CURRENCY_RATE.USD}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+USD">convert 1 GBP to USD on Google</a></span>
		</div>
		<div class="row">
			<span class="label"><label>EUR European Union Euros</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[EUR]" value="{CURRENCY_RATE.EUR}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+EUR">convert 1 GBP to EUR on Google</a></span> 
		</div>
		<div class="row">
			<span class="label"><label>CZK Czech Koruna</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[CZK]" value="{CURRENCY_RATE.CZK}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+CZK">convert 1 GBP to CZK on Google</a></span> 
		</div>
		<div class="row">
			<span class="label"><label>AUD Australian Dollars</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[AUD]" value="{CURRENCY_RATE.AUD}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+AUD">convert 1 GBP to AUD on Google</a></span>
		</div>
		<div class="row">
			<span class="label"><label>JPY Japanese Yen</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[JPY]" value="{CURRENCY_RATE.JPY}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+JPY">convert 1 GBP to JPY on Google</a></span>
		</div>
		<div class="row">
			<span class="label"><label>CAD Canadian Dollars</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[CAD]" value="{CURRENCY_RATE.CAD}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+CAD">convert 1 GBP to CAD on Google</a></span>
		</div>
		<div class="row">
			<span class="label"><label>HKD Hong Kong Dollars</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[HKD]" value="{CURRENCY_RATE.HKD}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+HKD">convert 1 GBP to HKD on Google</a></span>
		</div>
		<div class="row">
			<span class="label"><label>NZD New Zealand Dollars</label></span>
			<span class="field"><input disabled="disabled" type="text" name="currecy_rate[NZD]" value="{CURRENCY_RATE.NZD}"> source <input type="text" name="currecy_rate[source]" value="google"> <a href="http://www.google.co.uk/search?q=convert+1+GBP+to+NZD">convert 1 GBP to NZD on Google</a></span>
		</div>
		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit" name="submit" value="submit"><span>Save</span></button></span>
		</div>
	</fieldset>
</form>
<!-- END: content -->