<!-- BEGIN: head -->
<style type="text/css">
select {width: 100%;}
</style>
<!-- END: head -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<script type="text/javascript">
$(document).ready(function(){
	
	/**
	 * date
	 */
	 
	$('#customer-list-filter-created_from,#customer-list-filter-created_to,#customer-list-filter-activity_from,#customer-list-filter-activity_to').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true});

});
</script>

<div class="customer_list_filter">

	<form method="post" action="{_SERVER.REDIRECT_URL}">
		<fieldset class="single">
			<div class="row query">
				<span class="label" title="Can be First Name or Last Name, First Name and Last Name, Username"><label>Name*, Email or ID<br /></label></span>
				<span class="field"><input title="Can be First Name or Last Name, First Name and Last Name, Username" type="text" class="text" id="customer-list-filter-query" name="customer-list-filter[query]" value="{_SESSION.customer-list-filter.query}" /></span>
			</div>
			
			<div class="row account_type">
				<span class="label"><label>Account type</label></span>
				<span class="field">
					<select id="customer-list-filter-account_type" name="customer-list-filter[account_type]" onchange="submit()">
						<option value="-1" {SELECTED_account_type_-1}>all</option>
						<option value="0" {SELECTED_account_type_0}>normal accounts</option>
						<option value="1" {SELECTED_account_type_1}>requested trade</option>
						<option value="2" {SELECTED_account_type_2}>approved trade</option>
					</select>
				</span>
			</div>
			
			<div class="row invoice_status">
				<span class="label"><label>Display customers</label></span>
				<span class="field">
					<select id="customer-list-filter-invoice_status" name="customer-list-filter[invoice_status]" onchange="submit()">
						<option value="1" {SELECTED_invoice_status_1}>who made an order</option>
						<option value="0" {SELECTED_invoice_status_0}>all</option>
					</select>
				</span>
			</div>
								
			<div class="row country">
				<span class="label"><label for="customer-list-filter-country_id">Country</label></span>
				<span class="field">
					<!-- BEGIN: country -->
					<select id="customer-list-filter-country_id" name="customer-list-filter[country_id]" onchange="submit()">
						<option value="0">All countries</option>
						<!-- BEGIN: item -->
						<option value="{ITEM.id}" {ITEM.selected}>{ITEM.name}</option>
						<!-- END: item -->
					</select>
					<!-- END: country --> 
				</span>
			</div>
			
			<!-- BEGIN: product -->
			<div class="row product_bought">
				<span class="label"><label>Product ID bought</label></span>
				<span class="field">
					<select id="customer-list-filter-product_bought" name="customer-list-filter[product_bought]">
						<option value="0">Any product</option>
						<!-- BEGIN: item -->
						<option value="{ITEM.id}" {ITEM.selected}>{ITEM.name|htmlspecialchars}</option>
						<!-- END: item -->
					</select>
				</span>
			</div>
			<div id="filterTaxonomy">
				{disableONXSHOP_REQUEST_rt #bo/component/relation_taxonomy~relation=product:id=GET.id~}
			</div>
			<!-- END: product -->

		
			<div class="row registered_between">
				<span class="label"><label>Registered between</label></span>
				<span class="field">
					<input type="text" class="text" id="customer-list-filter-created_from" name="customer-list-filter[created_from]" value="{_SESSION.customer-list-filter.created_from}" />
					<input type="text" class="text" id="customer-list-filter-created_to" name="customer-list-filter[created_to]" value="{_SESSION.customer-list-filter.created_to}" />
				</span>
			</div>
			<div class="row activity_between">
				<span class="label"><label>Activity between</label></span>
				<span class="field">
					<input type="text" class="text" id="customer-list-filter-activity_from" name="customer-list-filter[activity_from]" value="{_SESSION.customer-list-filter.activity_from}" />
					<input type="text" class="text" id="customer-list-filter-activity_to" name="customer-list-filter[activity_to]" value="{_SESSION.customer-list-filter.activity_to}" />
				</span>
			</div>
		</fieldset>
		
		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit" name="search" value="Search"><span>Search</span></button></span>
		</div>
	</form>
	
</div>
<!-- END: content -->
