<!-- BEGIN: content -->

<div class="ordersBrakedown">
	<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
				
	<!-- BEGIN: result -->
			
			<table>
				<!--<caption>Sales of goods, delivery and VAT in {CONFIGURATION.global.default_currency}</caption>-->
				<thead>
					<tr><th>&nbsp;</th><th class="money">Value</th><th class="money">VAT</th><th class="money">&nbsp;</th></tr>
				</thead>
				<tbody>
					<!-- BEGIN: type -->
					<tr><td>{GOODS_TYPE.name}</td><td class="money">{GOODS_TYPE.net|money_format('%n', %s)}</td><td class="money">{GOODS_TYPE.vat|money_format('%n', %s)}</td><td></td></tr>
					<!-- END: type -->
					<!--<tr><td>Total</td><td class="money">{GOODS.total.net|money_format('%n', %s)}</td><td class="money">{GOODS.total.vat|money_format('%n', %s)}</td><td></td></tr>-->
					
					<!--<tr><td>Goods</td><td class="money">{GOODS.charged.net|money_format('%n', %s)}</td><td class="money">{GOODS.charged.vat|money_format('%n', %s)}</td><td class="money">{SALES.sum.goods|money_format('%n', %s)}</td></tr>-->
					<tr><td>Delivery VAT exempt</td><td class="money">{DELIVERY.vat_exempt|money_format('%n', %s)}</td><td class="money">-</td><td class="money"></td></tr>
					<tr><td>Delivery</td><td class="money">{DELIVERY.net|money_format('%n', %s)}</td><td class="money">{DELIVERY.vat|money_format('%n', %s)}</td><td class="money"></td></tr>
				</tbody>
				<tfoot>
					<tr>
						<td>Total Sales</td>
						<td class="money">{SALES.net.total|money_format('%n', %s)}</td>
						<td class="money">{SALES.vat.total|money_format('%n', %s)}</td>
						<td class="money">{SALES.sum.total|money_format('%n', %s)}</td>
					</tr>
					
					<tr>
						<td>Face value vouchers</td>
						<td class="money"></td>
						<td class="money"></td>
						<td class="money"><span title="Total value of used voucher">({VOUCHER_DISCOUNT.value|money_format('%n', %s)})</span><br /><span title="Wasted voucher value">{VOUCHER_DISCOUNT.wasted|money_format('%n', %s)}&nbsp;</span></td>
					</tr>
					<tr>
						<td>After Discount</td>
						<td class="money"></td>
						<td class="money"></td>
						<td class="money">{AFTER_DISCOUNT|money_format('%n', %s)}</td>
					</tr>
					<tr>
						<td>Check</td>
						<td class="money" colspan="2">
							(transaction table)<br />
							(invoice table)
						</td>
						<td class="money">
							{CHECK.worldpay|money_format('%n', %s)}<br />
							{CHECK.invoice|money_format('%n', %s)}
						</td>
					</tr>
				</tfoot>
			</table>
			
			<!-- <p>CHECK: VAT invoiced for goods: {VAT_GOODS} {CONFIGURATION.global.default_currency}</p>-->

	<!-- END: result -->
</div>



<!-- END: content -->
