<!-- BEGIN: content -->
{MESSAGES}
<div class="orders-list">
    <table>
        <thead>
            <tr>
                <th><a href="{_SERVER.REDIRECT_URI}?order-list-sortby=id"><span>Order&nbsp;ID</span></a></th>
                <th>Customer name<br />Email address</th>
                <th><a href="{_SERVER.REDIRECT_URI}?order-list-sortby=date"><span>Created</span></a><br /><a href="{_SERVER.REDIRECT_URI}?order-list-sortby=date"><span>Last Changed</span></a></th>
                <th class="money"><a href="{_SERVER.REDIRECT_URI}?order-list-sortby=goods_net"><span>Goods Net</span></a></th>
                <th class="money">Payment Due</th>
                <th>Status</th>
            </tr>
        </thead>
        <!-- BEGIN: list -->
        <tbody>
            <!-- BEGIN: item -->
            <tr>
                <td><a href="/backoffice/orders/{ITEM.order_id}/detail">{ITEM.order_id}</a></td>
                <td><a href="/backoffice/orders/{ITEM.order_id}/detail">{ITEM.title_before|htmlspecialchars} {ITEM.first_name|htmlspecialchars} {ITEM.last_name|htmlspecialchars} {ITEM.title_after|htmlspecialchars}<br />{ITEM.email}</a></td>
                <td>{ITEM.order_created}<br />{ITEM.last_activity}</td>
                <td class="money">{ITEM.goods_net|money_format('%n', %s)}</td>
                <td class="money">{ITEM.payment_due|money_format('%n', %s)}</td>
                <td>{ITEM.status}</td>
            </tr>
            <!-- END: item -->
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <div class="onxshop-pagination">
                        {PAGINATION}
                    </div>
                </td>
            </tr>
        </tfoot>
        <!-- END: list -->
        <!-- BEGIN: empty -->
        <tbody>
            <tr><td class="empty" colspan="6">There are currently no orders matching given criteria.</td></tr>
        </tbody>
        <!-- END: empty -->
    </table>

</div>
<!-- END: content -->
