<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="product_list_filter">
	<!-- BEGIN: unfinished -->
	<div class="unfinished">
		<h5>Unfinished products</h5>
		<ul>
			<!-- BEGIN: item -->
			<li><a href="/backoffice/products/{ITEM.id}/edit"><span>{ITEM.name}</span></a></li>
			<!-- END: item -->
		</ul>
	</div>
	<!-- END: unfinished -->
	
	<div class="filter" >
		<form method="post" action="{URI|htmlspecialchars}">
			<fieldset class="single">
				<div class="row filter-keyword">
					<span class="label"><label for="filter-keyword">Keyword</label></span>
					<span class="field"><input id="filter-keyword" class="text filter-keyword" type="text" name="product-list-filter[keyword]" value="{_SESSION.product-list-filter.keyword}" /></span>
				</div>
				<div class="row filter-stock">
					<span class="label"><label for="filter-stock">Where stock is less than</label></span>
					<span class="field"><input id="filter-stock" class="text filter-stock" type="text" name="product-list-filter[stock]" value="{_SESSION.product-list-filter.stock}" /></span>
				</div>
				<div class="row filter-disabled">
					<span class="label"><label for="filter-disabled">Public</label></span>
					<span class="field">
						<select name='product-list-filter[disabled]' id='filter-disabled'>
							<option value='all' {DISABLED_selected_all}>All</option>
							<option value='disabled' {DISABLED_selected_disabled}>Disabled Only</option>
							<option value='enabled' {DISABLED_selected_enabled}>Enabled Only</option>
						</select>
					</span>
				</div>
			</fieldset>
			<div class="row submit">
				<span class="label"><label>&nbsp;</label></span>
				<span class="field"><button type="submit" name="search" value="search"><span>Search</span></button></span>
			</div>
		</form>
		
	</div>
	
	{disableONXSHOP_REQUEST_ptn #bo/component/ecommerce/relation_product_in_nodes}
	<!-- <a class="button" href="/backoffice/products?node_id=0"><span>display all</span></a></p> -->
	{disableONXSHOP_REQUEST_rt #bo/component/relation_taxonomy~relation=product:id=GET.id~}
</div>


<!-- END: content -->
