<!-- BEGIN: content -->
<!--
<fieldset>
	<legend>Example other data</legend>
	<div class="row">
		<span class="label"><label>option 1</label></span>
		<span class="field"><input type="text" class="text" name="product[variety][other_data][option1]" value="{PRODUCT.variety.other_data.option1|htmlspecialchars}"/></span>
	</div>
	<div class="row">
		<span class="label"><label>option 2</label></span>
		<span class="field"><input type="text" class="text" name="product[variety][other_data][option2]" value="{PRODUCT.variety.other_data.option2|htmlspecialchars}"/></span>
	</div>
</fieldset>
-->
<!-- END: content -->
