<!-- BEGIN: title -->Product Variety Add<!-- END: title -->
<!-- BEGIN: content -->
<script type="text/javascript">  
    $(function(){  
        $("#product-variety-add-form").validate();

        /**
         * Calculate VAT if available
         */
        var rate_select = $('select[name="product[variety][product_type_id]"]');
        var no_vat_input = $("#price-without-vat");
        var vat_input = $("#price-with-vat");

        if (rate_select.length > 0) {
            no_vat_input.change(updateVatPrice);
            no_vat_input.keyup(updateVatPrice);
            no_vat_input.blur(updateVatPrice);
            vat_input.change(updateNoVatPrice);
            vat_input.keyup(updateNoVatPrice);
            vat_input.blur(updateNoVatPrice);
        } else {
            vat_input.parent().parent().remove();
        }

        function updateVatPrice() {
            var price = no_vat_input.val() * 1;
            var rate = rate_select.find("option:selected").data("vat") * 1;
            if (isNaN(price) || isNaN(rate)) vat_input.val("0");
            else vat_input.val(Math.round(price * (100 + rate) / 100 * 100000) / 100000);
        }

        function updateNoVatPrice() {
            var price = vat_input.val() * 1;
            var rate = rate_select.find("option:selected").data("vat") * 1;
            if (isNaN(price) || isNaN(rate)) no_vat_input.val("0");
            else no_vat_input.val(Math.round(price / (100 + rate) * 100 * 100000) / 100000);
        }

    });
</script>
{MESSAGES}
<form id="product-varieties-edit"
    hx-indicator="#edit-loading"
    hx-post="/request/bo/component/ecommerce/product_variety_add?id={GET.id}"
    hx-validate="true"
    data-action="addProductVariety"
>
    <h2>Add Variety of Product</h2>
    
    <div class="row text">
        <label for="product-variety-name">Variety Name</label>
        <input type="text" class="text title" name="product[variety][name]" id="product-variety-name" value="{PRODUCT.variety.name}" required/>
    </div>
    
    <div class="row text">
        <label for="product-variety-sku">Code (SKU)</label>
        <input type="text"name="product[variety][sku]" id="product-variety-sku" value="{PRODUCT.variety.sku}" required/>
    </div>

    <div class="row select text">
        {ONYX_REQUEST_producttype #bo/component/ecommerce/product_type_select}
    </div>

    <div class="row text">
        <label for="product-variety-weight-gross">Weight Gross [{VARIETY_CONF.weight_units}]</label>
        <input type="number" class="number" name="product[variety][weight_gross]" id="product-variety-weight-gross" value="{PRODUCT.variety.weight_gross}" required/>
        <div class="additional-info">(Used for postage. Zero weight is free postage.)</div>
    </div>

    <div class="row text">
        <label for="product-variety-weight">Weight Net [{VARIETY_CONF.weight_units}]</label>
        <input type="text" name="product[variety][weight]" id="product-variety-weight" value="{PRODUCT.variety.weight}"/>
    </div>

    <div class="row text">
        <label for="product-variety-stock">Stock</label>
        <input type="number" class="digits" name="product[variety][stock]" id="product-variety-stock" value="{PRODUCT.variety.stock}" required/>
    </div>

    <div class="row text">
        <label>Price Value (excluding VAT) in {GLOBAL_DEFAULT_CURRENCY}</label>
        <input type="number" step="0.01" id="price-without-vat" name="product[variety][price][value]" value="{PRODUCT.variety.price.value}" required/>
    </div>
    <div class="row text">
        <label>Price Value (including VAT) in {GLOBAL_DEFAULT_CURRENCY}</label>
        <input type="number" step="0.01" id="price_with_vat"/>
    </div>

    <p><a href="#" class="button primary" onclick="$('#variety-more-details').toggle(); return false">More details</a></p>

    <div id="variety-more-details" style="display: none;">
        <h2>Additional Information</h2>

        <div class="row rte">
            <label for="product-variety-description">Description</label>
            <textarea id="product-variety-description" name="product[variety][description]">{PRODUCT.variety.description}</textarea>
        </div>

        <h2>Dimensions</h2>

        <br />

        <div class="row text">
            <label>Width [{VARIETY_CONF.dimension_units}]</label>
            <input type="text" name="product[variety][width]" value="{PRODUCT.variety.width}"/>
        </div>
        <div class="row text">
            <label>Height [{VARIETY_CONF.dimension_units}]</label>
            <input type="text" name="product[variety][height]" value="{PRODUCT.variety.height}"/>
        </div>
        <div class="row text">
            <label>Depth [{VARIETY_CONF.dimension_units}]</label>
            <input type="text" name="product[variety][depth]" value="{PRODUCT.variety.depth}"/>
        </div>
        <div class="row text">
            <label>Diameter [{VARIETY_CONF.dimension_units}]</label>
            <input type="text" name="product[variety][diameter]" value="{PRODUCT.variety.diameter}"/>
        </div>
    </div>
    
    <div class="row submit">
        <span class="label"><label>&nbsp;</label></span>
        <span class="field">
            <button class="btn" type="submit" name="save" value="save" >
                Add & Close
            </button>
        </span>
    </div>

    <input type="hidden" name="product[variety][product_id]" value="{GET.id}"/>
    <input type="hidden" name="product[variety][price][currency_code]" value="{GLOBAL_DEFAULT_CURRENCY}" />
    <input type="hidden" name="product[variety][price][type]" value="common" />
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>

{ONYX_REQUEST_tinymce #bo/tinymce~theme=simple:relation=product_variety:edit_elements=product-variety-description~}
<!-- END: content -->
