<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="twoColumnPage page comment_edit">

	<form method="post" action="{URI|htmlspecialchars}" id="comment_edit_form">

		<div class="content">
			<div class="pageWrapper">

				<div class="pageHeader">
					<div class="pageHeaderWrapper">
						<h1 class="pageTitle"><span>Product Review Edit</span> <span class="info">ID {COMMENT.id}</span></h1>
					</div>
				</div>

				<div class="pageContent">
					<div class="pageContentWrapper">
						<div class="rowTop">
							<div class="rowWrapper">
								<div class="columnWrapper">

								</div>
							</div>
						</div>
						<div class="rowMiddle">
							<div class="rowWrapper">
								<div class="columnOne">
									<div class="columnWrapper">

										<fieldset>
											<div class="row title">
												<span class="label"><label for="comment-title">Title</label></span>
												<span class="field"><input class="text title" id="comment-title" type="text" name="comment[title]" value="{COMMENT.title|htmlspecialchars}" /></span>
											</div>
											<div class="row content">
												<span class="label"><label for="comment-content">Content</label></span>
												<span class="field"><textarea id="comment-content" class="large" name="comment[content]">{COMMENT.content|htmlspecialchars}</textarea></span>
											</div>
											<div class="row rating">
												<span class="label"><label for="comment-rating">rating</label></span>
												<span class="field"><input class="text short" id="comment-rating" type="text" name="comment[rating]" value="{COMMENT.rating|htmlspecialchars}" /></span>
											</div>
											<div class="row publish">
												<span class="label"><label for="comment-publish">Publish</label></span>
												<span class="field">
													<select id="comment-publish" name="comment[publish]">
														<option value="0" {SELECTED_0}>No</option>
														<option value="1" {SELECTED_1}>Yes</option>
														<option value="-1" {SELECTED_-1}>Reject</option>
													</select>
												</span>
											</div>
										</fieldset>

									</div>
								</div>
								<div class="columnTwo withPadding">
									<div class="columnWrapper">

										<fieldset>
											<div class="row author_name">
												<span class="label"><label for="comment-author_name">Author's Name</label></span>
												<span class="field"><input class="text" id="comment-author_name" type="text" name="comment[author_name]" value="{COMMENT.author_name|htmlspecialchars}" /></span>
											</div>
											<div class="row author_email">
												<span class="label"><label for="comment-author_email">Author's Email</label></span>
												<span class="field"><input class="text" id="comment-author_email" type="text" name="comment[author_email]" value="{COMMENT.author_email|htmlspecialchars}" /></span>
											</div>
											<div class="row author_website">
												<span class="label"><label for="comment-author_website">Author's Website</label></span>
												<span class="field"><input class="text" id="comment-author_website" type="text" name="comment[author_website]" value="{COMMENT.author_website|htmlspecialchars}" /></span>
											</div>
										</fieldset>

										<fieldset>
											<p>Review created on <a href="/backoffice/products/{COMMENT.node_id}/edit">product ID {COMMENT.node_id}</a> </p>
											<p>Item ID {COMMENT.id} created by <a href="/backoffice/customers/{COMMENT.customer_id}/detail">Customer ID {COMMENT.customer_id}</a> on {COMMENT.created} from <a href="/request/component/whois?str={COMMENT.author_ip_address}" target="_blank">IP address {COMMENT.author_ip_address}</a></p>
										</fieldset>

									</div>
								</div>
							</div>
						</div>
						<div class="rowBottom">
							<div class="rowWrapper">
								<div class="columnWrapper">

									<div class="row submit">
										<span class="label"><label>&nbsp;</label></span>
										<span class="field"><button type="submit" class="save" name="save" value="save"><span>Save</span></button></span>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bottom"><span></span></div>

		<input type="hidden" name="comment[id]" value="{COMMENT.id}" />
		<input type="hidden" name="comment[parent]" value="{COMMENT.parent}" />
		<input type="hidden" name="comment[node_id]" value="{COMMENT.node_id}" />

	<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>

<script type="text/javascript">
	$(function() {
		
		var options = { 
			target: '#comment_edit_form_result',
			success: function(responseText, statusText) {
				popupMessage("#comment_edit_form_result div.onxshop_messages");
				makeAjaxRequest('#onxshopBackofficeWrapper', '/request/bo/pages/comments');
			}
		}; 

	    $('#comment_edit_form').ajaxForm(options); 
	});
</script>

<div id="comment_edit_form_result" style="display: none"></div>
  
</div>
<!-- END: content -->
