<!-- BEGIN: title -->Product Variety Edit<!-- END: title -->
<!-- BEGIN: content -->
<div id="product_variety_wrapper_{GET.id}">

	<script type="text/javascript">
	$(document).ready(function(){
		
		var options = { 
			beforeSubmit: function() {
				$("button.save").addClass('saving');
			},
			success: function(data) {
				popupMessage("#product_variety_edit_result div.onxshop_messages");
				$("button.save").removeClass('saving');
				$('#product_variety_wrapper_{GET.id}').replaceWith(data);
			}
		};

	    $('#product_variety_edit_form_{GET.id}').ajaxForm(options);
		 
		$("#product_variety_edit").tabs();
		
	});
	</script>

	<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

	<form method="post" action="{URI|htmlspecialchars}" class="product_variety_edit" id="product_variety_edit_form_{GET.id}">
	<div id="product_variety_edit">
		<ul id="product_edit_menu" class="ui-tabs-nav">
			<li class="active"><a class="onxshop_basic" href="#onxshop_basic"><span>Basic info</span></a></li>
			<li><a class="onxshop_minor" href="#onxshop_minor"><span>Minor Tweaks</span></a></li>
			<li><a class="onxshop_advanced" href="#onxshop_advanced"><span>Under the Hood</span></a></li>
		</ul>

				<button class="save" style="float: right;  margin: 3px;" type="submit" name="save" value="variety"><span>save</span></button>
				
				<div id="onxshop_basic" class="onxshop_tabulator ui-tabs-panel">
					
					<fieldset>
						<legend>Variety of product</legend>
						<div class="row title">
							<span class="label"><label>Name</label></span>
							<span class="field"><input type="text" class="text title" name="product[variety][name]" value="{PRODUCT.variety.name|htmlspecialchars}"/></span>
						</div>
						<div class="row">
							<span class="label"><label>Code (SKU)</label></span>
							<span class="field"><input type="text" class="text" name="product[variety][sku]" value="{PRODUCT.variety.sku|htmlspecialchars}"/></span>
						</div>	
						<div class="row">
							<span class="label"><label>Weight Gross [{VARIETY_CONF.weight_units}]</label></span>
							<span class="field"><input type="text" class="text short" name="product[variety][weight_gross]" value="{PRODUCT.variety.weight_gross}"/> (Used for postage. Zero weight is free postage.)</span>
						</div>
						<div class="row">
							{ONXSHOP_REQUEST_producttype #bo/component/ecommerce/product_type_select~product_variety_id=GET.id~}
						</div>
						<div class="row">
							<span class="label"><label>Stock</label></span>
							<span class="field"><input type="text" class="text short" name="product[variety][stock]" value="{PRODUCT.variety.stock}"/></span>
						</div>
						<div class="row rte">
							<span class="label"><label for="product-variety-description">Description <a href="#" onclick="tinyMCE.execCommand('mceToggleEditor', 'simple', 'edit-content'); return false;"><span>RTE</span></a></label></span>
							<span class="field"><textarea id="edit-content" name="product[variety][description]">{PRODUCT.variety.description|htmlspecialchars}</textarea></span>
						</div>
						<div class="row">
							<span class="label"><label for="product-variety-publish">Publish</label></span>
							<span class="field"><input type="checkbox" id="product-variety-publish" name="product[variety][publish]" value="1" {PRODUCT.variety.publish} /></span>
						</div>
					</fieldset>
					
				<div class="row price_list">
					<h3>Price list</h3>
					{ONXSHOP_REQUEST_price #bo/component/ecommerce/price_list~product_variety_id=GET.id~}
				</div>

				<div id="images">
					<fieldset>
						<legend>List of images</legend>
						<div class="row image">
							{ONXSHOP_REQUEST_imagelist #bo/component/file_list~type=add_to_product_variety:relation=product_variety:node_id=GET.id~}
						</div>
					</fieldset>
				</div>
				
			</div>


			
			<div id="onxshop_minor">
				<div class="row">
					{ONXSHOP_REQUEST_rt #bo/component/relation_taxonomy~relation=variety:id=GET.id~}
				</div>
					<fieldset>
						<div class="row">
							<span class="label"><label>Weight Net [{VARIETY_CONF.weight_units}]</label></span>
							<span class="field"><input type="text" class="text short" name="product[variety][weight]" value="{PRODUCT.variety.weight}"/></span>
						</div>
					</fieldset>
					<fieldset>
						<legend>Dimensions</legend>
						<div class="row">
							<span class="label"><label>Width [{VARIETY_CONF.dimension_units}]</label></span>
							<span class="field"><input type="text" class="text short" name="product[variety][width]" value="{PRODUCT.variety.width}"/></span>
						</div>
						<div class="row">
							<span class="label"><label>Height [{VARIETY_CONF.dimension_units}]</label></span>
							<span class="field"><input type="text" class="text short" name="product[variety][height]" value="{PRODUCT.variety.height}"/></span>
						</div>
						<div class="row">
							<span class="label"><label>Depth [{VARIETY_CONF.dimension_units}]</label></span>
							<span class="field"><input type="text" class="text short" name="product[variety][depth]" value="{PRODUCT.variety.depth}"/></span>
						</div>
						<div class="row">
							<span class="label"><label>Diameter [{VARIETY_CONF.dimension_units}]</label></span>
							<span class="field"><input type="text" class="text short" name="product[variety][diameter]" value="{PRODUCT.variety.diameter}"/></span>
						</div>
					</fieldset>
			</div>
			
			<div id="onxshop_advanced">
				<fieldset>
					<div class="row subtitle">
						<span class="label"><label>Subtitle</label></span>
						<span class="field"><input type="text" class="text subtitle" name="product[variety][subtitle]" value="{PRODUCT.variety.subtitle|htmlspecialchars}"/></span>
					</div>
					<div class="row">
						<span class="label"><label>Priority:</label></span>
						<span class="field"><input class="text short" type="text" name="product[variety][priority]" value="{PRODUCT.variety.priority|htmlspecialchars}" /></span>
					</div>
				</fieldset>

				<fieldset>
					<legend>Codes</legend>
					<div class="row">
						<span class="label"><label>EAN (European Article Number)</label></span>
						<span class="field"><input type="text" class="text" name="product[variety][ean13]" value="{PRODUCT.variety.ean13|htmlspecialchars}"/></span>
					</div>
					<div class="row">
						<span class="label"><label>UPC (Universal Product Code)</label></span>
						<span class="field"><input type="text" class="text" name="product[variety][upc]" value="{PRODUCT.variety.upc|htmlspecialchars}"/></span>
					</div>
				</fieldset>
				
				{ONXSHOP_REQUEST_variety_other_data #bo/component/ecommerce/product_variety_other_data~id=GET.id~}

				<fieldset>
					<legend>Special Offers</legend>
					{ONXSHOP_REQUEST_special_offers #bo/component/ecommerce/product_special_offers~id=GET.id~}
				</fieldset>

			</div>
			
				<input type="hidden" name="product[variety][id]" value="{PRODUCT.variety.id}"/>
				<input type="hidden" name="product[variety][product_id]" value="{PRODUCT.variety.product_id}"/>
		</div>
	</form>


	{ONXSHOP_REQUEST_tinymce #bo/tinymce~id=GET.id:relation=product_variety:theme=simple~}

	<script type="text/javascript">
		
		var back_in_stock_notifications_customer = {NOTIFICATIONS.back_in_stock_customer};

		$(function() {
			$("input[name='product[variety][stock]']").blur(function() {
				var original_stock = '{PRODUCT.variety.stock}' * 1;
				var new_stock = $(this).val();
				if (back_in_stock_notifications_customer > 0 && original_stock == 0 && new_stock > 0) {
					if (confirm("Changing stock levels - " + back_in_stock_notifications_customer + " customer(s) will be notified. Do you want to continue?")) {
						return true;
					} else {
						$(this).val(original_stock);
						return false;
					};
				}
			});
		});

	</script>

</div>

<!-- END: content -->
