<!-- BEGIN: content -->

<script type="text/javascript">
	function addNewOtherDataAttribute() {
		/* due to a bug in .clone method, copy textarea_value first and paste after clone using .find('textarea').val(textarea_value)
		 * http://bugs.jquery.com/ticket/11136
		 */
		var textarea_value = $('#product_other_data_new textarea').val();
		$('#product_other_data_new div.item').clone(true, true).appendTo('div.product_other_data').find('textarea').val(textarea_value);
		$('#product_other_data_new input, #product_other_data_new textarea').val('');
		$('#product_other_data_new textarea').attr('name', '');
		return false;
	}
	
$().ready(function() {
	
	$("div.product_other_data input, #product_other_data_new input").keyup(function () {
      var value = $(this).val();
      $(this).parent().next().children().attr('name', 'product[other_data]['+value+']');
    });
    
});
    
</script>

<fieldset>
	<legend>Other Data</legend>
	<div class="row">
		<!-- BEGIN: other_data -->
		<div class="product_other_data">
			<!-- BEGIN: item -->
			<div class="item">
				<span class="label"><input type="text" value="{OTHER_DATA.key|htmlspecialchars}">
				<a class="button remove small" href="javascript: return false;" onclick="$(this).parent().parent().remove()"><span>Remove</span></a></span>
				</span>
				<span class="field"><textarea name="product[other_data][{OTHER_DATA.key|htmlspecialchars}]">{OTHER_DATA.value|htmlspecialchars}</textarea>
			</div>
			<!-- END: item -->
		</div>
		<!-- END: other_data -->
	</div>
	<div class="row">
		<a class="button add" href="#" onclick="$('#product_other_data_new').toggle(); return false;"><span>Add a New Attribute</span></a>
		<div id="product_other_data_new" style="display: none;">
			<div class="item">
				<span class="label"><input type="text" value=""></span>
				<span class="field"><textarea name=""></textarea>
			</div>
			<p><a class="button add" href="#" onclick="return addNewOtherDataAttribute();"><span>Add More</span></a></p>
		</div>
	</div>
</fieldset>
<!-- END: content -->
