<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="promotion_list_report">
	
	<table cellspacing="0">
		<caption>Promotions report</caption>
		<thead>
			<tr>
				<th>Title</th>
				<th>Code</th>
				<th>Usage</th>
				<th class="money">Net Sale<br />(before deducted discount)</th>
				<th class="money">Discount</th>
			</tr>
		</thead>
		
		<tfoot>
			<tr>
				<td></td>
				<td>Total promotions use:</td>
				<td class="number">{TOTAL_COUNT}</td>
				<td class="money">{TOTAL_GOODS_NET|money_format('%n', %s)}</td>
				<td class="money">{TOTAL_DISCOUNT_NET|money_format('%n', %s)}</td>
			</tr>
		</tfoot>
		
		<tbody>
			<!-- BEGIN: item -->
			<tr>
				<td>{ITEM.title|htmlspecialchars}</td>
				<td>{ITEM.code_pattern|htmlspecialchars}</td>
				<td class="number">{ITEM.count}</td>
				<td class="money">{ITEM.sum_goods_net|money_format('%n', %s)}</td>
				<td class="money">{ITEM.sum_discount_net|money_format('%n', %s)}</td>
			</tr>
			<!-- END: item -->
			<!-- BEGIN: empty -->
			<tr>
				<td colspan="5"><span class="note">You do not have any coupons.</span></td>
			</tr>
			<!-- END: empty -->

		</tbody>
	</table>

</div>
<!-- END: content -->
