<!-- BEGIN: title -->Recipe edit<!-- END: title -->
<!-- BEGIN: content -->

<script type="text/javascript">
$(document).ready(function(){
	$("#recipe_edit").tabs();
});
</script>

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<form method="post" action="" class="recipe_edit">
<div id="recipe_edit">
	<ul id="recipe_edit_menu" class="ui-tabs-nav">
		<li class="active"><a class="onxshop_basic" href="#onxshop_basic"><span>Basic info</span></a></li>
		<li><a class="onxshop_minor" href="#onxshop_minor"><span>Minor Tweaks</span></a></li>
		<li><a class="onxshop_advanced" href="#onxshop_advanced"><span>Under the Hood</span></a></li>
	</ul>

	<button style="float: right;  margin: 3px;" type="submit" name="save" value="save"><span>Save</span></button>
	
	<div id="onxshop_basic" class="onxshop_tabulator ui-tabs-panel">
		<div class="twoColumnLayout fibonacci-5-3">
			<div class="layoutColumnOne ofTwo">
				<div class="layoutColumnWrapper">
					<div class="row title">
						<span class="label"><label>Recipe Title</label></span>
						<span class="field"><input type="text" class="text title long" name="recipe[title]" value="{RECIPE.title|htmlspecialchars}" /></span>
					</div>
					<div class="row rte">
						<span class="label"><label>Description <a href="#" onclick="tinyMCE.execCommand('mceToggleEditor', 'simple', 'recipe_description'); return false;"><span>RTE</span></a></label></span>
						<span class="field"><textarea id="recipe_description" name="recipe[description]">{RECIPE.description|htmlspecialchars}</textarea></span>
					</div>
					<div class="row rte">
						<span class="label"><label>Instructions <a href="#" onclick="tinyMCE.execCommand('mceToggleEditor', 'mceAdvanced', 'recipe_instructions'); return false;"><span>RTE</span></a></label></span>
						<span class="field"><textarea class="big" style="width: 90%;" name="recipe[instructions]" id="recipe_instructions">{RECIPE.instructions|htmlspecialchars}</textarea></span>
					</div>
				</div>
			</div>
			<div class="layoutColumnTwo ofTwo">
				<div class="layoutColumnWrapper">
					<div class="row publish">
						<span class="label"><label for="recipe-publish">Publish</label></span>
						<span class="field"><input type="checkbox" id="recipe-publish" name="recipe[publish]" value="1" {RECIPE.publish} /></span>
					</div>
					<div class="row serving_people">
						<span class="label"><label>Serving People</label></span>
						<span class="field"><input type="text" class="serving_people numeric" name="recipe[serving_people]" value="{RECIPE.serving_people|htmlspecialchars}" /> persons</span>
					</div>
					<div class="row preparation_time">
						<span class="label"><label>Preparation time</label></span>
						<span class="field"><input type="text" class="preparation_time  numeric" name="recipe[preparation_time]" value="{RECIPE.preparation_time|htmlspecialchars}" /> minutes</span>
					</div>
					<div class="row cooking_time">
						<span class="label"><label>Cooking time</label></span>
						<span class="field"><input type="text" class="cooking_time  numeric" name="recipe[cooking_time]" value="{RECIPE.cooking_time|htmlspecialchars}" /> minutes</span>
					</div>
					
					{ONXSHOP_REQUEST_rt #bo/component/relation_taxonomy~relation=recipe:id=GET.id~}
					{ONXSHOP_REQUEST_recipe_in_node #bo/component/ecommerce/recipe_in_node~recipe_id=GET.id~}
				</div>
			</div>
		</div>

		{ONXSHOP_REQUEST_ingredients #bo/component/ecommerce/recipe_ingredients~node_id=GET.id~}
		
		<fieldset>
			<legend>Images</legend>
			<div class="row">
				<div class="image">
				{ONXSHOP_REQUEST_imagelist #bo/component/file_list_icon~type=add_to_recipe:relation=recipe:node_id=GET.id~}
				</div>
			</div>
		</fieldset>
	</div>

	<div id="onxshop_minor">
	
		<fieldset>
			<legend>Video</legend>
			<div class="row video_url">
				<span class="label"><label>Video URL</label></span>
				<span class="field"><input type="text" class="text video_url long" name="recipe[video_url]" value="{RECIPE.video_url|htmlspecialchars}" /></span>
			</div>
		</fieldset>
		
	</div>
	
	<div id="onxshop_advanced">
		<fieldset>
			<div class="row">
				<span class="label"><label for="recipe-priority">Priority. Used when recipe list is sorted by priority (by your suggestion).</label></span>
				<span class="field"><input type="text" id="recipe-priority" name="recipe[priority]" value="{RECIPE.priority}" /></span>
			</div>
			<p>Recipe Last Modified {RECIPE.modified}</p>
		</fieldset>
	</div>

	<button style="float: right;  margin: 3px;" type="submit" name="save" value="save"><span>Save</span></button>

	<input type="hidden" name="recipe[id]" value="{GET.id}" />

</div>
</form>

<br style="clear: both;" />
	
{ONXSHOP_REQUEST_tinymce #bo/tinymce~id=GET.id:relation=recipe:role=RTE_description:mode=exact:edit_elements=recipe_instructions:theme=advanced~}

<script type="text/javascript">
tinyMCE.init({
	mode : "exact",
	elements : "recipe_description",
	theme : "simple",
	content_css: "/share/css/tinymce.css",
	invalid_elements : "span,div,form,input,label,button,script,font",
	plugins : "paste",
	entity_encoding : "raw"
});
</script>
<!-- END: content -->
