<!-- BEGIN: title -->Add Recipe<!-- END: title -->
<!-- BEGIN: content -->
<script type="text/javascript">  
$(function(){  
    $("#recipe-add-form").validate();
});
</script>
{MESSAGES}
<div class="recipe-add">
    <form method="post" action="{URI|htmlspecialchars}" id="recipe-add-form">
        <fieldset>
            <div class="row title">
                <span class="label"><label for="recipe-title">Recipe Title</label></span>
                <span class="field"><input id="recipe-title" class="text title required" type="text" name="recipe[title]" value="{RECIPE.title}"/></span>
            </div>
        </fieldset>

        <fieldset class="recipe-in-node">
        
            <p>Recipe page will be created, please select a place for your recipe:</p>

            <input id="recipe-page-node-id" type="hidden" name="recipe[page_node_id]" value="{RECIPE.page_node_id}"/>

            <div id="recipe_in_node_tree">
            {ONXSHOP_REQUEST_page_node #component/menu_js~id=0:expand_all=1:publish=0~}
            </div>

            <script type="text/javascript">

                $(function() {
                    $('#recipe-in-node-tree .simple-tree').simpleTree({
                        drag: false,
                        autoclose: true,
                        afterClick:function(node){
                            var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
                            $("#recipe-page-node-id").val(node_id);
                        },
                        animate: true,
                        docToFolderConvert: true
                    });

                });
            </script>

        </fieldset>

        <div class="row submit">
            <span class="label"><label>&nbsp;</label></span>
            <span class="field"><button type="submit" class="next" name="save" value="save"><span>Next</span></button></span>
        </div>
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>

<!-- END: content -->
