<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div class="horizontal-filter">

	<form method="post" action="{URI|htmlspecialchars}">
		<fieldset class="single">
			<div class="row query">
				<span class="label"><label>Keyword<br /></label></span>
				<span class="field"><input type="text" class="text" id="comments-filter-query" name="comments-filter[query]" value="{QUERY|htmlspecialchars}" /></span>
			</div>
			
			<div class="row location">
				<span class="label"><label>Location</label></span>
				<span class="field">
					<select id="comments-filter-location" name="comments-filter[location]">
						<option value="" {SELECTED_group_-1}>all</option>
						<!-- BEGIN: location_item --><option value="{ITEM.node_id}" {SELECTED}>{ITEM.title|htmlspecialchars}</option><!-- END: location_item -->
					</select>
				</span>
			</div>
		</fieldset>
		
		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit" name="search" value="Search"><span>Search</span></button></span>
		</div>
		
		<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
	</form>
	
</div>
	
<div class="comment-list">
	
	<div id="comment-edit"></div>
	
	<table cellspacing="0">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Created</th>
				<th>Location</th>
				<th>Published</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN: item -->
			<tr class="status-{ITEM.publish}">
				<td><a class="title" title="Edit comment" onclick="showModalOverlay(); makeAjaxRequest('#modal-overlay-window', '/request/bo/component/ecommerce/recipe_review_edit~id={ITEM.id}~'); return false" href="#reviews_page">{ITEM.title|htmlspecialchars}</a></td>
				<td><a href="/backoffice/customers/{ITEM.customer_id}/detail">{ITEM.author_name|htmlspecialchars} (ID {ITEM.customer_id})</a></td>
				<td>{ITEM.created|strtotime||date('d/m/Y H:i', %s)}</td>
				<td><a href="/backoffice/recipes/{ITEM.node_id}/edit">{ITEM.node.title}</a></td>
				<td>{ITEM.publish}</td>
			</tr>
			<!-- END: item -->
			<!-- BEGIN: empty -->
			<tr>
				<td class="empty" colspan="5">No comments yet.</td>
			</tr>
			<!-- END: empty -->

		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<div class="onxshop-pagination">
						{PAGINATION}
					</div>
				</td>
			</tr>
		</tfoot>
	</table>

</div>
<!-- END: content -->
