<!-- BEGIN: head -->
<script type="text/javascript">
$(function() {
	var ingredientCounter = 0;
	$("#ingredientAdd").click(function() {
		var template = 
				'<tr>' +
				'	<td>' +
				'		<input type="text" class="short number" name="ingredients[__NEW__][quantity]" value="1"/>' +
				'	</td>' +
				'	<td>' +
				'		<select name="ingredients[__NEW__][units]">' +
				'			<!-- BEGIN:unit -->	' +
				'			<option value="{UNIT.id}">{UNIT.title|addslashes}</option>' +
				'			<!-- END:unit -->' +
				'		</select>' +
				'	</td>' +
				'	<td>' +
				'		of' +
				'	</td>' +
				'	<td>' +
				'		<select name="ingredients[__NEW__][product_variety_id]">' +
				'			<!-- BEGIN: product -->' +
				'			<option value="{VARIETY.id}">{PRODUCT.name|addslashes} - {VARIETY.name|addslashes}</option>' +
				'			<!-- END: product -->' +
				'		</select>' +
				'	</td>' +
				'	<td>' +
				'		<input type="text" name="ingredients[__NEW__][notes]" value=""/>' +
				'	</td>' +
				'	<td>' +
				'		<input type="text" name="ingredients[__NEW__][group_title]" value=""/>' +
				'	</td>' +
				'	<td>' +
				'		<button style="float: none;" name="" onclick="$(this).parent().parent().remove(); return false"><span>remove</span></button>' +
				'	</td>' +
				'</tr>';
		$("#ingredientsTable").append(template.replace(/__NEW__/g, '__NEW__' + ingredientCounter++));
		return false;
	});
	
});
</script>
<!-- END: head -->
<!-- BEGIN: content -->
<fieldset>
	<legend>Ingredients</legend>
	<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
	<div id="related_select">
		<table id="ingredientsTable">
			<tr>
				<th>Quantity</th>
				<th>Unit</th>
				<th>&nbsp;</th>
				<th>Ingredient (product)</th>
				<th>Note</th>
				<th>Group Title</th>
				<th></th>
			</tr>
			<!-- BEGIN: item -->
			<tr>
				<td>
					<input type="text" class="short number" name="ingredients[{ITEM.id}][quantity]" value="{ITEM.quantity}"/>
				</td>
				<td>
					<select name="ingredients[{ITEM.id}][units]">
						<!-- BEGIN:unit -->	
						<option value="{UNIT.id}" {UNIT.selected}>{UNIT.title}</option>
						<!-- END:unit -->
					</select>
				</td>
				<td>
					of
				</td>
				<td>
					<select name="ingredients[{ITEM.id}][product_variety_id]">
						<!-- BEGIN: product -->
						<option value="{VARIETY.id}" {VARIETY.selected} class="{CSS_CLASS}">{PRODUCT.name} - {VARIETY.name}</option>
						<!-- END: product -->
					</select>
				</td>
				<td>
					<input type="text" name="ingredients[{ITEM.id}][notes]" value="{ITEM.notes}"/>
				</td>
				<td>
					<input type="text" name="ingredients[{ITEM.id}][group_title]" value="{ITEM.group_title}"/>
				</td>
				<td>
					<button style="float: none;" name="" onclick="$(this).parent().parent().remove(); return false"><span>remove</span></button>
				</td>
			</tr>
			<!-- END: item -->
		</table>
	</div>
	
	<p><a class="button add" id="ingredientAdd" href="#"><span>add new</span></a></p>

</fieldset>

<!-- END: content -->
