<!-- BEGIN: content -->
<div id="recipe_in_node_{GET.recipe_id}">
<script type="text/javascript">
$(document).ready(function(){
	$('fieldset.recipe_in_node a.button.recipe_in_node').click(function() {
		$('#recipe_in_node_tree').addClass('ajax-load').load('/request/component/menu_js~id=0:expand_all=1:publish=0~', function() {
			$('#recipe_in_node_tree').removeClass('ajax-load');
			$('#recipe_in_node_tree .simpleTree').simpleTree({
				drag: false,
				autoclose: true,
				afterClick:function(node){
					var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
					$('#recipe_in_node_{GET.recipe_id}').load('/request/bo/component/ecommerce/recipe_in_node~id={GET.recipe_id}:add_to_parent=' + node_id + '~');
				},
				animate: true,
				docToFolderConvert: true
			});
		});
		return false;
	});
});
</script>
	
	<fieldset class="recipe_in_node">
		<legend>Recipe page detail</legend>
		{MESSAGES}
		
		<!-- BEGIN: not_exists -->
		<p>Recipe page is not created, please select a place for your recipe.</p>
		<p><a class="button add recipe_in_node" href="#"><span>Browse site ...</span></a></p>
		<div id="recipe_in_node_tree"></div>
		<!-- END: not_exists -->
		
		<!-- BEGIN: recipe_node -->
		<p>Recipe sits under page <a href="/page/{PARENT_DETAIL.id}">{PARENT_DETAIL.title|htmlspecialchars}</a> <a class="button change recipe_in_node" href="#"><span>Change ...</span></a></p>
		<div id="recipe_in_node_tree"></div>
		<h4>Full path to recipe detail</h4>
		{BREADCRUMB}
		<h4>Page content node list</h4>
		<div>
		{NODE_LIST}
		</div>
		<!-- END: recipe_node -->
		
		
		<input type="hidden" id="node-parent" name="node[parent]" value="{NODE.parent}" />				
	</fieldset>

</div>
<!-- END: content -->
