<!-- TODO: deprecated? $current in controller is always one? -->
<!-- BEGIN: content -->
<!-- BEGIN: multiple -->

<div class="multiple-pages">
    <h2>Multiple pages assigned - please fix</h2>
    <p>This item is related to more then one pages. Please make sure you populate appropriate categories and then remove the following items.</p>
    <!-- BEGIN:item -->
    <div id="node-id-{ITEM.id}">
        <div style="padding-bottom: 2em;" {ITEM.class}>{BREADCRUMB} <a class="button trash" href="#{ITEM.id}" onclick="trashNode(event, '{ITEM.id}')"><span>Move to bin</span></a></div>
    </div>
    <!-- END:item -->
</div>
<!-- END: multiple -->
<!-- END: content -->
