<!-- BEGIN: head -->
<script type="text/javascript">
function select_related(id, title) {

	var str = $('#template_related_select').html();
        
    str = str.replace(/__ID__/g, id);
    str = str.replace(/__TITLE__/g, title);

	$('#related_select').append(str);
	$('#psearch_block').toggle();

	return void(0);
}

function search_product() {
	query = $('#psearch_input').attr('value');
	if (query.length > 2) $('#search_result').load('/request/bo/component/ecommerce/search_products?search[query]=' + query);
	return false;
}
</script>
<!-- END: head -->
<!-- BEGIN: content -->
<fieldset>
	<legend>Related Products</legend>
	<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
	<br/>
	<div id="related_select">
		<!-- BEGIN:ptn -->
			<div>
				<input type="hidden" name="product_related[]" value="{CURRENT.id}" />
				<button class="button remove small" style="float: none;" name="" onclick="this.parentNode.parentNode.removeChild(this.parentNode)"><span>Remove</span></button>
				<a {CURRENT.class} href="/backoffice/products/{CURRENT.id}/edit">{CURRENT.name}</a><br />
			</div>
			<br/>
		<!-- END:ptn -->
	</div>
	
	<p><a class="button add" href="#" onclick="$('#psearch_block').toggle(); return false"><span>Add New</span></a></p>
	<div id="psearch_block" style="display: none">
		<input id="psearch_input" type="text" name="psearch" onkeyup="search_product();" /><br />
		Search for product name, teaser, description.
		<!--<a class="button" href="javascript:void(0)" onclick="javascript:search_product();"><span>search</span></a><br />-->
		<div id="search_result"></div>
	</div>

	<div id="template_related_select" style="visibility: hidden">
		<div>
			<input type="hidden" name="product_related[]" value="__ID__" />
			<button class="button remove small" style="float: none;" name="" onclick="this.parentNode.parentNode.removeChild(this.parentNode)"><span>Remove</span></button>
			<a href="/product/__ID__/detail">__TITLE__</a><br />
		</div>
	</div>
</fieldset>

<!-- END: content -->
