<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function(){
    $('#breakdown-from,#breakdown-to').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true});
});

function onReportFilterSuccess() {
    popupMessage("#reports-filter div.onyx-messages");
    makeAjaxRequest('#orders-breakdown', '/request/bo/component/ecommerce/orders_breakdown');
    makeAjaxRequest('#sales-report', '/request/bo/component/ecommerce/sales_report');
    makeAjaxRequest('#promotion-report', '/request/bo/component/ecommerce/promotion_list_report');
}
</script>

<form hx-get="/request/bo/component/ecommerce/reports_filter" hx-on::after-request="onReportFilterSuccess();">

    <div class="row">
        <span class="label"><label>From Date <small>(inclusive)</small></label></span>
        <span class="field"><input type="text" class="text" name="reports-filter[from]" id="breakdown-from" value="{REPORTS_FILTER.from}" /></span>
    </div>
    <div class="row">
        <span class="label"><label>To Date <small>(exclusive)</small></label></span>
        <span class="field"><input type="text" class="text" name="reports-filter[to]" id="breakdown-to" value="{REPORTS_FILTER.to}" /></span>
    </div>
    <div class="row submit">
        <span class="label"><label>&nbsp;</label></span>
        <span class="field"><button type="submit" name="submit" value="submit"><span>Submit</span></button></span>
    </div>
                                
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
<!-- END: content -->
