<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function(){
    $('#breakdown_from,#breakdown_to').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true});
});
</script>
<form method="get" action="{URI|htmlspecialchars}">

	<div class="row">
		<span class="label"><label>From Date <small>(inclusive)</small></label></span>
		<span class="field"><input type="text" class="text" name="reports-filter[from]" id="breakdown_from" value="{REPORTS_FILTER.from}" /></span>
	</div>
	<div class="row">
		<span class="label"><label>To Date <small>(exclusive)</small></label></span>
		<span class="field"><input type="text" class="text" name="reports-filter[to]" id="breakdown_to" value="{REPORTS_FILTER.to}" /></span>
	</div>
	<div class="row submit">
		<span class="label"><label>&nbsp;</label></span>
		<span class="field"><button type="submit" name="submit" value="submit"><span>Submit</span></button></span>
	</div>
								
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
<!-- END: content -->