<!-- BEGIN: content -->

<script type="text/javascript">
$(document).ready(function() {
	
	$('div.store_list a.add').live('click', function() {
		var child_id = $(this).attr('href').replace('#','');;
		$('#dialog').addClass('ajaxLoad').load('/request/bo/component/ecommerce/store_add', function() {$(this).removeClass('ajaxLoad');});
		$('#dialog').dialog({width: 500, modal: true, position: {my: "center top", at: "centre top", of: "div.store_list"}, title: 'Add new store'});
		$('#dialog').dialog('open');
		return false;
	});
	
});
</script>

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="store_list">
	<div class="twoColumnLayout layout fibonacci-5-1">
		<div class="layoutWrapper">
			<div class="top"><span></span></div>
			<div class="layoutContent">
				<div class="layoutContentWrapper">
					<div class="layoutColumnOne">
						<div class="layoutColumnWrapper">
							
							<table>
								<thead>
									<tr>
										<th class="image first"></th>
										<th class="store_title"><a href="/backoffice/stores?store-list-sort-by=store_title&amp;store-list-sort-direction=ASC">Title</a></th>
										<th class="store_address">Address</th>
										<th class="store_modified"><a href="/backoffice/stores?store-list-sort-by=store_modified&amp;store-list-sort-direction=ASC">Modified</a></th>
									</tr>
								</thead>
								
								<!-- BEGIN: empty_list -->
								<tbody><tr><td>No stores found.</td></tr></tbody>
								<!-- END: empty_list -->
								
								<!-- BEGIN: list -->
								<tbody>
									<!-- BEGIN: item -->
									<tr {CLASS}>
										<td {ROWSPAN} class="image"><!--  BEGIN: image --><a href="/backoffice/products/{ITEM.id}/edit"><img src="/thumbnail/25x25/{ITEM.image_src}" alt="{ITEM.image_title|htmlspecialchars}" /></a><!--  END: image --></td>
										<td {ROWSPAN} class="store_title"><span class="{ITEM.disabled}"><a href="/backoffice/stores/{ITEM.id}/edit">{ITEM.title|htmlspecialchars}</a></span></td>
										<td {ROWSPAN} class="store_address">{ITEM.address|htmlspecialchars}</td>
										<td class="modified">{ITEM.modified}</a></td>
									</tr>
									<!-- END: item -->
								</tbody>
								<!-- END: list -->
								<tfoot>
									<tr>
										<td colspan="4">
											{PAGINATION}
										</td>
									</tr>
								</tfoot>
							</table>
							
						</div>
					</div>
					<div class="layoutColumnTwo">
						<div class="layoutColumnWrapper">
							<p><a class="button add" title="Add new store" href="/backoffice/stores/store_add"><span>Add new store</span></a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom"><span></span></div>
		</div>
	</div>
</div>


<!-- END: content -->
