<!-- BEGIN: content -->
{MESSAGES}
<div id="notice-list-{GET.id}">
    <!-- BEGIN: children -->
    <table>
        <thead>
            <tr><th>Text</th><th>Image</th><th>Date From</th><th>Date To</th><th></th></tr>
        </thead>
        <tbody>
            <!-- BEGIN: item -->
            <tr id="node-id-{CHILD.id}">
                <td><a style="width: 400px; display: block;" class="{CHILD.class}" href="javascript:void({CHILD.id})" onclick="openEdit('/popup/properties/{CHILD.id}/orig' + window.location.pathname)">{CHILD.content|strip_tags|htmlspecialchars}</a></td>
                <td>{CHILD.image}</td>
                <td class="date-from">{CHILD.other_data.visible_from}</td>
                <td class="date-to">{CHILD.other_data.visible_to}</td>
                <td><div class="actions">
                        <!-- BEGIN: approve -->
                        <a class="onyx-publish button" title="Schedule Publishing of the Notice on {CHILD.other_data.visible_from}" href="#{CHILD.id}"><span>Approve</span></a>
                        <!-- END: approve -->
                        <a class="onyx-delete button" title="Delete Notice" href="#{CHILD.id}"><span>Delete</span></a>
                    </div>
                </td>
            </tr>
            <!-- END: item -->
        </tbody>
    </table>
    <script type="text/javascript">
        $(function() {

            function refreshNoticeList() {
                var refresh_url = '/request/bo/component/ecommerce/store_notice_list~store_id={GET.store_id}~';
                $('#notice-list-{GET.id}').parent().load(refresh_url);
            }

            var list = $('#notice-list-{GET.id}');
            list.find('a.onyx-publish').click(function() {

                var notice_id = $(this).attr('href').replace('#', '');
                var date_from = $(this).parent().parent().parent().find('td.date-from').text();
                var date_to = $(this).parent().parent().parent().find('td.date-to').text();

                var msg = 'Are you sure you want to schedule the notice for publishing on ' + date_from + '?';
                if (date_to) msg += ' It will be automatically unpublished on ' + date_to;

                if (confirm(msg)) {
                    list.parent().load('/request/bo/component/ecommerce/store_notice_list~store_id={GET.store_id}:notice_id=' + notice_id + ':action=approve~}');
                }
                return false;
            });

            $('#notice-list-{GET.id} a.onyx-delete').live('click', function() {
                var child_id = $(this).attr('href').replace('#','');;
                $('#dialog').addClass('ajax-load').load('/request/bo/component/node_delete~id='+child_id+':delete=1~', function() {$(this).removeClass('ajax-load');});
                $('#dialog').dialog({width: 500, modal: true, overlay: {opacity: 0.5, background: 'black'}, beforeClose: function( event, ui ) {refreshNoticeList()}});
                $('#dialog').dialog('open');
                return false;
            });

        });
    </script>
    <!-- END:children -->
    <!-- BEGIN: empty -->
    <p>This store contains no notices</p>
    <!-- END: empty -->
</div>
<!-- END: content -->
