<!-- BEGIN: title -->Store edit<!-- END: title -->
<!-- BEGIN: content -->

<script type="text/javascript">
$(document).ready(function(){
	$("#store_edit").tabs();
});
</script>

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<form method="post" action="" class="store_edit">
<div id="store_edit">
	<ul id="store_edit_menu" class="ui-tabs-nav">
		<li class="active"><a class="onxshop_basic" href="#onxshop_basic"><span>Basic info</span></a></li>
		<li><a class="onxshop_minor" href="#onxshop_minor"><span>Minor Tweaks</span></a></li>
		<li><a class="onxshop_advanced" href="#onxshop_advanced"><span>Under the Hood</span></a></li>
	</ul>

	<button style="float: right;  margin: 3px;" type="submit" name="save" value="save"><span>Save</span></button>
	
	<div id="onxshop_basic" class="onxshop_tabulator ui-tabs-panel">
		<div class="twoColumnLayout fibonacci-5-3">
			<div class="layoutColumnOne ofTwo">
				<div class="layoutColumnWrapper">
				
					<div class="row title">
						<span class="label"><label>Store Title</label></span>
						<span class="field"><input type="text" class="text title long" name="store[title]" value="{STORE.title|htmlspecialchars}" /></span>
					</div>
					<div class="row description rte">
						<span class="label"><label>Description <a href="#" onclick="tinyMCE.execCommand('mceToggleEditor', 'simple', 'store_description'); return false;"><span>RTE</span></a></label></span>
						<span class="field"><textarea id="store_description" name="store[description]">{STORE.description|htmlspecialchars}</textarea></span>
					</div>
					<div class="row address">
						<span class="label"><label>Address</label></span>
						<span class="field"><textarea id="store_address" name="store[address]">{STORE.address|htmlspecialchars}</textarea></span>
					</div>
					<div class="row opening hours">
						<span class="label"><label>Opening Hours</label></span>
						<span class="field"><textarea id="store_opening_hours" name="store[opening_hours]">{STORE.opening_hours|htmlspecialchars}</textarea></span>
					</div>
					<div class="row telephone">
						<span class="label"><label>Telephone</label></span>
						<span class="field"><input type="text" class="text telephone long" name="store[telephone]" value="{STORE.telephone|htmlspecialchars}" /></span>
					</div>
					<div class="row manager_name">
						<span class="label"><label>Manager Name</label></span>
						<span class="field"><input type="text" class="text manager_name long" name="store[manager_name]" value="{STORE.manager_name|htmlspecialchars}" /></span>
					</div>
					<div class="row email">
						<span class="label"><label>E-mail</label></span>
						<span class="field"><input type="text" class="text email long" name="store[email]" value="{STORE.email|htmlspecialchars}" /></span>
					</div>

				</div>
			</div>
			<div class="layoutColumnTwo ofTwo">
				<div class="layoutColumnWrapper">
					<div class="row publish">
						<span class="label"><label for="store-publish">Publish</label></span>
						<span class="field"><input type="checkbox" id="store-publish" name="store[publish]" value="1" {STORE.publish} /></span>
					</div>

					<!-- BEGIN: type -->
					<div class="row type">
						<span class="label"><label>Type</label></span>
						<span class="field">
							<select id="store-type_id" name="store[type_id]">
								<!-- BEGIN: item -->
								<option value="{ITEM.id}" {ITEM.selected}>{ITEM.title|htmlspecialchars}</option>
								<!-- END: item -->
							</select>
						</span>
					</div>
					<!-- END: type -->

					{ONXSHOP_REQUEST_rt #bo/component/relation_taxonomy~relation=store:id=GET.id~}
	
					{ONXSHOP_REQUEST_store_in_node #bo/component/ecommerce/store_in_node~store_id=GET.id~}

				</div>
			</div>
		</div>

		<div class="twoColumnLayout fibonacci-5-3">

			<div class="layoutColumnOne ofTwo">
				<div class="layoutColumnWrapper">

					<div class="twoColumnLayout custom-fibonacci-1-5">
						<div class="layoutColumnOne ofTwo" style="width: 40%">
							<div class="layoutColumnWrapper">

								<fieldset>
									<legend>Location</legend>

									<div class="row coordinates_x">
										<span class="label"><label>X coordinate</label></span>
										<span class="field"><input type="text" class="coordinates_x" name="store[coordinates_x]" value="{STORE.coordinates_x|htmlspecialchars}" /></span>
									</div>
									<div class="row coordinates_y">
										<span class="label"><label>Y coordinate</label></span>
										<span class="field"><input type="text" class="coordinates_y" name="store[coordinates_y]" value="{STORE.coordinates_y|htmlspecialchars}" /></span>
									</div>
									<div class="row latitude">
										<span class="label"><label>Latitude</label></span>
										<span class="field"><input type="text" class="latitude" name="store[latitude]" value="{STORE.latitude|htmlspecialchars}" /></span>
									</div>
									<div class="row longitude">
										<span class="label"><label>Longitude</label></span>
										<span class="field"><input type="text" class="longitude" name="store[longitude]" value="{STORE.longitude|htmlspecialchars}" /></span>
									</div>					
								</fieldset>
							</div>
						</div>
						<div class="layoutColumnTwo ofTwo" style="width: 60%">
							<div class="layoutColumnWrapper">

								<fieldset>
									<legend>Google Street View Image</legend>

									<div id="googleMapScreen">
									</div>
								</fieldset>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="layoutColumnTwo ofTwo">
				<div class="layoutColumnWrapper">

					<div class="twoColumnLayout">
						<div class="layoutColumnOne ofTwo" style="width: 50%">
							<div class="layoutColumnWrapper">

								<br/>
								<br/>
								<div class="row heading">
									<span class="label"><label>Compass Heading (0-360)</label></span>
									<span class="field"><input type="text" class="google_map_heading" name="store[street_view_options][heading]" value="{STORE.street_view_options.heading|htmlspecialchars}" />
										<br/><a href="#" class="google_map_button look_left"  onclick="$('input.google_map_heading').val((355 + 1 * $('input.google_map_heading').val()) % 360); updateGoogleImage(); return false;">Left</a>
										&nbsp;&nbsp;
										<a href="#" class="google_map_button look_right"  onclick="$('input.google_map_heading').val((5 + 1 * $('input.google_map_heading').val()) % 360); updateGoogleImage(); return false;">Righ</a>
									</span>
								</div>
								<div class="row pitch">
									<span class="label"><label>Up or Down Angle (-90-90)</label></span>
									<span class="field"><input type="text" class="google_map_pitch" name="store[street_view_options][pitch]" value="{STORE.street_view_options.pitch|htmlspecialchars}" />
										<br/><a href="#" class="google_map_button look_up"  onclick="$('input.google_map_pitch').val(5 + 1 * $('input.google_map_pitch').val()); updateGoogleImage(); return false;">Up</a>
										&nbsp;&nbsp;
										<a href="#" class="google_map_button look_down"  onclick="$('input.google_map_pitch').val(-5 + 1 * $('input.google_map_pitch').val()); updateGoogleImage(); return false;">Down</a>
									</span>
								</div>
								<div class="row fov">
									<span class="label"><label>Field of View (0-120)</label></span>
									<span class="field"><input type="text" class="google_map_fov" name="store[street_view_options][fov]" value="{STORE.street_view_options.fov|htmlspecialchars}" />
										<br/><a href="#" class="google_map_button zoom_in"  onclick="$('input.google_map_fov').val(-10 + 1 * $('input.google_map_fov').val()); updateGoogleImage(); return false;">Zoom in</a>
										&nbsp;&nbsp;
										<a href="#" class="google_map_button zoom_out"  onclick="$('input.google_map_fov').val(10 + 1 * $('input.google_map_fov').val()); updateGoogleImage(); return false;">Zoom out</a>
									</span>
								</div>

								<input type="hidden" id="sv_lat" name="store[street_view_options][latitude]" value="{STORE.street_view_options.latitude|htmlspecialchars}" />
								<input type="hidden" id="sv_lng" name="store[street_view_options][longitude]" value="{STORE.street_view_options.longitude|htmlspecialchars}" />

								<script type="text/javascript">

									var lat = $("#sv_lat").val();
									var lng = $("#sv_lng").val();
									if (lat.length == '') $("#sv_lat").val($("input.latitude").val());
									if (lng.length == '') $("#sv_lng").val($("input.longitude").val());

									function updateGoogleImage() {
										var lat = $("#sv_lat").val();
										var lng = $("#sv_lng").val();
										var fov = $("input.google_map_fov").val();
										var heading = $("input.google_map_heading").val();
										var pitch = $("input.google_map_pitch").val();

										if (fov.length > 0) fov = fov * 1; else fov = 90;
										if (heading.length > 0) heading = heading % 360; else heading = 0;
										if (pitch.length > 0) pitch = pitch * 1; else pitch = 0;
										if (isNaN(heading)) heading = 0;
										if (isNaN(fov) || fov < 0 || fov > 120) fov = 90;
										if (isNaN(pitch) || pitch < -90 || pitch > 90) pitch = 0;

										$("input.google_map_fov").val(fov);
										$("input.google_map_heading").val(heading);
										$("input.google_map_pitch").val(pitch);

										if (lat && lat.length > 0 && lng && lng.length > 0) {

											var url = 'http://maps.googleapis.com/maps/api/streetview?size=200x200';
											url += '&location=' + lat + ',' + lng;
											url += '&fov=' + fov;
											url += '&heading=' + heading;
											url += '&pitch=' + pitch;
											url += '&sensor=false';
											url += '&key={ONXSHOP_GOOGLE_API_KEY}';

											var img = $("#googleMapScreen img");
											if (img.length == 0) {
												$("#googleMapScreen").append('<img src="' + url + '" />');
												img = $("#googleMapScreen img");
											} else {
												img.attr("src", url);
											}
										}
									}

									$(function() {
										updateGoogleImage();
										$("#googleMapScreen").parent().find("input").blur(updateGoogleImage).change(updateGoogleImage);
									});

								</script>


							</div>
						</div>

						<div class="layoutColumnTwo ofTwo" style="width: 50%">
							<div class="layoutColumnWrapper">

								<div class="row google_map_buttons">
									<br/>
									<br/>
									<span class="label"><label>Move Camera Target</label></span>
									<br/>
									<span class="field" >
										<span style="display: table-cell; padding: 0; vertical-align: middle; text-align: center; width: 80px; height: 80px; background: #f0f0f0; border-radius: 100%; ">
											<a href="#" class="move_north" onclick="$('#sv_lat').val($('#sv_lat').val() * 1 + 0.0001); updateGoogleImage(); return false;">N</a>
											<br/>
											<a href="#" class="move_east"  onclick="$('#sv_lng').val($('#sv_lng').val() * 1 - 0.0001); updateGoogleImage(); return false;">W</a>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="move_west"  onclick="$('#sv_lng').val($('#sv_lng').val() * 1 + 0.0001); updateGoogleImage(); return false;">E</a>
											<br/>
											<a href="#" class="move_south" onclick="$('#sv_lat').val($('#sv_lat').val() * 1 - 0.0001); updateGoogleImage(); return false;">S</a>
										</center>
									</span>
									<style>
										a.google_map_button,
										div.google_map_buttons a { padding: 2px 8px; margin-bottom: 4px; display: inline-block; border-radius: 5px; background: #e0e0e0; text-decoration: none; }
									</style>
								</div>

								<div class="row image_type">
									<br/>
									<br/>
									<span class="field" >
										<label><input type="radio" name="store[street_view_options][image]" value="0" {STREET_VIEW_IMAGE_0}/> Show generic store image</label><br/>
										<label><input type="radio" name="store[street_view_options][image]" value="1" {STREET_VIEW_IMAGE_1}/> Show Street View image</label><br/>
										<label><input type="radio" name="store[street_view_options][image]" value="2" {STREET_VIEW_IMAGE_2}/> Show attached image</label><br/>
									</span>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>



		<fieldset>
			<legend>Images</legend>
			<div class="row">
				<div class="image">
				{ONXSHOP_REQUEST_imagelist #bo/component/file_list_icon~type=add_to_store:relation=store:node_id=GET.id~}
				</div>
			</div>
		</fieldset>
		
	</div>

	<div id="onxshop_minor">
	</div>
	
	<div id="onxshop_advanced">
		<fieldset>
			<p>Store Last Modified {STORE.modified}</p>
		</fieldset>
	</div>

	<button style="float: right;  margin: 3px;" type="submit" name="save" value="save"><span>Save</span></button>

	<input type="hidden" name="store[id]" value="{GET.id}" />

</div>
</form>

<br style="clear: both;" />

{ONXSHOP_REQUEST_tinymce #bo/tinymce~id=GET.id:relation=store:role=RTE_description:mode=exact:edit_elements=store_description:theme=advanced~}
	
<!-- END: content -->
