<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

	<!-- BEGIN: unfinished -->
	<div class="unfinished">
		<h5>Unfinished products</h5>
		<ul>
			<!-- BEGIN: item -->
			<li><a href="/backoffice/products/{ITEM.id}/edit"><span>{ITEM.name}</span></a> <a class="button" href="/backoffice/products/{ITEM.id}/edit"><span>Continue Editing</span></a> or <a class="button delete" href="{_SERVER.REWRITE_URI}?delete_product_id={ITEM.id}"><span>delete</span></a></li>
			<!-- END: item -->
		</ul>
	</div>
	<!-- END: unfinished -->

<!-- END: content -->
