/**
 * Norbert @ Laposa Ltd, 2017
 *
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('/share/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('/share/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/share/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('/share/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/share/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/share/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * fluid images
 */
img {max-width: 100%; height: auto;}

/**
 * fluid video
 */
div.fluid-video {height: 0; padding-top: 25px; padding-bottom: 67.5%; margin-bottom: 10px; position: relative; overflow: hidden;}
div.fluid-video.widescreen {padding-bottom: 57.25%;}
div.fluid-video.vimeo {padding-top: 0;}
div.fluid-video embed,
div.fluid-video iframe,
div.fluid-video object,
div.fluid-video video {top: 0; left: 0; width: 100%; height: 100%; position: absolute;}

/**
 * form
 */
form {background: #ccc; padding: 10px;}

/**
 * logo
 */
#logo a {display: block; width: auto; height: 100px; background: url(/image/var/files/placeholder.png);}
#logo a span {display: none;}

/**
 * primary-navigation
 */
#primary-navigation {background: #ccc; text-align: center; clear: both;}
#primary-navigation a {padding: 10px; color: white; text-transform: uppercase; font-weight: bold;}

/**
 * reveal-navigation-button
 */
#reveal-navigation-button {float: right; margin-right: 10px;}
#reveal-navigation-button a {color: white; background: #ccc; padding: 12px 20px 9px 20px;}

/**
 * footer
 */
footer.site {text-align: center;}
footer.site nav {background: #ccc; margin-bottom: 10px;}

/**
 * customise CMS UI
 */
 
#content-bottom a.onyx-duplicate,
#content-bottom a.onyx-delete {display: none;}
