/**
 * Fonts
 * Norbert @ Laposa Ltd, 2016/11/28
 *
 */
 
@font-face {
  font-family: 'FontAwesome';
  src: url('/share/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('/share/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/share/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('/share/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/share/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/share/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* source: https://github.com/twbs/bootstrap/blob/v4-dev/dist/css/bootstrap-reboot.css */

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}

/* common elements, starting with little adjustment to normalise.css */

form div.row {margin: 0 0 0.5em;}
form span.label {display: block; }
form span.field {display: block;}
input[type=text],
input[type=email] {width: 100%;}


label.error {color: red;}
input.error,
textarea.error {border-color: red; /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='180' height='180'><path fill='none' stroke='red' stroke-width='16' stroke-linecap='round' d='M89,9a81,81 0 1,0 2,0zm1,38v58m0,25v1'/></svg>"); background-repeat: no-repeat; background-size: 20px; background-position-x: 95%; background-position-y: center;*/}

textarea {width: 100%; min-height: 100px;}
textarea.small {height: 50px;}
textarea.big,
textarea.large,
textarea.long {height: 400px;}
select.big,
select.large,
select.long {width: 100%;}
input.title {font-size: 1.4em; font-weight: bold; width: 100%;}
input.long {width: 100%;}
input.short,
textarea.short,
select.short {width: 4em;}
input.number {text-align: right;}

button {cursor: pointer;}

/* legacy clearing div */
div.bottom {clear: both;}

/* disabled, but visible*/
span.disabled {text-decoration: line-through;}

/**
 * Messages
 */
 
div.onxshop-messages {margin: 1em; border: none; background: black; color: white; background: rgba(0,0,0,0.75); padding: 1em; box-shadow: #000000 5px 5px 30px;
    clear: both; border-radius: 4px; -moz-border-radius: 7px; -webkit-border-radius: 7px;
    z-index: 1000; position: relative;}
div.onxshop-messages p {margin: 5px 0; line-height: 1; padding: 0; color: white; font-weight: bold; }
div.onxshop-messages p.onxshop-ok-msg {}
div.onxshop-messages p.onxshop-error-msg {background: transparent url(/share/images/famfamfam_icons/exclamation.png) left top no-repeat; padding: 0 0 0 25px;}

/**
 * Ajax
 */
 
.ajax-load {width: 128px; height: 128px; background: url(/share/images/ajax-indicator/indicator_verybig.gif) no-repeat;}

/**
 * jGrowl
 */

div#jGrowl { position: fixed; top: 50px; width: 500px; left: 50%; margin-left: -250px; text-align: center; pointer-events: none; z-index: 9999; -webkit-transform: translateZ(1px);}
div#jGrowl div.onxshop-messages { margin: 0; padding: 10px 30px; }
div#jGrowl div.jGrowl-notification { display: block; position: relative; z-index: 9999; zoom: 1; text-align: left; pointer-events: all; border: none; background: none;}
div#jGrowl div.jGrowl-notification.ui-state-highlight { margin: 0 auto 20px auto; display: inline-block; min-width: 260px; }
div#jGrowl div.jGrowl-notification p { text-align: left; }
div#jGrowl button.jGrowl-close { display: none; position: absolute; right: 5px; top: 5px; color: #ffffff; cursor: pointer; z-index: 10000; font-weight: bold; font-size: 16px; line-height: 16px; }
div#jGrowl div.jGrowl-closer { background: black; color: white; background: rgba(0,0,0,0.75); width: 100px; margin: 10px auto; border: none; cursor: pointer; text-align: center; pointer-events: all; }
@media all and (max-width: 600px) {
    div#jGrowl { width: 80%; left: 10%; margin-left: 0; }
}

/**
 * tracy component
 */
 
#tracy-debug {z-index: 300000;}
/**
 * Norbert @ Laposa Ltd, 2009 - 2017
 *
 */

/**
 * wrappers for keeping width
 */

header.site,
header.page,
footer.site,
section.layout,
div.content {max-width: 960px; margin: 0 auto;}

/**
 * gutters
 * set all gutters to 10px on content elements like traditional grid systems, e.g. 960gs
 */

header.site > div.wrapper,
header.page > div.wrapper,
footer.site > div.wrapper,
h2.layout-title,
div.content > div.wrapper {margin: 10px;}

/*
 * extra CSS classes to be used in CMS
 * - full-bleed - apply to content or layout
 * - full-width
 */

.full-bleed > div.wrapper {margin: 0!important;}
.full-bleed > div.wrapper > h3.content-title {margin-left: 10px; margin-right: 10px;}
.full-width {max-width: none!important;}

/****************************************************************************************/
/*****************************          node/page           *****************************/
/****************************************************************************************/

/************ node/page/default.html ****/
div.row-top:after,
div.row-middle:after,
div.row-bottom:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}
div.page div.page-wrapper {padding: 0;}
div.page div.row-bottom {clear: both;}

/*default, fobinaci-1-1, 50%/50%*/
div.two-column-page div.column-one,
div.two-column-page.fibonacci-1-1 div.column-one {float: left; width: 49.999%; clear: both; overflow: hidden; }
div.two-column-page div.column-two,
div.two-column-page.fibonacci-1-1 div.column-two {width: 49.999%; float: right; overflow: hidden;}
/*fibonacci-1-5, 16.6%/83.3%*/
div.two-column-page.fibonacci-1-5 div.column-one {width: 16.66%;}
div.two-column-page.fibonacci-1-5 div.column-two {width: 83.33%;}
div.two-column-page.fibonacci-5-1 div.column-one {width: 83.33%;}
div.two-column-page.fibonacci-5-1 div.column-two {width: 16.66%;}
/*fibonacci-1-3, 25%/75%*/
div.two-column-page.fibonacci-1-3 div.column-one {width: 25%;}
div.two-column-page.fibonacci-1-3 div.column-two {width: 75%;}
div.two-column-page.fibonacci-3-1 div.column-one {width: 75%;}
div.two-column-page.fibonacci-3-1 div.column-two {width: 25%;}
/*fibonacci-2-5, 28.6%/71.4%*/
div.two-column-page.fibonacci-2-5 div.column-one {width: 28.6%;}
div.two-column-page.fibonacci-2-5 div.column-two {width: 71.4%;}
div.two-column-page.fibonacci-5-2 div.column-one {width: 71.4%;}
div.two-column-page.fibonacci-5-2 div.column-two {width: 28.6%;}
/*fibonacci-1-2, 33%/66%*/
div.two-column-page.fibonacci-1-2 div.column-one {width: 33.3%;}
div.two-column-page.fibonacci-1-2 div.column-two {width: 66.6%;}
div.two-column-page.fibonacci-2-1 div.column-one {width: 66.6%;}
div.two-column-page.fibonacci-2-1 div.column-two {width: 33.3%;}
/*fibonacci-3-5, 38.2%/61.8%*/
div.two-column-page.fibonacci-3-5 div.column-one {width: 38.2%;}
div.two-column-page.fibonacci-3-5 div.column-two {width: 61.77%;}
div.two-column-page.fibonacci-5-3 div.column-one {width: 61.77%;}
div.two-column-page.fibonacci-5-3 div.column-two {width: 38.2%;}
/*fibonacci-2-3, 40%/60%*/
div.two-column-page.fibonacci-2-3 div.column-one {width: 40%;}
div.two-column-page.fibonacci-2-3 div.column-two {width: 60%;}
div.two-column-page.fibonacci-3-2 div.column-one {width: 60%;}
div.two-column-page.fibonacci-3-2 div.column-two {width: 40%;}

@media all and (max-width: 800px) {
    div.two-column-page div.column-one, 
    div.two-column-page div.column-two {width: auto!important; float: none!important;}
}

/****************************************************************************************/
/*****************************          node/layout         *****************************/
/****************************************************************************************/

div.wrapper:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}

/********* node/layout/1column.html *********/
.one-column-layout {clear: both;}
.one-column-layout div.layout-column-single {float: none; width: auto;}

/********* node/layout/2columns.html *********/
.two-column-layout {clear: both;}
.two-column-layout:after,
.two-column-layout div.layout-body:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}

/*default, fibonacci-1-1, 50%/50%*/
.two-column-layout div.layout-column-one.of-two,
.two-column-layout.fibonacci-1-1 div.layout-column-one.of-two {float: left; width: 49.999%;}
.two-column-layout div.layout-column-two.of-two,
.two-column-layout.fibonacci-1-1 div.layout-column-two.of-two {width: 49.999%; float: right;}
/*fibonacci-1-5, 16.6%/83.3%*/
.two-column-layout.fibonacci-1-5 div.layout-column-one.of-two {width: 16.66%;}
.two-column-layout.fibonacci-1-5 div.layout-column-two.of-two {width: 83.33%;}
.two-column-layout.fibonacci-5-1 div.layout-column-one.of-two {width: 83.33%;}
.two-column-layout.fibonacci-5-1 div.layout-column-two.of-two {width: 16.66%;}
/*fibonacci-1-3, 25%/75%*/
.two-column-layout.fibonacci-1-3 div.layout-column-one.of-two {width: 25%;}
.two-column-layout.fibonacci-1-3 div.layout-column-two.of-two {width: 75%;}
.two-column-layout.fibonacci-3-1 div.layout-column-one.of-two {width: 75%;}
.two-column-layout.fibonacci-3-1 div.layout-column-two.of-two {width: 25%;}
/*fibonacci-2-5, 28.6%/71.4%*/
.two-column-layout.fibonacci-2-5 div.layout-column-one.of-two {width: 28.6%;}
.two-column-layout.fibonacci-2-5 div.layout-column-two.of-two {width: 71.4%;}
.two-column-layout.fibonacci-5-2 div.layout-column-one.of-two {width: 71.4%;}
.two-column-layout.fibonacci-5-2 div.layout-column-two.of-two {width: 28.6%;}
/*fibonacci-1-2, 33%/66%*/
.two-column-layout.fibonacci-1-2 div.layout-column-one.of-two {width: 33.3%;}
.two-column-layout.fibonacci-1-2 div.layout-column-two.of-two {width: 66.6%;}
.two-column-layout.fibonacci-2-1 div.layout-column-one.of-two {width: 66.6%;}
.two-column-layout.fibonacci-2-1 div.layout-column-two.of-two {width: 33.3%;}
/*fibonacci-3-5, 38.2%/61.8%*/
.two-column-layout.fibonacci-3-5 div.layout-column-one.of-two {width: 38.2%;}
.two-column-layout.fibonacci-3-5 div.layout-column-two.of-two {width: 61.8%;}
.two-column-layout.fibonacci-5-3 div.layout-column-one.of-two {width: 61.8%;}
.two-column-layout.fibonacci-5-3 div.layout-column-two.of-two {width: 38.2%;}
/*fibonacci-2-3, 40%/60%*/
.two-column-layout.fibonacci-2-3 div.layout-column-one.of-two {width: 40%;}
.two-column-layout.fibonacci-2-3 div.layout-column-two.of-two {width: 60%;}
.two-column-layout.fibonacci-3-2 div.layout-column-one.of-two {width: 60%;}
.two-column-layout.fibonacci-3-2 div.layout-column-two.of-two {width: 40%;}

@media all and (max-width: 800px) {
    .two-column-layout div.layout-column-one.of-two,
    .two-column-layout div.layout-column-two.of-two {width: auto!important; float: none!important;}
}

/********* node/layout/3columns.html *********/
.three-column-layout {clear: both;}
.three-column-layout div.layout-column-one.of-three, 
.three-column-layout div.layout-column-two.of-three, 
.three-column-layout div.layout-column-three.of-three {width: 33.3334%; overflow: hidden;}
.three-column-layout div.layout-column-one.of-three, 
.three-column-layout div.layout-column-two.of-three {float: left;}
.three-column-layout div.layout-column-three.of-three {float: right;}

@media all and (max-width: 800px) {   
    .three-column-layout div.layout-column-one.of-three,
    .three-column-layout div.layout-column-two.of-three,
    .three-column-layout div.layout-column-three.of-three {width: auto; float: none;}
}

/********* node/layout/4columns.html *********/
.four-column-layout {clear: both;}
.four-column-layout div.layout-column-one.of-four, 
.four-column-layout div.layout-column-two.of-four, 
.four-column-layout div.layout-column-three.of-four,
.four-column-layout div.layout-column-four.of-four {width: 25%; overflow: hidden;}
.four-column-layout div.layout-column-one.of-four, 
.four-column-layout div.layout-column-two.of-four,
.four-column-layout div.layout-column-three.of-four {float: left;}
.four-column-layout div.layout-column-four.of-four {float: right;}

@media all and (max-width: 800px) {   
    .four-column-layout div.layout-column-one.of-four,
    .four-column-layout div.layout-column-two.of-four {width: 50%;}
    .four-column-layout div.layout-column-three.of-four,
    .four-column-layout div.layout-column-four.of-four {width: 50%;}
}

/********* node/layout/5columns.html *********/
.five-column-layout {clear: both;}
.five-column-layout div.layout-column-one.of-five, 
.five-column-layout div.layout-column-two.of-five, 
.five-column-layout div.layout-column-three.of-five,
.five-column-layout div.layout-column-four.of-five,
.five-column-layout div.layout-column-five.of-five {width: 20%; overflow: hidden;}
.five-column-layout div.layout-column-one.of-five, 
.five-column-layout div.layout-column-two.of-five,
.five-column-layout div.layout-column-three.of-five,
.five-column-layout div.layout-column-four.of-five {float: left;}
.five-column-layout div.layout-column-five.of-five {float: right;}

@media all and (max-width: 800px) {
    .five-column-layout div.layout-column-one.of-five,
    .five-column-layout div.layout-column-two.of-five,
    .five-column-layout div.layout-column-three.of-five,
    .five-column-layout div.layout-column-four.of-five,
    .five-column-layout div.layout-column-five.of-five {width: auto; float: none;}
}

/********* node/layout/6columns.html *********/
.six-column-layout {clear: both;}
.six-column-layout div.layout-column-one.of-six, 
.six-column-layout div.layout-column-two.of-six, 
.six-column-layout div.layout-column-three.of-six,
.six-column-layout div.layout-column-four.of-six,
.six-column-layout div.layout-column-five.of-six,
.six-column-layout div.layout-column-six.of-six {width: 16.666%; overflow: hidden;}
.six-column-layout div.layout-column-one.of-six, 
.six-column-layout div.layout-column-two.of-six,
.six-column-layout div.layout-column-three.of-six,
.six-column-layout div.layout-column-four.of-six,
.six-column-layout div.layout-column-five.of-six {float: left;}
.six-column-layout div.layout-column-six.of-six {float: right;}

@media all and (max-width: 800px) { 
    .six-column-layout div.layout-column-one.of-six,
    .six-column-layout div.layout-column-two.of-six,
    .six-column-layout div.layout-column-three.of-six,
    .six-column-layout div.layout-column-four.of-six,
    .six-column-layout div.layout-column-five.of-six,
    .six-column-layout div.layout-column-six.of-six {width: auto; float: none;}
}

/********* node/layout/tabs.html *********/
.tabs-layout {clear: both;}
.tabs-layout ul.tabs li {display: inline-block; list-style-type: none; padding: 0; margin: 0;}
.tabs-layout ul.tabs li a {display: inline-block; padding: 7px 15px;}
.tabs-layout div.tabs-body {clear: both;}

/********* node/layout/slider.html *********/
.slider-layout .unslider {overflow:auto;margin:0;padding:0;}
.slider-layout .unslider-wrap {position:relative}
.slider-layout .unslider-wrap.unslider-carousel > div.content {float:left; clear: none;}
.slider-layout .unslider-vertical > div.slider-wrapper {height:100%}
.slider-layout .unslider-vertical div.content {float:none; width:100%}
.slider-layout .unslider-fade {position:relative}
.slider-layout .unslider-fade .unslider-wrap div.content {position:absolute;left:0;top:0;right:0;z-index:8}
.slider-layout .unslider-fade .unslider-wrap div.content.unslider-active {z-index:10}
.slider-layout .unslider div.content,
.slider-layout .unslider ol,
.slider-layout .unslider div.slider-wrapper {list-style:none;margin:0;padding:0;border:none}
.slider-layout .unslider-arrow {position:absolute;left:20px;z-index:2;cursor:pointer}
.slider-layout .unslider-arrow.next {left:auto;right:20px}
.slider-layout .unslider-nav ol {list-style: none; text-align: center;}
.slider-layout .unslider-nav ol li {display: inline-block; width: 15px; height: 15px; margin: 0 4px; background: transparent; border-radius: 15px; overflow: hidden; text-indent: -999em; border: 2px solid #fff; cursor: pointer;}
.slider-layout .unslider-nav ol li.unslider-active {background: #fff;cursor: default;}
/**
 * Norbert @ Laposa Ltd, 2009/09/22
 * Chris Black 2017/01
 *
 */
 
/****************************************************************************************/
/*****************************          node/site           *****************************/
/****************************************************************************************/

/********* node/site/default.html *********/

#accessibility {position: relative; display: none; /*disabled by default*/}
#accessibility li {list-style-type: none;}
#accessibility a {position: absolute; top: -1000px; left: -1000px; height: 1px; width: 1px; text-align: left; overflow: hidden;}
#accessibility a:active,
#accessibility a:focus,
#accessibility a:hover {top: 0; left: 0; font-size: 1em; font-weight: 700; color: #fff; background-color: #075290; height: auto; overflow: auto; width: 99%; padding: 5px; z-index: 100}

#container {width: 960px; margin: 0 auto;}

.logo a {text-decoration: none; font-size: 4em;}

#search {float: right; clear: right; margin-bottom: 10px;}
#search form {background: transparent; border-width: 0; margin: 0; padding: 0;}
#search input {width: 165px;}
#search label {width: auto;}
#search button {display: none;}

#userbox {float: right; margin-bottom: 1.5em;}

/**
 * reveal navigation
 */
 
nav.reveal {display: none;}

/**
 * navigation
 */

nav {width: auto;}
nav ul {display: inline-block; list-style-type: none; margin: 0; padding: 0;}
nav ul li {display: inline-block; margin: 0 15px; padding: 0;}
nav ul li:first-child {margin-left: 0;}
nav ul li a {display: block; white-space: pre; zoom: 1;}
nav ul li a.open {font-weight: bold;}
nav ul li ul {list-style-type: square; margin-left: 10px;}
nav ul li ul li {padding-left: 0; margin-left: 15px; display: list-item;}
nav ul li ul a {padding-left: 0; font-weight: normal; height: auto;}

/**
 * primary-navigation
 */
@media all and (max-width: 800px) {
  #primary-navigation {display: none;}
  #primary-navigation li {display: block;}
  #primary-navigation.open {display: block;}
}
@media all and (min-width: 801px) {
  #primary-navigation {display: block!important;}
}

/**
 * reveal-navigation-button
 */
#reveal-navigation-button {display: none;}
#reveal-navigation-button a {display: block; font-size: 30px; line-height: 30px; text-decoration: none;}
#reveal-navigation-button a.reveal:before {content: '\f0c9'; font-family: 'FontAwesome';}
#reveal-navigation-button a span {display: none;}
@media all and (max-width: 800px) {
    #reveal-navigation-button {display: block;}
}

/**
 * footer navigation
 */
 
footer nav {}

/**
 * content
 */
 
main {width: 100%; clear: both;}

/**
 * footer
 */


/****************************************************************************************/
/*****************************          node/page           *****************************/
/****************************************************************************************/

/********* node/page/default.html *********/
/********* node/page/product_browse.html *********/
/********* node/page/news.html *********/
/********* node/page/product.html *********/

/*nothing*/

/********* node/page/news.html *********/
div.news div.note p {margin-top: 0;}
div.news div.back {clear: both;}
div.news div.body {margin-bottom: 1em;}
div.news div.add-this-buttons {margin-bottom: 10px;}

/****************************************************************************************/
/*****************************          node/content        *****************************/
/****************************************************************************************/

/********* node/content/rte.html *********/
/* do not specify img., conflict with reflection*/
/* use both cases (TinyMCE/Safari bug)*/
div.content.rte .imageLeft,
div.content.rte .imageleft {float: left; margin-right: 10px; margin-bottom: 10px;}
div.content.rte .imageRight,
div.content.rte .imageright {float: right; margin-left: 10px; margin-bottom: 10px;}
div.content.rte .imageBorder,
div.content.rte .border {border: 1px solid black;}

/*apply for products, other option would be to add .content.rte class in product detail page description element */
div.product .image-left {float: left; margin-right: 10px;}
div.product .image-right {float: right; margin-left: 10px;}
div.product .image-order,
div.product .border {border: 1px solid black;}

/*apply for news pages, other option would be to add .content-RTE class in news detail page */
div.news .image-left {float: left; margin-right: 10px;}
div.news .image-right {float: right; margin-left: 10px;}
div.news .image-border,
div.news .border {border: 1px solid black;}


/********* node/content/divider.html *********/
div.divider {clear: both; width: 100%; margin: 0 0 1em 0; padding: 0; border-top: 1px dotted grey; height: 1px; font-size: 1em;}
div.divider hr {display: none;}

/********* node/content/quote.html *********/
div.quote p.quote {padding: 0 40px 0 0; margin: 0; text-align: center;}
div.quote p.author {font-family: sans-serif; padding-right: 40px; text-align: center; background: none;}

/********* node/content/contact_form.html *********/
div.contact-form textarea {width: 100%;}
div.contact-form div.submit span.label {display: none;}
div.contact-form span.mandatory-mark {padding-right: 0.5em;}
div.contact-form legend {display: none;}

/********* node/content/file.html *********/
div.file span.file-size {white-space: nowrap;}


/**
 * Norbert @ Laposa Ltd, 2009/09/22
 * Chris Black 2017/02/07
 *
 */

/****************************************************************************************/
/*****************************           component          *****************************/
/****************************************************************************************/

/********* component/feed.html *********/
div.feed p.pub-date {padding: 0; margin: 0 0 10px 0;}
div.feed p.copyright {}
div.feed div.item {margin: 10px 0;}
div.feed div.item h5 {margin: 0 0 0.5em 0;}

/********* component/breadcrumb.html *********/
div.breadcrumb {margin-bottom: 10px;}

/********* component/taxonomy.html *********/
div.taxonomy td.first {font-weight: bold;}

/********* component/searchbox.html *********/
div.searchbox label {display: none;}
div.searchbox input.text {margin: 0; width: 185px;}

/********* component/search_result.html *********/
div.search-result li {clear: both; margin-bottom: 10px;}
div.search-result li a.last {font-weight: bold;}
div.search-result li a.image {text-decoration: none; display: block; float: right; padding-left: 5px;}
div.search-result span.item-description {font-size: small;}
div.search-result span.keyword-highlight {color: #000000; background: #ff0;}

/********* component/pagination.html *********/
div.pagination {margin: 5px 0; text-align: center;}
div.pagination a {text-decoration: none;}
div.pagination ul {margin: 0; padding: 0;}
div.pagination li {list-style-type: none; display: inline; padding: 0; margin: 0;}
div.pagination a {display: inline-block; padding: 2px 5px; border: 0;}
div.pagination a.active {border: 1px solid #CCCCCC; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
div.pagination li.previous a:hover,
div.pagination li.next a:hover,
div.pagination a.show_all:hover {text-decoration: underline;}

/********* component/image_gallery/plain.html *********/
div.gallery-plain figcaption {display: none;}

/********* component/image_gallery/list.html *********/
div.gallery-list div.thumbnails figure {display: inline-block; margin: 5px;}
div.gallery-list a {text-decoration: none;}

/********* component/image_gallery/cycle.html *********/
div.image-gallery-cycle {border: 0; position: relative;}
div.image-gallery-cycle div.controls {z-index: 1000; position: absolute; top: 0; left: 0; display: none;}
div.image-gallery-cycle div.controls a.prev,
div.image-gallery-cycle div.controls a.next {width: 30px; height: 27px; display: block; opacity: 0.9;}
div.image-gallery-cycle div.controls a span {display: none;}
div.image-gallery-cycle div.controls a.prev {background: url(/share/images/default/arrow-left.gif) center left no-repeat; float: left;}
div.image-gallery-cycle div.controls a.next {background: url(/share/images/default/arrow-right.gif) center right no-repeat; float: right;}
div.image-gallery-cycle div.controls div.pagination {float: left; margin: 0;}
div.image-gallery-cycle div.controls div.pagination a {float: left; display: block; padding: 3px 7px;}
div.image-gallery-cycle div.image-info {display: none;}

/********* component/image_gallery/cycle2.html *********/
div.image-gallery-cycle2 {position: relative; overflow: visible!important;/* override inline 'overflow: hidden' added by cycle2 plugin */ }  
div.image-gallery-cycle2 > div.wrapper {position: relative;}
div.image-gallery-cycle2 figure {display: block; width: 100%; margin: 0;}
div.image-gallery-cycle2 figure figcaption {position: absolute; width: 33.333%; top: 33.333%; right: 30px;}
div.image-gallery-cycle2 div.controls {position: absolute; display: flex; justify-content: space-between; align-items: center; height: 100%; top: 0; right: 0; left: 0; pointer-events: none;}
div.image-gallery-cycle2 div.controls a {display: block; color: #0a2861; opacity: 0.7; pointer-events: all;}
div.image-gallery-cycle2 div.controls a:hover,
div.image-gallery-cycle2 div.controls a.active {opacity: 1.0; text-decoration: none;}
div.image-gallery-cycle2 div.controls a:focus {text-decoration: none;}
div.image-gallery-cycle2 div.controls a span {display: none;}
div.image-gallery-cycle2 div.controls a.prev:before,
div.image-gallery-cycle2 div.controls a.next:before {content:''; font-family: 'FontAwesome'; font-size: 36px;}
div.image-gallery-cycle2 div.controls a.prev:before {content:'\f104';}
div.image-gallery-cycle2 div.controls a.next:before {content:'\f105';}
div.image-gallery-cycle2 div.gallery-pagination {position: absolute; z-index: 1000; width: 100%; bottom: 54px; text-align: center;}
div.image-gallery-cycle2 div.gallery-pagination a {display: inline-block; width: 12px; height: 12px; margin: 0 5px; border-radius: 50%; background: white; cursor: pointer; opacity: 0.7; transition: opacity 300ms ease;}
div.image-gallery-cycle2 div.gallery-pagination a:hover,
div.image-gallery-cycle2 div.gallery-pagination a.active {opacity: 1.0;}
div.image-gallery-cycle2 div.gallery-pagination a span {display: none;}
div.image-gallery-cycle2.number-of-items-1 div.controls,
div.image-gallery-cycle2.number-of-items-1 div.pagination {display: none;}



/********* component/image_gallery/fancybox.html *********/
div.image-gallery-fancybox div.item {float: left; margin-right: 10px;}

/********* component/image_gallery/prettyphoto.html *********/
div.image-gallery-prettyphoto div.item {float: left; margin-right: 10px;}

/********* component/image_gallery/parallax.html *********/
div.image-gallery-parallax {text-align: center;}
div.image-gallery-parallax div.item {display: table; width: 100%; margin: 0; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position-x: center;}
div.image-gallery-parallax div.item a.image {display: table-cell; vertical-align: middle; width: 100%;}
div.image-gallery-parallax div.item img {display: none;}
div.image-gallery-parallax div.slider-copy {text-align: center;}
div.image-gallery-parallax a {text-decoration: none;}
div.image-gallery-parallax div.slider-copy h3 {text-align: center;}

/********* component/comment_add.html *********/
div.comment form input {width: 100%;}
div.comment form textarea {width: 100%;}

/********* menu_SELECT.html **********/
div.selectMenu {padding: 5px 0 0 0;}

/** newsletter subcribe **/
div.newsletter-subscribe-start div.row {margin: 0;}
div.newsletter-subscribe-start span.label {display: none;}
div.newsletter-subscribe-start fieldset {width: 70%; float: left; margin: 0; padding: 0;}
div.newsletter-subscribe-start div.submit  {clear: none; float: right;}

/********* component/rating_stars.html *********/
div.rating-stars div.star {display: inline-block;}
div.rating-stars div.text {display: none;}
/*
div.rating_stars div.star {background:url("/share/images/default/star.gif") repeat scroll 0 0 transparent; height:17px; width:17px;}
div.rating_stars div.star span {display: none;}
*/

/********* component/social_network_share.html *********/
div.social-network-share ul {margin: 0; padding: 0;}
div.social-network-share li {list-style-image: none; list-style-type: none; display: inline-block; margin: 10px; padding: 0;}
div.social-network-share li a {text-decoration: none;}
div.social-network-share li a:before {font-family: 'FontAwesome'; font-size: 200%;}
div.social-network-share li a span {display: none;}
div.social-network-share li.facebook a:before {content: '\f082';}
div.social-network-share li.twitter a:before {content: '\f081';}
div.social-network-share li.google a:before {content: '\f0d4';}
div.social-network-share li.pinterest a:before {content: '\f0d3';}
div.social-network-share li.email a:before {content: '\f199';}

/********* component/news_list_teaser.html *********/
div.news-list-teaser div.image {float: left; padding: 0 20px 10px 0;}
div.news-list-teaser div.image a {text-decoration: none;}
div.news-list-teaser div.created {font-weight: bold;}
div.news-list-teaser div.created p {margin-bottom: 1em;}

/* page list */
div.page-list {text-align: center;}
div.page-list div.item { display: inline-block; vertical-align: top; width: 300px; margin: 10px;}

/********* component/news_list_grid.html *********/
div.news-list-grid {text-align: center;}
div.news-list-grid div.item { display: inline-block; vertical-align: top; width: 300px; margin: 10px;}

/**
 * stack_list:
 * component/news_list_stack.html
 * component/menu_stack.html
 * component/ecommerce/recipe_list_stack.html
 * component/ecommerce/product_list_stack.html
 * node/content/page_list.html
 * component/teaser_stack.html
 */

div.stack-list {text-align: center;}
div.stack-list div.item { display: inline-block; vertical-align: top; width: 300px; margin: 10px;}
div.stack-list div.item a {text-decoration: none; display: block;}

/********* component/age_gate.html *********/
#age-gate {text-align: center;}
#age-gate input {display: none;}
@media all and (max-width: 480px) {
    #age-gate select {display: none;}
    #age-gate input {display: block; margin: 0 auto;}
}
