<!-- BEGIN: content -->
<div class="node-item-list">

<script type="text/javascript">
$(function() {

    $('div.node-item-list a.onyx-duplicate').on('click', function(e) {
        e.preventDefault();
        var child_id = $(this).attr('href').replace('#','');;
        $.get('/request/bo/component/node_duplicate~id='+child_id+'~', function(data) {
            popupMessage($(data).find("div.onyx-messages"));
            refreshNodeList('{GET.id}', '{GET.node_group}');
        });
        return false;
    });

});
</script>

    {MESSAGES}
    
    <!-- BEGIN: list -->
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Modified</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div class="onyx-pagination">
                        {PAGINATION}
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <!-- BEGIN: item -->
            <tr class="{ITEM.class}" id="node-item-id-{ITEM.id}">
                <td>
                    <a href="/backoffice/node/{ITEM.id}"><span class="{ITEM.class}">{ITEM.title|htmlspecialchars}</span></a>
                </td>
                
                <td>{ITEM.created}</th>
                <td>{ITEM.modified}</td>
                <td>
                    <div class="onyx-edit-content">
                        <button class="onyx-duplicate" title="Duplicate {ITEM.title}" onclick="duplicateNode('{ITEM.id}', '{ITEM.parent}', '{ITEM.node_group}')"><span>Duplicate</span></bu>
                        <a class="onyx-trash" title="Move {ITEM.title} to bin" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/node_bin~id={ITEM.id}:trash=1~', 'Move {ITEM.title} to bin'); return false"><span>Move to bin</span></a>
                    </div>
                </td>
            </tr>
            <!-- END: item -->
        </tbody>
    </table>
    <!-- END: list -->
    <p><a class="button add" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/node_item_add~parent={GET.parent}:node_group={GET.node_group}:node_controller={GET.node_controller}~', 'New item'); return false"><span>Add new {GET.node_controller}</span></a></p>
</div>
<!-- END: content -->
