<!-- BEGIN: content -->
<div class="row node-node-controller">
    <label for="node-node-controller" title="Content Type">Type:</label>
    <select name="node[node_controller]" id="node-node-controller-{GET.id}" title="Content Type" onchange="$('input#node-node-group-{GET.id}').attr('value', $(this).find('option:selected').parent().attr('label'));">
        <!-- BEGIN: group -->
        <optgroup label="{GROUP.name}">
            <!-- BEGIN: item -->
            <option class="onyx-edit-{ITEM.name} {GROUP.name}" value="{ITEM.name}" {ITEM.selected}>{ITEM.title|htmlspecialchars}</option>
            <!-- END: item -->
        </optgroup>
        <!-- END: group -->
    </select>
    <input id="node-node-group-{GET.id}" type="hidden" name="node[node_group]" value="{GET.node_group}" />
</div>
<!-- END: content -->
