<!-- BEGIN: content -->
{MESSAGES}
<div id="child-list-{GET.id}">
    <!-- BEGIN: children -->
    <table>
        <thead>
            <tr><th>Title</th><th>Content Type</th><th>ID</th><th>Container</th><th>Priority</th><th></th></tr>
        </thead>
        <tbody>
            <!-- BEGIN: item -->
            <tr id="node-id-{CHILD.id}" class="{CHILD.class}">
                <td><a class="{CHILD.class}" href="/backoffice/pages/{CHILD.id}" title="Modified: {CHILD.modified|htmlspecialchars}">{CHILD.title|htlmspecialchars}</a></td>
                <td><a class="{CHILD.class}" href="/backoffice/pages/{CHILD.id}" title="Modified: {CHILD.modified|htmlspecialchars}">{CHILD.node_group}/{CHILD.node_controller}</a></td>
                <td>{CHILD.id}</td>
                <td>{CHILD.parent_container}</td>
                <td>{CHILD.priority}</td>
                <td>
                    <div class="onyx-edit-page">
                        <button class="onyx-duplicate action" title="Duplicate {CHILD.title}" onclick="duplicateNode('{CHILD.id}','{CHILD.parent}', '{CHILD.node_group}')"></button>
                        <button class="onyx-trash action" title="Move {CHILD.title} to bin" onclick="trashNode(event, '{CHILD.id}')"></button>
                    </div>
                </td>
            </tr>
            <!-- END: item -->
        </tbody>
    </table>
    <!-- END:children -->
    <!-- BEGIN: empty -->
    <p>This node contains no children</p>
    <!-- END: empty -->
    <p><button class="button add" title="Add Node" onclick="addNode(event, '{GET.id}', '{NODE_GROUP}')">Add Node</button></p>
</div>

<!-- END: content -->
