<!-- BEGIN: content -->

{MESSAGES}
<div class="survey-edit">

    <form hx-post="{URI|htmlspecialchars}" id="survey-edit-form" hx-on::after-request="popupMessage('#sub-content div.onyx-messages');makeAjaxRequest('#sub-content', '/request/bo/component/survey_list');">

        <fieldset class="single">
            <div class="row title">
                <span class="label"><label for="survey-title">Title</label></span>
                <span class="field"><input class="text title" required id="survey-title" type="text" name="survey[title]" value="{SURVEY.title|htmlspecialchars}" /></span>
            </div>
            <div class="row description">
                <span class="label"><label for="survey-description">Description</label></span>
                <span class="field"><textarea id="survey-description" name="survey[description]">{SURVEY.description|htmlspecialchars}</textarea></span>
            </div>          
        </fieldset>
                
        <div class="row submit">
            <span class="label"><label>&nbsp;</label></span>
            <span class="field"><button type="submit" class="save" name="save" value="save"><span>Create a New Survey</span></button></span>
        </div>
        
        <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
    </form>
        
</div>
<!-- END: content -->
