<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<style type="text/css">
@import url(/share/themes/jquery-ui/onxshop/jquery-ui.css);
</style>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.custom.js"></script>
<script type="text/javascript">  
$(document).ready(function(){  
	$("#contact_form_{GET.node_id}").validate();
	$('#formdata-arrival_{GET.node_id},#formdata-departure_{GET.node_id}').datepicker({firstDay: 1, dateFormat: 'D dd M yy', changeMonth: true, changeYear: true, minDate: new Date()});
});  
</script>
<div class="contact_form_common">
	<form class="contact twoColumns" id="contact_form_{GET.node_id}" action="{URI|htmlspecialchars}#node_id_{GET.node_id}" method="post">
	<fieldset class="single">
		<legend>{I18N_CONTACT_FORM}</legend>
		
		<div class="row name {ERROR.name}">
			<span class="label"><label for="formdata-name_{GET.node_id}"><span class="mandatory-mark">*</span>Your name:</label></span>
			<span class="field"><input type="text" class="required text" id="formdata-first_name_{GET.node_id}" name="formdata[required_name]" value="{FORMDATA.required_name|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row country {ERROR.country}">
			<span class="label"><label for="formdata-country_{GET.node_id}">{I18N_COUNTRY}:</label></span>
			<span class="field"><input type="text" class="text" id="formdata-country_{GET.node_id}" name="formdata[country]" value="{FORMDATA.country|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row email {ERROR.email}">
			<span class="label"><label for="formdata-email_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_EMAIL}:</label></span>
			<span class="field"><input type="text" class="required email text" id="formdata-email_{GET.node_id}" name="formdata[required_email]" value="{FORMDATA.required_email|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row telephone {ERROR.telephone}">
			<span class="label"><label for="formdata-telephone_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_TEL}:</label></span>
			<span class="field"><input type="text" class="required text" id="formdata-telephone_{GET.node_id}" name="formdata[required_telephone]" value="{FORMDATA.required_telephone|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row arrival {ERROR.arrival}">
			<span class="label"><label for="formdata-arrival_{GET.node_id}"><span class="mandatory-mark">*</span>Arrival Date:</label></span>
			<span class="field"><input type="text" class="required text" id="formdata-arrival_{GET.node_id}" name="formdata[arrival]" value="{FORMDATA.arrival|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row departure {ERROR.departure}">
			<span class="label"><label for="formdata-departure_{GET.node_id}"><span class="mandatory-mark">*</span>Departure Date:</label></span>
			<span class="field"><input type="text" class="required text" id="formdata-departure_{GET.node_id}" name="formdata[departure]" value="{FORMDATA.departure|htmlspecialchars}" maxlength="45" /></span>
		</div>
		
		<div class="row notes {ERROR.message}">
			<span class="label"><label for="formdata-notes_{GET.node_id}">Other notes/requirements:</label></span>
			<span class="field"><textarea id="formdata-notes_{GET.node_id}" name="formdata[notes]" class="textarea" rows="15" cols="45">{FORMDATA.notes|htmlspecialchars}</textarea></span>
		</div>

		<!-- BEGIN: captcha_field -->
		<div class="row captcha {ERROR.captcha}">
			<span class="label"><label for="formdata-captcha_{GET.node_id}">{I18N_CAPTCHA} <img class="captcha" src="/request/component/captcha?id={GET.node_id}" alt="code"/>:</label></span>
			<span class="field"><input type="text" class="text" id="formdata-captcha_{GET.node_id}" name="formdata[captcha]" value="{FORMDATA.captcha|htmlspecialchars}" maxlength="45" /></span>
		</div>
		<!-- END: captcha_field -->
		<!-- BEGIN: invisible_captcha_field -->
		<div class="row captcha {ERROR.captcha}">
			<span class="label"><label for="formdata-captcha_{GET.node_id}">{I18N_CAPTCHA} <em>{CAPTCHA_CODE|htmlspecialchars}</em>:</label></span>
			<span class="field"><input type="text" class="text" id="formdata-captcha_{GET.node_id}" name="formdata[captcha]" value="{FORMDATA.captcha|htmlspecialchars}" maxlength="45" /></span>
		</div>
		<script type="text/javascript">
			var input = $("#formdata-captcha_{GET.node_id}");
			input.val('{CAPTCHA_CODE|htmlspecialchars}').parent().parent().hide();
		</script>
		<!-- END: invisible_captcha_field -->
	
	</fieldset>
	
		<input type="hidden" name="node_id" value="{GET.node_id}" />
	
		<div class="row submitX">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit" name="send" value="send" class="submit"><span>{I18N_SUBMIT}</span></button></span>
		</div>
	
	</form>
</div>
<!-- END: content -->
