<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<script type="text/javascript">  
$(function(){  
	$("#contact_form_{GET.node_id}").validate();
});
</script>

<div class="contact_form_common_simple">
	<form class="contact common_simple" id="contact_form_{GET.node_id}" action="{URI}#node_id_{GET.node_id}" method="post" enctype="multipart/form-data">
	<fieldset class="single">
		<legend>{I18N_CONTACT_FORM}</legend>
		<div class="row full_name {ERROR.full_name}">
			<span class="label"><label for="formdata-full_name_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_YOUR_NAME}:</label></span>
			<span class="field"><input type="text" id="formdata-full_name_{GET.node_id}" name="formdata[required_full_name]" value="{FORMDATA.required_full_name|htmlspecialchars}" class="required text" maxlength="45" /></span>
		</div>
		<div class="row email {ERROR.email}">
			<span class="label"><label for="formdata-email_{GET.node_id}"><span class="mandatory-mark">*</span>{I18N_EMAIL}:</label></span>
			<span class="field"><input type="text" id="formdata-email_{GET.node_id}" name="formdata[required_email]" value="{FORMDATA.required_email|htmlspecialchars}" class="required text" maxlength="45" /></span>
		</div>
		
		<div class="row" id="attachment-file">
			<label for="attachment-file-input">Add:</label>
			<input id="attachment-file-input" type="file" name="attachment" class="file" /> 
			<span class="max_filesize">Max&nbsp;filesize:&nbsp;{MAX_FILE_SIZE}</span>
		</div>
		
	</fieldset>
	
		<input type="hidden" name="node_id" value="{GET.node_id}" />
		
		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit" name="send" value="send" class="submit"><span>{I18N_SUBMIT}</span></button></span>
		</div>
	
	</form>
</div>
<!-- END: content -->
