<!-- BEGIN: content -->
{FILE "bo/component/page_header.html"}

<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
</div>

<!-- Article info -->
<div id="article-info"
	hx-get="/request/bo/component/x_article_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#article-info-loading">
</div>

<!-- Metadata -->
<div id="metadata"
	hx-get="/request/bo/component/x_metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
</div>

<!-- Visibility -->
<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
</div>

<!-- Node Images -->
<div id="node-images"
	hx-get="/request/bo/component/x_node_files?node_id={GET.id}&relation=node&type=add_to_node"
	hx-trigger="load, refresh"
	hx-indicator="#node-images-loading">
</div>

<!-- QR Code -->
<div id="qr-code"
	hx-get="/request/bo/component/x_qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
</div>

<!-- Previous Versions -->
<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list-loading">
</div>
<!-- END: content -->
