<!-- BEGIN: content -->
{FILE "bo/component/page_header.html"}

<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
	<!-- <div id="general-info-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="metadata"
	hx-get="/request/bo/component/x_metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
	<!-- <div id="metadata-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
	<!-- <div id="visibility-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="leaflet-generator"
	hx-get="/request/bo/component/x_leaflet_generator?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#leaflet-generator-loading">
	<!-- <div id="leaflet-generator-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="qr-code"
	hx-get="/request/bo/component/x_qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
	<!-- <div id="qr-code-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list-loading">
	<!-- <div id="revision-list-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>
<!-- END: content -->
