<!-- BEGIN: content -->

{FILE "bo/component/page_header.html"}

<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
</div>

<!-- Product Info -->
<div id="product-info"
	hx-get="/request/bo/component/x_product_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#product-info-loading">
</div>

<!-- Product Varieties -->
<div id="product-varieties"
	hx-get="/request/bo/component/ecommerce/product_variety_list?product_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-varieties-loading">
</div>

<!-- Product Images -->
<div id="product-images"
	hx-get="/request/bo/component/x_product_images?product_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-images-loading">
</div>

<!-- Product Categories/Tags -->
<div 
	id="product-taxonomy"
	hx-get="/request/bo/component/x_product_taxonomy?relation=product&product_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-taxonomy-loading">
</div>

<div id="metadata"
	hx-get="/request/bo/component/x_metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
</div>

<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
</div>

<div id="qr-code"
	hx-get="/request/bo/component/x_qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
</div>

<!-- Position -->
<div id="node-position"
	hx-get="/request/bo/component/x_node_position?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#node-position-loading">
</div>

<!-- Other data -->
<div id="product-other-data"
	hx-get="/request/bo/component/x_product_other_data?node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-info-loading">
</div>

<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list-loading">
</div>
<!-- END: content -->
