<!-- BEGIN: content -->

{FILE "bo/component/page_header.html"}

<div id="general-info"
	hx-get="/request/bo/component/general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
	<!-- <div id="general-info-loading" class="onyx-loading htmx-indicator">
			<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="metadata"
	hx-get="/request/bo/component/metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
	<!-- <div id="metadata-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="visibility"
	hx-get="/request/bo/component/visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
	<!-- <div id="visibility-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<div id="qr-code"
	hx-get="/request/bo/component/qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
	<!-- <div id="qr-code-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<!-- Product Info -->
<div id="product-info"
	hx-get="/request/bo/component/product_info?node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-info-loading">
	<!-- <div id="product-info-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<!-- Product Varieties -->
<div id="product-varieties"
	hx-get="/request/bo/component/ecommerce/product_variety_list?id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-varieties-loading">
	<!-- <div id="product-info-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

<!-- Product Images -->
<fieldset id="component-product-images" class="component-preview">
	<div id="product-images-loading" class="onyx-loading htmx-indicator">
			<img src="/share/images/loading.svg" alt="Loading..."/>
	</div>

	<legend>Product Images</legend>

	<span class="label">Files:</span>
	<br>

	<!-- TODO: missing dialog title. Create special component for file/product list? -->
	<div 
		hx-get="/request/bo/component/file_list?type=add_to_product&relation=product&node_id={NODE.content}"
		hx-trigger="load, refresh"
		hx-indicator="#product-images-loading">
	</div>
	
	<div class="component-actions">
		<button
			hx-get="/request/bo/component/file_list?type=add_to_product&relation=product&node_id={NODE.content}"
			hx-target="#edit-dialog .content"
			hx-indicator="#edit-loading"
			hx-trigger="click"
			hx-swap="innerHTML"
			hx-on::before-request="openDialog()"
			class="btn">
			Edit
		</button>
	</div>
</fieldset>

<!-- Product Categories/Tags -->
<div 
	id="product-taxonomy"
	hx-get="/request/bo/component/product_taxonomy?relation=product&node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-taxonomy-loading">
</div>

<!-- Other data -->
<div id="product-other-data"
	hx-get="/request/bo/component/product_other_data?node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#product-info-loading">
	<!-- <div id="product-info-loading" class="onyx-loading htmx-indicator">
		<img src="/share/images/loading.svg" alt="Loading..."/>
	</div> -->
</div>

{FILE "bo/node/item_position.html"}
<!-- END: content -->
