<!-- BEGIN: content -->

{FILE "bo/component/page_header.html"}

<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
</div>

<div id="recipe-info"
	hx-get="/request/bo/component/x_recipe_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#recipe-info-loading">
</div>

<div id="recipe-ingredients"
	hx-get="/request/bo/component/x_recipe_ingredients?recipe_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#recipe-ingredients-loading">
</div>

<div id="recipe-images"
	hx-get="/request/bo/component/x_recipe_images?recipe_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#recipe-images-loading">
</div>

<div id="recipe-video"
	hx-get="/request/bo/component/x_recipe_video?recipe_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#recipe-video-loading">
</div>

<div id="metadata"
	hx-get="/request/bo/component/x_metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
</div>

<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
</div>

<div id="qr-code"
	hx-get="/request/bo/component/x_qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
</div>

<div id="node-position"
	hx-get="/request/bo/component/x_node_position?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#node-position-loading">
</div>

<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list-loading">
</div>
<!-- END: content -->
