<!-- BEGIN: content -->

{FILE "bo/component/page_header.html"}

<!-- Gerneral Info -->
<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
</div>

<!-- Store Info -->
<div id="store-info"
	hx-get="/request/bo/component/x_store_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#store-info-loading">
</div>

<!-- Store Address -->
<div id="store-address"
	hx-get="/request/bo/component/x_store_address?node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-address-loading">
</div>

<!-- Store Management Info -->
<div id="store-management-info"
	hx-get="/request/bo/component/x_store_management_info?node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-management-info-loading">
</div>

<!-- Store Categories/Tags -->
<div 
	id="store-taxonomy"
	hx-get="/request/bo/component/x_store_taxonomy?relation=store&node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-taxonomy-loading">
</div>

<!-- Store Images -->
<div id="store-images"
	hx-get="/request/bo/component/x_store_images?node_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-images-loading">
</div>

<!-- Metadata -->
<div id="metadata"
	hx-get="/request/bo/component/x_metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
</div>

<!-- Visibility -->
<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
</div>

<!-- Node Images -->
<fieldset id="component-node-images" class="component-preview">
	<div id="node-images-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
	</div>

	<legend>Images</legend>

	<span class="label">Files:</span>
	<br>

	<!-- TODO: missing dialog title. Create special component for file/product list? -->
	<div 
		hx-get="/request/bo/component/file_list?type=add_to_node&relation=node&node_id={GET.id}"
		hx-trigger="load, refresh"
		hx-indicator="#node-images-loading">
	</div>
	
	<div class="component-actions">
		<button
			hx-get="/request/bo/component/file_list?type=add_to_node&relation=node&node_id={GET.id}"
			hx-target="#edit-dialog .content"
			hx-indicator="#edit-loading"
			hx-trigger="click"
			hx-swap="innerHTML"
			hx-on::before-request="openDialog()"
			class="btn">
			Edit
		</button>
	</div>
</fieldset>

<!-- Categories/Tags -->
<div 
	id="relation-taxonomy"
	hx-get="/request/bo/component/x_relation_taxonomy?relation=node&node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#relation-taxonomy-loading">
</div>

<!-- QR Code -->
<div id="qr-code"
	hx-get="/request/bo/component/x_qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
</div>

<!-- Page List -->
<!-- TODO: check refresh, create custom component? -->
<fieldset id="component-page-list" class="component-preview">
    <div id="page-list-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
    </div>

    <legend>Page List</legend>

    <div 
        class="row" 
        id="content-list-pages-wrapper" 
        hx-get="/request/bo/component/node_list_pages~id={GET.id}~" 
        hx-target="#content-list-pages-wrapper" 
        hx-trigger="load, refresh"
    >
    </div>

		<div class="component-actions">
			<button class="btn add" title="Add Node" onclick="addNode(event, '{GET.id}', 'page', 'page')">Add Page</button>
		</div>
</fieldset>

<!-- Content List -->
<!-- TODO: check refresh, create custom component? -->
<fieldset id="component-content-list" class="component-preview">
		<div id="content-list-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
    </div>

    <legend>Content List</legend>

    <div 
        id="content-list-cards-wrapper" 
        class="row" 
        hx-get="/request/bo/component/node_list_cards~id={GET.id}~" 
        hx-target="#content-list-cards-wrapper" 
        hx-trigger="load, refresh"
    >
    </div>

		<div class="component-actions">
    	<button class="button add" title="Add Content" onclick="addNode(event, '{GET.id}', '{NODE.node_group}', 'content')">Add Content</button>
		</div>
</fieldset>

<!-- Advanced Settings -->
<div id="advanced-settings"
	hx-get="/request/bo/component/x_advanced_settings?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#advanced-settings-loading">
</div>

<!-- Previous Versions -->
<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list-loading">
</div>

<!-- END: content -->
