<!-- BEGIN: content -->

{FILE "bo/component/page_header.html"}

<!-- Gerneral Info -->
<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
</div>

<!-- Store Info -->
<div id="store-info"
	hx-get="/request/bo/component/x_store_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#store-info-loading">
</div>

<!-- Store Address -->
<div id="store-address"
	hx-get="/request/bo/component/x_store_address?store_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-address-loading">
</div>

<!-- Store Street View -->
<div id="store-street-view"
	hx-get="/request/bo/component/x_store_street_view?store_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-street-view-loading">
</div>

<!-- Store Management Info -->
<div id="store-management-info"
	hx-get="/request/bo/component/x_store_management_info?store_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-management-info-loading">
</div>

<!-- Store Categories/Tags -->
<div 
	id="store-taxonomy"
	hx-get="/request/bo/component/x_store_taxonomy?relation=store&store_id={NODE.content}"
	hx-trigger="load, refresh"
	hx-indicator="#store-taxonomy-loading">
</div>

<!-- Store Images -->
<div id="node-images"
	hx-get="/request/bo/component/x_node_files?node_id={NODE.content}&relation=store&type=add_to_store"
	hx-trigger="load, refresh"
	hx-indicator="#store-images-loading">
</div>

<!-- Metadata -->
<div id="metadata"
	hx-get="/request/bo/component/x_metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
</div>

<!-- Visibility -->
<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
</div>

<!-- QR Code -->
<div id="qr-code"
	hx-get="/request/bo/component/x_qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
</div>

<!-- Advanced Settings -->
<div id="advanced-settings"
	hx-get="/request/bo/component/x_advanced_settings?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#advanced-settings-loading">
</div>

<!-- Previous Versions -->
<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list-loading">
</div>

<!-- END: content -->
