<!-- BEGIN: content -->
{FILE "bo/component/page_header.html"}

<!-- Gerneral Info -->
<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info-loading">
</div>

<!-- Metadata -->
<div id="metadata"
	hx-get="/request/bo/component/x_metadata?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#metadata-loading">
</div>

<!-- Visibility -->
<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility-loading">
</div>

<!-- Node Images -->
<fieldset id="component-node-images" class="component-preview">
	<div id="node-images-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
	</div>

	<legend>Images</legend>

	<span class="label">Files:</span>
	<br>

	<!-- TODO: missing dialog title. Create special component for file/product list? -->
	<div 
		hx-get="/request/bo/component/file_list?type=add_to_node&relation=node&node_id={GET.id}"
		hx-trigger="load, refresh"
		hx-indicator="#node-images-loading">
	</div>
	
	<div class="component-actions">
		<button
			hx-get="/request/bo/component/file_list?type=add_to_node&relation=node&node_id={GET.id}"
			hx-target="#edit-dialog .content"
			hx-indicator="#edit-loading"
			hx-trigger="click"
			hx-swap="innerHTML"
			hx-on::before-request="openDialog()"
			class="btn">
			Edit
		</button>
	</div>
</fieldset>

<div id="redirect"
	hx-get="/request/bo/component/x_redirect?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#redirect-loading">
</div>

<!-- QR Code -->
<div id="qr-code"
	hx-get="/request/bo/component/x_qr_code?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#qr-code-loading">
</div>

<!-- Position -->
<div id="node-position"
	hx-get="/request/bo/component/x_node_position?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#node-position-loading">
</div>

<!-- Advanced Settings -->
<div id="advanced-settings"
	hx-get="/request/bo/component/x_advanced_settings?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#advanced-settings-loading">
</div>

<!-- Previous Versions -->
<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list-loading">
</div>
<!-- END: content -->
