<!-- BEGIN: title -->Client Customer Configuration<!-- END: title -->
<!-- BEGIN: content -->
{MESSAGES}
<!--
<form action="{URI|htmlspecialchars}" method="post">
    <fieldset>
        <legend>Client Customer</legend>
        <div class="row">
            <span class="label"><label>Mail address for registration notify</label></span>
            <span class="field"><input type="text" value="{CONF.registration_mail_to_address|htmlspecialchars}" name="conf[item][registration_mail_to_address]"/></span>
        </div>
        
        <div class="row">
            <span class="label"><label>Mail name for registration notify</label></span>
            <span class="field"><input class="long" type="text" value="{CONF.registration_mail_to_name|htmlspecialchars}" name="conf[item][registration_mail_to_name]"/></span>
        </div>
        
        <div class="row">
            <span class="label"><label>Login type</label></span>
            <span class="field">
                <select name="conf[item][login_type]">
                    <option value="email" {SELECTED.email}>Email</option>
                    <option value="username" {SELECTED.username}>Username</option>
                </select>
            </span>
        </div>
        
    </fieldset>
    
    <input type="hidden" name="conf[object]" value="client_customer" />
    <input type="hidden" name="conf[node_id]" value="{GET.node_id}" />
    
    <div class="row submit">
        <span class="label"><label>&nbsp;</label></span>
        <span class="field"><button class="save" type="submit" name="save" value="save"><span>Save</span></button></span>
    </div>
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
-->     
<!-- END: content -->
