<!-- BEGIN: title -->Common Image Configuration<!-- END: title -->
<!-- BEGIN: content -->
<!--
<form action="{URI|htmlspecialchars}" method="post">

	<fieldset>
		<legend>Thumbnails</legend>
		<div class="row">
			<span class="label"><label>Thumbail Min Width</label></span>
			<span class="field"><input type="text" value="{CONF.thumbnail_width_min|htmlspecialchars}" name="conf[item][thumbnail_width_min]"/></span>
		</div>
		<div class="row">
			<span class="label"><label>Thumbnail Max Width</label></span>
			<span class="field"><input type="text" value="{CONF.thumbnail_width_max|htmlspecialchars}" name="conf[item][thumbnail_width_max]"/></span>
		</div>
		<div class="row">
			<span class="label"><label>Thumbnail Step</label></span>
			<span class="field"><input type="text" value="{CONF.thumbnail_step|htmlspecialchars}" name="conf[item][thumbnail_step]"/></span>
		</div>
		<div class="row">
			<span class="label"><label>Jpeg Quality</label></span>
			<span class="field"><input type="text" value="{CONF.quality|htmlspecialchars}" name="conf[item][quality]"/></span>
		</div>
	</fieldset>
	<fieldset>
		<legend>jQuery Cycle Plugin options</legend>
		<div class="row">
			<span class="label"><label>Cycle Fx</label></span>
			<span class="field"><input type="text" value="{CONF.cycle_fx|htmlspecialchars}" name="conf[item][cycle_fx]"/></span>
		</div>
		<div class="row">
			<span class="label"><label>Cycle Easing</label></span>
			<span class="field"><input type="text" value="{CONF.cycle_easing|htmlspecialchars}" name="conf[item][cycle_easing]"/></span>
		</div>
		<div class="row">
			<span class="label"><label>Cycle Timeout</label></span>
			<span class="field"><input type="text" value="{CONF.cycle_timeout|htmlspecialchars}" name="conf[item][cycle_timeout]"/></span>
		</div>
		<div class="row">
			<span class="label"><label>Cycle Speed</label></span>
			<span class="field"><input type="text" value="{CONF.cycle_speed|htmlspecialchars}" name="conf[item][cycle_speed]"/></span>
		</div>
	</fieldset>
	
	<input type="hidden" name="conf[object]" value="common_image" />
	<input type="hidden" name="conf[node_id]" value="{GET.node_id}" />
	
	<div class="row submit">
		<span class="label"><label>&nbsp;</label></span>
		<span class="field"><button type="submit" name="save" value="save"><span>save</span></button></span>
	</div>
</form>
-->		
<!-- END: content -->
