<!-- BEGIN: title -->Ecommerce Price Configuration<!-- END: title -->
<!-- BEGIN: content -->
{MESSAGES}
<form action="{URI|htmlspecialchars}" method="post">

    <fieldset>
        <legend>Ecommerce Price</legend>
    </fieldset>
    
    <input type="hidden" name="conf[object]" value="ecommerce_price" />
    <input type="hidden" name="conf[node_id]" value="{GET.node_id}" />
    
    <div class="row submit">
        <span class="label"><label>&nbsp;</label></span>
        <span class="field"><button class="save" type="submit" name="save" value="save"><span>Save</span></button></span>
    </div>
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
            
<!-- END: content -->
