<!-- BEGIN: title -->Ecommerce Transaction Configuration<!-- END: title -->
<!-- BEGIN: content -->
{MESSAGES}
<form hx-post="{URI|htmlspecialchars}" hx-on::after-request="popupMessage('div.onyx-messages');">

    <fieldset>
        <legend>Ecommerce Transaction</legend>
    </fieldset>
    
    <input type="hidden" name="conf[object]" value="ecommerce_transaction" />
    <input type="hidden" name="conf[node_id]" value="{GET.node_id}" />
    
    <div class="row submit">
        <span class="label"><label>&nbsp;</label></span>
        <span class="field"><button class="save" type="submit" name="save" value="save"><span>Save</span></button></span>
    </div>

    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
            
<!-- END: content -->
