<!-- BEGIN: title -->Ecommerce Delivery Configuration<!-- END: title -->
<!-- BEGIN: content -->

<form action="{URI}" method="post">

	<fieldset>
		<legend>Ecommerce Delivery</legend>
	</fieldset>
	
	<input type="hidden" name="conf[object]" value="ecommerce_delivery" />
	<input type="hidden" name="conf[node_id]" value="{GET.node_id}" />
	
	<div class="row submit">
		<span class="label"><label>&nbsp;</label></span>
		<span class="field"><button type="submit" name="save" value="save"><span>save</span></button></span>
	</div>
</form>
			
<!-- END: content -->
