<!-- BEGIN: title -->International - Translations<!-- END: title -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="fix">{MESSAGES}</div><!-- END: messages -->

<script type="text/javascript">

	function initInPlaceEdit(element) {

		element.find("td.locale span").editInPlace({
			url: "/request/bo/component/single_record_update~model=international_translation:attribute=locale~",
			field_type: "select",
			select_options: "en_GB.UTF-8,cs_CZ.UTF-8,he_IL.UTF-8,ja_JP.UTF-8,ru_RU.UTF-8",
			params: "csrf_token=" + getCSRFToken()
		});
		element.find("td.original_string span").editInPlace({
			url: "/request/bo/component/single_record_update~model=international_translation:attribute=original_string~",
			field_type: "textarea",
			params: "csrf_token=" + getCSRFToken()
		});
		element.find("td.translated_string span").editInPlace({
			url: "/request/bo/component/single_record_update~model=international_translation:attribute=translated_string~",
			field_type: "textarea",
			params: "csrf_token=" + getCSRFToken()
		});
		element.find("td.context span").editInPlace({
			url: "/request/bo/component/single_record_update~model=international_translation:attribute=context~",
			field_type: "select",
			select_options: ",separate_text,text_inside_tag,text_inside_span_tag,navigation_label,navigation_url,tag_attribute,link_label,link_url,heading_title",
			params: "csrf_token=" + getCSRFToken()
		});
		element.find("td.node_id span").editInPlace({
			url: "/request/bo/component/single_record_update~model=international_translation:attribute=node_id~",
			field_type: "text",
			params: "csrf_token=" + getCSRFToken()
		});

	}

	$(document).ready(function() {

		initInPlaceEdit($("div.translation"));
		$("div.columnOne.page").css('display', 'none');
		$("div.columnTwo.page").css('width', '100%');
		$("div.rowBottom").hide();
	});

	function addItem() {

		makeAjaxRequest('#component_configuration', "/request/bo/component/configuration.bo/component/configuration/international_translation?add=true");
	}

</script>

<div class="translation"> 

	<div class="twoColumnPage page sidebar">
		<div class="top"><span></span></div>
		<div class="content">
			<div class="pageWrapper">

				<div class="pageContent">
					<div class="pageContentWrapper">
						<div class="rowTop">
							<div class="rowWrapper">
								<div class="columnWrapper">

									<p>
										<strong>Default locale:</strong> {CONFIGURATION.global.locale}
										<a style="float: right" href="#" onclick="addItem(); return false;"class="button small">Add a New Translation</a>
									</p>

									<table>
										<thead>
											<th width="150">Locale</th>
											<th>Original</th>
											<th>Translated</th>
											<th>Context</th>
											<th width="150">Page Id</th>
										</thead>
										<tbody>
											<!-- BEGIN: item -->
											<tr>
												<td class="locale"><span id="international_translation-locale-id-{ITEM.id}">{ITEM.locale|htmlspecialchars}</span></td>
												<td class="original_string"><span id="international_translation-original_string-id-{ITEM.id}">{ITEM.original_string|htmlspecialchars}</span></td>
												<td class="translated_string"><span id="international_translation-translated_string-id-{ITEM.id}">{ITEM.translated_string|htmlspecialchars}</span></td>
												<td class="context"><span id="international_translation-context-id-{ITEM.id}">{ITEM.context|htmlspecialchars}</span></td>
												<td class="node_id"><span id="international_translation-node_id-id-{ITEM.id}">{ITEM.node_id|htmlspecialchars}</span></td>
											</tr>
											<!-- END: item -->
										</tbody>
									</table>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="bottom"><span></span></div>
	</div>

</div>

<!-- END: content -->
