<!-- BEGIN: title -->International Currency Configuration<!-- END: title -->
<!-- BEGIN: content -->
{MESSAGES}
<form hx-post="{URI|htmlspecialchars}" hx-on::after-request="popupMessage('div.onyx-messages');">
    <fieldset>
        <legend>International currency</legend>
        <div class="row">
            <span class="label"><label>Allowed currencies</label></span>
            <span class="field"><input type="text" value="{CONF.international_currency.allowed|htmlspecialchars}" name="conf[item][allowed]"/></span>
        </div>
        
    </fieldset>
    
    <input type="hidden" name="conf[object]" value="international_currency" />
    <input type="hidden" name="conf[node_id]" value="0" />
    
    <div class="row submit">
        <span class="field"><button class="save" type="submit" name="save" value="save"><span>Save</span></button></span>
    </div>

    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
<!-- END: content -->
