<!-- BEGIN: content -->
<div class="backoffice_menu">
{ONXSHOP_REQUEST_menu_sections #bo/backoffice_menu_sections}
{ONXSHOP_REQUEST_menu_advanced #bo/backoffice_menu_advanced}
{ONXSHOP_REQUEST_menu_actions #bo/backoffice_menu_actions}
</div>

<script type="text/javascript">

	$(function() {

		var menuHeight = $('#menuSections').outerHeight();
		var advancedMenuHeight = $('#menuAdvanced').outerHeight();

		$('#menuSections li.advanced a').click(showAdvancedMenu);
		$('#menuAdvanced li.back a').click(hideAdvancedMenu);

		if ($('#menuAdvanced li.active').length > 0) {
			$('#menuSections').css("margin-left", -130).css("height", advancedMenuHeight);
			$('#menuAdvanced').css("margin-left", -130).css("height", advancedMenuHeight);
		}

		function showAdvancedMenu(e) {
			$('#menuSections').css("margin-left", 0).animate({ "margin-left": -130, "height": advancedMenuHeight }, 300);
			$('#menuAdvanced').css("margin-left", 0).animate({ "margin-left": -130, "height": advancedMenuHeight }, 300);
			return false;
		}

		function hideAdvancedMenu(e) {
			$('#menuSections').css("margin-left", -130).animate({ "margin-left": 0, "height": menuHeight }, 300);
			$('#menuAdvanced').css("margin-left", -130).animate({ "margin-left": 0, "height": menuHeight }, 300);
			return false;
		}

	});
	
</script>
<!-- END: content -->