<!-- BEGIN: content -->
<div id="onxshop-header">
	
	<div id="onxshop-menu-bar">

		<ul id="menu-system">
			<li><a class="onxshop-version" href="/" title="{CONFIGURATION.global.title|htmlspecialchars} using {ONXSHOP_VERSION} {ONXSHOP_PACKAGE_NAME|ucfirst}" onclick="openAjaxRequestInDialog('/request/bo/component/sysinfo', '{ONXSHOP_VERSION}'); return false;"><span>Onxshop<br />{CONFIGURATION.global.title|htmlspecialchars}</span></a></li>
		</ul>
		
		<ul id="menu-frontoffice">
			<li class="frontoffice"><a href="/edit"><span>Front Office</span></a></li>
		</ul>

		{ONXSHOP_REQUEST_menu #bo/backoffice_menu}
		
	</div>

</div>

<div id="onxshop-backoffice">

	<div id="onxshop-backoffice-wrapper">
		<!-- BEGIN: messages --><div class="onxshop-messages">{MESSAGES}</div><!-- END: messages -->
		{SUB_CONTENT}
	</div>

</div>
<!-- END: content -->
