<!-- BEGIN: content -->
<ul id="menu-sections">
    <!-- BEGIN: pages --><li class="pages {ACTIVE_pages} first"><a href="/backoffice/pages" title="CMS pages"><span>Pages</span></a></li><!-- END: pages -->
    <!-- BEGIN: publish --><li class="publish {ACTIVE_publish}"><a href="/backoffice/publish" title="Static publishing"><span>Publish</span></a></li> <!-- END: publish -->
    <!-- BEGIN: newsDISABLE --><li class="news {ACTIVE_news}"><a href="/backoffice/news" title="Your company annoucements or blog"><span>{BLOG_SECTION.title|htmlspecialchars}</span></a></li><!-- END: newsDISABLE -->
    <!-- BEGIN: products --><li class="products {ACTIVE_products}"><a href="/backoffice/products" title="All your products"><span>Products</span></a></li><!-- END: products -->
    <!-- BEGIN: recipes --><li class="recipes {ACTIVE_recipes}"><a href="/backoffice/recipes" title="All your recipes"><span>Recipes</span></a></li><!-- END: recipes -->
    <!-- BEGIN: stores --><li class="stores {ACTIVE_stores}"><a href="/backoffice/stores" title="All your stores"><span>Locations</span></a></li><!-- END: stores -->
    <!-- BEGIN: orders --><li class="orders {ACTIVE_orders}"><a href="/backoffice/orders" title="List of orders"><span>Orders</span></a></li><!-- END: orders -->
    <!-- BEGIN: stock --><li class="stock {ACTIVE_stock}"><a href="/backoffice/stock" title="Manage stock"><span>Stock</span></a></li><!-- END: stock -->
    <!-- BEGIN: customers --><li class="customers {ACTIVE_customers}"><a href="/backoffice/customers" title="List of your users and customers"><span>Users</span></a></li><!-- END: customers -->
    <!-- BEGIN: stats --><li class="stats {ACTIVE_stats}"><a href="/backoffice/stats" title="Reports and statistics - accounting"><span>Reports</span></a></li><!-- END: stats -->
    <!-- BEGIN: marketing --><li class="marketing {ACTIVE_marketing}"><a href="/backoffice/marketing" title="Promotional Discount Coupons and Vouchers"><span>Discounts</span></a></li><!-- END: marketing -->
    <!-- BEGIN: commentsDISABLE --><li class="comments {ACTIVE_comments}"><a href="/backoffice/comments" title="Review and comments approvals"><span>Reviews</span></a></li><!-- END: commentsDISABLE -->
    <!-- BEGIN: surveys --><li class="surveys {ACTIVE_surveys}"><a href="/backoffice/surveys" title="Customer surveys and competitions"><span>Surveys</span></a></li><!-- END: surveys -->
    <!-- BEGIN: advanced --><li class="advanced {ACTIVE_advanced} last"><a href="/backoffice/advanced" title="Site configuration, logs, database export, etc."><span>Advanced</span></a></li>
    <!-- END: advanced -->
</ul>
<!-- END: content -->
