<!-- BEGIN: head -->
<script type="text/javascript" src="/share/js/jquery/jquery.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/jquery-migrate.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.tools.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cookie.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.form.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.jgrowl.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.editinplace.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/jquery.simple.tree.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/jquery.filedrop.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.validate.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/opt/tinymce/tinymce.min.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/angular.min.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/common.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/backoffice.js?{ONYX_CACHE_VERSION}"></script>
<style type="text/css" media="all">
@import url(/share/css/backoffice.css?{ONYX_CACHE_VERSION});
{CONFIGURATION.global.backoffice_css}
</style>
<script type="text/javascript">
$(function(){ 
    
    popupMessage("div.onyx-messages");
    
    var buttonToolbar = $('div.row-bottom p:first');
    if (buttonToolbar.length > 0) buttonToolbar.append($('.extended-toolbar a').detach());
});
</script>
<!-- END: head -->
<!-- BEGIN: content -->
<div id="backoffice">
    <div id="backoffice-wrapper">
        <div id="container" style="width: auto;"> 
            {MESSAGES}
            {SUB_CONTENT}
        </div>
    </div>
</div>

{ONYX_REQUEST_bo_tracking #bo_tracking}
<!-- END: content -->
