<!-- BEGIN: head -->
<script type="text/javascript" src="/share/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/share/js/jquery/jquery-migrate.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.tools.js"></script>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.form.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.editinplace.js"></script>
<script type="text/javascript" src="/share/js/jquery/jquery.simple.tree.js"></script>
<script type="text/javascript" src="/share/js/jquery/jquery.filedrop.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/opt/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/share/js/angular.min.js"></script>
<script type="text/javascript" src="/share/js/common.js?1"></script>
<script type="text/javascript" src="/share/js/backoffice.js"></script>
<style type="text/css" media="all">
@import url(/share/css/backoffice.css?2);
{CONFIGURATION.global.backoffice_css}
</style>
<script type="text/javascript">
$(function(){ 
    
    popupMessage("div.onyx-messages");
    
    var buttonToolbar = $('div.row-bottom p:first');
    if (buttonToolbar.length > 0) buttonToolbar.append($('.extended-toolbar a').detach());
});
</script>
<!-- END: head -->
<!-- BEGIN: content -->
<div id="backoffice">
    <div id="backoffice-wrapper">
        <div id="container" style="width: auto;"> 
            {MESSAGES}
            {SUB_CONTENT}
        </div>
    </div>
</div>

{ONYX_REQUEST_bo_tracking #bo_tracking}
<!-- END: content -->
