<!-- BEGIN: content -->
<script type="text/javascript">
    function setLoading(selector, value = true) {
        if(typeof selector === 'string' && selector.length > 0) {
            if(value) {
                $(selector).addClass('loading');
            } else {
                $(selector).addClass('done');
                setTimeout(function() {
                    $(selector).removeClass('loading');
                    $(selector).removeClass('done');
                }, 500);
            }
        }
    }
</script>
<div id="onyx-header">
    
    <div id="onyx-menu-bar">

        <ul id="menu-system">
            <li><a class="onyx-version" href="/" title="{CONFIGURATION.global.title|htmlspecialchars} using {ONYX_VERSION} {ONYX_PACKAGE_NAME|ucfirst}" onclick="openAjaxRequestInDialog('/request/bo/component/sysinfo', '{ONYX_VERSION}'); return false;"><span>Onyx<br />{CONFIGURATION.global.title|htmlspecialchars}</span></a></li>
        </ul>
        
        <ul id="menu-frontoffice">
            <li class="frontoffice"><a href="/edit"><span>Front Office</span></a></li>
        </ul>

        {ONYX_REQUEST_menu #bo/backoffice_menu}
        
    </div>

</div>

<div id="onyx-backoffice">

    <div id="onyx-backoffice-wrapper">
        {MESSAGES}
        {SUB_CONTENT}
    </div>

</div>
<!-- END: content -->
