<!-- BEGIN: content -->
<ul id="menuAdvanced">
	<li class="back first"><a href="/backoffice/pages"><span>Basic</span></a></li>
	<!-- BEGIN: media --><li class="media {ACTIVE_media}"><a href="/backoffice/advanced/media"><span>Media Library</span></a></li><!-- END: media -->
	<!-- BEGIN: taxonomy --><li class="taxonomy {ACTIVE_taxonomy}"><a href="/backoffice/advanced/taxonomy"><span>Categories</span></a></li><!-- END: taxonomy -->
	<!-- BEGIN: seo_manager --><li class="seo_manager {ACTIVE_seo_manager}"><a href="/backoffice/advanced/seo_manager"><span>SEO Manager</span></a></li><!-- END: seo_manager -->
	<!-- BEGIN: database --><li class="database {ACTIVE_database}"><a href="/backoffice/advanced/database"><span>Database</span></a></li><!-- END: database -->
	<!-- BEGIN: templates --><li class="templates {ACTIVE_templates}"><a href="/backoffice/advanced/templates"><span>Templates/CSS</span></a></li><!-- END: templates -->
	<!-- BEGIN: scheduler --><li class="scheduler {ACTIVE_scheduler}"><a href="/backoffice/advanced/scheduler"><span>Scheduler</span></a></li><!-- END: scheduler -->
	<!-- BEGIN: currency --><li class="currency {ACTIVE_currency}"><a href="/backoffice/advanced/currency"><span>Currency</span></a></li><!-- END: currency -->
	<!-- BEGIN: search_index --><li class="search_index {ACTIVE_search_index}"><a href="/backoffice/advanced/search_index"><span>Search Index</span></a></li><!-- END: search_index -->
	<!-- BEGIN: tools --><li class="tools {ACTIVE_tools}"><a href="/backoffice/advanced/tools"><span>Tools</span></a></li><!-- END: tools -->
	<!-- BEGIN: logs --><li class="logs {ACTIVE_logs}"><a href="/backoffice/advanced/logs"><span>Logs</span></a></li><!-- END: logs -->
	<!-- BEGIN: configuration --><li class="configuration {ACTIVE_configuration} last" ><a href="/backoffice/advanced/configuration"><span>Configuration</span></a></li><!-- END: configuration -->
</ul>
<!-- END: content -->