<!-- BEGIN: content -->
<style type="text/css" media="screen">
    @import url(/share/css/fe_edit.css?{ONYX_CACHE_VERSION});
</style>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/backoffice.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/fe_edit.js?{ONYX_CACHE_VERSION}"></script>

<div id="onyx-header" class="frontend minimised" ondblclick="$(this).remove()">

    <div id="onyx-menu-bar">

        <ul id="menu-system">
            <li><a class="onyx-version" href="/" title="{CONFIGURATION.global.title|htmlspecialchars} is using {ONYX_VERSION} {ONYX_PACKAGE_NAME|ucfirst}" onclick="return false;"><span>Onyx</span></a></li>
        </ul>
        <!-- BEGIN: backoffice -->
        <ul id="menu-backoffice">
            <li class="backoffice"><a href="/backoffice/pages"><span>Back Office</span></a></li>
        </ul>
        <!-- END: backoffice -->
        <ui id="menu-editing-mode">
            {ONYX_REQUEST_fe_edit_mode #bo/component/fe_edit_mode~id=GET.id~}
        </ui>

        <ul id="menu-actions">
            <li class="flush-cache"><a href='/backoffice/advanced/tools?tool=flush_cache' onclick="clearOnyxCache(this); return false" title="Clear Cache"><span>Clear Cache</span></a></li>
            <!--<li class="support"><a href="{ONYX_SUPPORT_WEBSITE_URL}" title="Access to Onyx support" target="_blank"><span>Support</span></a></li>-->
            <!-- BEGIN: css_edit -->
            <li class="css-edit"><a class="onyx-edit-css-edit" href="/backoffice/advanced/templates" title="CSS Edit" onclick="nOpenWin('/popup/css_edit/{GET.node_id}/orig/{_SESSION.orig}', 900, 600); return false;"><span>CSS</span></a></li>
            <!-- END: css_edit -->
            <li class="logout" ><a class="logout" href="/?logout=1" title="Logout user {_SESSION.authentication.user_details.email|htmlspecialchars} from Front Office"><span>Log Out</span></a></li>
        </ul>

    </div>

</div>

<script type="text/javascript">
    $('#onyx-header').draggable();
</script>
<!-- END: content -->
