<!-- BEGIN: content -->
<style type="text/css" media="screen">
    @import url(/share/css/fe-edit.css?{ONYX_CACHE_VERSION});
</style>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/backoffice.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/fe-edit.js?{ONYX_CACHE_VERSION}"></script>
<script type="text/javascript" src="/share/js/htmx.min.js"></script>

<div id="onyx-header" class="frontend minimised" ondblclick="$(this).remove()">

    {ONYX_REQUEST_fe_menu #bo/fe_menu}

</div>

<script type="text/javascript">
    $('#onyx-header').draggable();
</script>
<!-- END: content -->
