<!-- BEGIN: title-->Login<!-- END: title -->
<!-- BEGIN: head -->
<style type="text/css" media="screen">
@import url(/share/css/fe_edit.css);
html,body,#backoffice,#backofficeWrapper,#container,#onxshop_cms_content {height: 100%;}
div.backoffice_login #login form,
div.backoffice_login #registration form {background: rgba(237, 237, 237, 0.9); padding: 10px 20px; color: black; border: 1px solid #CCC; border-radius: 5px;}
div.backoffice_login form span.field {width: 100%;}
div.backoffice_login {margin: 20px auto; width: 300px; display: table; height: 80%;}
div.backoffice_login fieldset legend {text-transform: uppercase;}
div.backoffice_login #login div.login {margin-bottom: 2em;}
div.backoffice_login #login a,
div.backoffice_login #registration a {color: white; text-decoration: none;}
div.backoffice_login #login form a,
div.backoffice_login #registration form a {color: black; text-decoration: underline;}
div.backoffice_login #forgot form {display: none;}
div.backoffice_login div.backoffice_login_wrapper {display: table-cell; vertical-align: middle; }
div.backoffice_login #registration {display: none;}
div.backoffice_login div.autologin span.label {float: left;}
div.backoffice_login div.autologin span.field {width: auto;}
</style>

<script type="text/javascript">
$(document).ready(function(){
	$('div.backoffice_login #registration fieldset.delivery_address, div.backoffice_login #registration fieldset.company_details, div.backoffice_login #registration fieldset.account_details').remove();
	$('div.backoffice_login form').removeClass('twoColumns');
	$('div.backoffice_login #login div.login form.failed').parent().effect("shake");
});
</script>

<!-- END: head -->
<!-- BEGIN: content -->
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.form.js"></script>
<script type="text/javascript" src="/share/js/fe_edit.js"></script>
<script type="text/javascript" src="/share/js/backoffice.js"></script>

<div id="onxshopHeader">
	<div id="onxshopSystemBar">
	
		<div id="menuSystem">
			<a class="onxshop_version" href="/" title="{ONXSHOP_VERSION} {ONXSHOP_PACKAGE_NAME|ucfirst}" onclick="openAjaxRequestInDialog('/request/bo/component/sysinfo', '{ONXSHOP_VERSION}'); return false;"><span>Onxshop</span></a> - 
			<a class="onxshop_client" href="/" title="{CONFIGURATION.global.title|htmlspecialchars} homepage"><span>{CONFIGURATION.global.title|htmlspecialchars}</span></a>
		</div>
		
		<div id="menuUser">
			<a href="{ONXSHOP_SUPPORT_WEBSITE_URL}" title="Access to Onxshop support"><span>Support</span></a> - 
			<a class="logout" href="/?logout=1" title="Logout from the backoffice"><span>Log Out</span></a>
		</div>
		
	</div>
	
</div>

<div id="onxshop_cms_content" class="username_{_SESSION.authentication.username}">
	<div class="top"><span></span></div>

	<div class="backoffice_login">
		<div class="backoffice_login_wrapper">
			<!-- BEGIN: choose_login_type -->
			<style>
				div.backoffice_login #login {display: none;}
			</style>
			<div class="choose_login_type">
				<!-- BEGIN: facebook -->
				{ONXSHOP_REQUEST_facebook #component/client/facebook_auth}
				<!-- END: facebook -->
				<!-- BEGIN: twitter -->
				{ONXSHOP_REQUEST_twitter #component/client/twitter_auth}
				<!-- END: twitter -->
				<p><button onclick="$('#login').slideToggle();"><span>Connect with Email</span></button></p>
			</div>
			<!-- END: choose_login_type -->
			<div id="login">
				{ONXSHOP_REQUEST_login #component/client/login}
				<p><a href="#registration" onclick="$('#registration, #login').slideToggle();">Create new account ▶</a></p>
				<p><a href="#forgot" onclick="$('#forgot form').slideToggle();">Forgot your password?</a></p>
				<div id="forgot">	
					{ONXSHOP_REQUEST_forgot #component/client/password_reset}
				</div>
			</div>
			<div id="registration">
				<p><a href="#login" onclick="$('#registration, #login').slideToggle();">◀ Back to login</a></p>
				{ONXSHOP_REQUEST_registration #component/client/registration}
			</div>
		</div>
	</div>
		
		
	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->