/**
 * Norbert @ Laposa Ltd, 2009 - 2017
 *
 */

/**
 * wrappers for keeping width
 */

header.site,
header.page,
footer.site,
section.layout,
div.content {max-width: 960px; margin: 0 auto;}

/**
 * gutters
 * set all gutters to 10px on content elements like traditional grid systems, e.g. 960gs
 */

header.site > div.wrapper,
header.page > div.wrapper,
footer.site > div.wrapper,
h2.layout-title,
div.content > div.wrapper {margin: 10px;}

/*
 * extra CSS classes to be used in CMS
 * - full-bleed - apply to content or layout
 * - full-width
 */

.full-bleed > div.wrapper {margin: 0!important;}
.full-bleed > div.wrapper > h3.content-title {margin-left: 10px; margin-right: 10px;}
.full-width {max-width: none!important;}

/****************************************************************************************/
/*****************************          node/page           *****************************/
/****************************************************************************************/

/************ node/page/default.html ****/
div.row-top:after,
div.row-middle:after,
div.row-bottom:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}
div.page div.page-wrapper {padding: 0;}
div.page div.row-bottom {clear: both;}

/*default, fobinaci-1-1, 50%/50%*/
div.two-column-page div.column-one,
div.two-column-page.fibonacci-1-1 div.column-one {float: left; width: 49.999%; clear: both; overflow: hidden; }
div.two-column-page div.column-two,
div.two-column-page.fibonacci-1-1 div.column-two {width: 49.999%; float: right; overflow: hidden;}
/*fibonacci-1-5, 16.6%/83.3%*/
div.two-column-page.fibonacci-1-5 div.column-one {width: 16.66%;}
div.two-column-page.fibonacci-1-5 div.column-two {width: 83.33%;}
div.two-column-page.fibonacci-5-1 div.column-one {width: 83.33%;}
div.two-column-page.fibonacci-5-1 div.column-two {width: 16.66%;}
/*fibonacci-1-3, 25%/75%*/
div.two-column-page.fibonacci-1-3 div.column-one {width: 25%;}
div.two-column-page.fibonacci-1-3 div.column-two {width: 75%;}
div.two-column-page.fibonacci-3-1 div.column-one {width: 75%;}
div.two-column-page.fibonacci-3-1 div.column-two {width: 25%;}
/*fibonacci-2-5, 28.6%/71.4%*/
div.two-column-page.fibonacci-2-5 div.column-one {width: 28.6%;}
div.two-column-page.fibonacci-2-5 div.column-two {width: 71.4%;}
div.two-column-page.fibonacci-5-2 div.column-one {width: 71.4%;}
div.two-column-page.fibonacci-5-2 div.column-two {width: 28.6%;}
/*fibonacci-1-2, 33%/66%*/
div.two-column-page.fibonacci-1-2 div.column-one {width: 33.3%;}
div.two-column-page.fibonacci-1-2 div.column-two {width: 66.6%;}
div.two-column-page.fibonacci-2-1 div.column-one {width: 66.6%;}
div.two-column-page.fibonacci-2-1 div.column-two {width: 33.3%;}
/*fibonacci-3-5, 38.2%/61.8%*/
div.two-column-page.fibonacci-3-5 div.column-one {width: 38.2%;}
div.two-column-page.fibonacci-3-5 div.column-two {width: 61.77%;}
div.two-column-page.fibonacci-5-3 div.column-one {width: 61.77%;}
div.two-column-page.fibonacci-5-3 div.column-two {width: 38.2%;}
/*fibonacci-2-3, 40%/60%*/
div.two-column-page.fibonacci-2-3 div.column-one {width: 40%;}
div.two-column-page.fibonacci-2-3 div.column-two {width: 60%;}
div.two-column-page.fibonacci-3-2 div.column-one {width: 60%;}
div.two-column-page.fibonacci-3-2 div.column-two {width: 40%;}

@media all and (max-width: 800px) {
	div.two-column-page div.column-one, 
	div.two-column-page div.column-two {width: auto!important; float: none!important;}
}

/****************************************************************************************/
/*****************************          node/layout         *****************************/
/****************************************************************************************/

div.wrapper:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}

/********* node/layout/1column.html *********/
.one-column-layout {clear: both;}
.one-column-layout div.layout-column-single {float: none; width: auto;}

/********* node/layout/2columns.html *********/
.two-column-layout {clear: both;}
.two-column-layout:after,
.two-column-layout div.layout-body:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}

/*default, fibonacci-1-1, 50%/50%*/
.two-column-layout div.layout-column-one.of-two,
.two-column-layout.fibonacci-1-1 div.layout-column-one.of-two {float: left; width: 49.999%;}
.two-column-layout div.layout-column-two.of-two,
.two-column-layout.fibonacci-1-1 div.layout-column-two.of-two {width: 49.999%; float: right;}
/*fibonacci-1-5, 16.6%/83.3%*/
.two-column-layout.fibonacci-1-5 div.layout-column-one.of-two {width: 16.66%;}
.two-column-layout.fibonacci-1-5 div.layout-column-two.of-two {width: 83.33%;}
.two-column-layout.fibonacci-5-1 div.layout-column-one.of-two {width: 83.33%;}
.two-column-layout.fibonacci-5-1 div.layout-column-two.of-two {width: 16.66%;}
/*fibonacci-1-3, 25%/75%*/
.two-column-layout.fibonacci-1-3 div.layout-column-one.of-two {width: 25%;}
.two-column-layout.fibonacci-1-3 div.layout-column-two.of-two {width: 75%;}
.two-column-layout.fibonacci-3-1 div.layout-column-one.of-two {width: 75%;}
.two-column-layout.fibonacci-3-1 div.layout-column-two.of-two {width: 25%;}
/*fibonacci-2-5, 28.6%/71.4%*/
.two-column-layout.fibonacci-2-5 div.layout-column-one.of-two {width: 28.6%;}
.two-column-layout.fibonacci-2-5 div.layout-column-two.of-two {width: 71.4%;}
.two-column-layout.fibonacci-5-2 div.layout-column-one.of-two {width: 71.4%;}
.two-column-layout.fibonacci-5-2 div.layout-column-two.of-two {width: 28.6%;}
/*fibonacci-1-2, 33%/66%*/
.two-column-layout.fibonacci-1-2 div.layout-column-one.of-two {width: 33.3%;}
.two-column-layout.fibonacci-1-2 div.layout-column-two.of-two {width: 66.6%;}
.two-column-layout.fibonacci-2-1 div.layout-column-one.of-two {width: 66.6%;}
.two-column-layout.fibonacci-2-1 div.layout-column-two.of-two {width: 33.3%;}
/*fibonacci-3-5, 38.2%/61.8%*/
.two-column-layout.fibonacci-3-5 div.layout-column-one.of-two {width: 38.2%;}
.two-column-layout.fibonacci-3-5 div.layout-column-two.of-two {width: 61.8%;}
.two-column-layout.fibonacci-5-3 div.layout-column-one.of-two {width: 61.8%;}
.two-column-layout.fibonacci-5-3 div.layout-column-two.of-two {width: 38.2%;}
/*fibonacci-2-3, 40%/60%*/
.two-column-layout.fibonacci-2-3 div.layout-column-one.of-two {width: 40%;}
.two-column-layout.fibonacci-2-3 div.layout-column-two.of-two {width: 60%;}
.two-column-layout.fibonacci-3-2 div.layout-column-one.of-two {width: 60%;}
.two-column-layout.fibonacci-3-2 div.layout-column-two.of-two {width: 40%;}

@media all and (max-width: 800px) {
	.two-column-layout div.layout-column-one.of-two,
	.two-column-layout div.layout-column-two.of-two {width: auto!important; float: none!important;}
}

/********* node/layout/3columns.html *********/
.three-column-layout {clear: both;}
.three-column-layout div.layout-column-one.of-three, 
.three-column-layout div.layout-column-two.of-three, 
.three-column-layout div.layout-column-three.of-three {width: 33.3334%; overflow: hidden;}
.three-column-layout div.layout-column-one.of-three, 
.three-column-layout div.layout-column-two.of-three {float: left;}
.three-column-layout div.layout-column-three.of-three {float: right;}

@media all and (max-width: 800px) {   
	.three-column-layout div.layout-column-one.of-three,
	.three-column-layout div.layout-column-two.of-three,
	.three-column-layout div.layout-column-three.of-three {width: auto; float: none;}
}

/********* node/layout/4columns.html *********/
.four-column-layout {clear: both;}
.four-column-layout div.layout-column-one.of-four, 
.four-column-layout div.layout-column-two.of-four, 
.four-column-layout div.layout-column-three.of-four,
.four-column-layout div.layout-column-four.of-four {width: 25%; overflow: hidden;}
.four-column-layout div.layout-column-one.of-four, 
.four-column-layout div.layout-column-two.of-four,
.four-column-layout div.layout-column-three.of-four {float: left;}
.four-column-layout div.layout-column-four.of-four {float: right;}

@media all and (max-width: 800px) {   
	.four-column-layout div.layout-column-one.of-four,
	.four-column-layout div.layout-column-two.of-four {width: 50%;}
	.four-column-layout div.layout-column-three.of-four,
	.four-column-layout div.layout-column-four.of-four {width: 50%;}
}

/********* node/layout/5columns.html *********/
.five-column-layout {clear: both;}
.five-column-layout div.layout-column-one.of-five, 
.five-column-layout div.layout-column-two.of-five, 
.five-column-layout div.layout-column-three.of-five,
.five-column-layout div.layout-column-four.of-five,
.five-column-layout div.layout-column-five.of-five {width: 20%; overflow: hidden;}
.five-column-layout div.layout-column-one.of-five, 
.five-column-layout div.layout-column-two.of-five,
.five-column-layout div.layout-column-three.of-five,
.five-column-layout div.layout-column-four.of-five {float: left;}
.five-column-layout div.layout-column-five.of-five {float: right;}

@media all and (max-width: 800px) {
	.five-column-layout div.layout-column-one.of-five,
	.five-column-layout div.layout-column-two.of-five,
	.five-column-layout div.layout-column-three.of-five,
	.five-column-layout div.layout-column-four.of-five,
	.five-column-layout div.layout-column-five.of-five {width: auto; float: none;}
}

/********* node/layout/6columns.html *********/
.six-column-layout {clear: both;}
.six-column-layout div.layout-column-one.of-six, 
.six-column-layout div.layout-column-two.of-six, 
.six-column-layout div.layout-column-three.of-six,
.six-column-layout div.layout-column-four.of-six,
.six-column-layout div.layout-column-five.of-six,
.six-column-layout div.layout-column-six.of-six {width: 16.666%; overflow: hidden;}
.six-column-layout div.layout-column-one.of-six, 
.six-column-layout div.layout-column-two.of-six,
.six-column-layout div.layout-column-three.of-six,
.six-column-layout div.layout-column-four.of-six,
.six-column-layout div.layout-column-five.of-six {float: left;}
.six-column-layout div.layout-column-six.of-six {float: right;}

@media all and (max-width: 800px) {	
	.six-column-layout div.layout-column-one.of-six,
	.six-column-layout div.layout-column-two.of-six,
	.six-column-layout div.layout-column-three.of-six,
	.six-column-layout div.layout-column-four.of-six,
	.six-column-layout div.layout-column-five.of-six,
	.six-column-layout div.layout-column-six.of-six {width: auto; float: none;}
}

/********* node/layout/tabs.html *********/
.tabs-layout {clear: both;}
.tabs-layout ul.tabs li {display: inline-block; list-style-type: none; padding: 0; margin: 0;}
.tabs-layout ul.tabs li a {display: inline-block; padding: 7px 15px;}
.tabs-layout div.tabs-body {clear: both;}

/********* node/layout/slider.html *********/
.slider-layout .unslider {overflow:auto;margin:0;padding:0;}
.slider-layout .unslider-wrap {position:relative}
.slider-layout .unslider-wrap.unslider-carousel > div.content {float:left; clear: none;}
.slider-layout .unslider-vertical > div.slider-wrapper {height:100%}
.slider-layout .unslider-vertical div.content {float:none; width:100%}
.slider-layout .unslider-fade {position:relative}
.slider-layout .unslider-fade .unslider-wrap div.content {position:absolute;left:0;top:0;right:0;z-index:8}
.slider-layout .unslider-fade .unslider-wrap div.content.unslider-active {z-index:10}
.slider-layout .unslider div.content,
.slider-layout .unslider ol,
.slider-layout .unslider div.slider-wrapper {list-style:none;margin:0;padding:0;border:none}
.slider-layout .unslider-arrow {position:absolute;left:20px;z-index:2;cursor:pointer}
.slider-layout .unslider-arrow.next {left:auto;right:20px}
.slider-layout .unslider-nav ol {list-style: none; text-align: center;}
.slider-layout .unslider-nav ol li {display: inline-block; width: 15px; height: 15px; margin: 0 4px; background: transparent; border-radius: 15px; overflow: hidden; text-indent: -999em; border: 2px solid #fff; cursor: pointer;}
.slider-layout .unslider-nav ol li.unslider-active {background: #fff;cursor: default;}
