/**
 * Norbert @ Laposa Ltd, 2017/01/11
 *
 */


/****************************************************************************************/
/*****************************          node/layout         *****************************/
/****************************************************************************************/

/********* node/layout/1column.html *********/
section.one-column-layout {clear: both;}
section.one-column-layout div.layoutColumnSingle {float: none; width: auto;}

/********* node/layout/2columns.html *********/
section.layout-two-col {clear: both;}

/*default, fibonacci-1-1, 50%/50%*/
section.two-column-layout div.col.one,
section.two-column-layout.fibonacci-1-1 div.col.one {float: left; width: 49.999%;}
section.two-column-layout div.col.two,
section.two-column-layout.fibonacci-1-1 div.col.two {width: 49.999%; float: right;}
/*fibonacci-1-5, 16.6%/83.3%*/
section.two-column-layout.fibonacci-1-5 div.col.one {width: 16.66%;}
section.two-column-layout.fibonacci-1-5 div.col.two {width: 83.33%;}
section.two-column-layout.fibonacci-5-1 div.col.one {width: 83.33%;}
section.two-column-layout.fibonacci-5-1 div.col.two {width: 16.66%;}
/*fibonacci-1-3, 25%/75%*/
section.two-column-layout.fibonacci-1-3 div.col.one {width: 25%;}
section.two-column-layout.fibonacci-1-3 div.col.two {width: 75%;}
section.two-column-layout.fibonacci-3-1 div.col.one {width: 75%;}
section.two-column-layout.fibonacci-3-1 div.col.two {width: 25%;}
/*fibonacci-2-5, 28.6%/71.4%*/
section.two-column-layout.fibonacci-2-5 div.col.one {width: 28.6%;}
section.two-column-layout.fibonacci-2-5 div.col.two {width: 71.4%;}
section.two-column-layout.fibonacci-5-2 div.col.one {width: 71.4%;}
section.two-column-layout.fibonacci-5-2 div.col.two {width: 28.6%;}
/*fibonacci-1-2, 33%/66%*/
section.two-column-layout.fibonacci-1-2 div.col.one {width: 33.3%;}
section.two-column-layout.fibonacci-1-2 div.col.two {width: 66.6%;}
section.two-column-layout.fibonacci-2-1 div.col.one {width: 66.6%;}
section.two-column-layout.fibonacci-2-1 div.col.two {width: 33.3%;}
/*fibonacci-3-5, 38.2%/61.8%*/
section.two-column-layout.fibonacci-3-5 div.col.one {width: 38.2%;}
section.two-column-layout.fibonacci-3-5 div.col.two {width: 61.8%;}
section.two-column-layout.fibonacci-5-3 div.col.one {width: 61.8%;}
section.two-column-layout.fibonacci-5-3 div.col.two {width: 38.2%;}
/*fibonacci-2-3, 40%/60%*/
section.two-column-layout.fibonacci-2-3 div.col.one {width: 40%;}
section.two-column-layout.fibonacci-2-3 div.col.two {width: 60%;}
section.two-column-layout.fibonacci-3-2 div.col.one {width: 60%;}
section.two-column-layout.fibonacci-3-2 div.col.two {width: 40%;}

/********* node/layout/3columns.html *********/
section.three-column-layout {clear: both;}
section.three-column-layout div.col.one, 
section.three-column-layout div.col.two, 
section.three-column-layout div.col.three {width: 33.3334%; overflow: hidden;}
section.three-column-layout div.col.one, 
section.three-column-layout div.col.two {float: left;}
section.three-column-layout div.col.three {float: right;}

/********* node/layout/4columns.html *********/
section.four-column-layout {clear: both;}
section.four-column-layout div.col.one, 
section.four-column-layout div.col.two, 
section.four-column-layout div.col.three,
section.four-column-layout div.col.four {width: 25%; overflow: hidden;}
section.four-column-layout div.col.one, 
section.four-column-layout div.col.two,
section.four-column-layout div.col.three {float: left;}
section.four-column-layout div.col.four {float: right;}

/********* node/layout/5columns.html *********/
section.five-column-layout {clear: both;}
section.five-column-layout div.col.one, 
section.five-column-layout div.col.two, 
section.five-column-layout div.col.three,
section.five-column-layout div.col.four,
section.five-column-layout div.col.five {width: 20%; overflow: hidden;}
section.five-column-layout div.col.one, 
section.five-column-layout div.col.two,
section.five-column-layout div.col.three,
section.five-column-layout div.col.four {float: left;}
section.five-column-layout div.col.five {float: right;}

/********* node/layout/6columns.html *********/
section.six-column-layout {clear: both;}
section.six-column-layout div.col.one, 
section.six-column-layout div.col.two, 
section.six-column-layout div.col.three,
section.six-column-layout div.col.four,
section.six-column-layout div.col.five,
section.six-column-layout div.col.six {width: 16.666%; overflow: hidden;}
section.six-column-layout div.col.one, 
section.six-column-layout div.col.two,
section.six-column-layout div.col.three,
section.six-column-layout div.col.four,
section.six-column-layout div.col.five {float: left;}
section.six-column-layout div.col.six {float: right;}

/********* node/layout/tabs.html *********/
section.tabsLayout {clear: both;}
section.tabsLayout ul.tabs li {display: inline-block; list-style-type: none; padding: 0; margin: 0;}
section.tabsLayout ul.tabs li a {display: inline-block; padding: 7px 15px;}
section.tabsLayout div.layoutBody {clear: both;}

/********* node/layout/slider.html *********/
section.sliderLayout .unslider {overflow:auto;margin:0;padding:0;}
section.sliderLayout .unslider-wrap {position:relative}
section.sliderLayout .unslider-wrap.unslider-carousel > div.node {float:left}
section.sliderLayout .unslider-vertical > div.sliderWrapper {height:100%}
section.sliderLayout .unslider-vertical div.node {float:none;width:100%}
section.sliderLayout .unslider-fade {position:relative}
section.sliderLayout .unslider-fade .unslider-wrap div.node {position:absolute;left:0;top:0;right:0;z-index:8}
section.sliderLayout .unslider-fade .unslider-wrap div.node.unslider-active {z-index:10}
section.sliderLayout .unslider div.node,
section.sliderLayout .unslider ol,
section.sliderLayout .unslider div.sliderWrapper {list-style:none;margin:0;padding:0;border:none}
section.sliderLayout .unslider-arrow {position:absolute;left:20px;z-index:2;cursor:pointer}
section.sliderLayout .unslider-arrow.next {left:auto;right:20px}
section.sliderLayout .unslider-nav ol {list-style: none; text-align: center;}
section.sliderLayout .unslider-nav ol li {display: inline-block; width: 15px; height: 15px; margin: 0 4px; background: transparent; border-radius: 15px; overflow: hidden; text-indent: -999em; border: 2px solid #fff; cursor: pointer;}
section.sliderLayout .unslider-nav ol li.unslider-active {background: #fff;cursor: default;}

/**
 * 
 * 
 */

header {}

div.wrapper {max-width: 1200px; margin: 0 auto; padding: 30px;}

section.layout > div.wrapper {padding: 30px 0;}
