/****************************************************************************************/
/*****************************          node/page           *****************************/
/****************************************************************************************/

/********* node/page/default.html *********/
/********* node/page/product_browse.html *********/
/********* node/page/news.html *********/
/********* node/page/product.html *********/

/*nothing*/

/********* node/page/news.html *********/
div.news div.note p {margin-top: 0;}
div.news div.back {clear: both;}
div.news div.body {margin-bottom: 1em;}
div.news div.add-this-buttons {margin-bottom: 10px;}

/****************************************************************************************/
/*****************************          node/content        *****************************/
/****************************************************************************************/

/********* node/content/RTE.html *********/
div.content-RTE {clear: both;}
/* do not specify img., conflict with reflection*/
/* use both cases (TinyMCE/Safari bug)*/
div.content-RTE .imageLeft,
div.content-RTE .imageleft {float: left; margin-right: 10px; margin-bottom: 10px;}
div.content-RTE .imageRight,
div.content-RTE .imageright {float: right; margin-left: 10px; margin-bottom: 10px;}
div.content-RTE .imageBorder,
div.content-RTE .border {border: 1px solid black;}

/*apply for products, other option would be to add .content-RTE class in product detail page description element */
div.product .image-left {float: left; margin-right: 10px;}
div.product .image-right {float: right; margin-left: 10px;}
div.product .image-order,
div.product .border {border: 1px solid black;}

/*apply for news pages, other option would be to add .content-RTE class in news detail page */
div.news .image-left {float: left; margin-right: 10px;}
div.news .image-right {float: right; margin-left: 10px;}
div.news .image-order,
div.news .border {border: 1px solid black;}


/********* node/content/divider.html *********/
div.divider {clear: both; width: 100%; margin: 0 0 1em 0; padding: 0; border-top: 1px dotted grey; height: 1px; font-size: 1em;}
div.divider hr {display: none;}

/********* node/content/quote.html *********/
div.quote p.quote {padding: 0 40px 0 0; margin: 0; text-align: center;}
div.quote p.author {font-family: sans-serif; padding-right: 40px; text-align: center; background: none;}

/********* component/news_list_teaser.html *********/
div.news-list.teaser div.image {float: left; padding: 0 20px 10px 0;}
div.news-list.teaser div.image a {text-decoration: none;}
div.news-list.teaser div.created {font-weight: bold;}
div.news-list.teaser div.created p {margin-bottom: 1em;}

/********* component/news_list_grid.html *********/
div.news-list.grid div.item {width: 300px; min-height: 300px; display: block; float: left; margin: 10px;}

/********* node/content/contact_form.html *********/
div.contact-form textarea {width: 100%;}
div.contact-form div.submit span.label {display: none;}
div.contact-form span.mandatory-mark {padding-right: 0.5em;}
div.contact-form legend {display: none;}

/********* node/content/picture.html *********/
div.node-content-picture, 
div.node-content-picture div.item {margin-bottom: 10px;}
div.node-content-picture div.picture.single div.item {float: left; margin-right: 10px;}

/********* node/content/HTML.html *********/
div.node-content-HTML {}

/********* node/content/file.html *********/
div.file span.file-size {white-space: nowrap;}


