/**
 * Norbert @ Laposa Ltd, 2009/09/22
 *
 */

/****************************************************************************************/
/*****************************      component/ecommerce     *****************************/
/****************************************************************************************/

/********* component/ecommerce/product_list_shelf.html *********/
div.product_list_shelf div.item {margin: 1.5em 0;}
div.product_list_shelf div.image {float: left; margin-right: 2em;}
div.product_list_shelf div.description {float: left; width: 50%; }
div.product_list_shelf h3.name {text-transform: none; font-size: 1.2em; margin-top: 0;}
div.product_list_shelf div.detail {float: right; width: 20%;}
div.product_list_shelf div.detail p {padding: 0 1em 0 0;}
div.product_list_shelf p.stock {margin-top: 0;}
div.product_list_shelf p.variety {font-weight: bold; margin-top: 0;}
div.product_list_shelf p.more_details {clear: both; float: left; margin-bottom: 0;}
div.product_list_shelf div.reviews {clear: both;}
div.product_list_shelf div.reviews a {text-decoration: none;}
div.product_list_shelf div.reviews span.review_count {padding-left: 10px; line-height: 1.7; font-size: 85%;}

/********* component/ecommerce/product_list_2columns *********/
div.product_list_2columns div.item {text-align: center; float: left; clear: none; width: 50%;}
div.product_list_2columns a {text-decoration: none;}
div.product_list_2columns div.item.odd {margin-right: 15px}
div.product_list_2columns div.item h3 {clear: both} 
div.product_list_2columns div.item div.image a {display: block; margin: 0 auto 1em auto;}

/********* component/ecommerce/product_list_3columns *********/
div.product_list_3columns a {text-decoration: none;}
div.product_list_3columns div.item {font-size: 80%; width: 33.334%; text-align: center; float: left; clear: none;}
div.product_list_3columns div.item h3 {clear: both}
div.product_list_3columns div.item div.image a {display: block; margin: 0 auto 1em auto;}

/********* component/ecommerce/product_list_4columns *********/
div.product_list_4columns a {text-decoration: none; }
div.product_list_4columns div.item {font-size: 80%; width: 25%; text-align: center; float: left; clear: none;}
div.product_list_4columns div.item h3 {clear: both; padding: 0 1em;}
div.product_list_4columns div.item div.price {padding: 0 1em;}
div.product_list_4columns div.item span.price {}
div.product_list_4columns div.item div.image a {display: block; margin: 0 auto 1em auto;}

/********* component/ecommerce/product_list_6columns *********/
div.product_list_6columns a {text-decoration: none; }
div.product_list_6columns div.item {font-size: 80%; width: 16.66%; text-align: center; float: left; clear: none;}
div.product_list_6columns div.item h3 {clear: both; padding: 0 1em;}
div.product_list_6columns div.item div.price {padding: 0 1em;}
div.product_list_6columns div.item span.price {}
div.product_list_6columns div.item div.image a {display: block; margin: 0 auto 1em auto;}

/********* component/ecommerce/product_list_scroll *********/
div.product_list_scroll {margin-top: 1em;}
div.product_list_scroll a {text-decoration: none; font-size: 80%;}
div.product_list_scroll div.item {width: 120px; text-align: center; float: left; clear: none;}
div.product_list_scroll div.item h3 {clear: both; margin: 0 0.5em;}
div.product_list_scroll div.item div.image a {display: block; margin: 0 auto 1em auto;}
div.product_list_scroll div.item div.image img {margin: 0 10px;}
div.product_list_scroll a.browse span {display: none;}
div.product_highlights div.product_list_scroll div.description {width: 120px;}
div.product_list_scroll div.scrollable {position:relative; overflow:hidden; width: 360px; height:170px; float: left;}
div.product_list_scroll div.scrollable div.items {width:20000em; position:absolute; clear:both;}
div.product_list_scroll div.scrollable div.items div.item {float:left;}
div.product_list_scroll a.browse {background:url(/share/themes/jquery.tools/images/hori_large.png) no-repeat; display:block; width:30px; height:30px; float:left; margin-top: 60px;}
div.product_list_scroll a.right {background-position: 0 -30px; clear:right; margin-right: 10px;}
div.product_list_scroll a.right:hover { background-position:-30px -30px;}
div.product_list_scroll a.right:active 	{ background-position:-60px -30px;}
div.product_list_scroll a.left { margin-left: 10px;}
div.product_list_scroll a.left:hover { background-position:-30px 0;}
div.product_list_scroll a.left:active { background-position:-60px 0;}

/********* component/ecommerce/product_related.html *********/
div.product_related {margin-top: 0;}

/********* component/ecommerce/recently_viewed_products.html *********/
div.recently_viewed {clear: both;}

/********* component/client/address.html *********/
div.address p.detail {margin-bottom: 0;}
div.address p.button {margin-top: 0;}

/********* component/client/customer_detail.html *********/
div.customer_detail td.first {text-align: right;}

/********* component/client/address_edit.html *********/
div.address_edit div.address_list div.item {padding-bottom: 2em;}

/********* component/ecommerce/basket.html *********/
div.basket,
div.basketWrapper {display: inline;}
div.basket h3 {display: inline; padding: 0 20px 0 0; margin: 0;}
div.basket div.content {display: none; position: absolute; background: white; z-index: 1000;}
div.basket td.remove {text-align: right;}
div.basket a {text-transform: uppercase; text-decoration: none;}
div.basket div.checkout,
div.basket p.empty {display: inline; margin: 0;}
div.basket div.summary {display: inline;}
div.basket div.go_to_checkout {display: inline;}
div.basket a.go_to_checkout {padding-left: 15px;}

/********* component/ecommerce/basket_edit.html *********/
div.basket_edit input.basket_content-quantity {width: 20px;}
div.basket_edit button.update {float: right;}
div.basket_edit a.checkout {float: right; margin-bottom: 1em;}
div.basket_edit a.continue_shopping {float: left; margin-bottom: 1em;}
div.basket_edit div.image a {text-decoration: none;}
div.basket_edit table.items {clear: both; width: 100%;}
div.basket_edit p.top {display: none;}
div.basket_edit th.action {text-align: left;}
div.basket_edit th.quanity {text-align: left; padding-left: 5px;}
div.basket_edit td.quanity {line-height: 0px;}
div.basket_edit td.discount p {margin: 0; text-align: right;}
div.basket_edit button.highlightbutton {border: 1px solid red;}

/********* component/ecommerce/basket_detail.html *********/
div.basket_detail th.price,
div.basket_detail th.vat,
div.basket_detail th.total,
div.basket_detail td.price,
div.basket_detail td.vat,
div.basket_detail td.total {text-align: right;}
div.basket_detail tbody.breakdown {font-weight: bold;}

/********* component/ecommerce/checkout.html *********/
div.checkout {clear: right;}
div.checkout form textarea {width: 95%;}
div.checkout div.payment_type span.label,
div.checkout div.terms_agreed span.label {text-align: right;}
div.checkout div.payment_type span.field,
div.checkout div.terms_agreed span.field {width: auto;}
div.checkout fieldset.gift_option h3 {display: none;}
div.checkout fieldset.other_options {float: left; margin-top: 0; padding-top: 0;}
div.checkout div.submit {padding-right: 0; margin-right: 0; clear: none; float: right;}
div.checkout div.submit span.field {float: right; width: auto;}

/********* component/ecommerce/checkout_basket.html *********/
a.button.edit_basket {float: right;}

/********* component/ecommerce/payment/paypal.html *********/
div.payment button.payment_paypal {background: url(/share/images/payment_gateways/btn_xpressCheckout.gif) no-repeat; width: 145px; height: 42px; border: 0;}
div.payment button.payment_paypal span {display: none;}
div.payment div.order_detail p.actions {display: none;}

/********* component/ecommerce/order_detail.html *********/
div.order_detail div.address div.delivery {float: left; margin-right: 2em;}
div.order_detail a.button.make_payment,
div.order_detail a.repeat_order,
div.order_detail a.button.print_invoice,
div.order_detail a.button.print_invoice_proforma {float: left; margin: 0 1em 1em 0;}

/********* component/client/userbox.html *********/
div.userbox div.register {float: left; margin-right: 30px; display: none;}
div.userbox div.login {float: left; display: none;}
div.userbox a {text-decoration: none; white-space: pre;}
div.userbox a.client_area {padding-left: 5px; margin-left: 10px;}
div.userbox a.logout {padding-left: 5px; margin-left: 10px;}

/********* component/client/login.html *********/
/********* component/client/registration_start.html *********/
/**** + registration + delivery_option + checkout ****/

div.address_country select {width: 100%;}

/********* component/client/password_reset.html *********/
div.password_reset legend {display: none;}

/********* component/client/password_reminder.html *********/
div.password_reminder legend {display: none;}


/********* component/ecommerce/invoice.html *********/
/********* component/ecommerce/invoice_proforma.html *********/
div.invoice td.basket table {width: 100%;}
div.invoice td.basket table td {padding: 5px 15px;}
div.invoice td.basket table th {text-align: left; padding: 5px 15px;}
div.invoice th,
div.invoice td {font-size: 10px;}

/********* component/ecommerce/form_currency.html *********/
#currency {display: inline;}
#currency select {width: 100%;}

/********* component/ecommerce/delivery_option.html *********/
div.delivery_option div.submit,
div.delivery_option legend {display: none;}
#content div.delivery_option span.label {float: left; width: 130px;}

/********* component/ecommerce/product_list_sorting.html *********/
div.sorting {margin-bottom: 1em;}
div.sorting div.pagination {text-align: left;}
div.sorting div.title {float: left; padding-right: 10px;}
div.sorting ul {float: right;}
div.sorting div.mode {float: left; margin-left: 80px;}

/********* component/ecommerce/review_list.html *********/
div.review div.content {clear: both;}

/********* component/ecommerce/variety_list_ajax.html *********/
div.variety_list_ajax tr:hover {cursor: pointer; cursor: hand;}
div.variety_list_ajax tr.highlight {}
div.variety_list_ajax a {text-decoration: none; display: block; float: left;}
div.variety_list_ajax a.add_to_basket {margin-left: 10px; display: block; background: url(/share/images/default/basket-icon.png) no-repeat center left; padding-left: 20px; }
div.variety_list_ajax a.add_to_basket span {display: block; white-space: nowrap;}
div.variety_list_ajax a span.name {text-decoration: underline;}
div.variety_list_ajax p {margin-bottom: 1em;}
div.variety_list_ajax div.description p {margin: 0 0 2em 0; font-size: 87%;}
div.variety_list_ajax table {border: 0; margin: 0;}
div.variety_list_ajax td {border: 0; padding: 3px;}

/********* component/ecommerce/variety_list.html *********/
div.variety_list {clear: both;}
div.variety_list span.price {float: right;}
div.variety_list div.outofstock span.label {text-decoration: line-through;}
div.variety_list div.outofstock span.outofstock_message {display: none;}
div.variety_list form span.field,
div.variety_list form span.label {display: inline; width: auto;}
div.variety_list form span.field {padding-right: 1em;}
div.variety_list div.description {padding-left: 4em; font-size: 90%;}
div.variety_list div.description p {margin: 0; padding: 0;}
div.variety_list div.item {margin: 1em 0;}
div.variety_list button.add_to_basket {float: right;}
div.variety_list div.product_options {float: right; padding-bottom: 1em;}
div.variety_list p.add_to_basket {clear: both;}

/********* node/page/product.html *********/
/*tabs product detail*/
div.product ul.tabs {margin-left: 0; padding-left: 0;}
div.product ul.tabs li {display: block; float: left; margin-left: 0; margin-bottom: 0; }
div.product ul.tabs li a {border: 1px solid #ccc;  border-width: 1px 0 1px 1px; display: block; padding: 5px 10px;}
div.product ul.tabs li.last a {border-width: 1px}
div.product ul.tabs li a.current {text-decoration: none;}
div.product div.panes {clear: both; padding: 1em 0;}

/********* component/ecommerce/product_other_data.html *********/
div.product_other_data dt {clear: both; float: left; font-weight: bold; padding: 0 0 5px 0;}
div.product_other_data dd {padding: 0 0 5px 20px;}


div.promotion_code form.enter h3 {display: none;}

/********* component/ecommerce/gift_card.html *********/
div.gift_card {width: 7cm; height: 6cm; position: absolute; left: 10.5cm; top: 11cm;}
div.gift_message p {color: black; white-space: normal; font-family: Arial; font-size: 10pt; padding: 0; margin: 0; line-height: 1.5em;}


    div.loading#basket,
    a.add_to_basket.loading {background: url(/share/images/ajax-indicator/indicator_arrows.gif) no-repeat center left;}