/**
 * Norbert @ Laposa Ltd, 2009/09/22
 *
 */

/****************************************************************************************/
/*****************************          node/site           *****************************/
/****************************************************************************************/

/********* node/site/default.html *********/
#pageWrapper {padding: 0.5em;}
#pageWrapper div.bottom {clear: both;}

#accessibility {display: none;}

#container {width: 960px; margin: 0 auto;}

#header {width: 100%;}

#logo {float: left;}
#logo a {text-decoration: none; font-size: 4em;}

#search {float: right; clear: right; margin-bottom: 10px;}
#search form {background: transparent; float: right; border-width: 0; margin: 0; padding: 0;}
#search input { background: white url(/share/images/search-bg.png) no-repeat 3px center; padding-left: 20px; width: 165px; display: block;}
#search label {width: auto;}
#search button {display: none;}

#userbox {float: right; margin-bottom: 1.5em;}

#basket {clear: right; float: right; white-space: nowrap; margin-bottom: 10px;}
#basketWrapper {display: inline;}

/**
 * global navigation
 */

#globalNavigation {float: right; margin: 0 0 15px 0;}
#globalNavigation ul {margin: 0; padding: 0; line-height: 1em; list-style-type: none;}
#globalNavigation li {display: inline-block; padding: 0; margin: 0;}
#globalNavigation a {text-decoration: none; display: block; padding: 7px 15px;}
#globalNavigation a:active span {text-decoration: underline;}

/**
 * reveal navigation
 */
 
#revealNavigationButton {display: none;}

/**
 * primary navigation
 */

#primaryNavigation {clear: both; width: 100%;}
#primaryNavigation ul {margin: 0; padding: 0; line-height: 1em; list-style-type: none;}
#primaryNavigation li {margin: 0; padding: 0; margin-right: 20px; display: inline-block; zoom: 1;/*zoom for ie6*/}
#primaryNavigation a {text-decoration: none; display: block; padding: 7px 5px; white-space: pre; zoom: 1;}
#primaryNavigation a:active span {text-decoration: underline;}
#primaryNavigation a.open {font-weight: bold;}
#primaryNavigation ul ul {list-style-type: square; margin-left: 10px;}
#primaryNavigation ul ul li {padding-left: 0; margin-left: 15px; display: list-item;}
#primaryNavigation ul ul a {padding-left: 0; font-weight: normal; height: auto;}

/**
 * footer navigation
 */
 
#footerNavigation {clear: both; float: left; width: 100%;}
#footerNavigation ul {margin: 0; padding: 0; line-height: 1em; list-style-type: none;}
#footerNavigation li {padding: 0; margin: 0; display: inline-block;}
#footerNavigation a {text-decoration: none; display: block; padding: 7px 15px; white-space: pre;}
#footerNavigation a:active span {text-decoration: underline;}

/**
 * content
 */
 
#content { width: 100%; clear: both; }

/**
 * footer
 */
 
#footer {width: 100%; clear: both; margin-top: 30px;}

#copyright {clear: both; float: left; padding: 30px 0 0.5em 0; white-space: nowrap;}
#credit {float: right; padding: 30px 0 0.5em 0;}

#copyright p,
#credit p,
#copyright a,
#credit a {text-decoration: none; padding: 0; margin: 0;}

/* graphical credit */
/*#credit a {background: url(/share/images/onxshop-power-master-150.png) no-repeat; display: block; width: 150px; height: 49px;}
#credit a span {display: none;}
#copyright p {padding-top: 25px;}*/

#contentSide {width: 16.66%; margin: 20px 0 10px 0; clear: left; float: left;}
#contentSideWrapper {margin-right: 10px;}

#contentBottom {clear: both; width: 100%;}


/****************************************************************************************/
/*****************************          node/page           *****************************/
/****************************************************************************************/

/********* node/page/default.html *********/
/********* node/page/product_browse.html *********/
/********* node/page/news.html *********/
/********* node/page/product.html *********/

#pageSide {float: left; overflow: hidden;} /*also wrapper to secondaryNavigation*/
#pageSideWrapper {margin-right: 10px;}

#secondaryNavigation {line-height: 1em; margin-bottom: 20px;}
#secondaryNavigation ul {padding: 0; margin: 0; list-style-type: none;}
#secondaryNavigation li {padding: 0; margin: 0; zoom: 1;/*zoom for ie6*/}
#secondaryNavigation a {display: block; padding: 7px 5px; text-decoration: none; zoom: 1;}
#secondaryNavigation a:active span {text-decoration: underline;}
#secondaryNavigation ul ul {list-style-type: disc;}
#secondaryNavigation ul ul li {padding-left: 0; margin-left: 25px;}

#pageImage {float: right;}
#pageImage a {text-decoration: none;}

/********* node/page/news.html *********/
div.news div.note p {margin-top: 0;}
div.news div.back {clear: both;}
div.news div.body {margin-bottom: 1em;}
div.news div.addThisButtons {margin-bottom: 10px;}

/****************************************************************************************/
/*****************************          node/content        *****************************/
/****************************************************************************************/

/********* node/content/RTE.html *********/
div.content-RTE {clear: both;}
/* do not specify img., conflict with reflection*/
/* use both cases (TinyMCE/Safari bug)*/
div.content-RTE .imageLeft,
div.content-RTE .imageleft {float: left; margin-right: 10px; margin-bottom: 10px;}
div.content-RTE .imageRight,
div.content-RTE .imageright {float: right; margin-left: 10px; margin-bottom: 10px;}
div.content-RTE .imageBorder,
div.content-RTE .border {border: 1px solid black;}

/*apply for products, other option would be to add .content-RTE class in product detail page description element */
div.product .imageLeft,
div.product .imageleft {float: left; margin-right: 10px;}
div.product .imageRight,
div.product .imageright {float: right; margin-left: 10px;}
div.product .imageBorder,
div.product .border {border: 1px solid black;}

/*apply for news pages, other option would be to add .content-RTE class in news detail page */
div.news .imageLeft,
div.news .imageleft {float: left; margin-right: 10px;}
div.news .imageRight,
div.news .imageright {float: right; margin-left: 10px;}
div.news .imageBorder,
div.news .border {border: 1px solid black;}


/********* node/content/divider.html *********/
div.divider {clear: both; width: 100%; margin: 0 0 1em 0; padding: 0; border-top: 1px dotted grey; height: 1px; font-size: 1em;}
div.divider hr {display: none;}

/********* node/content/quote.html *********/
div.quote p.quote {padding: 0 40px 0 0; margin: 0; text-align: center;}
div.quote p.author {font-family: sans-serif; padding-right: 40px; text-align: center; background: none;}

/********* node/content/news_list.html *********/
div.news_list div.teaser_image {float: left; padding: 0 20px 10px 0;}
div.news_list div.teaser_image a {text-decoration: none;}
div.news_list div.created {font-weight: bold;}
div.news_list div.created p {margin-bottom: 1em;}
div.news_list div.teaser {clear: none;}

/********* node/content/contact_form.html *********/
div.contact_form textarea {width: 100%;}
div.contact_form div.submit span.label {display: none;}
div.contact_form span.mandatory-mark {padding-right: 0.5em;}
div.contact_form legend {display: none;}

/********* node/content/picture.html *********/
div.node-content-picture, 
div.node-content-picture div.item {margin-bottom: 10px;}
div.node-content-picture div.picture.single div.item {float: left; margin-right: 10px;}

/********* node/content/HTML.html *********/
div.node-content-HTML {}

/********* node/content/file.html *********/
div.file span.file_size {white-space: nowrap;}

/****************************************************************************************/
/*****************************           component          *****************************/
/****************************************************************************************/

/********* component/feed.html *********/
div.feed p.pubDate {padding: 0; margin: 0 0 10px 0;}
div.feed p.copyright {}
div.feed div.item {margin: 10px 0;}
div.feed div.item h5 {margin: 0 0 0.5em 0;}

/********* component/breadcrumb.html *********/
div.breadcrumb {margin-bottom: 10px;}

/********* component/taxonomy.html *********/
div.taxonomy td.first {font-weight: bold;}

/********* component/searchbox.html *********/
div.searchbox label {display: none;}
div.searchbox input.text {margin: 0; width: 185px;}

/********* component/search_result.html *********/
div.search_result li {clear: both; margin-bottom: 10px;}
div.search_result li a.last {font-weight: bold;}
div.search_result li a.image {text-decoration: none; display: block; float: right; padding-left: 5px;}
div.search_result span.item_description {font-size: small;}
div.search_result span.keyword_highlight {color: #000000; background: #ff0;}

/********* component/pagination.html *********/
div.pagination {margin: 5px 0; text-align: center;}
div.pagination a {text-decoration: none;}
div.pagination ul {margin: 0; padding: 0;}
div.pagination li {list-style-type: none; display: inline; padding: 0; margin: 0;}
div.pagination a {display: inline-block; padding: 2px 5px; border: 0;}
div.pagination a.active {border: 1px solid #CCCCCC; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
div.pagination li.previous a:hover,
div.pagination li.next a:hover,
div.pagination a.show_all:hover {text-decoration: underline;}

/********* component/image_gallery.html *********/
div.image_gallery div.thumbnails div.item {float: left; min-height: 50px;}
div.image_gallery div.thumbnails div.item img {padding: 0 10px 10px 0;}
div.image_gallery a {text-decoration: none;}

/********* component/image_gallery/cycle.html *********/
div.image_gallery_cycle {border: 0; position: relative;}
div.image_gallery_cycle div.controls {z-index: 1000; position: absolute; top: 0; left: 0; display: none;}
div.image_gallery_cycle div.controls a.prev,
div.image_gallery_cycle div.controls a.next {width: 30px; height: 27px; display: block; opacity: 0.9;}
div.image_gallery_cycle div.controls a span {display: none;}
div.image_gallery_cycle div.controls a.prev {background: url(/share/images/default/arrow-left.gif) center left no-repeat; float: left;}
div.image_gallery_cycle div.controls a.next {background: url(/share/images/default/arrow-right.gif) center right no-repeat; float: right;}
div.image_gallery_cycle div.controls div.pagination {float: left; margin: 0;}
div.image_gallery_cycle div.controls div.pagination a {float: left; display: block; padding: 3px 7px;}
div.image_gallery_cycle div.imageInfo {display: none;}

/********* component/image_gallery/cycle2.html *********/
div.image_gallery_cycle2 {position: relative;}
div.image_gallery_cycle2 div.item { width: 100%;}
div.image_gallery_cycle2 div.item div.description {color: white; background: rgba(0,0,0,0.8); padding: 5px 10px; width: 100%; text-align: center; position: absolute; bottom: 0;}
div.image_gallery_cycle2 div.controls a {color: white; background: rgba(255, 255, 255, 0.5);}
div.image_gallery_cycle2 div.controls a.prev,
div.image_gallery_cycle2 div.controls a.next {display: none; position: absolute; left: 1%; top: 40%; z-index: 200; width: 40px; height: 40px; padding: 8px; border-radius: 100px; text-align: center;}
div.image_gallery_cycle2 div.controls a.prev {padding-left: 5px;}
div.image_gallery_cycle2 div.controls a.next {left: auto; right: 1%; padding-right: 5px;}
div.image_gallery_cycle2:hover div.controls a.prev,
div.image_gallery_cycle2:hover div.controls a.next {display: block}
div.image_gallery_cycle2 div.controls div.pagination a {font-size: 50px; line-height: 20px; display: inline-block; color: gray;}
div.image_gallery_cycle2 div.controls div.pagination a.active {color: black; border: 0;}
div.image_gallery_cycle2.number_of_items_1 div.controls,
div.image_gallery_cycle2.number_of_items_1 div.pagination {display: none;}

/********* component/image_gallery/fancybox.html *********/
div.image_gallery_fancybox div.item {float: left; margin-right: 10px;}

/********* component/image_gallery/prettyphoto.html *********/
div.image_gallery_prettyphoto div.item {float: left; margin-right: 10px;}

/********* component/image_gallery/parallax.html *********/
div.image_gallery_parallax {text-align: center;}
div.image_gallery_parallax div.item {display: table; width: 100%; margin: 0; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position-x: center;}
div.image_gallery_parallax div.item a.image {display: table-cell; vertical-align: middle; width: 100%;}
div.image_gallery_parallax div.item img {display: none;}
div.image_gallery_parallax div.sliderCopy {text-align: center;}
div.image_gallery_parallax a {text-decoration: none;}
div.image_gallery_parallax div.sliderCopy h3 {text-align: center;}

/********* component/google_picasa_feed.html *********/
div.googlePicasaFeed div.imageThumbnailsContainer {width: 750px; height: 100px; overflow: auto; white-space: nowrap;}
div.googlePicasaFeed div.imageThumbnail {float: left; height: 75px; padding-right: 15px;}
div.googlePicasaFeed div.imageFull {width: 100%; text-align: center; padding-top: 5px;}
div.googlePicasaFeed div.imageFull div.imageFullWrapper {clear: both;}
div.googlePicasaFeed table {padding: 0; margin: 0; border-style: none; border-width: 0;}
div.googlePicasaFeed table td {padding: 0; margin: 0; border-style: none; border-width: 0;}

/********* component/comment_add.html *********/
div.comment form input {width: 100%;}
div.comment form textarea {width: 100%;}

/********* comment_UL.html *********/
ul.comment li {margin-bottom: 10px;}
ul.comment p.author,
ul.comment p.created {margin: 0;}
ul.comment div.bottom {border-bottom: 1px solid #f0f0f0;}
ul.comment div.item div.content {padding: 10px 0;}

/********* menu_SELECT.html **********/
div.selectMenu {padding: 5px 0 0 0;}

/** newsletter subcribe **/
div.newsletter_subscribe_start div.row {margin: 0;}
div.newsletter_subscribe_start span.label {display: none;}
div.newsletter_subscribe_start fieldset {width: 70%; float: left; margin: 0; padding: 0;}
div.newsletter_subscribe_start div.submit  {clear: none; float: right;}

/********* component/rating_stars.html *********/
div.rating_stars div.star {display: inline-block;}
div.rating_stars div.text {display: none;}
/*
div.rating_stars div.star {background:url("/share/images/default/star.gif") repeat scroll 0 0 transparent; height:17px; width:17px;}
div.rating_stars div.star span {display: none;}
*/

/********* component/social_network_share.html *********/
div.social_network_share ul {margin: 0; padding: 0;}
div.social_network_share li {list-style-image: none; list-style-type: none; float: left; margin: 0 0 0 10px; padding: 0;}
div.social_network_share li.twitter a {background: url(/share/images/social_networks/twitter-20x20.png) no-repeat; width: 20px; height: 20px; display: block;}
div.social_network_share li.twitter a span {display: none;}
div.social_network_share li.pinterest a {background: url(/share/images/social_networks/pinit-43x21.png) no-repeat; width: 43px; height: 21px; display: block;}
div.social_network_share li.pinterest a span {display: none;}
div.social_network_share li.mailto a {background: #ffffff linear-gradient(to bottom, #ffffff 0%,#cbebff 47%,#e6e4e4 100%); border: 1px solid #c9c5c5; border-radius: 4px; display: block; padding: 2px 5px; text-decoration: none; line-height: 1;}
div.social_network_share li.mailto a span {font-size: 80%;}
