/**
 * Norbert @ Laposa Ltd, 2009/09/22
 * Chris Black 2017/01
 *
 */
 
/****************************************************************************************/
/*****************************          node/site           *****************************/
/****************************************************************************************/

/********* node/site/default.html *********/

#accessibility {position: relative; display: none; /*disabled by default*/}
#accessibility li {list-style-type: none;}
#accessibility a {position: absolute; top: -1000px; left: -1000px; height: 1px; width: 1px; text-align: left; overflow: hidden;}
#accessibility a:active,
#accessibility a:focus,
#accessibility a:hover {top: 0; left: 0; font-size: 1em; font-weight: 700; color: #fff; background-color: #075290; height: auto; overflow: auto; width: 99%; padding: 5px; z-index: 100}

#container {width: 960px; margin: 0 auto;}

.logo a {text-decoration: none; font-size: 4em;}

#search {float: right; clear: right; margin-bottom: 10px;}
#search form {background: transparent; border-width: 0; margin: 0; padding: 0;}
#search input {width: 165px;}
#search label {width: auto;}
#search button {display: none;}

#userbox {float: right; margin-bottom: 1.5em;}

/**
 * reveal navigation
 */
 
nav.reveal {display: none;}

/**
 * navigation
 */

nav {width: auto;}
nav ul {display: inline-block; list-style-type: none; margin: 0; padding: 0;}
nav ul li {display: inline-block; margin: 0 15px; padding: 0;}
nav ul li:first-child {margin-left: 0;}
nav ul li a {display: block; white-space: pre; zoom: 1;}
nav ul li a.open {font-weight: bold;}
nav ul li ul {list-style-type: square; margin-left: 10px;}
nav ul li ul li {padding-left: 0; margin-left: 15px; display: list-item;}
nav ul li ul a {padding-left: 0; font-weight: normal; height: auto;}

/**
 * primary-navigation
 */
@media all and (max-width: 800px) {
  #primary-navigation {display: none;}
  #primary-navigation li {display: block;}
  #primary-navigation.open {display: block;}
}
@media all and (min-width: 801px) {
  #primary-navigation {display: block!important;}
}

/**
 * reveal-navigation-button
 */
#reveal-navigation-button {display: none;}
#reveal-navigation-button a {display: block; font-size: 30px; line-height: 30px; text-decoration: none;}
#reveal-navigation-button a.reveal:before {content: '\f0c9'; font-family: 'FontAwesome';}
#reveal-navigation-button a span {display: none;}
@media all and (max-width: 800px) {
    #reveal-navigation-button {display: block;}
}

/**
 * footer navigation
 */
 
footer nav {}

/**
 * content
 */
 
main {width: 100%; clear: both;}

/**
 * footer
 */


