<!-- BEGIN: title -->{NODE.browser_title}<!-- END: title -->
<!-- BEGIN: head -->
<!-- BEGIN: open_graph -->
<meta property="og:type" content="article" />
<!-- BEGIN: image --><meta property="og:image" content="http://{_SERVER.HTTP_HOST}/image/{OPENGRAPH_IMAGE.src|htmlspecialchars}" /><!-- END: image -->
<meta property="og:description" content="{NODE.description|htmlspecialchars}" />
<!-- END: open_graph -->
<!-- END: head -->
<!-- BEGIN: content -->

<!-- BEGIN: page_header -->
<header class="{NODE.node_group} {NODE.css_class} {NODE.taxonomy_class} {NODE.extra_css_class|htmlspecialchars}" data-node-id="{NODE.id}" data-node-controller="{NODE.node_controller}">
	<div class="wrapper">
		<h1 class="page-title">{NODE.page_title|htmlspecialchars}</h1>
	</div>
</header>
<!-- END: page_header -->

{CONTAINER.0}

<!-- END: content -->