<!-- BEGIN: title -->{NODE.browser_title}<!-- END: title -->
<!-- BEGIN: head -->
<!-- BEGIN: open_graph -->
<meta property="og:type" content="article" />
<!-- BEGIN: image --><meta property="og:image" content="http://{_SERVER.HTTP_HOST}/image/{OPENGRAPH_IMAGE.src|htmlspecialchars}" /><!-- END: image -->
<meta property="og:description" content="{NODE.description|htmlspecialchars}" />
<!-- END: open_graph -->
<!-- END: head -->
<!-- BEGIN: content -->
<article class="page {NODE.css_class} {NODE.taxonomy_class}">
	<div class="page-wrapper">
			<!-- BEGIN: page_header -->
			<div class="pageHeader">
				<div class="pageHeaderWrapper">
					<h1 class="pageTitle"><span>{NODE.page_title|htmlspecialchars}</span></h1>
				</div>
			</div>
			<!-- END: page_header -->
			<div class="pageContent">
				{CONTAINER.0}
			</div>
	</div>
</article>

<!-- END: content -->
