<!-- BEGIN: title -->{NODE.page_title}<!-- END: title -->
<!-- BEGIN: head -->
<style type="text/css">

	div.recipe .breadcrumb { display: block; }

</style>
<!-- END: head -->
<!-- BEGIN: content -->

<div id="pageSide">
	<div id="pageSideWrapper">
		<!-- BEGIN: secondary_navigation -->
		<div id="secondaryNavigation">
			<div id="secondaryNavigationWrapper">
				<div class="top"><span></span></div>
				<div class="content">
					{SECONDARY_NAVIGATION}
				</div>
				<div class="bottom"><span></span></div>
			</div>
		</div>
		
		<div id="containerFour">
			<div id="containerFourWrapper">
				<div class="top"><span></span></div>
				<div class="content">
					{CONTAINER.4}
				</div>
				<div class="bottom"><span></span></div>
			</div>
		</div>
		<!-- END: secondary_navigation -->
	</div>
</div>


<div class="twoColumnPage page recipe {NODE.layout_style} {NODE.css_class} {NODE.taxonomy_class}">
	<div class="top"><span></span></div>
	<div class="content">
		<div class="pageWrapper">
			{PAGE_HEADER}
			<div class="pageContent">
				<div class="pageContentWrapper">
					<div class="rowTop">
						<div class="columnWrapper">
							{ONXSHOP_REQUEST_recipe_image #component/recipe_image~id=GET.recipe_id~}
							<div style="float: right">{ONXSHOP_REQUEST_socialshare #component/social_network_share}</div>
							
							<div style="clear: both;">{ONXSHOP_REQUEST_storemessage #component/store-message}</div>
							
							{ONXSHOP_REQUEST_recipe_detail #component/recipe_detail~id=GET.recipe_id~}
							{ONXSHOP_REQUEST_recipe_ingredients #component/recipe_ingredients~id=GET.recipe_id~}
							{ONXSHOP_REQUEST_recipe_instructions #component/recipe_instructions~id=GET.recipe_id~}
							{ONXSHOP_REQUEST_recipe_share #component/recipe_share~id=GET.recipe_id~}

							<div class="twoColumnLayout layout fibonacci-5-3">
								<div class="layoutWrapper">
									<div class="top"><span></span></div>
									<div class="layoutContent">
										<div class="layoutContentWrapper">
											<div class="layoutBody">
												<div class="layoutColumnOne ofTwo">
													<div class="layoutColumnWrapper">
														<div class="panel node node_group-content ">
														<h3 class="contentTitle"><span>Similar Recipes</span></h3>	
															{ONXSHOP_REQUEST_similar_recipes #component/recipe_list_4columns~taxonomy_ids=GET.taxonomy_ids:limit_per_page=4~}
														</div>
													</div>
												</div>
												<div class="layoutColumnTwo ofTwo">
													<div class="layoutColumnWrapper">
														{ONXSHOP_REQUEST_shared_banner #component/shared_banner}
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="bottom"><span></span></div>
								</div>
							</div>
							
							{CONTAINER.0}
						</div>
					</div>
		
					<div class="rowMiddle">
						<div class="columnOne">
							<div class="columnWrapper">
								{CONTAINER.1}
							</div>
						</div>
						<div class="columnTwo">
							<div class="columnWrapper">
								{CONTAINER.2}
							</div>
						</div>
					</div>
					<div class="rowBottom">
						<div class="columnWrapper">
							{CONTAINER.3}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom"><span></span></div>
</div>

<!-- END: content -->
