# Safety rule to ensure directory browsing is disabled
Options -Indexes +FollowSymLinks

# Force IE to the latest version
Header set X-UA-Compatible "IE=edge"

# Prevent Clickjacking
Header set X-Frame-Options SAMEORIGIN

# Allow load resources from other location, i.e. localhost
# Header add Access-Control-Allow-Origin "*"

# local rewrite rules
#RewriteEngine On
#RewriteRule ^section/sub(.*)$ /another-section$1 [R=301,NC,L]

# BEGIN Onyx
RewriteEngine On
RewriteRule	^image/var/(.*)$   /share/image_get.php?image=var/$1 [L]
RewriteRule	^thumbnail/([0-9]*)/var/(.*)$   /share/image_thumbnail.php?&width=$1&image=var/$2 [L]
RewriteRule	^thumbnail/([0-9]*)x([0-9]*)/var/(.*)$   /share/image_thumbnail.php?&width=$1&height=$2&image=var/$3 [L,QSA]
RewriteRule	^download/var/(.*)$   /share/download.php?file=var/$1 [L]
RewriteRule	^view/var/(.*)$   /share/view.php?file=var/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$    /index.php?request=uri_mapping&translate=/$1 [L,QSA]
# END Onyx
