<!-- BEGIN: content -->
<div class="oneColumnLayout layout {NODE.layout_style} {NODE.css_class}">
	<div class="layoutWrapper">
		<div class="top"><span></span></div>
		<div class="layoutContent">
			<div class="layoutContentWrapper ">
				<!-- BEGIN: title --><h2 class="layoutTitle"><span>{NODE.title|htmlspecialchars}</span></h2><!-- END: title -->
				<!-- BEGIN: title_link --><h2 class="layoutTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h2><!-- END: title_link -->
				<div class="layoutBody">
					<div class="layoutColumnSingle">
						<div class="layoutColumnWrapper">
							{CONTAINER.1}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom"><span></span></div>
	</div>
</div>

<!-- END: content -->
