<!-- BEGIN: content -->
<section class="one-column-layout {NODE.node_group} {NODE.css_class} {NODE.taxonomy_class} {NODE.extra_css_class|htmlspecialchars}" data-node-id="{NODE.id}" data-node-controller="{NODE.node_controller}">
	<!-- BEGIN: title --><h2>{NODE.title|htmlspecialchars}</h2><!-- END: title -->
	<!-- BEGIN: title_link --><h2 class="layoutTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h2><!-- END: title_link -->
	{CONTAINER.1}
</section>
<!-- END: content -->