<!-- BEGIN: content -->
<section class="four-column-layout {NODE.node_group} {NODE.css_class} {NODE.taxonomy_class} {NODE.extra_css_class|htmlspecialchars}">
	<div class="wrapper">
		<!-- BEGIN: title --><h2>{NODE.title|htmlspecialchars}</h2><!-- END: title -->
		<div class="col one of-four">
			{CONTAINER.1}
		</div>
		<div class="col two of-four">
			{CONTAINER.2}
		</div>
		<div class="col three of-four">
			{CONTAINER.3}
		</div>
		<div class="col four of-four">
			{CONTAINER.4}
		</div>
	</div>
</section>

<!-- END: content -->
