<!-- BEGIN: content -->
<section class="layout four-column-layout {NODE.layout_style} {NODE.css_class}">
	<div class="wrapper">
		<!-- BEGIN: title --><h2 class="layout-title"><span>{NODE.title|htmlspecialchars}</span></h2><!-- END: title -->
		<div class="layout-body">
			<div class="layout-column-one of-four">
				{CONTAINER.1}
			</div>	
			<div class="layout-column-two of-four">
				{CONTAINER.2}
			</div>
			<div class="layout-column-three of-four">
				{CONTAINER.3}
			</div>
			<div class="layout-column-four of-four">
				{CONTAINER.4}
			</div>
		</div>
	</div>
</section>
<!-- END: content -->
