<!-- BEGIN: content -->
<section id="node-id-{NODE.id}" class="layout six-column-layout {NODE.layout_style} {NODE.css_class}">
    <div class="wrapper">
        <!-- BEGIN: title --><h2 class="layout-title"><span>{NODE.title|htmlspecialchars}</span></h2><!-- END: title -->
        <div class="layout-body">
            <div class="layout-column-one of-six">
                {CONTAINER.1}
            </div>
            <div class="layout-column-two of-six">
                {CONTAINER.2}
            </div>
            <div class="layout-column-three of-six">
                {CONTAINER.3}
            </div>
            <div class="layout-column-four of-six">
                {CONTAINER.4}
            </div>
            <div class="layout-column-five of-six">
                {CONTAINER.5}
            </div>
            <div class="layout-column-six of-six">
                {CONTAINER.6}
            </div>
        </div>
    </div>
</section>
<!-- END: content -->
