<!-- BEGIN: head_once -->
<script src="/share/js/jquery/plugins/unslider-min.js"></script>
<script src="/share/js/jquery/plugins/velocity.min.js"></script>
<script src="/share/js/jquery/plugins/jquery.event.move.js"></script>
<script src="/share/js/jquery/plugins/jquery.event.swipe.js"></script>
<script>
$(function() {

	// we need to use a different selector when in editting or sorting mode
	var fe_edit_mode = '{_SESSION.fe_edit_mode}';
	
	if (fe_edit_mode == 'edit' || fe_edit_mode == 'move') {
		var slider_selector = 'section.slider-body div.onxshop-layout-container:first';
	} else {
		var slider_selector = 'section.slider-body:first';
	}
	
    // setup ul.tabs to work as tabs for each div directly under div.tabs-layout div.layout-body 
    if ($('section.slider-layout div.slider-body').length > 0) {
	    $('section.slider-layout div.slider-wrapper').unslider({
		    selectors: {
				container: slider_selector,
				slides: '> *'
			},
			animation: 'horizontal'
		});
	}
});
</script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<section class="slider-layout layout {NODE.layout_style} {NODE.css_class}">
	<div class="layout-wrapper">
		<div class="layout-content">
			<div class="layout-content-wrapper ">
				<!-- BEGIN: title --><h2><span>{NODE.title|htmlspecialchars}</span></h2><!-- END: title -->
				
				<div class="slider-wrapper">					
					<div class="layout-body slider-body">
						{CONTAINER.1}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- END: content -->
