<!-- BEGIN: head_once -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.easytabs.min.js"></script>
<script type="text/javascript">
$(function() {
    // setup ul.tabs to work as tabs for each div directly under div.tabs-layout div.tabs-body
    if ($('div.tabs-layout div.tabs-wrapper ul.tabs').length > 0) $('div.tabs-layout div.tabs-wrapper').easytabs();
});
</script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<section id="node-id-{NODE.id}" class="layout tabs-layout {NODE.layout_style} {NODE.css_class}">
    <div class="wrapper">
        <!-- BEGIN: title --><h2 class="layout-title"><span>{NODE.title|htmlspecialchars}</span></h2><!-- END: title -->
        <div class="tabs-wrapper">
            <!-- BEGIN: menu -->
            <ul class="tabs">
                <!-- BEGIN: item --><li class="node-id-{ITEM.id} {ITEM.css_class|htmlspecialchars} {FIRST_LAST}"><a href="#node-id-{ITEM.id}"><span>{ITEM.title|htmlspecialchars}</span></a></li><!-- END: item -->
            </ul>
            <!-- END: menu -->
            <div class="tabs-body">
                {CONTAINER.1}
            </div>
        </div>
    </div>
</section>

<!-- END: content -->
