<!-- BEGIN: head_once -->
<script type="text/javascript">
$(function() { 
    // setup ul.tabs to work as tabs for each div directly under div.tabsLayout div.layoutBody 
    $("div.tabsLayout ul.tabs").tabs("div.tabsLayout div.layoutBody > div", {current: 'active'});

});
</script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="tabsLayout layout {NODE.layout_style} {NODE.css_class}">
	<div class="layoutWrapper">
		<div class="top"><span></span></div>
		<div class="layoutContent">
			<div class="layoutContentWrapper ">
				<!-- BEGIN: title --><h2 class="layoutTitle"><a href="#node_id_{NODE.id}"><span>{NODE.title|htmlspecialchars}</span></a></h2><!-- END: title -->
				<!-- BEGIN: title_link --><h2 class="layoutTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h2><!-- END: title_link -->
				
				<!-- BEGIN: menu -->
				<ul class="tabs">
					<!-- BEGIN: item --><li class="node_id_{ITEM.id} {FIRST_LAST}"><a href="#node_id_{ITEM.id}"><span>{ITEM.title|htmlspecialchars}</span></a></li><!-- END: item -->
				</ul>
				<!-- END: menu -->
				
				<div class="layoutBody">
					{CONTAINER.1}
				</div>
			</div>
		</div>
		<div class="bottom"><span></span></div>
	</div>
</div>

<!-- END: content -->
