<!-- BEGIN: content -->
{ONYX_REQUEST_header #bo/component/page_header~node_id=GET.id~}

<!-- Gerneral Info -->
<div id="general-info"
	hx-get="/request/bo/component/x_general_info?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#general-info">
</div>

<fieldset>
    <legend style="display: none">Bin Contents</legend>
    <div class="row child" id="content-list-pages-wrapper" hx-get="/request/bo/component/bin_node_list" hx-target="#content-list-pages-wrapper" hx-trigger="refresh">
        {ONYX_REQUEST_page_list #bo/component/bin_node_list}
    </div>
</fieldset>

<!-- Visibility -->
<div id="visibility"
	hx-get="/request/bo/component/x_visibility?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#visibility">
</div>

<!-- Position -->
<div id="node-position"
	hx-get="/request/bo/component/x_node_position?node_id={GET.id}"
	hx-trigger="load, refresh"
	hx-indicator="#node-position">
</div>

<!-- Previous Versions -->
<div id="revision-list"
	hx-get="/request/bo/component/x_revision_list?node_id={GET.id}&object=common_node"
	hx-trigger="load, refresh"
	hx-indicator="#revision-list">
</div>
<!-- END: content -->
