<!-- BEGIN: content -->
<div class="basket-detail">
<!-- BEGIN: basket -->
<table>
    <thead>
        <tr>
            <th scope="col" class="product-detail">{I18N_PRODUCT_DETAIL}</th>
            <th scope="col" class="qty">{I18N_QTY}</th>
            <th scope="col" class="price">{I18N_PRICE}</th>
            <th scope="col" class="price net">Net</th>
            <th scope="col" class="vat">{I18N_VAT}<br/>@ {BASKET.delivery.vat_rate|number_format(%s, 0)}%</th>
            <th scope="col" class="total">{I18N_TOTAL}</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: item -->
        <tr class="item">
            <td class="product-detail"><a href="/product/{ITEM.product.id}" title="{ITEM.product.name|htmlspecialchars}">{ITEM.product.name|htmlspecialchars}</a> - {ITEM.product.variety.name|htmlspecialchars} ({ITEM.product.variety.sku|htmlspecialchars}) {ITEM.other_data|htmlspecialchars}</td>
            <td class="qty">{ITEM.quantity}</td>
            <td class="price">{ITEM.unit_price|money_format('%n',%s)}</td>
            <td class="price net">{ITEM.net|money_format('%n',%s)}</td>
            <td class="vat">{ITEM.vat|money_format('%n',%s)}</td>
            <td class="total">{ITEM.price|money_format('%n',%s)}</td>
        </tr>
        <!-- END: item -->
    </tbody>
    <tbody class="breakdown">
        <!-- BEGIN: face_value_voucher -->
        <tr class="face-value-voucher">
            <td class="title">{I18N_GIFT_VOUCHER_OF} {BASKET.face_value_voucher_claim|money_format('%n',%s)|str_replace('.00', '', %s)}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="money"> -{BASKET.face_value_voucher|money_format('%n',%s)}</td>
        </tr>
        <!-- END: face_value_voucher -->
        <!-- BEGIN: discount -->
        <tr>
            <td class="title">{I18N_SUB_TOTAL} {VAT_NOTE}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="money">{BASKET.sub_total.price|money_format('%n',%s)}</td>
        </tr>
        <!-- END: discount -->
        <!-- BEGIN: discount_fixed -->
        <tr>
            <td class="title">{I18N_DISCOUNT} {I18N_DISCOUNT_OF} {BASKET.discount_fixed_claim|money_format('%n',%s)|str_replace('.00', '', %s)}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="money"> -{BASKET.discount|money_format('%n',%s)}</td>
        </tr>
        <!-- END: discount_fixed -->
        <!-- BEGIN: discount_percentage -->
        <tr>
            <td class="title">{I18N_DISCOUNT} {I18N_DISCOUNT_OF} {BASKET.discount_percentage_claim|number_format(%s, 0)}%</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="money"> -{BASKET.discount|money_format('%n',%s)}</td>
        </tr>
        <!-- END: discount_percentage -->

        <tr class="delivery">
            <td class="title">{I18N_DELIVERY} {VAT_NOTE}</td>
            <td colspan="2"></td>
            <td class="money">{BASKET.delivery.value_net|money_format('%n',%s)}</td>
            <td class="money">{BASKET.delivery.vat|money_format('%n',%s)}</td>
            <td class="money">{BASKET.delivery.value|money_format('%n',%s)}</td>
        </tr>
        
        <tr class="total">
            <td class="title">{I18N_TOTAL}</td>
            <td colspan="4">&nbsp;</td>
            <td class="money">{BASKET.total|money_format('%n',%s)}</td>
        </tr>
    </tbody>
</table>
<!-- END: basket -->

<!-- BEGIN: empty -->
<p>{I18N_YOUR_BASKET_IS_EMPTY}</p>
<!-- END: empty -->

</div>

<!-- END: content -->
