<!-- BEGIN: head -->

<script type="text/javascript">  

	function cancelAllDialogs_{GET.node_id}() {

		var block = $('#address_edit_{GET.node_id}');
		var form = block.find('.address_form');
		var fielset = block.find('fieldset.alternative');

		form.hide();
		fielset.hide();
		block.find("p.buttons").show();
		block.find("fieldset.selected_address").show();
		block.find(".error").removeClass('error');
		block.find("p.buttons a").removeClass('open');

	}

	function selectAltAddress_{GET.node_id}() {

		var block = $('#address_edit_{GET.node_id}');
		var form = block.find('.address_form');
		var fielset = block.find('fieldset.alternative');

		if (block.find("p.buttons a.select_alt").hasClass('open')) {

			form.hide();
			fielset.slideUp(300);
			block.find("fieldset.selected_address").show();
			block.find("p.buttons a").removeClass('open');
			block.find(".error").removeClass('error');

		} else {

			block.find("p.buttons a").removeClass('open');
			block.find("p.buttons a.select_alt").addClass('open');
			block.find("fieldset.selected_address").show();
			form.hide();
			fielset.slideDown(300);

		}

	}

	function addNewAddress_{GET.node_id}() {

		var block = $('#address_edit_{GET.node_id}');
		var form = block.find('.address_form');
		var fielset = block.find('fieldset.alternative');

		// hide
		form.find('input[type=text]').val('');
		form.find('button.add_new_address').parent().parent().show();
		form.find('button.edit_selected_address').parent().parent().hide();
		form.find('h4.edit_title').hide();
		fielset.hide();
		block.find("p.buttons").hide();

		// show
		form.fadeIn(800);
		form.find('h4.add_title').show();

		// focus
		form.find("input:first").focus();
		$("html, body").animate({ scrollTop: block.offset().top - 120 }, 300);
		block.find("fieldset.selected_address").hide();
		resetForm_{GET.node_id}();

	}

	function editSelectedAddress_{GET.node_id}() {

		var block = $('#address_edit_{GET.node_id}');
		var form = block.find('.address_form');
		var fielset = block.find('fieldset.alternative');

		// hide
		form.find('button.edit_selected_address').parent().parent().show();
		form.find('button.add_new_address').parent().parent().hide();
		block.find("fieldset.selected_address").hide();
		fielset.hide();
		block.find("p.buttons").hide();
		form.find('h4.add_title').hide();

		// populate fields
		var selected = block.find("fieldset.selected_address").parent();
		form.find('input[type=text], select').each(function() {
			var input = $(this);
			var id = input.attr("id");
			var address_line = selected.find("span[class=" + id + "]");
			var val = address_line.text();
			if (id == 'client-address-country_id') val = address_line.attr("data-id");
			input.val(val);
		});

		// show
		form.fadeIn(800);
		form.find('h4.edit_title').show();

		// focus
		form.find("input:first").focus();
		$("html, body").animate({ scrollTop: block.offset().top - 120 }, 300);

		resetForm_{GET.node_id}();

	}

	function validateForm_{GET.node_id}() {

		var block = $("#address_edit_{GET.node_id}");

		block.validate({ 
			highlight: function(element, errorClass) {
				$(element).addClass("error").parent().prev().find('label').addClass("my_error");
			},
			unhighlight: function(element, errorClass) {
				$(element).removeClass("error").parent().prev().find('label').removeClass("my_error");
			},
			invalidHandler: function(event, validator) {
				var errors = validator.numberOfInvalids();
				var form = $('#registration_node_id_{GET.node_id}');
				if (errors) {
					form.prepend('<p class="error">Please Complete Required Fields</a>');
				} else {
					form.find('p.error').remove();
				}
			},
			errorPlacement: function(error, element) {
				// do not display individal errors 
			}
		});

	}

	function resetForm_{GET.node_id}() {

		var block = $("#address_edit_{GET.node_id}");
		block.find('.address_form p.error').remove();
		block.find('.address_form .error').removeClass("error");

	}

	$(document).ready(function(){

		validateForm_{GET.node_id}();

	});

</script>

<!-- END: head -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<!-- BEGIN: virtual_product -->
	<p>Delivery address is not required as you are only purchasing a virtual gift card.</p>
	<style type="text/css">
		div.checkout_address,
		div.delivery_option {display: none;}
	</style>
<!-- END: virtual_product -->

<div class="checkout_address">

	<h3><span>{TYPE} Address</span></h3>

	<div class="bottom_clear"></div>

	<!-- BEGIN: deliver_to_billing -->
	<form action="{URI_SAFE|htmlspecialchars}" method="post" class="twoColumns">	
		<input type="hidden" name="action" value="update_deliver_to_billing"/>
		<label>
			<input id="deliver_checkbox" type="checkbox" name="deliver_to_billing" {CHECKED} onclick="$(this).parents('.pageWrapper').css('opacity', 0.3).css('cursor', 'wait'); submit()" value="1"/>
			Deliver to Billing Address
		</label>
	</form>
	<script type="text/javascript">
		$(function() { 
			var checkbox = $('#deliver_checkbox');
			if (checkbox.is(":checked")) $('#address_edit_{GET.node_id}').hide(); 
		});
	</script>
	<!-- END: deliver_to_billing -->

	<form action="{URI_SAFE|htmlspecialchars}" method="post" id="address_edit_{GET.node_id}" class="twoColumns">	
	
	<input type="hidden" name="node_id" value="{GET.node_id}"/>

	<div class="address_list">

		<div class="selection_block">

			<fieldset class="single selected_address">

				<!-- BEGIN: selected_address -->
				<h4>Selected {TYPE} Address:</h4>
				<table class="selected_address">
					<tr><td><label class="bold">Name</label></td><td><span class="client-address-name">{ADDRESS.name|htmlspecialchars|suffix(%s,'<br/>')}</span></td></tr>
					<tr><td><label class="bold">{TYPE} Address</label></td><td>
						<span class="client-address-line_1">{ADDRESS.line_1|htmlspecialchars|suffix(%s,'<br/>')}</span>
						<span class="client-address-line_2">{ADDRESS.line_2|htmlspecialchars|suffix(%s,'<br/>')}</span>
						<span class="client-address-line_3">{ADDRESS.line_3|htmlspecialchars}</span>
					</td></tr>
					<tr><td><label class="nobold">City</label></td><td><span class="client-address-city">{ADDRESS.city|htmlspecialchars|suffix(%s,'<br/>')}</span></td></tr>
					<tr><td><label class="nobold">Post Code</label></td><td><span class="client-address-post_code">{ADDRESS.post_code|htmlspecialchars|suffix(%s,'<br/>')}</span></td></tr>
					<tr><td><label class="nobold">County / State</label></td><td><span class="client-address-county">{ADDRESS.county|htmlspecialchars|suffix(%s,'<br/>')}</span></td></tr>
					<tr><td><label class="nobold">Country</label></td><td><span class="client-address-country_id" data-id="{ADDRESS.country_id}">{ADDRESS.country.name|htmlspecialchars|suffix(%s,'<br/>')}</span></td></tr>
				</table>
				<!-- END: selected_address -->

			</fieldset>

			<div class="bottom"></div>

			<div class="address_form" style="display: none;">
				
					<h4 class="add_title">Add A New {TYPE} Address::</h4>
					<h4 class="edit_title">Edit Current {TYPE} Address:</h4>
					<fieldset>
						<div class="row name">
							<span class="label"><label for="client-address-name"><span class="mandatory-mark">*</span> Name:</label></span>
							<span class="field"><input class="text required" type="text" name="client[address][name]" value="{client.address.name}" id="client-address-name" maxlength="32" /></span>
						</div>
						<div class="row line_1">
							<span class="label"><label for="client-address-line_1"><span class="mandatory-mark">*</span> {TYPE} Address:</label></span>
							<span class="field"><input class="text required" type="text" name="client[address][line_1]" value="{client.address.line_1}" id="client-address-line_1" maxlength="32"/></span>
						</div>
						<div class="row line_2">
							<span class="label"><label for="client-address-line_2">&nbsp;</label></span>
							<span class="field"><input class="text" type="text" name="client[address][line_2]" value="{client.address.line_2}" id="client-address-line_2" maxlength="32"/></span>
						</div>
						<div class="row line_3">
							<span class="label"><label for="client-address-line_3">&nbsp;</label></span>
							<span class="field"><input class="text" type="text" name="client[address][line_3]" value="{client.address.line_3}" id="client-address-line_3" maxlength="32"/></span>
						</div>
						<div class="row city">
							<span class="label"><label for="client-address-city"><span class="mandatory-mark">*</span> {I18N_CITY}:</label></span>
							<span class="field"><input class="text required" type="text" name="client[address][city]" value="{client.address.city}" id="client-address-city" maxlength="32"/></span>
						</div>
						<div class="row post_code">
							<span class="label"><label for="client-address-post_code"><span class="mandatory-mark">*</span> {I18N_POST_CODE}:</label></span>
							<span class="field"><input class="text post_code required" type="text" name="client[address][post_code]" value="{client.address.post_code}" id="client-address-post_code" maxlength="10"/></span>
						</div>
						<div class="row county">
							<span class="label"><label for="client-address-county">{I18N_COUNTY}:</label></span>
							<span class="field"><input class="text" type="text" name="client[address][county]" value="{client.address.county}" id="client-address-county" maxlength="32"/></span>
						</div>
						<div class="row country_id">
							<span class="label"><label for="client-address-country_id"><span class="mandatory-mark">*</span> {I18N_STATE}:</label></span>
							<!-- BEGIN: country -->
							<span class="field">
								<select name="client[address][country_id]" id="client-address-country_id" style="width: 170px;">
								<!-- BEGIN: item -->
									<option value="{country.id}" {country.selected}>{country.name}</option>
								<!-- END: item -->
								</select>
								<!-- BEGIN: delivery_nb -->
								<br/>
								<small>We can only deliver to the above list of countries.</small>
								<!-- END: delivery_nb -->
							</span>
							<!-- END: country -->
						</div>
						
						<div class="row submit">
							<span class="label"><label>&nbsp;</label></span>
							<span class="field">
								<button class="add_new_address" type="submit" name="add_address" value="add_address"><span>Confirm {TYPE} Address</span></button>
								or <a class="cancel_button" href="#" onclick="cancelAllDialogs_{GET.node_id}(); return false;">Cancel</a>
							</span>
						</div>

						<div class="row submit">
							<span class="label"><label>&nbsp;</label></span>
							<span class="field">
								<button class="edit_selected_address" type="submit" name="edit_address" value="1"><span>Confirm {TYPE} Address</span></button>
								or <a class="cancel_button" href="#" onclick="cancelAllDialogs_{GET.node_id}(); return false;">Cancel</a>
							</span>
						</div>

					</fieldset>
			</div>

		</div>

		<div class="bottom"></div>

		<p class="buttons">
			<a href="#" onclick="editSelectedAddress_{GET.node_id}(); return false;" class="edit_selected"><span>Edit Selected Address</span></a>
			<a href="#" onclick="selectAltAddress_{GET.node_id}(); return false;" class="select_alt"><span>Select an Alternative Address</span></a>
		</p>

		<fieldset class="alternative">

			<select name="selected_address_id" onchange="$(this).parents('.pageWrapper').css('opacity', 0.3).css('cursor', 'wait'); submit()">
				<!-- BEGIN: address -->
				<option value="{ADDRESS.id}" {ADDRESS_selected}>
					{ADDRESS.name|htmlspecialchars}, 
					{ADDRESS.line_1|htmlspecialchars|suffix(%s,'\, ')} 
					{ADDRESS.city|htmlspecialchars|suffix(%s,'\, ')} 
					{ADDRESS.post_code|htmlspecialchars|suffix(%s,'\, ')} 
					{ADDRESS.county|htmlspecialchars|suffix(%s,'\, ')} 
					{ADDRESS.country.name|htmlspecialchars}
				</option>
				<!-- END: address -->
			</select>

		</fieldset>

		<p class="buttons">
			<a href="#" onclick="addNewAddress_{GET.node_id}(); return false;" class="add_new"><span>Add a New {TYPE} Address</span></a>
		</p>

		<div class="bottom"></div>

	</div>
	
	</form>

</div>


<!-- END: content -->
