<!-- BEGIN: content -->
{MESSAGES}

<div class="delivery-option">
    <form class="delivery-option" action="{URI|htmlspecialchars}#node-id-{GET.node_id}" method="post">
        <fieldset class="single">
            <legend>Delivery Option</legend>
            <div class="row type">
                <span class="label"><label for="delivery-carrier-id">Delivery Method</label></span>
                <span class="field">
                    <select name="delivery[carrier_id]" id="delivery-carrier-id" onchange="submit()">
                        <!-- BEGIN: item -->
                        <option value="{ITEM.id}" {ITEM.selected}>{ITEM.title}</option>
                        <!-- END: item -->
                    </select>
                </span>
            </div>
            <!-- 
            <div class="row required_datetime">
                <span class="label"><label for="delivery-required-datetime">Required Date</label></span>
                <span class="field">
                    <input type="text" name="delivery[required_datetime]" value="{DELIVERY.required_datetime}" id="delivery-required-datetime" />
                </span>
            </div>
             -->
             
        </fieldset>
        
        <div class="row submit">
            <span class="label"><label>&nbsp;</label></span>
            <span class="field"><button type="submit" class="submit" name="change" value="change"><span>Change Delivery</span></button></span>
        </div>
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>
<!-- END: content -->
