<!-- BEGIN: content -->
<div class="gift_voucher">
	<div class="gift_voucher_wrapper">
		<p id="gift_voucher-variety_name">{GIFT_VOUCHER.variety_name|htmlspecialchars}</p>
		<p id="gift_voucher-variety_description">{GIFT_VOUCHER.variety_description|strip_tags|htmlspecialchars}</p>
		<p id="gift_voucher-recipient_name">{GIFT_VOUCHER.recipient_name|htmlspecialchars}</p>
		<p id="gift_voucher-message">{GIFT_VOUCHER.message|htmlspecialchars}</p>
		<p id="gift_voucher-sender_name">{GIFT_VOUCHER.sender_name|htmlspecialchars}</p>
	</div>
</div>
<!-- END: content -->
