<!-- BEGIN: content -->
<div class="gift-voucher">
    <div class="gift-voucher-wrapper">
        <p id="gift-voucher-variety-name">{GIFT_VOUCHER.variety_name|htmlspecialchars}</p>
        <p id="gift-voucher-variety-description">{GIFT_VOUCHER.variety_description|strip_tags|htmlspecialchars}</p>
        <p id="gift-voucher-recipient-name">{GIFT_VOUCHER.recipient_name|htmlspecialchars}</p>
        <p id="gift-voucher-message">{GIFT_VOUCHER.message|htmlspecialchars}</p>
        <p id="gift-voucher-sender-name">{GIFT_VOUCHER.sender_name|htmlspecialchars}</p>
    </div>
</div>
<!-- END: content -->
