<!-- BEGIN: content -->
{MESSAGES}
<div class="invoice_detail">
	<!-- BEGIN: invoice -->
	<table>
		<caption>Invoice #{INVOICE.id}</caption>
		<tbody>
			<tr><td>Created</td><td>{INVOICE.created}</td></tr>
			<tr><td>Goods net</td><td class="money">{INVOICE.goods_net|money_format('%n', %s)}</td></tr>
			<tr><td>Goods VAT standard rate</td><td class="money">{INVOICE.goods_vat_sr|money_format('%n', %s)}</td></tr>
			<tr><td>Goods VAT reduced_rate</td><td class="money">{INVOICE.goods_vat_rr|money_format('%n', %s)}</td></tr>
			<tr><td>Delivery net</td><td class="money">{INVOICE.delivery_net|money_format('%n', %s)}</td></tr>
			<tr><td>Delivery VAT</td><td class="money">{INVOICE.delivery_vat|money_format('%n', %s)}</td></tr>
			<tr><td>Voucher Discount</td><td class="money">{INVOICE.voucher_discount|money_format('%n', %s)}</td></tr>
		</tbody>
		<tfoot>
			<tr><td>Total payment amount</td><td class="money">{INVOICE.payment_amount|money_format('%n', %s)}</td></tr>
		</tfoot>
	</table>
	<!-- END: invoice -->
	
	<div style="clear: both" class="extended_toolbar">
		<!-- BEGIN: print_invoice -->
		<a class="button print_invoice" target="_blank" href="/print/invoice/{INVOICE.order_id}"><span>{I18N_PRINT_INVOICE}</span></a>
		<!-- END: print_invoice -->
		<!-- BEGIN: print_invoice_proforma -->
		<a class="button print_invoice_proforma" target="_blank" href="/print/invoice_proforma/{INVOICE.order_id}"><span>{I18N_PRINT_PROFORMA_INVOICE}</span></a>
		<!-- END: print_invoice_proforma -->
	</div>
</div>
<!-- END: content -->
