<!-- BEGIN: content -->
{MESSAGES}
<div class="order_detail">
	<h3>{I18N_ORDER} #{ORDER.id} {I18N_CREATED} {ORDER.created}</h3>
	
	<p class="actions extended_toolbar">
		<!-- BEGIN: make_payment -->
		<a class="button make_payment" href="/page/{NODE_CONF.id_map-payment}?order_id={GET.order_id}&amp;code={ORDER_CODE}"><span>{I18N_BUTTON_MAKE_PAYMENT}</span></a>
		<!-- END: make_payment -->
		<a class="button repeat_order" href="/page/{NODE_CONF.id_map-basket}?populate_basket_from_order_id={GET.order_id}"><span>{I18N_BUTTON_REPEAT_ORDER}</span></a>
		<!-- BEGIN: print_invoice -->
		<a class="button print_invoice" href="/print/invoice/{GET.order_id}?code={ORDER_CODE}"><span>{I18N_BUTTON_PRINT_ORDER}</span></a>
		<!-- END: print_invoice -->
	</p>
	
	{BASKET_DETAIL}
	
	<div class="twoColumnLayout layout">
		<div class="layoutWrapper">
			<div class="top"><span></span></div>
			<div class="layoutContent">
				<div class="layoutContentWrapper">
					<div class="layoutColumnOne ofTwo">
						<div class="layoutColumnWrapper">
							{ADDRESS_DELIVERY}
						</div>
					</div>
					<div class="layoutColumnTwo ofTwo">
						<div class="layoutColumnWrapper">
							{ADDRESS_INVOICES}
						</div>
					</div>
				</div>
			</div>
			<div class="bottom"><span></span></div>
		</div>
	</div>
	
	<pre>{ORDER.note_customer|htmlspecialchars}</pre>
	
	<!-- BEGIN: other_data -->
	<div class="other_data">
		<h3>{I18N_OTHER_DATA}</h3>
		<p>
		<!-- BEGIN: item -->
			<strong>{OTHER_DATA.key|htmlspecialchars}:</strong> {OTHER_DATA.value|htmlspecialchars}<br />
		<!-- END: item -->
		</p>
	</div>
	<!-- END: other_data -->
</div>
<!-- END: content -->
