<!-- BEGIN: content -->
<div class="payment">

	{MESSAGES}
	
	<!-- BEGIN: google_analytics -->
	<script type="text/javascript">
	
	  _gaq.push(['_addTrans',
	    '{ORDER.id}',           // order ID - required
	    '{CONFIGURATION.global.title|addslashes}',  // affiliation or store name
	    '{ORDER.basket.total}',          // total - required
	    '{ORDER.basket.total_vat}',           // tax
	    '{ORDER.basket.delivery.value_net}',              // shipping
	    '{ORDER.address.delivery.city|addslashes}',       // city
	    '{ORDER.address.delivery.city|addslashes}',     // state or province
	    '{ORDER.address.delivery.country.name|addslashes}'             // country
	  ]);
	
	   // add item might be called for every item in the shopping cart
	   // where your ecommerce engine loops through each item in the cart and
	   // prints out _addItem for each
	   <!-- BEGIN: item -->
	  _gaq.push(['_addItem',
	    '{ORDER.id}',           // order ID - required
	    '{ITEM.product.variety.sku|addslashes}',           // SKU/code - required
	    '{ITEM.product.name|addslashes}',        // product name
	    '{ITEM.product.variety.name|addslashes}',   // category or variation
	    '{ITEM.price}',          // unit price - required
	    '{ITEM.quantity}'               // quantity - required
	  ]);
	  <!-- END: item -->
	  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers
	
	</script>
	<!-- END: google_analytics -->
	
	<!-- BEGIN: google_adwords -->
	<!-- Google Code for Purchase/Sale Conversion Page -->
	<script type="text/javascript">
	var google_conversion_id = {CONFIGURATION.global.google_adwords};
	var google_conversion_language = "en";
	var google_conversion_format = "1";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "purchase";
	var google_conversion_value = 0;
	</script>
	<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/{CONFIGURATION.global.google_adwords}/?label=purchase&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
	<!-- END: google_adwords -->
	
	<!-- BEGIN: shareasale -->
	<img src="https://shareasale.com/sale.cfm?amount={ORDER.basket.total}>&tracking={ORDER.id}&transtype=sale&merchantID={SHARE_A_SALE_MERCHANT_ID}" width="1" height="1">
	<!-- END: shareasale -->
	
	{RESULT}
	
	<!-- BEGIN: nil_payment -->
	<style type="text/css">
	a.make_payment,
	a.repeat_order {display: none;}
	</style>
	<p>Payment is not required.</p>
	<!-- END: nil_payment -->
	
	{ONXSHOP_REQUEST_order_detail #component/ecommerce/order_detail&amp;id=GET.order_id}

</div>
<!-- END: content -->
