<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div class="product_list_5columns product_list image_role_{IMAGE_ROLE}">
		<div class="top">
			{SORTING}
		</div>
	
		<!-- BEGIN: item -->
		<div class="item {ITEM.odd_even_class} {ITEM.first_last_class} {ITEM.taxonomy_class} product_id_{ITEM.id}">
			
			<div class="image"><a href="/page/{ITEM.node_id}" title="{ITEM.product_name|htmlspecialchars}"><span class="roundel"></span><img src="/thumbnail/{IMAGE_WIDTH}x{IMAGE_WIDTH}/{ITEM.image_src}" alt="{ITEM.image_title|htmlspecialchars}" /></a></div>
			<h3 class="name"><a href="/page/{ITEM.node_id}" title="{ITEM.product_name|htmlspecialchars}"><span>{ITEM.product_name|htmlspecialchars}</span></a></h3>
			<!-- BEGIN: highlight -->
			<div class="highlight">
				<!-- BEGIN: star --><div class="star"><span>*</span></div><!-- END: star -->
				<div class="text">{HIGHLIGHT_TEXT}</div>
			</div>
			<!-- END: highlight -->
			<div class="price">
				<p><a href="/page/{ITEM.node_id}" title="{ITEM.product_name|htmlspecialchars}">{I18N_PRICE_FROM} <span class="price">{ITEM.price|money_format('%n', %s)}</span> {I18N_PRICE_FOR} <span class="variety_name">{ITEM.variety_name|htmlspecialchars}</span></a></p>
			</div>
			
		</div>

			<!-- BEGIN: divider -->
			<div class="divider"><hr /></div>
			<!-- END: divider -->
			
		<!-- END: item -->
	
		<div class="bottom">
		{PAGINATION}
		</div>
</div>
<!-- END: content -->