
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div class="product_list_2columns product_list image_role_{IMAGE_ROLE}">
		<div class="top">
			{PAGINATION}
			{SORTING}
		</div>
	
		<!-- BEGIN: item -->
		<div class="item {ITEM.odd_even_class} {ITEM.first_last_class} {ITEM.taxonomy_class}">
			<a href="/page/{ITEM.node_id}" title="{ITEM.product_name|htmlspecialchars}">
			<div class="image"><span class="roundel"></span><img src="/thumbnail/{IMAGE_WIDTH}x{IMAGE_WIDTH}/{ITEM.image_src}" alt="{ITEM.image_title|htmlspecialchars}" /></div>
			<h3 class="name"><span>{ITEM.product_name|htmlspecialchars}</span></h3>
			<!-- BEGIN: highlight -->
			<div class="highlight">
				<!-- BEGIN: star --><div class="star"><span>*</span></div><!-- END: star -->
				<div class="text">{HIGHLIGHT_TEXT}</div>
			</div>
			<!-- END: highlight -->
			<div class="price">
				<p>{I18N_PRICE_FROM} <span class="price">{ITEM.price|money_format('%n', %s)}</span> {I18N_PRICE_FOR} <span class="variety_name">{ITEM.variety_name|htmlspecialchars}</span></p>
			</div>
			</a>
		</div>

		<!-- BEGIN: divider -->
		<div class="divider"><hr /></div>
		<!-- END: divider -->
		<!-- END: item -->
	
		<div class="bottom">
		{PAGINATION}
		</div>
</div>
<!-- END: content -->
