<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="product_detail">
	<div class="top"><span></span></div>

		<div class="image">{PRODUCT_IMAGE}</div>
		<div class="teaser">{PRODUCT.teaser}</div>
		<div class="varieties_list">
			<div class="top"><span></span></div>
      		<div class="content">
      			{VARIETY_LIST}
			</div>	
			<div class="bottom"><span></span></div>
		</div>
		<div class="description">{PRODUCT.description}</div>

	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->