<!-- BEGIN: content -->
{MESSAGES}

<div class="product_list">
		<div class="top">
			{SORTING}
		</div>
		
	<!-- BEGIN: itemtop -->
	<div class="item {ITEM.odd_even_class} {ITEM.taxonomy_class} product_id_{ITEM.id}">
		<div class="image">
			<a href="/page/{ITEM.node_id}" title="{ITEM.product_name|htmlspecialchars}"><span class="roundel"></span><img src="/thumbnail/{IMAGE_WIDTH}/{ITEM.image_src}" alt="{ITEM.image_title|htmlspecialchars}" /></a>
		</div>
		
		<div class="description">
			<h3 class="name"><a href="/page/{ITEM.node_id}"><span>{ITEM.product_name|htmlspecialchars}</span></a></h3>
			<div class="teaser">{ITEM.product_teaser}</div>
		</div>

		<div class="detail">
			<p class="stock">On Stock <span class="stock">{ITEM.stock}</span> items</p>
			<p class="variety">{I18N_PRICE_FROM} <span class="price">{ITEM.price|money_format('%n', %s)}</span> {I18N_PRICE_FOR} <span class="variety_name">{ITEM.variety_name|htmlspecialchars}</span></p>
			<p class="more_details"><a class="button more_details" href="/page/{ITEM.node_id}" title="{ITEM.product_name|htmlspecialchars}"><span>{I18N_MORE_DETAILS}</span></a></p>
		</div>
		<div class="bottom"><span></span></div>
	</div>
	<!-- BEGIN: divider -->
	<div class="divider"><hr /></div>
	<!-- END: divider -->
		
	<!-- END: itemtop -->
	<div class="bottom">
		{PAGINATION}
	</div>
</div>

<p>&nbsp;</p>

<!-- BEGIN: 3col -->
<div class="product_list_3columns product_list">
		<!-- BEGIN: item -->
		<div class="item {ITEM.odd_even_class} {ITEM.taxonomy_class} product_id_{ITEM.id}">
			<a href="/page/{ITEM.node_id}" title="{ITEM.product_name|htmlspecialchars}">
			
				<div class="col1" style="float: left; padding-top: 1em;">
					<div class="image" style="width: 100px"><span class="roundel"></span><img src="/thumbnail/{IMAGE_WIDTH}/{ITEM.image_src}" alt="{ITEM.image_title|htmlspecialchars}" /></div>
				</div>
				<div class="col2" style="float: right; width: 100px;">
					<h3 class="name"><span>{ITEM.product_name|htmlspecialchars}</span></h3>
					<div class="teaser"><p>{ITEM.product_teaser|strip_tags|substr(0,50)}</p></div>
					<div class="price">
						<p>{I18N_PRICE_FROM} <span class="price">{ITEM.price|money_format('%n', %s)}</span> {I18N_PRICE_FOR} <span class="variety_name">{ITEM.variety_name|htmlspecialchars}</span></p>
					</div>
				</div>
			</a>
		</div>

		<!-- BEGIN: divider -->
		<div class="divider"><hr /></div>
		<!-- END: divider -->
			
		<!-- END: item -->
	
		<div class="bottom">
		{PAGINATION}
		</div>
</div>
<!-- END: 3col -->
<!-- END: content -->