<!-- BEGIN: content -->
{MESSAGES}

<div class="recipe_list recipe_list_4columns">

	<!-- BEGIN: layout -->
	<div class="fourColumnLayout">
		<!-- BEGIN: item -->
		<div class="layoutColumn{COLUMN_NUM} ofFour">
			<div class="item {ITEM.taxonomy_class}">
				<div class="image">
					<!-- BEGIN: image --><a href="/page/{ITEM.page.id}" title="{ITEM.title|htmlspecialchars}"><img src="/thumbnail/230x130/{ITEM.image.src}?fill=1" alt="{ITEM.image.title|htmlspecialchars}" /></a><!-- END: image -->
				</div>	
				<h3 class="name"><a href="/page/{ITEM.page.id}" title="{ITEM.recipe.name|htmlspecialchars}"><span>{ITEM.title|htmlspecialchars}</span></a></h3>
			</div>
		</div>
		<!-- END: item -->
	</div>
	<!-- END: layout -->
	<div class="bottom"></div>
	{PAGINATION}
	<div class="bottom"></div>

</div>
<!-- END: content -->
