<!-- BEGIN: content -->
<div class="recipe-list-stack stack-list">
    <div class="list">
        <!-- BEGIN: item --><div class="item {ITEM.taxonomy_class} recipe-id-{ITEM.id}">
            <a href="/page/{ITEM.page.id}">
                <div class="image"><span class="wrap"><img src="{IMAGE_PATH}{ITEM.image.src}{IMAGE_RESIZE_OPTIONS}" alt="{ITEM.image.title|htmlspecialchars}" /></span></div>
                <div class="info">
                    <div class="wrap">
                        <h4 class="title"><span>{ITEM.title|htmlspecialchars}</span></h4>
                        <div class="description">{ITEM.description|html2text(%s, 1)}</div>
                    </div>
                </div>
            </a>
        </div><!-- END: item -->
    </div>
    {PAGINATION}
    
</div>
<!-- END: content -->
