<!-- BEGIN: content -->

{MESSAGES}

<h2>Your £{DISCOUNT_VALUE} Vouchers</h2>

<!-- BEGIN: friends_list_empty -->
<p>Once your invitation has been accepted your {CONFIGURATION.global.title|htmlspecialchars} vouchers will appear here.</p>
<!-- END: friends_list_empty -->

<!-- BEGIN: vouchers_list -->
<div id="reward-list">
<!-- BEGIN: item -->
<p class="vouchers-list item">
    <input type="text" readonly="readonly" onclick="this.select()" class="code-input {ITEM.used_class}" value="{ITEM.code_pattern|htmlspecialchars}" />
    <!-- BEGIN: received -->
    <small>Received {ITEM.created|strtotime|date('d/m/Y', %s)}</small>
    <!-- END: received -->
    <!-- BEGIN: redeemed -->
    <small>Redeemed {ITEM.redeemed|strtotime|date('d/m/Y', %s)}</small>
    <!-- END: redeemed -->
</p>
<!-- END: item -->
</div>

<!-- END: vouchers_list -->

<!-- END: content -->
