<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<!-- BEGIN: valid_code -->
<div class="referrals">

	<h1>Welcome to JING Tea</h1>

	<p>At JING, we hand-source exceptional teas from the world’s finest tea growing regions and design modern and elegant JING wares specifically to infuse our teas.</p>

	<p>As a new customer we would like to offer you <strong>{PROMOTION.discount_fixed_value|money_format('%n',%s)} off the first order</strong> you place with us. Your new personal discount code is <span class="code_input">{PROMOTION.code_pattern|htmlspecialchars}</span></p>

	<p>Simply start browsing our site, adding the items you want to your basket. Our New Tea to Tea section is a great place to start. Register a new JING account and remember to enter your discount code at the checkout.</p>

	<p><strong>{PROMOTION.limit_to_order_amount|money_format('%n',%s)} Minimum order value</strong> for your code (including delivery).</p>

</div>
<br/>
<!-- END: valid_code -->

<!-- BEGIN: invalid_code -->

<div class="referrals">

	<h1>Welcome to JING Tea</h1>

	<p>At JING, we hand-source exceptional teas from the world’s finest tea growing regions and design modern and elegant JING wares specifically to infuse the tea we produce.</p>

	Unfortunately your discount {GET.code|strtoupper|htmlspecial_chars} is not valid.

</div>
<br/>
<!-- END: invalid_code -->

<!-- END: content -->
