<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div class="referrals">

	<!-- BEGIN: referral_generator -->

	{ONXSHOP_REQUEST_referral_generator #component/ecommerce/referral_generator}

	<!-- END: referral_generator -->

	<!-- BEGIN: my_referrals -->

	<div class="node node_group-layout my_referrals">
	<div class="node-layout-2columns">
	<div class="twoColumnLayout layout fibonacci-5-2">
	<div class="layoutWrapper">
		<div class="top"><span></span></div>
		<div class="layoutContent">
			<div class="layoutContentWrapper">
				<div class="layoutBody">
					<div class="layoutColumnOne ofTwo">
						<div class="layoutColumnWrapper">

							<h2 class="start_inviting">Start Inviting</h2>

							<p>Offer the below {DISCOUNT_VALUE|money_format('%n', %s)} voucher to friends and family to use on their first JING order.</p>

							<!-- BEGIN: promotion -->
								<input type="text" readonly="readonly" onclick="this.select()" class="code_input {PROMOTION.used_class}" value="{PROMOTION.code_pattern|htmlspecialchars}" />
								<br/>
							<!-- END: promotion -->

							<!-- BEGIN: no_referrals_available -->
								<p>Sorry, you have already invited your limit of {AVAILABLE_REFERRALS_PER_PERSON} friends.</p>
								<br/>
							<!-- END: no_referrals_available -->

							{ONXSHOP_REQUEST_referral_share #component/ecommerce/referral_share~promotion_id=GET.promotion_id~}

						</div>
					</div>
					<div class="layoutColumnTwo ofTwo">
						<div class="layoutColumnWrapper">

							{ONXSHOP_REQUEST_referral_list_rewards #component/ecommerce/referral_list_rewards}
							{ONXSHOP_REQUEST_referral_list_emails #component/ecommerce/referral_list_emails}
							{ONXSHOP_REQUEST_referral_list_joins #component/ecommerce/referral_list_joins}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>

	<script type="text/javascript">
		$(function() {
			if ($("#emailList .item").length > 5) {
				$("#emailList").append('<a href="#" onclick="return showMore(this)">Show More...</a>');
				$("#emailList .item:gt(4)").hide();
			}
			if ($("#friendList .item").length > 5) {
				$("#friendList").append('<a href="#" onclick="return showMore(this)">Show More...</a>');
				$("#friendList .item:gt(4)").hide();
			}
			if ($("#rewardList .item").length > 5) {
				$("#rewardList").append('<a href="#" onclick="return showMore(this)">Show More...</a>');
				$("#rewardList .item:gt(4)").hide();
			}
		});

		function showMore(a) {
			var msg = $(a).text();
			if (msg == "Show More...") {
				msg = "Minimise";
				$(a).text(msg).parent().find(".item").fadeIn(300);
			} else {
				msg = "Show More...";
				$(a).text(msg).parent().find(".item:gt(4)").fadeOut(300);
			}
			return false;
		}

	</script>

	<!-- END: my_referrals -->

</div>
<!-- END: content -->
