<!-- BEGIN: content -->
<div class='review_list'>
	<div class="top"><span></span></div>
	<!-- BEGIN: comment_list -->
	<ul class="comment">
		<!-- BEGIN: item -->
		<li class="{ITEM.odd_even_class}">
			<div class="item">
				<h4 class="linkname">{ITEM.title|htmlspecialchars}</h4>
				<p class="author">{ITEM.author_name|htmlspecialchars}, {ITEM.created|strtotime|strftime('%e %b %y', %s)}</p>
				<div class="highlight">
					{RATING_STARS}
				</div>
		
				<div class="content">{ITEM.content|htmlspecialchars|nl2br}</div>
				<!-- BEGIN: awaiting --><p>Awaiting moderator approval</p><!-- END: awaiting -->
				<div class="bottom"><span></span></div>
			</div>
			
		</li>
		<!-- END: item -->
	</ul>
	<!-- END: comment_list -->
	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->
