<!-- BEGIN: content -->
<style type="text/css">
div.product_list span.roundel {display: block; width: 60px; height: 60px;}
div.product div.productImage span.roundel {display: block; width: 120px; height: 120px;}
<!-- BEGIN: item -->
#site div.product_list.image_role_main div.item.product_id_{ITEM.product_id} div.image a span.roundel { background-image: url({ITEM.image}&width=60); }
#site div.product.product_id_{ITEM.product_id} div.productImage span.roundel { background-image: url({ITEM.image}&width=120); }
<!-- END: item -->
</style>
<!-- END: content -->
