<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="store_locator">
	<!-- BEGIN: map -->
	<div class="store_map">
		<script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;key={ONXSHOP_GOOGLE_API_KEY}"></script>
		<script src="/share/js/infobox.js"></script>
		<div id="mapCanvas"></div>

<script type="text/javascript">

	var map, infoWindow, savedPosition;

	function getDirections(lat, lng) {
		var url = "http://maps.google.com/?daddr=" + lat + "," + lng;
		if (savedPosition) {
			url += "&saddr=" + savedPosition.coords.latitude + "," + savedPosition.coords.longitude;
		}
		window.location.href = url;
	}

	$(function() {

		if (window.navigator && window.navigator.geolocation) {
			var timeoutVal = 10 * 1000 * 1000;
			window.navigator.geolocation.getCurrentPosition(
				processCurrentLocation, 
				errorCallback,
				{ enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
				);	
		}

		var initLatlng = new google.maps.LatLng({MAP.latitude|htmlspecialchars}, {MAP.longitude|htmlspecialchars});

		var mapOptions = {
		  zoom: 13,
		  center: initLatlng,
		  scrollwheel: false,
		  mapTypeId: google.maps.MapTypeId.ROADMAP,
		  mapTypeControlOptions: {
			mapTypeIds: []
			}
		}

		map = new google.maps.Map(document.getElementById('mapCanvas'), mapOptions);
		map.markers = map.markers || [];

		<!-- BEGIN: fit_to_bounds -->
		// fit and zoom map to bounds
		var bounds = new google.maps.LatLngBounds();
		bounds.extend(new google.maps.LatLng({BOUNDS.latitude.min}, {BOUNDS.longitude.min}));
		bounds.extend(new google.maps.LatLng({BOUNDS.latitude.max}, {BOUNDS.longitude.max}));
		  
		map.fitBounds(bounds);
		<!-- END: fit_to_bounds -->

		<!-- BEGIN: store_marker -->var marker = addMarker({STORE.latitude}, {STORE.longitude}, 
			'{STORE.title|addslashes}', '{STORE.image|addslashes}', {STORE.address|nl2br|json_encode},
			{STORE.opening_hours|nl2br|json_encode}, '{STORE.telephone|addslashes}', {STORE.node_id|addslashes}, {STORE.id|addslashes},
			'{STORE.url|addslashes}', {STORE.icon|addslashes}, {STORE.open|addslashes});
		<!-- END: store_marker -->

		function addMarker(latitude, longitude, name, image, address, opening_hours, telephone, node_id, store_id, url, icon, open) {

			var myLatlng = new google.maps.LatLng(latitude, longitude);

			var marker = new google.maps.Marker({
				position: myLatlng,
				title: name,
				icon: icon ? '/images/locator-pin.png' : '/images/locator-pin_active.png',
				image: image,
				node_id: node_id,
				store_id: store_id,
				address: address,
				opening_hours: opening_hours,
				telephone: telephone,
				url: url,
				map: map
			});

			if (open) displayStore(marker);

			map.markers.push(marker);

			google.maps.event.addListener(marker, 'click', function() {
				displayStore(marker, false);
				expandStoreByOnxshopId(marker.store_id);
				document.location.hash = '#list_item_' + marker.store_id;
			});
		}

	});

	function displayStore(marker, reload_store_list = true) {
		
		showInfoBox(marker);
		
		if (reload_store_list) {
			var latitude = localStorage.getItem('client-latitude');
			var longitude = localStorage.getItem('client-longitude');
			$('#store_list_container').load('/request/component/ecommerce/store_list~store_id=' + marker.store_id + ':client_geoposition[latitude]=' + latitude + ':client_geoposition[longitude]=' + longitude +'~');
		}
		
		if (history.pushState) history.pushState({ marker: marker.url }, marker.title, marker.url);
	}
    
	function showInfoBox(marker) {
		if (infoWindow) infoWindow.close();
		
		//count notices
		var notice_count = $('#storeNoticeboard div.item').length;
		
		if (notice_count > 0) {
		
			if (notice_count > 1) var notice_plural = 's';
			else var notice_plural = '';
			
			var notice_link = '<p class="notice"><a href="#storeNoticeboard" onclick=""><span class="title">Notice'+notice_plural+'</span> <span class="count">' + notice_count + '</span></a></p>';
		} else {
			var notice_link = '';
		}
		
		// get distance
		if (localStorage.getItem('client-latitude') && localStorage.getItem('client-longitude')) {
		    var d = distanceBetweenPoints(
				marker.position.lat(), 
				marker.position.lng(),
				localStorage.getItem('client-latitude'), 
				localStorage.getItem('client-longitude')
			);
			
			d = Math.round(d);
			
        } else {
            var d = false;
        }

		if (d) var distance_line = '<p class="distance">Distance ' + d + 'km</p>';
		else distance_line = '';
		
		infoWindow = new InfoBox({
			content: "<h3>" + marker.title + "</h3>" +
				'<p class="address">' + marker.address + '</p>' +
				distance_line +
				'<p class="image"><img src="/images/store-locator/locator-map-store.png"/></p>' +
				'<p class="directions"><a href="#" onclick="getDirections(' + marker.position.lat() + ', ' + marker.position.lng() + '); return false">Get Directions</a></p>' + notice_link,
			boxStyle: {
				background: "url('/images/store-locator/map-infoboxnew.png')",
				width: "280px",
				height: "171px"
			},
			closeBoxMargin: "13px 23px 2px 2px",
			closeBoxURL: "/images/map-infobox-close_button.png",
			pixelOffset: new google.maps.Size(-20, -200),
			infoBoxClearance: new google.maps.Size(0, 50)
		});
		infoWindow.open(map, marker);
	}

	function processCurrentLocation(position) {
		saveGeopositionToOnxshop(position);
		findNearestStore(position);
	}
	
	function saveGeopositionToOnxshop(position) {
		console.log(position);
		savedPosition = position;
		localStorage.setItem('client-latitude', position.coords.latitude);
		localStorage.setItem('client-longitude', position.coords.longitude);
	}
	
	function findNearestStore(position) {

		var minDistance = -1;
		var closest = -1;
		
		for (i = 0; i < map.markers.length; i++) {
			var marker = map.markers[i];
			var d = distanceBetweenPoints(
				marker.position.lat(), 
				marker.position.lng(),
				position.coords.latitude, 
				position.coords.longitude
			);
			if (closest == -1 || minDistance > d) {
				closest = i;
				minDistance = d;
			}

		}

		//map.markers[closest].setIcon('/images/locator-pin_active.png');
		if ('{GET.node_id}' == '1345') displayStore(map.markers[closest]);
	}

	function errorCallback(error) {

		var message = "";   

		switch (error.code) {
			case error.PERMISSION_DENIED:
				message = "This website does not have permission to use " + 
						  "the Geolocation API";
				break;
			case error.POSITION_UNAVAILABLE:
				message = "The current position could not be determined.";
				break;
			case error.PERMISSION_DENIED_TIMEOUT:
				message = "The current position could not be determined " + 
						  "within the specified timeout period.";            
				break;
		}

		if (message == "") {
			var strErrorCode = error.code.toString();
			message = "The position could not be determined due to " + 
					  "an unknown error (Code: " + strErrorCode + ").";
		}
		if (typeof console != 'undefined' && typeof console.log == 'function') console.log(message);
	}

	/**
	 * Calculate geographical distence between points on sphere
	 * http://en.wikipedia.org/wiki/Haversine_formula
	 */
	function distanceBetweenPoints(lat1, lng1, lat2, lng2) {
		var R = 6371; // equtarial radius
		var radLat1 = lat1 * (Math.PI / 180);
		var radLat2 = lat2 * (Math.PI / 180);
		var deltaLat = (lat2 - lat1) * (Math.PI / 180);
		var deltaLon = (lng2 - lng1) * (Math.PI / 180);
		var a = Math.sin(deltaLat / 2) * Math.sin(deltaLat / 2) +
				Math.sin(deltaLon / 2) * Math.sin(deltaLon / 2) * 
				Math.cos(radLat1) * Math.cos(radLat2);
		var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
		return R * c;
	}

</script>

	</div>
	<!-- END: map -->
</div>
<!-- END: content -->
