<!-- BEGIN: head -->
<script src='/share/js/jquery/plugins/jquery.customSelect.min.js'></script>
<!-- END: head -->
<!-- BEGIN: content -->

<div class="store-province-form dropdowns">

    <!-- BEGIN: county_dropdown -->
    <div>
        <select id="province-dropdown">
            <!-- BEGIN: province -->
            <optgroup label="{PROVINCE_NAME}">
                <!-- BEGIN: county -->
                <option value="{COUNTY.id}" data-href="/page/{COUNTY.id}" {COUNTY.selected}>{COUNTY.title|htmlspecialchars}</option>
                <!-- END: county -->
            </optgroup>
            <!-- END: province -->
        </select>
    </div>
    <!-- END: county_dropdown -->

    <div id="dublin-dropdown-wrapper">
        <!-- BEGIN: dublin_dropdown -->
        <select id="dublin-dropdown">
            <option value="" data-href="/page/{DUBLIN_PAGE_ID}">Dublin County</option>
            <!-- BEGIN: district -->
            <option value="{DISTRICT.id}" data-href="/page/{DISTRICT.id}" {DISTRICT.selected}>Dublin {DISTRICT.title|htmlspecialchars}</option>
            <!-- END: district -->
        </select>
        <!-- END: dublin_dropdown -->
    </div>

    <!-- BEGIN: store_dropdown -->
    <div>
        <select id="store-dropdown">
            <option value="">Select&nbsp;store&nbsp;&hellip;</option>
            <!-- BEGIN: store -->
            <option value="{STORE.id}" data-href="/page/{STORE.id}" {STORE.selected}>{STORE.title|htmlspecialchars}</option>
            <!-- END: store -->
        </select>
    </div>
    <!-- END: store_dropdown -->

    <div class="bottom"></div>
</div>

<script type="text/javascript">
    $(function() {

        // pre-select Dublin on locator home page
        if ('{GET.node_id}' == '{PROVINCE_ROOT_PAGE_ID}') {
            $("#store-province-form-wrapper").load('/request/component/ecommerce/store_province_form~store_node_id={DUBLIN_PAGE_ID}~');
            return;
        }

        $("div.store-province-form select").change(function() {
            var page_id = $(this).val();
            window.location = $(this).find("option:selected").attr("data-href");
        });

        $('div.store-province-form select').customSelect({mapClass: false, mapStyle: false});
        
        // hide Dublin dropdown if not necessary
        if ($("#province-dropdown").val() != {DUBLIN_PAGE_ID}) $("#dublin-dropdown-wrapper").hide();

    });

</script>

<!-- END: content -->
