<!-- BEGIN: content -->
<!-- BEGIN: list -->
<div class="store_nearby">
    <h3>Nearby Stores</h3>
    <div class="three-column-layout">
        <div class="layout-column-one of-three">
            <ul>
            <!-- BEGIN: column1 -->
                <li><a href="/page/{STORE.node_id}">{STORE.title}</a> <small>({STORE.distance})</small></li>
            <!-- END: column1 -->
            </ul>
        </div>
        <div class="layout-column-two of-three">
            <ul>
            <!-- BEGIN: column2 -->
                <li><a href="/page/{STORE.node_id}">{STORE.title}</a> <small>({STORE.distance})</small></li>
            <!-- END: column2 -->
            </ul>
        </div>
        <div class="layout-column-three of-three">
            <ul>
            <!-- BEGIN: column3 -->
                <li><a href="/page/{STORE.node_id}">{STORE.title}</a> <small>({STORE.distance})</small></li>
            <!-- END: column3 -->
            </ul>
        </div>
    </div>
</div>
<!-- END: list -->
<!-- END: content -->
