<!-- BEGIN: head -->
<style type="text/css">
@import url(/share/themes/jquery-ui/onxshop/jquery-ui.css);
</style>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Patrick+Hand|Gloria+Hallelujah|Architects+Daughter' rel='stylesheet' type='text/css'>
<!-- END: head -->
<!-- BEGIN: content -->
<div class="store_noticeboard">

	<!-- BEGIN: notice_list -->
	<h3>Community Noticeboard</h3>

	<div class="list_wrapper">
		<div class="list_wrapper_top"></div>
		<div class="items_wrapper">
			<!-- BEGIN: notice -->
			<div class="item">
				<div class="notice {NOTICE.classes}">
					{NOTICE.content}
				</div>
			</div>
			<!-- END: notice -->
			<div class="bottom"></div>
		</div>
		<div class="list_wrapper_bottom"></div>
		<div class="bottom"></div>
	</div>
	<!-- END: notice_list -->

	<!-- BEGIN: store_manager -->
	<a class="add_notice button" href="#" onclick="$(this).hide().next().slideDown(500); return false;">Add a Notice</a>

	<div class="add_notice">

		<div class="twoColumnLayout layout">
			<div class="layoutWrapper">
				<div class="layoutColumnOne ofTwo">
					<div class="layoutColumnWrapper">

						<h4>New Notice</h4>

						<form id="newNoticeForm" action="{URI|htmlspecialchars}#node_id_{GET.node_id}" method="post" enctype="multipart/form-data">

							<div class="row" id="notice_test">
								<label for="notice_test-input">Notice Text: *</label>
								<textarea name="notice[text]" id="notice_text-input" maxlength="170" required>{GET.notice.text}</textarea>
							</div>

							<div class="row" id="image">
								<label for="notice_image-input">Image:</label>
								<input id="notice_image-input" type="file" name="image" class="file" /> 
							</div>

							<div class="row" id="visible_from">
								<label for="notice_visible_from-input">Visible from: *</label>
								<input id="notice_visible_from-input" type="text" name="notice[visible_from]" maxlength="10" required placeholder="dd/mm/yyyy"/> 
							</div>

							<div class="row" id="visible_to">
								<label for="notice_visible_to-input">Visible to:</label>
								<input id="notice_visible_to-input" type="text" name="notice[visible_to]" maxlength="10" placeholder="dd/mm/yyyy"/> 
							</div>

							<div class="row" id="image">
								<a href="#" onclick="$('div.add_notice').slideUp(300); $('a.add_notice.button').show(); return false;">Cancel</a>
								&nbsp; &nbsp;
								<button type="submit">Submit</button>
							</div>

						</form>

					</div>
				</div>
				<div class="layoutColumnTwo ofTwo">
					<div class="layoutColumnWrapper notice_preview">

						<h4>Preview</h4>

						<p class="select">
							<a href="#" onclick="$('.notice_preview .notice').removeClass('notice_style_2 notice_style_3').addClass('notice_style_1'); return false;">Style 1</a> |
							<a href="#" onclick="$('.notice_preview .notice').removeClass('notice_style_1 notice_style_3').addClass('notice_style_2'); return false;">Style 2</a> |
							<a href="#" onclick="$('.notice_preview .notice').removeClass('notice_style_1 notice_style_2').addClass('notice_style_3'); return false;">Style 3</a>
							<br/>
							<small><em>Please note style is chosen at random.</em></small>
						</p>

						<div class="notice notice_style_1 notice_layout_less_text">
							<div class="date">DD/MM/YY</div>
							<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit volutpat.</div>
							<div class="image"></div>
						</div>

					</div>
				</div>
				<div class="bottom"><span></span></div>
			</div>
		</div>

	</div>

	<script type="text/javascript">

		$(function() {

			var textarea = $('.store_noticeboard textarea#notice_text-input');
			var image = $('.store_noticeboard input#notice_image-input');
			var visible_from = $('.store_noticeboard input#notice_visible_from-input');
			var visible_to = $('.store_noticeboard input#notice_visible_to-input');
			var imageAdded = false;

			visible_from.datepicker({firstDay: 1, dateFormat: 'dd/mm/yy'});
			visible_to.datepicker({firstDay: 1, dateFormat: 'dd/mm/yy'});

			$("#newNoticeForm").validate();  

			function updateText() {
				var value = textarea.val().replace(/\r|\n/g, '<br/>');
				var notice = $('.notice_preview div.notice div.text');
				notice.html(value);
				if (value.length < 65 && !imageAdded) {
					notice.parent().addClass('notice_layout_less_text');
				} else {
					notice.parent().removeClass('notice_layout_less_text');
				}
			}

			function updateDate() {
				var value = visible_from.val().replace(/\/20(\d\d)$/, '/$1');
				var date = $('.notice_preview div.notice div.date');
				date.html(value);
			}

			function updateImage() {
				var path = this.value;
				var ext = path.substring(path.lastIndexOf('.') + 1).toLowerCase();  
				var image = $('.notice_preview div.notice div.image');
				image.parent().removeClass('notice_layout_with_image');
				imageAdded = false;
				textarea.attr('maxlength', 170);

 				if (window.FormData !== undefined || ext == "gif" || ext == "jpeg" || ext == "jpg" || ext == "png") {
 					var preview = $('<img/>');
 					var file = this.files[0];
 					var reader = new FileReader();
 					reader.onload = function() {
 						preview.attr('src', reader.result);
 						image.html(preview);
 						image.parent().addClass('notice_layout_with_image');
 						imageAdded = true;
						textarea.attr('maxlength', 60);
						textarea.val(textarea.val().substr(0, 60));
 						updateText();
 					}
 					if (file) reader.readAsDataURL(file);
 					else image.html('');
 				}
				updateText();
			}

			textarea.keyup(updateText).change(updateText);
			image.keyup(updateImage).change(updateImage);
			visible_from.keyup(updateDate).change(updateDate);

		});

	</script>

	<!-- END: store_manager -->

</div>
<!-- END: content -->