<!-- BEGIN: content -->
{MESSAGES}
<div class="transaction-detail">
    <!-- BEGIN: transaction -->
    <table>
        <caption>Transaction #{TRANSACTION.id}</caption>
        <tbody>
            <tr><td>Created</td><td>{TRANSACTION.created}</td></tr>
            <tr><td>transId</td><td class="money">{TRANSACTION.pg_data.transId}</td></tr>
            <tr><td>transStatus</td><td class="money">{TRANSACTION.pg_data.transStatus}</td></tr>
            <tr><td>cardType</td><td class="money">{TRANSACTION.pg_data.cardType}</td></tr>
            <tr><td>authAmountString</td><td class="money">{TRANSACTION.pg_data.authAmountString}</td></tr>
        </tbody>
    </table>
    <!-- END: transaction -->

</div>
<!-- END: content -->
