<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<!-- BEGIN: variety -->
<div class="variety_list">
	<div class="top"><span></span></div>
	
	<div class="content">
		<form id="productform_{GET.product_id}" name="productform_{GET.product_id}" method="post" action="/page/{NODE_CONF.id_map-basket}">
		
			<!-- BEGIN: item -->
			<div class="item">
		
				<!-- BEGIN: onstock -->
				<div class="row onstock">
					<span class="field"><input name="add" type="radio" class="radio" value="{VARIETY.id}" id="variety_{VARIETY.id}" {VARIETY.checked} /></span>
					<span class="label"><label class="radio" for="variety_{VARIETY.id}"><span class="name">{VARIETY.name|htmlspecialchars}</span> <span class="price">{PRICE}</span></label></span>
				</div>
				<!-- END: onstock -->
		
				<!-- BEGIN: outofstock -->
				<div class="row outofstock">
					<span class="field"><input name="add" type="radio" class="radio" value="{VARIETY.id}" id="variety_{VARIETY.id}" {VARIETY.checked} disabled /></span> 
					<span class="label">
						<label class="radio" for="variety_{VARIETY.id}" title="{I18N_OUT_OF_STOCK}">
							<span class="name">{VARIETY.name|htmlspecialchars}</span>
							<span class="price">{PRICE}</span>
						</label>
					</span>
					<span class="outofstock_message">{I18N_OUT_OF_STOCK}</span>
				</div>
				<!-- END: outofstock -->
		
				<!-- BEGIN: special -->
				<div class="special">
					<span class="field"><input name="add" type="radio" class="radio" value="{VARIETY.id}" id="variety_{VARIETY.id}" {VARIETY.checked}/> 
					<span class="label"><label class="radio" for="variety_{VARIETY.id}"><span class="name">{VARIETY.name|htmlspecialchars}</span> <span class="price">{PRICE}</span></label></span>
					{I18N_PAYMENT_BY_CHEQUE_ONLY}
				</div>
				<!-- END: special -->
		
				<div class="description">{VARIETY.description}</div>
			</div>
		
			<!-- END: item -->
			
			{PRODUCT_OPTIONS}
		
			<input type="hidden" name="quantity" value="1" />
			
			<p class="add_to_basket"><button class="add_to_basket" type="submit" name="submit" value="submit"><span>{I18N_ADD_TO_BASKET}</span></button></p>
			
			<div class="bottom"><span></span></div>
		<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
	</div>
	<div class="bottom"><span></span></div>
</div>	
<!-- END: variety -->
<!-- END: content -->