<!-- BEGIN: content -->
{MESSAGES}

<div class="customer-group-add">
    <h2>Create new group</h2>
    <form id="customer-group-form" hx-post="{URI|htmlspecialchars}" style="max-width: 400px;" hx-on::after-request="popupMessage('#customer-list div.onyx-messages');makeAjaxRequest('#onyx-backoffice-wrapper', '/request/bo/pages/client/customers');">
        <div class="row group-name">
            <span class="label"><label>Name</label></span>
            <span class="field">
                <input type="text" class="title" required id="customer-group-name" name="customer-group[name]" value="{CUSTOMER_GROUP.name|htmlspecialchars}" />
            </span>
        </div>
        <p>For creating a group with filter options <a title="Create a new customers group using advanced filter" href="#" onclick="makeAjaxRequest('#customer-list div.page-content', '/request/bo/component/client/customer_filter'); return false;"><span>Use Advance Filter</span></a></p>
        <div class="row submit">
            <span class="field">
                <button class="save" type="submit" name="save" value="save" onclick="$(this).addClass('saving');"><span>Create</span></button>
            </span>
        </div>
        <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />  
    </form>
</div>
<!-- END: content -->
