<!-- BEGIN: recaptcha_field -->
<input type="hidden" name="g-recaptcha-response" class="g-recaptcha-response">
<script type="text/javascript">
  if (!window.injectReCaptchaToForm) {
    // load recaptcha library only once
    var script = document.createElement('script');
    script.src = 'https://www.google.com/recaptcha/api.js?render={ONYX_RECAPTCHA_PUBLIC_KEY}';
    document.head.append(script);

    // inject recaptcha response to the form
    window.injectReCaptchaToForm = function(form) {
      grecaptcha.ready(function() {
        grecaptcha.execute('{ONYX_RECAPTCHA_PUBLIC_KEY}', { action: 'submit' }).then(function(token) {
          var input = form.getElementsByClassName('g-recaptcha-response')[0];
          input.value = token;

          form.submit();
        });
      });
    }
  }
</script>
<!-- END: recaptcha_field -->
