<!-- BEGIN: title -->Intro<!-- END: title -->
<!-- BEGIN: content -->
<dl>
<dt><a href="/backoffice/advanced/configuration">Configuration</a></dt>
<dd>Edit interface for conf/ files.</dd>
<dt><a href="/backoffice/advanced/taxonomy">Categories</a></dt>
<dd>Taxonomy management.</dd>
<dt><a href="/backoffice/advanced/currency">Currency</a></dt>
<dd>Currency rate management.</dd>
<dt><a href="/backoffice/advanced/templates">Templates/CSS</a></dt>
<dd>Browse and edit templates and CSS.</dd>
<dt><a href="/backoffice/advanced/database">Database</a></dt>
<dd>Database management tools, export/import of data.</dd>
<dt><a href="/backoffice/advanced/media">Media Library</a></dt>
<dd>Browse your file system on the server.</dd>
<dt><a href="/backoffice/advanced/logs">Logs</a></dt>
<dd>Sessions log, system messages</dd>
<dt><a href="/backoffice/advanced/seo_manager">SEO manager</a></dt>
<dd>Easy to use link and page proporties manager, including 301 redirects.</dd>
<dt><a href="/backoffice/advanced/search_index">Search index</a></dt>
<dd>Maintainance of search index (currenly only triggers re-index of the whole site)</dd>
<dt><a href="/backoffice/advanced/scheduler">Scheduler</a></dt>
<dd>Display list of scheduled jobs</dd>
<dt><a href="/backoffice/advanced/tools">Tools</a></dt>
<dd>Backup, flush cache, generate URI</dd>
</dl>

<!-- END: content -->
