<!-- BEGIN: content -->
<div class="author-stats">
    <h4>Author Stats</h4>

    <form action="{URI|htmlspecialchars}" method="POST">
        <select name="customer_id" onchange="$(this).parents('form').submit();">
            <option value="0">Superuser</option>
            <!-- BEGIN: item -->
            <option value="{CUSTOMER.id}" {SELECTED}>{CUSTOMER.first_name|htmlspecialchars} {CUSTOMER.last_name} (id={CUSTOMER.id})</option>
            <!-- END: item -->
        </select>
        <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
    </form>

    <ul>
        <li>number of all nodes (total): {AUTHOR_STATS.common_node.total}</li>
        <li>number of all pages created: {AUTHOR_STATS.common_node.page}</li>
        <li>number of all layouts created: {AUTHOR_STATS.common_node.layout}</li>
        <li>number of all content created: {AUTHOR_STATS.common_node.content}</li>
        <li>number of pages created with description: {AUTHOR_STATS.common_node.page_description}</li>
        <li>number of pages type 'news' (blog) created: {AUTHOR_STATS.common_node.news}</li>
        <li>number of pages type 'recipe' created: {AUTHOR_STATS.common_node.recipe}</li>
        <li>number of pages type 'product' created: {AUTHOR_STATS.common_node.product}</li>
        <li>number of pages type 'store' created: {AUTHOR_STATS.common_node.store}</li>
        <li>revisions saved: {AUTHOR_STATS.common_revision.total}</li>
        <li>images uploaded and associated to nodes (total): {AUTHOR_STATS.common_image.total}</li>
        <li>images uploaded and associated to nodes (main): {AUTHOR_STATS.common_image.main}</li>
        <li>images uploaded and associated to nodes (teaser): {AUTHOR_STATS.common_image.teaser}</li>
        <li>images uploaded and associated to nodes (header): {AUTHOR_STATS.common_image.header}</li>
        <li>images uploaded and associated to nodes (feature): {AUTHOR_STATS.common_image.feature}</li>
        <li>images uploaded and associated to nodes (promotion): {AUTHOR_STATS.common_image.promotion}</li>
        <li>images uploaded and associated to nodes (background): {AUTHOR_STATS.common_image.background}</li>
        <li>images uploaded and associated to nodes (RTE): {AUTHOR_STATS.common_image.rte}</li>
        <li>images uploaded and associated to nodes (opengraph): {AUTHOR_STATS.common_image.opengraph}</li>
    </ul>
    
</div>
<!-- END: content -->
