<!-- BEGIN: content -->
{MESSAGES}
<div id="bin-list" class="root">
    <h2>Bin content ({COUNT})</h2>
    {ONYX_REQUEST_empty_trash #bo/component/bin_empty}
    <a href="#{GET.id}" class="fakelink"></a>
    <!-- BEGIN: children -->
    <table id="content-pages">
        <thead>
            <tr><th>Title</th><th>Removed on</th><th>Type</th><th>ID</th><th></th></tr>
        </thead>
        <tbody>
            <!-- BEGIN: item -->
            <tr id="node-id-{CHILD.id}" class="{CHILD.class}">
                <td><a class="{CHILD.class}" href="/backoffice/pages/{CHILD.id}" title="Modified: {CHILD.modified|htmlspecialchars}">{CHILD.title|htlmspecialchars}</a></td>
                <td>{REMOVED|htmlspecialchars}</td>
                <td>{CHILD.node_group}</td>
                <td>{CHILD.id}</td>
                <td>
                    <div class="onyx-edit-page">
                        <button class="onyx-delete action" title="Delete {CHILD.title}" onclick="deleteNode(event, '{CHILD.id}')"></button>
                    </div>
                </td>
            </tr>
            <!-- END: item -->
        </tbody>
    </table>

    <!-- END:children -->
    <!-- BEGIN: empty -->
    <p>This node contains no children</p>
    <!-- END: empty -->
    <p><button class="button add" title="Add Node" onclick="addNode(event, '{GET.id}', 'page', 'page')">Add Page</button></p>
</div>

<!-- END: content -->
