<!-- BEGIN: content -->
<script>
    // rewrite url on page select
    $(document).on('click', '.navigation-list li', function(e) {
        e.preventDefault();
        let newLink = window.location.origin + '/backoffice/content/' + $(this).attr('id').replace('navigation-node-', '');

        if(window.history.pushState) {
            window.history.pushState({}, $(this).find('span').html(), newLink);
        }
    });

    // TODO: might not work after rework - needs to be initialized after each htmx load?
    function initializeDragAndDrop() {
        draggableElements = document.querySelectorAll('li[draggable="true"]');
        dropZones = document.querySelectorAll('.drop-zone');

        dropZones.forEach((zone) => {
            zone.addEventListener("dragenter", (event) => {
                event.target.classList.add("drag-over");
            });

            zone.addEventListener("dragleave", (event) => {
                event.target.classList.remove("drag-over");
            });

            zone.addEventListener("dragover", (event) => {
                event.preventDefault(); // Necessary to allow drop
            });

            zone.addEventListener("drop", (event) => {
                event.target.classList.remove("drag-over");
                const position = event.target.getAttribute("data-position");
                const sourceId = event.dataTransfer.getData("source-id");
                const destinationId = event.target.getAttribute("data-parent-id");

                const sourceElement = document.getElementById('navigation-node-' + sourceId);
                
                if(sourceElement.nextElementSibling == event.target || sourceElement.previousElementSibling == event.target || sourceId == destinationId) {
                    return; // Do not allow moving to the same level
                }
                
                document.getElementById('navigation-loading').classList.add('htmx-request');

                moveDomObject(event);

                $.post(
                    "/request/bo/component/node_move", 
                    {
                        csrf_token: getCSRFToken(),
                        source_node_id: sourceId,
                        destination_node_id: destinationId,
                        position: position
                    }, 
                    function (data) {
                        popupMessage(data);

                        const sourceList = $('#navigation-node-' + sourceId).closest('ul');
                        const destinationList = $('.nav-list-' + destinationId);

                        if(sourceList.attr('id') != destinationList.attr('id')) {
                            htmx.trigger('#' + sourceList.attr('id'), 'navRefresh');
                            htmx.trigger('#' + destinationList.attr('id'), 'navRefresh');
                        } else {
                            htmx.trigger('#' + sourceList.attr('id'), 'navRefresh');
                        }
                        document.getElementById('navigation-loading').classList.remove('htmx-request');
                    }
                );
            });
        });

        draggableElements.forEach((element) => {
            element.addEventListener("dragstart", (event) => {
                event.dataTransfer.setData("source-id", event.target.getAttribute("data-source-id"));
            });
        });
    }

    function moveDomObject(event) {
        const sourceId = event.dataTransfer.getData("source-id");
        const sourceElement = document.getElementById('navigation-node-' + sourceId);
        const targetZone = event.target;

        if (sourceElement && targetZone) {
            targetZone.parentNode.insertBefore(sourceElement, targetZone);
        }
    }

    function levelRefresh(event) {
        const actualLevel = event.target.closest('ul').nextElementSibling;
        const actualLevelId = actualLevel.id.replace('navigation-level-', '');
        const emptyLevel = document.createElement('ul')
        emptyLevel.classList.add('navigation-list', 'empty');
        emptyLevel.id = 'navigation-level-' + (parseInt(actualLevelId) + 1);

        let next = actualLevel.nextElementSibling;
        while (next) {
            let toRemove = next;
            next = next.nextElementSibling;
            toRemove.remove();
        }

        document.querySelectorAll('.navigation-list.empty').forEach((el) => {
            el.classList.remove('empty');
            const levelParentId = el.querySelector('.drop-zone').getAttribute('data-parent-id');
            el.classList.add('nav-list-' + levelParentId);
        });
        
        actualLevel.parentNode.appendChild(emptyLevel);
        initializeDragAndDrop();
    }

</script>
<div class="levels">
    <!-- BEGIN: level -->
    <ul 
        id="navigation-level-{LEVEL}"
        class="navigation-list nav-list-{ROOT}"
        hx-get="/request/bo/component/bo_navigation_level~id={ROOT}:active={ACTIVE_PAGE}~"
        hx-trigger="load, navRefresh"
        hx-swap="innerHTML"
        hx-on::after-request="initializeDragAndDrop();"
        hx-indicator="#navigation-level-{LEVEL}"
    >
    </ul>
    <!-- END: level -->
    <ul 
        id="navigation-level-{LAST}"
        class="navigation-list empty"
        hx-indicator="#navigation-level-{LAST}"
    >
    </ul>
</div>
<!-- END: content -->
