<!-- BEGIN: content -->
<script>
    // rewrite url on page select
    $(document).on('click', '.navigation-list li', function(e) {
        e.preventDefault();
        let newLink = window.location.origin + '/backoffice/content/' + $(this).attr('id').replace('navigation-node-', '');

        if(window.history.pushState) {
            window.history.pushState({}, $(this).find('span').html(), newLink);
        }
    });

    function scrollToActive(list) {
        var activeItem = list.querySelector('li.active');
        if (activeItem) {
            activeItem.scrollIntoView({ behavior: 'smooth', block: 'nearest' }); 
        }
    }

    function initializeDragAndDrop() {
        const lists = document.querySelectorAll('.navigation-list');
        let draggedItem = null;
        let sourceNodeId = null;
        let sourceNodeTitle = null;
        let sourceList = null;
        let targetList = null;

        // Drag Start
        lists.forEach(list => {
            if (list.dataset.dragAndDropInitialized) return;
            list.dataset.dragAndDropInitialized = true;

            list.addEventListener('dragstart', function (e) {
                draggedItem = e.target;
                if (!draggedItem.classList.contains('navigation-list-item')) {
                    e.preventDefault();
                    return;
                }
                draggedItem.classList.add('dragging');
                sourceList = draggedItem.parentElement;
                sourceNodeId = draggedItem.dataset.sourceId;
                sourceNodeTitle = draggedItem.querySelector('.item-label').innerText;
                e.dataTransfer.effectAllowed = 'move'; // Explicitly set the allowed effect
            });

            list.addEventListener('dragend', function (e) {
                draggedItem.classList.remove('dragging');
                lists.forEach(list => list.classList.remove('over')); // Remove 'over' from all lists

                let parentId = 0;
                let position = 0;
                let targetList = draggedItem.parentElement;
                let insertedList = null;
                let message;

                // check for drop on item first
                const acceptChild = document.querySelector('li.accept-child');
                if (acceptChild) {
                    parentId = acceptChild.dataset.sourceId;
                    insertedList = document.querySelector('.nav-list-' + parentId);
                    parentTitle = acceptChild.querySelector('.item-label').innerText;
                    message = "Are you sure you want to move node \"" + sourceNodeTitle + "\" (" + sourceNodeId + ") to position "
                        + (position + 1) + " under parent node \"" + parentTitle + "\" (" + parentId + ")?"

                } else {
                    parentId = draggedItem.parentElement.dataset.parentId || 0;
                    position = [...draggedItem.parentElement.children].indexOf(draggedItem);
                    message = "Are you sure you want to move node \"" + sourceNodeTitle + "\" (" + sourceNodeId + ") to position "
                        + (position + 1) + " under parent node " + parentId + "?"
                }

                if (confirm(message)) {
                    sourceList.classList.add('htmx-request');
                    if (targetList && sourceList !== targetList) targetList.classList.add('htmx-request');
                    updateNodePosition(sourceNodeId, parentId, position, function() {
                        htmx.trigger(sourceList, 'navRefresh');
                        if (sourceList !== targetList) {
                            htmx.trigger(targetList, 'navRefresh');
                        }
                        if (insertedList && insertedList !== sourceList && insertedList !== targetList) {
                            htmx.trigger(insertedList, 'navRefresh');
                        }
                    });
                }
                draggedItem = null;
            });

            // Drag Over - the element has a draggable item being dragged over it,
            list.addEventListener('dragover', function (e) {
                e.preventDefault();
                this.classList.add('over');
                e.dataTransfer.dropEffect = 'move';

                const dropTarget = e.target;

                if (dropTarget.tagName === 'LI' && dropTarget !== draggedItem && dropTarget.classList.contains('navigation-list-item')) {
                    const rect = dropTarget.getBoundingClientRect();
                    const mouseY = e.clientY - rect.top;

                    if (mouseY > rect.height / 2) {
                        dropTarget.parentNode.insertBefore(draggedItem, dropTarget.nextSibling);
                    } else {
                        dropTarget.parentNode.insertBefore(draggedItem, dropTarget);
                    }
                }
            });

            // Drag Leave - the element has a draggable item being dragged out of it
            list.addEventListener('dragleave', function (e) {
                this.classList.remove('over');
                let target = e.target;
                let listItem = target.closest('li'); // Find the closest LI ancestor
            });

            // Drag Enter - the element has a draggable item being dragged into it
            list.addEventListener('dragenter', function (e) {
                let target = e.target;
                let listItem = target.closest('li'); // Find the closest LI ancestor
                document.querySelectorAll('li.accept-child').forEach((el) => {
                    el.classList.remove('accept-child');
                })
                draggedItem.classList.remove('inactive');;

                if (listItem && listItem !== draggedItem) {
                    listItem.classList.add('accept-child');
                    draggedItem.classList.add('inactive');
                }
            });

            function postDragRefresh() {
                
            }
        });

        function updateNodePosition(nodeId, parentId, position, callback) {
            $.post(
                "/request/bo/component/node_move",
                {
                    csrf_token: getCSRFToken(),
                    source_node_id: nodeId,
                    destination_node_id: parentId,
                    position: position
                },
                function (data) {
                    popupMessage(data);
                    callback();
                }
            );
        }

        // Make sure list items are draggable on initial load
        lists.forEach(list => {
            list.querySelectorAll('li.navigation-list-item').forEach(item => {
                item.setAttribute('draggable', true);
            });
        });

    }

    function levelRefresh(event) {
        const actualLevel = event.target.closest('ul').nextElementSibling;
        const actualLevelId = actualLevel.id.replace('navigation-level-', '');
        const emptyLevel = document.createElement('ul')
        emptyLevel.classList.add('navigation-list', 'empty');
        emptyLevel.id = 'navigation-level-' + (parseInt(actualLevelId) + 1);

        let next = actualLevel.nextElementSibling;
        while (next) {
            let toRemove = next;
            next = next.nextElementSibling;
            toRemove.remove();
        }

        document.querySelectorAll('.navigation-list.empty').forEach((el) => {
            el.classList.remove('empty');
        });

        actualLevel.parentNode.appendChild(emptyLevel);
        initializeDragAndDrop();
    }

</script>
<div class="levels">
    <!-- BEGIN: level -->
    <ul 
        id="navigation-level-{LEVEL}"
        class="navigation-list nav-list-{ROOT}"
        hx-get="/request/bo/component/bo_navigation_level~id={ROOT}:active={ACTIVE_PAGE}~"
        hx-trigger="load, navRefresh"
        hx-swap="innerHTML"
        hx-on::after-request="initializeDragAndDrop(); scrollToActive(this);"
        hx-indicator="#navigation-level-{LEVEL}"
        data-parent-id="{ROOT}"
    >
    </ul>
    <!-- END: level -->
    <ul 
        id="navigation-level-{LAST}"
        class="navigation-list empty"
        hx-indicator="#navigation-level-{LAST}"
    >
    </ul>
</div>
<!-- END: content -->
