<!-- BEGIN: content -->
<div class="search-bar">
    <input 
        type="text" 
        name="search_query" 
        placeholder="Search pages"
        hx-get="/request/bo/component/bo_search_results"
        hx-target="#search-results"
        hx-indicator="#search-loading"
        hx-trigger="input[this.value.length > 3] changed delay:1s"
        hx-on::before-request="document.getElementById('search-results').innerHTML = ''" />
    <div id="search-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
    </div>
</div>
<div class="search-results" id="search-results">
</div>
<!-- END: content -->
