<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="promotion_list">
	
	
	<div id="commentEdit"></div>
	
	<table cellspacing="0">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Created</th>
				<th>Node</th>
				<th>Published</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN: item -->
			<tr>
				<td><a title="Edit comment" onclick="makeAjaxRequest('#commentEdit', '/request/bo/component/comment_edit~id={ITEM.id}~'); return false" href="#commentEdit">{ITEM.title|htmlspecialchars}</a></td>
				<td><a title="Edit comment" onclick="makeAjaxRequest('#commentEdit', '/request/bo/component/comment_edit~id={ITEM.id}~'); return false" href="#commentEdit">{ITEM.author_name|htmlspecialchars}</a></td>
				<td>{ITEM.created}</td>
				<td><a href="/backoffice/pages/{ITEM.node_id}">{ITEM.node_id}</a></td>
				<td>{ITEM.publish}</td>
			</tr>
			<!-- END: item -->
			<!-- BEGIN: empty -->
			<tr>
				<td colspan="5"><span class="note">No comments.</span></td>
			</tr>
			<!-- END: empty -->

		</tbody>
		<tfoot>
			{PAGINATION}
		</tfoot>
	</table>

</div>
<!-- END: content -->
