<!-- BEGIN: title -->Component List<!-- END: title -->
<!-- BEGIN: content -->
<style>
    @import url(/share/css/components/components.css?{ONYX_CACHE_VERSION});
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('.component-list-item').on('click', function(e) {
            $('.component-list-item.active').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>

<ul class="component-list">
    <!-- BEGIN: item -->
    <li
        hx-get="/request/bo/component/component_occurences~node_controller={ITEM.node_controller}~"
        hx-target="#component-occurences"
        hx-indicator="#detail-loading"
        hx-swap="innerHTML"
        title="{ITEM.node_controller}" 
        class="component-list-item">
        {ITEM.info.title|htmlspecialchars} ({ITEM.count})
    </li>
    <!-- END: item -->
</ul>
<!-- END: content -->
