<!-- BEGIN: title -->Configuration<!-- END: title -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<script type="text/javascript">
$(function() {

	var options = { 
		target: '#configuration',
		success: function(responseText, statusText) {
			popupMessage("#configuration div.onxshop_messages");
		}
	}; 

    $('#configuration form').ajaxForm(options); 
});
</script>

<div class="configuration" id="configuration">
{SUB_CONTENT}
</div>
<!-- END: content -->
