<!-- BEGIN: title -->CSS Edit<!-- END: title -->
<!-- BEGIN: head -->

<script type="text/javascript" src="/opt/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/opt/codemirror/addon/search/searchcursor.js"></script>
<script type="text/javascript" src="/opt/codemirror/addon/dialog/dialog.js"></script>
<script type="text/javascript" src="/opt/codemirror/keymap/sublime.js"></script>
<link rel="stylesheet" href="/opt/codemirror/lib/codemirror.css">
<script src="/opt/codemirror/mode/css/css.js"></script>

<script type="text/javascript" src="/opt/colorpicker/js/colorpicker.js"></script>
<link rel="stylesheet" media="screen" type="text/css" href="/opt/colorpicker/css/colorpicker.css" />

<style type="text/css">
    html, body { width: 100%; height: 100%; padding: 0; overflow: hidden; }
    div.popup { padding: 0; }
    .CodeMirror { width: 100%; height: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 60px; }
    .colorpicker { z-index: 999999; }
    #modal-overlay-window { padding: 20px 20px; }
</style>
<!-- END: head -->
<!-- BEGIN: content -->
{MESSAGES}
<!-- BEGIN: form -->

<form hx-post="/request/bo/component/css_edit" id="css-edit" hx-target="#css-edit-result" hx-on::after-request="afterCssSubmit()" hx-on::before-request="preCssSubmit()">

    <div class="page">
        <div class="content">
            <div class="page-wrapper">

                <div class="page-content">
                    <div class="page-content-wrapper">
                        <div class="row-middle">
                            <div class="row-wrapper">
                                <textarea id="code-css" name="configuration[global][css]" class="code css" autofocus="autofocus">{CONFIGURATION.global.css}</textarea></span>
                                <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
                            </div>
                        </div>
                        <div class="row-bottom">
                            <div class="row-wrapper">
                                <div class="column-wrapper">
                                    <p>
                                        <a href="#" class="button" id="media-gallery-button"><span>Media Library</span></a>
                                        <a href="#" class="button" id="colour-picker-button"><span>Pick a colour</span></a>
                                        <button class="save" type="submit" name="submit" value="submit"><span>Save</span></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</form>

<div id="css-edit-result"></div>

<script type="text/javascript">

function preCssSubmit() {
    $("#css-edit button").addClass('saving');
}

function afterCssSubmit()  {
    $("#css-edit button").removeClass('saving');
    popupMessage($("#css-edit-result div.onyx-messages"));
    <!-- BEGIN: refresh_opener -->
    refreshOpener('{GET.orig}', {GET.id});
    <!-- END: refresh_opener -->
} 

// Codemirror
var code_mirror_options = {
    viewportMargin: Infinity,
    keyMap: "sublime"
}
var editor = CodeMirror.fromTextArea(document.getElementById('code-css'), code_mirror_options);

$(document).ready(function() {
    // TODO: not working as intended?
    // Media Libary
    $("#media-gallery-button").click(function() {
        showModalOverlay();
        makeAjaxRequest('#modal-overlay-window', '/request/bo/component/file_list~type=CSS:relation=node:node_id=3~');
        return false;
    });

    // Color Picker
    $('#colour-picker-button').ColorPicker();
});
</script>

<!-- END: form -->
<!-- END: content -->
