<!-- BEGIN: content -->

    <!-- BEGIN: listing -->
    
    <h2>Table: <strong>{MODEL}</strong> ({COUNT_RECORD} records, {TABLE_SIZE})</h2>
    {MESSAGES}
    <a id="export-button" class="button" href="/request/bo/export/csv_database?model={GET.model}"><span>Export Records (CSV)</span></a>
    <a id="adminer-button" class="button" href="/opt/adminer/?{ONYX_DB_TYPE}={ONYX_DB_HOST}&username={ONYX_DB_USER}&db={ONYX_DB_NAME}&ns=public&select={MODEL}" target="_blank"><span>Open in Adminer</span></a>
    <script type="text/javascript">
        $('#database .row-bottom p.component-buttons').empty();
        var export_button = $('#export-button').detach();
        var adminer_button = $('#adminer-button').detach();
        $('#database .row-bottom p.component-buttons').append(export_button, adminer_button);
    </script>
    <table cellspacing="0" border="1">
    <caption>Records of {MODEL}</caption>
    <thead>
    <tr>
        <!-- BEGIN: th --><th>{COLUMN.name}</th><!-- END: th -->
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN: item -->
    <tr>
        <!-- BEGIN: attribute -->
        <td>{value|htmlspecialchars}</td>
        <!-- END: attribute -->
        <td><a class="edit" style="display: none" href="#"><span>edit</span></a></td>
        <td><a class="delete" style="display: none" href="#"><span>delete</span></a></td>
    </tr>
    <!-- END: item -->
    </tbody>
    </table>

    <div class="onyx-pagination">
        {PAGINATION}
    </div>

    <!-- END: listing -->
    
    <!-- BEGIN: hint -->
                    <p>Select a database table on the left.</p>
    <!-- END: hint -->

<!-- END: content -->
