<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
<input type="hidden" name="product[id]" value="{PRODUCT.id}" />

<div class="edit-actions">
    <button 
        hx-indicator="#edit-loading"
        hx-post="/request/bo/component/ecommerce/product_edit?id={PRODUCT.id}"
        class="btn" 
        type="submit" 
        name="save" 
        value="save" 
        id="saveAndClose"
    >
        Save & Close
    </button>

    <button class="btn secondary" type="button" onclick="closeDialog()">Cancel</button>
</div>
