<!-- BEGIN: title -->Export<!-- END: title -->
<!-- BEGIN: content -->
<div class="export">
    <ul>
        <li><a href="/backoffice/advanced/tools?tool=backup&scope=database"><span>SQL Dump</span></a></li>
        <li><a href="/sitemap.xml" ><span>Export XML Google Sitemap</span></a></li>
        <li><a href="/export/rss/googlebase" ><span>Export RSS Google Base Products (generate)</span></a> (<a class="download" href="/files/googlebase.xml"><span>download</span></a>)</li>
        <li><a href="/export/rss/node" ><span>Node RSS Export</span></a></li>
        <li><a href="/export/xml/zbozi" ><span>Export XML Zbozi.cz Products</span></a></li>
    </ul>
</div>
<!-- END: content -->
