<!-- BEGIN: content -->

{MESSAGES}

<script type="text/javascript">
function chooseImage(src, title) {
    window.parent.postMessage({
        mceAction: 'customInsertImage',
        data: {
            src: src,
            title: title,
        }
    }, '*');
}
</script>

<div class="two-column-layout fibonacci-1-1" id="linked-file-{FILE.id}">
    
    <div class="layout-column-one of-two">
        {PROPERTIES_EDIT_FORM}
    </div>
    <div class="layout-column-two of-two">
        <div class="preview"
            hx-get="/request/bo/pages/server_browser?type=replace_file&relation={GET.relation}&node_id={GET.node_id}&file_id={FILE.id}"
            hx-trigger="click"
            hx-target="#file-dialog .content"
            hx-indicator="#file-loading"
            hx-on::before-request="openFileDialog();"
        >
            <!-- TODO: sometimes fails to load original file? -->
            <p>Click on the image to replace it</p>
            <img id="image-thumbnail-{FILE.id}" src="/thumbnail/200/{FILE.src}" title="Click on this image to select replacement" alt="{FILE.title|htmlspecialchars}" style="max-height: 200px; background: url(/share/images/empty-canvas-bg.png) repeat; padding: 20px; cursor:pointer;" />
            <p>{FULL_DETAILS}</p>
            <p><a class="button remove" title="Unlink file" href="#" onclick="if (confirm('Do you really want to unlink {FILE.title|htmlspecialchars|addslashes}?')) {$('#linked-file-{FILE.id}').load('/request/bo/component/file_unlink~relation={GET.relation}:file_id={FILE.id}~', function() { popupMessage('#linked-file-{FILE.id} div.onyx-messages'); hideModalOverlay(); });}; return false"><span>Unlink</span></a></p>
        </div>
    </div>
</div>          

<!-- END: content -->
