<!-- BEGIN: content -->
<div id="file-edit-{FILE.id}-wrapper">

    {MESSAGES}

    <form class="file-edit" hx-post="{URI|htmlspecialchars}" id="file-edit-{FILE.id}" hx-on::after-request="popupMessage('div.onyx-messages');hideModalOverlay();">
        <fieldset class="file-item-form">        
            <div class="row title">
                <span class="label"><label>Title *:</label></span>
                <span class="field"><input class="text title" type="text" name="file[title]" value="{FILE.title|htmlspecialchars}" /></span>
            </div>

            <div class="row">
                <span class="label"><label>Role:</label></span>
                <span class="field">
                    <select name="file[role]">
                        {FILE "bo/component/file_role.html"}
                    </select>
                </span>
            </div>

            <div class="row">
                <span class="label"><label>Description:</label></span>
                <span class="field"><textarea name="file[description]">{FILE.description|htmlspecialchars}</textarea></span>
            </div>
            
            <div class="row advanced">
                <span class="label"><label>Priority:</label></span>
                <span class="field"><input class="text" style="width: 50px;" type="text" name="file[priority]" value="{FILE.priority}" /></span>
            </div>
            
            <input type="hidden" name="file[id]" value="{FILE.id}" />
            
            <div class="row submit">
                <span class="label"><label>&nbsp;</label></span>
                <span class="field"><button type="submit" name="update" id="update" value="{FILE.id}" class="{FILE.id}"><span>Save</span></button></span>
            </div>
        </fieldset>
        <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
    </form>
</div>
<!-- END: content -->
