<!-- BEGIN: content -->
<script type="text/javascript"> 
    function initForm() {
        var options = { 
            target: '#file-add-result',   // target element(s) to be updated with server response 
            beforeSubmit:  function() {$("#file-add .add-button").addClass("saving")}, 
            success: showResponse
        }; 

        $('#file-add').ajaxForm(options);
    }
    
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        initForm();
    });
 
// post-submit callback 
function showResponse(responseText, statusText)  { 
    var result_message = $("#file-add-result div.onxshop-messages").html();
    growlMessage(result_message);
    $("#file-add .add-button span").removeClass("saving");
    //FIXME: hide when return message == "File inserted", not very safe and doesn't work when debugging is enabled…
    if ($("#file-add-result div.onxshop-messages p.onxshop-error-msg").text() == '') {
        $("#file-list").load("/request/bo/component/file_list~type={GET.type}:relation={GET.relation}:node_id={GET.node_id}~");
        hideModalOverlay();
    }
}

/**
 * link_to_node_id browse site
 */
    
$('a.button.link-to-node-id').click(function() {
    var file_id = $(this).attr('data-file-id');
    $('#link-to-node-id-ajax-' + file_id).addClass('ajax-load').load('/request/component/menu_js~id=0:expand_all=1:publish=0~', function() {
        $('#link-to-node-id-ajax-' + file_id).removeClass('ajax-load');
        $('#link-to-node-id-ajax-' + file_id + ' .simple-tree').simpleTree({
            drag: false,
            autoclose: true,
            afterClick:function(node){
                var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
                $('#file-link-to-node-id-' + file_id).attr('value', node_id);
            },
            animate: true,
            docToFolderConvert: true
        });
    });
    return false;
});
    
</script> 

{MESSAGES}

<form action="{URI|htmlspecialchars}" method="post" name="file-add" id="file-add">

    <fieldset id="add-to-node" class="file-item-form">

        <legend>Link New File In</legend>

        <div class="two-column-layout layout fibonacci-3-1">
            <div class="layout-wrapper">
                <div class="layout-column-one of-two">
                    <div class="layout-column-wrapper">

                        <div class="row filename">
                            <span class="label"><label>File path and name:</label></span>
                            <span class="field"><input class="text long" type="text" readonly value="{FILE.src|htmlspecialchars}"/></span>
                        </div>

                        <div class="row title">
                            <span class="label"><label>Give this file a short description*:</label></span>
                            <span class="field"><input class="text title" type="text" id="file-title" name="file[title]" value="{FILE.title|htmlspecialchars}"/></span>
                        </div>
                        <div class="row">
                            <span class="label"><label>Role:</label></span>
                            <span class="field">
                                <select name="file[role]">
                                    {FILE "bo/component/file_role.html"}
                                </select>
                            </span>
                        </div>

                        <p><a href="#file-add-advanced" onclick="$('#file-add-advanced').toggle(); return false">Show more options</a></p>

                        <div id="file-add-advanced" style="display: none">
                            <div class="row">
                                <span class="label"><label>Description:</label></span>
                                <span class="field"><textarea name="file[description]">{FILE.description}</textarea></span>
                            </div>
                            <div class="row content">
                                <span class="label"><label for="file-content">content <a href="#" onclick="tinyMCE.execCommand('mceToggleEditor', 'mceAdvanced', 'file-content-{FILE.id}'); return false;"><span>RTE</span></a></label></span>
                                <span class="field"><textarea id="file-content-{FILE.id}" class="mce-advanced" name="file[content]">{FILE.content|htmlspecialchars}</textarea></span>
                            </div>
                            <div class="row link-to-node-id">
                                <span class="label"><label for="file-link-to-node-id" title="Link to node id">Link to node ID:</label></span>
                                <span class="field"><input class="text short" type="text" name="file[link_to_node_id]" id="file-link_to_node_id_{FILE.id}" value="{FILE.link_to_node_id}" /> <a class="button link-to-node-id" href="#" data-file-id="{FILE.id}"><span>Browse…</span></a></span>
                                <span style="display: block;" id="link-to-node-id-ajax-{FILE.id}"></span>
                            </div>
                            <div class="row">
                                <span class="label"><label>Priority:</label></span>
                                <span class="field"><input class="text" style="width: 50px;" type="text" name="file[priority]" value="{FILE.priority}" /></span>
                            </div>
                        </div>

                        <input type="hidden" id="file-src" name="file[src]" value="{FILE.src}" />
                        <input type="hidden" name="file[node_id]" value="{FILE.node_id}" />

                        <div class="row submit">
                            <span class="label"><label>&nbsp;</label></span>
                            <span class="field"><button type="submit" name="add" class="add-button" value="add"><span>Add</span></button></span>
                        </div>

                        

                    </div>
                </div>
                <div class="layout-column-two of-two">
                    <div class="layout-column-wrapper">
                        <a class="image-preview" style="float: right;" href="#" title="View Full Size" onclick="openImg('/image/{FILE.src}'); return false;"><img id="file-preview" src="/thumbnail/200/{FILE.src}" alt="thumbnail preview" /></a>
                    </div>
                </div>
                
            </div>
        </div>

    </fieldset>

<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>

{ONXSHOP_REQUEST_tinymce #bo/tinymce~id=GET.id:relation=node:edit_elements=file-content-GET.file_id:theme=simple~}

<div id="file-add-result" style="display: none"></div>

<!-- END: content -->
