<!-- this is not full Onxshop component, it's used only as XTemplate include -->
<option value="main" {SELECTED_main}>main (default)</option>
<option value="teaser" {SELECTED_teaser}>use as teaser image</option>
<option value="header" {SELECTED_header}>use as header image</option>
<option value="feature" {SELECTED_feature}>use as feature image</option>
<option value="promotion" {SELECTED_homepage}>use for promotion</option>
<option value="background" {SELECTED_background}>use as background image</option>
<option value="RTE" {SELECTED_RTE}>RTE</option>
<option value="opengraph" {SELECTED_opengraph}>Open Graph</option>