<!-- BEGIN: content -->

{MESSAGES}

<form 
    name="file-add" 
    id="file-add"
    class="image-dialog"
    hx-post="{URI|htmlspecialchars}" 
    data-action="editFile"
>
    <h2>Link New File In</h2>

    <img id="file-preview" src="/thumbnail/200/{FILE.src}" alt="thumbnail preview" />

    <div class="row text">
        <span class="label"><label>Give this file a short description*:</label></span>
        <span class="field">
            <input 
                id="file-title" 
                class="text title" 
                type="text" 
                name="file[title]" 
                value="{FILE.title|htmlspecialchars}"
            />
        </span>
    </div>

    <div class="row select">
        <span class="label"><label>Role:</label></span>
        <span class="field">
            <select name="file[role]">
                {FILE "bo/component/file_role.html"}
            </select>
        </span>
    </div>

    <input type="hidden" id="file-src" name="file[src]" value="{FILE.src}" />
    <input type="hidden" name="file[node_id]" value="{FILE.node_id}" />
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />

    <div class="edit-actions">
        <button type="submit" name="add" class="add-button" value="add">Add</button>
        
        <button class="btn secondary" type="button" onclick="closeFileDialog()">Cancel</button>
    </div>
</form>
<!-- END: content -->
