<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div id="file_list" class="file_list_icon">

	<!-- BEGIN: empty -->
	<p>No files are currently assigned to this content</p>
	<!-- END: empty -->
	
	<!--  BEGIN: list -->
		<p><a class="button" href="#file_list" onclick="$('#file_list').empty().addClass('ajaxLoad').parent().load('/request/bo/component/file_list~type={GET.type}:role={GET.role}:relation={GET.relation}:node_id={GET.node_id}~'); return false;"><span>View as list</span></a></p>
		<!-- BEGIN: item -->
		<div class="item" id="linked-file-{FILE.id}" style="float: left; margin-right: 1em;">
				
				<!-- BEGIN: default -->
					<a title="Click on this file to edit its properties" href="#file_list" onclick="$('#file_list').empty().addClass('ajaxLoad').parent().load('/request/bo/component/file_list~type={GET.type}:role={GET.role}:relation={GET.relation}:node_id={GET.node_id}~'); return false;"><img id="image_thumbnail_{FILE.id}" src="/thumbnail/125/{FILE.src}" title="Role: {FILE.role}. Click on this file to edit its properties" alt="{FILE.title}" /></a>
				<!-- END: default -->
				
				
				<!-- BEGIN: RTE_select -->
					<script language="javascript" type="text/javascript" src="/opt/tiny_mce/tiny_mce_popup.js"></script>
					<script type="text/javascript">
					function chooseImage(src, title) {
						var win = tinyMCEPopup.getWindowArg("window");
					
						// insert information now
						win.document.getElementById('src').value = src;
						if (win.document.getElementById('alt').value == '') win.document.getElementById('alt').value = title;
						if (win.document.getElementById('title').value == '') win.document.getElementById('title').value = title;
					
						// for image browsers: update image dimensions
						if (win.ImageDialog.getImageData) win.ImageDialog.getImageData();
						if (win.ImageDialog.showPreviewImage) win.ImageDialog.showPreviewImage(src);
					
						// close popup window
						tinyMCEPopup.close();
					}
					</script>
					
					<a href="#" class="image" onclick="chooseImage($('#image_thumbnail_{FILE.id}').attr('src') , $('#image_thumbnail_{FILE.id}').attr('title')); return false;"><img id="image_thumbnail_{FILE.id}" src="/thumbnail/125/{FILE.src}" title="{FILE.title}"  alt="{FILE.title}" /></a> <br />
					
					<p>Use <a class="button" id="imageSizeUseButton_{FILE.id}" href="#" onclick="chooseImage($('#image_thumbnail_{FILE.id}').attr('src') , $('#image_thumbnail_{FILE.id}').attr('title')); return false;"><span class="units">125px</span></a>
					or <a class="button" id="imageSizeUseButton_{FILE.id}" href="#" onclick="chooseImage('/image/{FILE.src}' , $('#image_thumbnail_{FILE.id}').attr('title')); return false;"><span>original</span></a></p>
					<div class="image_zoom">
					Zoom: <span id="imageSizeDisplay_{FILE.id}">125px</span>, Original: <a href="#" onclick="$('#image_thumbnail_{FILE.id}').attr('src', '/image/{FILE.src}'); $('#imageSizeDisplay_{FILE.id},#imageSizeUseButton_{FILE.id} span.units').html('{FILE.imagesize.width}px'); return false;"><span>{FILE.imagesize.width}px</span></a>
					<div style="margin: 10px 0; width: 90%" id="slider_{FILE.id}"></div>
				
					<script type="text/javascript">
					$(function() {
						$("#slider_{FILE.id}").slider({
							value: 125,
							min: {IMAGE_CONF.thumbnail_width_min},
							max: {IMAGE_CONF.thumbnail_width_max},
							step: {IMAGE_CONF.thumbnail_step},
							change: function(event, ui) { $('#image_thumbnail_{FILE.id}').attr('src', '/thumbnail/'+ ui.value +'/{FILE.src}');},
							slide : function(event, ui) { $('#imageSizeDisplay_{FILE.id},#imageSizeUseButton_{FILE.id} span.units').html(ui.value + 'px'); }
						});
					});
					</script>
			</div>
				<!-- END: RTE_select -->
				
				<!-- BEGIN: CSS_select -->
					<a href="#" onclick="var src = $('#image_thumbnail_{FILE.id}').attr('src'); alert('Copy&amp;Paste this:\nurl(' + src + ')'); return false;"><img id="image_thumbnail_{FILE.id}" src="/thumbnail/125/{FILE.src}" title="{FILE.title}"  alt="{FILE.title}" /></a> <br />
					<a class="button" href="#" onclick="var src = $('#image_thumbnail_{FILE.id}').attr('src'); alert('Copy&amp;Paste this:\nurl(' + src + ')'); return false;"><span>Use This...</span></a>
				<!-- END: CSS_select -->
		</div>
		<!-- END: item -->
	<!-- END: list -->

	<p style="clear: both;"><a class="button add" title="Add Files..." href="#" onclick="makeAjaxRequest('#file_connector', '/request/bo/pages/server_browser~type={GET.type}:role={GET.role}:relation={GET.relation}:node_id={GET.node_id}~'); return false"><span>Add Files...</span></a></p>
	<div id="file_connector"></div>
</div>


<!-- END: content -->
