<!-- BEGIN: content -->

{MESSAGES}

<script type="text/javascript">
function chooseImage(src, title) {
    top.tinymce.activeEditor.windowManager.getParams().oninsert(src, title);
    top.tinymce.activeEditor.windowManager.close();
}
</script>

<div class="two-column-layout fibonacci-1-1" id="linked-file-{FILE.id}">
    
    <div class="layout-column-one of-two">
        {PROPERTIES_EDIT_FORM}
    </div>
    <div class="layout-column-two of-two">
        <div class="content" style="margin: 10px;">
            <p><a title="Download" href="/download/{FILE.src}"><img id="image-thumbnail-{FILE.id}" src="/image/{FILE.src}" title="Click on this file to edit its properties" alt="{FILE.title|htmlspecialchars}" style="max-height: 200px; background: url(/share/images/empty-canvas-bg.png) repeat; padding: 20px;" /></a></p>
            <p>{FULL_DETAILS}</p>
            <p><a class="button remove" title="Unlink file" href="#" onclick="if (confirm('Do you really want to unlink {FILE.title|htmlspecialchars|addslashes}?')) {$('#linked-file-{FILE.id}').load('/request/bo/component/file_unlink~relation={GET.relation}:file_id={FILE.id}~', function() { popupMessage('#linked-file-{FILE.id} div.onyx-messages'); hideModalOverlay(); });}; return false"><span>Unlink</span></a></p>
        </div>
    </div>
</div>          

<!-- END: content -->
