<!-- this is not full Onxshop component, it's used only as XTemplate include -->
<option value="main" {SELECTED_role_main}>Main (default)</option>
<option value="teaser" {SELECTED_role_teaser}>Teaser</option>
<option value="header" {SELECTED_role_header}>Header</option>
<option value="feature" {SELECTED_role_feature}>Feature</option>
<option value="promotion" {SELECTED_role_promotion}>Promotion</option>
<option value="background" {SELECTED_role_background}>Background</option>
<option value="RTE" {SELECTED_role_RTE}>RTE</option>
<option value="opengraph" {SELECTED_role_opengraph}>Open Graph</option>
