<!-- BEGIN: content -->
{MESSAGES}
<form 
    id="file-replace" 
    class="image-dialog"
    hx-post="{URI|htmlspecialchars}" 
    hx-on::after-request="afterFileReplaceRequest()"
    data-action="editFile"
    hx-indicator="#file-loading"
>
    <h2>File to replace</h2>

    <div class="replace-preview">
        <input type="hidden" id="file-src" name="file[src]" value="{FILE.src}" />
        <input type="hidden" name="file[node_id]" value="{FILE.node_id}" />
        
        <div class="before">
            <span>Old file:</span>
            <div class="img-wrap before">
                <img src="/thumbnail/200/{OLD_FILE}" alt="thumbnail preview" />
            </div>
        </div>

        <div class="after">
            <span>New file:</span>
            <div class="img-wrap after">
                <img id="file-preview" src="/thumbnail/200/{FILE.src}" alt="thumbnail preview" />
            </div>
        </div>
    </div>

    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />

    <div class="edit-actions">
        <button type="submit" name="replace" class="replace-button" value="replace">Replace</button>
        
        <button class="btn secondary" type="button" onclick="closeFileDialog()">Cancel</button>
    </div>

</form>
<!-- END: content -->
