<!-- BEGIN: content -->
{MESSAGES}
<form 
    class="file-edit image-dialog" 
    hx-post="{URI|htmlspecialchars}" 
    hx-swap="innerHTML"
    id="file-edit-{FILE.id}"
    hx-on::after-request="afterFileEditRequest()"
    hx-indicator="#file-dialog"
    data-action="editFile"
>
    <h2>File Edit</h2>

    <div class="image-input-wrapper">
        <div class="inputs">
            <div class="row title">
                <span class="label"><label>Title *:</label></span>
                <span class="field">
                    <input 
                        class="text title" 
                        type="text" 
                        name="file[title]" 
                        value="{FILE.title|htmlspecialchars}" 
                    />
                </span>
            </div>
    
            <div class="row select">
                <span class="label"><label>Role:</label></span>
                <span class="field">
                    <select name="file[role]">
                        {FILE "bo/component/file_role.html"}
                    </select>
                </span>
            </div>
    
            <div class="row">
                <span class="label"><label>Description:</label></span>
                <span class="field"><textarea name="file[description]">{FILE.description|htmlspecialchars}</textarea></span>
            </div>
            
            <div class="row advanced">
                <span class="label"><label>Priority:</label></span>
                <span class="field"><input class="text" type="text" name="file[priority]" value="{FILE.priority}" /></span>
            </div>
        </div>
    
        <div class="image">
            <div class="preview">
                <img id="image-thumbnail-{FILE.id}" src="/thumbnail/200/{FILE.src}" alt="{FILE.title|htmlspecialchars}" style="background: url(/share/images/empty-canvas-bg.png) repeat; padding: 10px;" />
            </div>
    
            {FULL_DETAILS}
        </div>
    </div>

    <input type="hidden" name="file[id]" value="{FILE.id}" />
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
    <input type="hidden" name="node_id" value="{GET.node_id}" />

    <div class="edit-actions">
        <button type="submit" name="save" value="save" class="add-button">Save</button>

        <button
            class="button secondary"
            hx-get="/request/bo/pages/server_browser?type=replace_file&relation={GET.relation}&node_id={GET.node_id}&file_id={FILE.id}&open={OPEN}"
            hx-trigger="click"
            hx-target="#file-dialog .content"
            hx-indicator="#file-dialog"
        >
            Replace
        </button>
    
        <button type="submit" name="unlink" value="unlink" class="button remove">Unlink</button>
    </div>
</form>
<!-- END: content -->
