<!-- this is not full Onxshop component, it's used only as XTemplate include -->
<option value="main" {SELECTED_role_main}>main (default)</option>
<option value="teaser" {SELECTED_role_teaser}>use as teaser image</option>
<option value="header" {SELECTED_role_header}>use as header image</option>
<option value="feature" {SELECTED_role_feature}>use as feature image</option>
<option value="promotion" {SELECTED_role_promotion}>use for promotion</option>
<option value="background" {SELECTED_role_background}>use as background image</option>
<option value="RTE" {SELECTED_role_RTE}>RTE</option>
<option value="opengraph" {SELECTED_role_opengraph}>Open Graph</option>
