<!-- BEGIN: title -->Logs<!-- END: title -->
<!-- BEGIN: content -->

<div id="logs">
	<div class="two-column-page page sidebar">
			<div class="page-wrapper">

				<div class="page-header">
					<div class="page-header-wrapper">
						<h1 class="page-title"><span>Session Logs</span></h1>
					</div>
				</div>

				<div class="page-content">
					<div class="page-content-wrapper">
						<div class="row-top">
							<div class="row-wrapper">
								<div class="column-wrapper">
									<div class="filter-bar">
										
										<div class="filter horizontal-filter" >
											<form action="{_SERVER.REDIRECT_URL}" method="get">
												<select name='filter[active]' id='filter-disabled'>
													<option value='0' {ACTIVE_selected_0}>All Sessions</option>
													<option value='1' {ACTIVE_selected_1}>Active Sessions Only ({SESSION_TTL}h)</option>
												</select>
												&nbsp;
												<label for="filter-customer_id">Customer ID:</label> 
												<input id="filter-customer_id" type="text" name="filter[customer_id]" value="{FILTER.customer_id}" class="short" />
												<button type="submit" name="submit" value="submit"><span>Submit</span></button>
											<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="row-middle">
							<div class="row-wrapper">

								<table style="clear: both;">
									<caption>Sessions</caption>
									<thead>
										<tr>
											<th>Customer</th>
											<th>browse history</th>
											<th>created/modified</th>
											<th>referer</th>
											<th>user agent</th>
										</tr>
									</thead>
									<tbody>
										<!-- BEGIN: item -->
										<tr>
											<td><a href="/backoffice/customers/{CUSTOMER.id}/detail">{CUSTOMER.first_name} {CUSTOMER.last_name}</a><br /><a href="/request/component/whois?str={SESSION.ip_address}" target="_blank">{SESSION.ip_address}</a><br />{SESSION.php_auth_user}</td>
											<td>
												<!-- BEGIN: history -->{HISTORY.time} <a href="{HISTORY.uri|htmlspecialchars}" target="_blank">{HISTORY.uri|htmlspecialchars}</a><br /><!-- END: history -->
												<!-- BEGIN: session_messages -->{SESSION.messages|htmlspecialchars|nl2br}<!-- END: session_messages -->
											</td>
											<td>{SESSION.created}<br />{SESSION.modified}<br />Diff: {SESSION.time_diff} minutes</td>
											<td>
												<!-- BEGIN: referer_link --><a href="{SESSION.http_referer|htmlspecialchars}" target="_blank">{SESSION.http_referer|htmlspecialchars}</a><!-- END: referer_link -->
												<!-- BEGIN: referer_na -->n/a<!-- END: referer_na -->
											</td>
											<td>{SESSION.http_user_agent|htmlspecialchars}</td>
											
										</tr>
										<!-- END: item -->
									</tbody>
								</table>

								<div class="onxshop-pagination">
								{PAGINATION}
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

</div>


<!-- END: content -->
