<!-- BEGIN: content -->
<script type="text/javascript"> 
$(document).ready(function() { 
    var options = { 
        target:        '#news-add',
        success:       function() {
            makeAjaxRequest('#news-list', '/request/bo/component/news_list~blog_node_id={GET.blog_node_id}~');
            $('#dialog').dialog( "close").empty();;
        }
    }; 
    $('#news-add').ajaxForm(options); 
});
</script> 

<div class="node-add">
    <form method="post" action="{URI|htmlspecialchars}" id="news-add">
        {MESSAGES}
        <fieldset>
            <legend>Add a new article to {NEWS_LIST.title|htmlspecialchars}</legend>
            <div class="row">
                <span class="label"><label>Article Title:</label></span>
                <span class="field"><input class="text title" type="text" name="node[title]" value="{NODE.title}" /></span>
            </div>
            <div class="row">
                <span class="label"><label id="layout-icon" class="onxshop-edit-{ACTIVE}">&nbsp;</label></span>
                <span class="field"><button type="submit" name="save" value="save"><span>Add {GET.node_group}</span></button></span>
            </div>
        </fieldset>
        
        <input type="hidden" name="node[parent]" value="{NEWS_LIST.id}" />
        <input type="hidden" name="node[parent_container]" value="0" />
        <input type="hidden" name="node[node_group]" value="page" />
        <input type="hidden" name="node[node_controller]" value="news" />
        <input type="hidden" name="node[publish]" value="0" />
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>
<!-- END: content -->
