<!-- BEGIN: content -->
<div class="newsList">
	<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
	
	<!-- BEGIN: list -->		
	<div class="twoColumnLayout layout fibonacci-5-1">
		<div class="layoutWrapper">
			<div class="top"><span></span></div>
			<div class="layoutContent">
				<div class="layoutContentWrapper">
					<div class="layoutColumnOne">
						<div class="layoutColumnWrapper">
						
						<table>
							<thead>
								<tr>
									<th>Title</th>
									<th>Created<br />Modified</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<td colspan="3">
										<div class="onxshop_pagination">
											{PAGINATION}
										</div>
									</td>
								</tr>
							</tfoot>
							<tbody>
								<!-- BEGIN: item -->
								<tr class="{ITEM.class}">
									<td>
										<a href="/popup/edit/{ITEM.node_group}/{ITEM.id}/orig{_SESSION.orig}" onclick="openEdit('/popup/edit/{ITEM.node_group}/{ITEM.id}/orig{_SESSION.orig}'); return false;"><span class="{ITEM.class}">{ITEM.title|htmlspecialchars}</span></a>
									</td>
									<td>{ITEM.created}<br />{ITEM.modified}</td>
									<td>
										<div class="onxshop_edit_content">
											<a class="onxshop_delete" title="Delete {ITEM.node_group}" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/node_delete~id={ITEM.id}:delete=1~', 'Delete news item'); return false"><span>Delete</span></a>
										</div>
									</td>
								</tr>
								<!-- END: item -->
							</tbody>
						</table>	
						
						</div>
					</div>
					<div class="layoutColumnTwo">
						<div class="layoutColumnWrapper">
							<p><a class="button add" title="Add new article to {NEWS_LIST.title|htmlspecialchars}" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/news_add~news_list_id={NEWS_LIST.id}~', 'Create a news item for {NEWS_LIST.title|htmlspecialchars}'); return false"><span>Add a new article</span></a></p>
							<p>Export this list:<br /><a class="button rss" title="News RSS Export ({NEWS_LIST.title}" href="/export/rss/node/{NEWS_LIST.id}"><span>RSS</span></a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom"><span></span></div>
		</div>
	</div>

	<!-- END: list -->
</div>
<!-- END: content -->
