<!-- BEGIN: content -->
<div class="news-list">

<script type="text/javascript">
$(function() {

    $('div.news-list a.onyx-duplicate').on('click', function() {
        var child_id = $(this).attr('href').replace('#','');;
        $.get('/request/bo/component/node_duplicate~id='+child_id+'~', function(data) {
            popupMessage($(data).find("div.onyx-messages"));
            refreshList();
        });
        return false;
    });

});

function refreshList() {
    var refresh_url = '/request/bo/component/news_list~display_pagination=1~';
    $('div.news-list').parent().load(refresh_url);
}

</script>

    {MESSAGES}
    
    <!-- BEGIN: list -->
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Parent</th>
                <th>Created<br /><a href="?sorting=modified">Modified</a></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div class="onyx-pagination">
                        {PAGINATION}
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <!-- BEGIN: item -->
            <tr class="{ITEM.class}" id="node-id-{ITEM.id}">
                <td>
                    <a href="/backoffice/news/edit/{ITEM.node_group}/{ITEM.id}"><span class="{ITEM.class}">{ITEM.title|htmlspecialchars}</span></a>
                </td>
                <td>{ITEM.parent}</td>
                <td>{ITEM.created}<br />{ITEM.modified}</td>
                <td>
                    <div class="onyx-edit-content">
                        <a class="onyx-duplicate" title="Duplicate {ITEM.node_controller}" href="#{ITEM.id}"><span>Duplicate</span></a>
                        <a class="onyx-delete" title="Delete {ITEM.node_group}" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/node_delete~id={ITEM.id}:delete=1~', 'Delete news item'); return false"><span>Delete</span></a>
                    </div>
                </td>
            </tr>
            <!-- END: item -->
        </tbody>
    </table>

    <p><a class="button add" title="Add new article to {BLOG_SECTION.title|htmlspecialchars}" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/news_add~blog_node_id={GET.blog_node_id}~', 'Create a news item for {BLOG_SECTION.title|htmlspecialchars|addslashes}'); return false"><span>Add a New Article</span></a></p>
    <!-- END: list -->

</div>
<!-- END: content -->
