<!-- BEGIN: content -->
    {MESSAGES}

    <script type="text/javascript">
        function afterNodeDelete(node_id) {
            $('.bo-page').addClass('htmx-request');

            $("#node-id-" + node_id).empty();
            $("#node-item-id-" + node_id).empty();
            closeDialog();

            //  load parent detail, refresh level
            htmx.trigger('#navigation-node-{PARENT}', 'click');
        }
    </script>

    <!-- BEGIN: confirm -->

        <h2>Delete Item Forever</h2>
        <h3>Do you really want to delete {NODE.node_group|htmlspecialchars}/{NODE.node_controller|htmlspecialchars} named "{NODE.title|htmlspecialchars}" forever?</h3>
        <p><em>Note: this operation is irreversible</em></p>

        <!-- BEGIN:children -->
            <h5>Will delete as well</h5>
            <ul>
            <!-- BEGIN: item -->
                <li><a href="/backoffice/content/edit/{CHILD.id}">{CHILD.title|htmlspecialchars} <sup>{CHILD.node_group|htmlspecialchars}/{CHILD.node_controller|htmlspecialchars}</sup></a></li>
            <!-- END: item -->
            </ul>
        <!-- END:children -->

        <!-- BEGIN:linked -->
            <h5>Linked as shared content</h5>
            <ul>
            <!-- BEGIN: item -->
                <li><a href="/backoffice/content/{LINKED.id}"> {LINKED.title|htmlspecialchars} <sup>{LINKED.node_group|htmlspecialchars}/{LINKED.node_controller|htmlspecialchars}</sup></a></li>
            <!-- END: item -->
            </ul>
        <!-- END:linked -->

    <!-- END: confirm -->

    <div class="edit-actions">
        <button 
            class="button delete remove fakelink" 
            hx-get="/request/bo/component/node_delete?id={NODE.id}&delete=1&confirm={CONFIRMATION_CODE}"
            hx-indicator="#edit-dialog .content"
            hx-trigger="click"
            hx-on::after-request="afterNodeDelete({NODE.id})">
            Yes,&nbsp;Delete
        </button>
    </div>
<!-- END: content -->
