<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function(){
    $('#node-parent-tree ul.simple-tree').simpleTree({
        drag: false,
        autoclose: true,
        afterClick:function(node){
            var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
            $('#node-parent').attr('value', node_id);
            growlMessage("Parent set to node_id: " + node_id);
        },
        animate: true,
        docToFolderConvert: true
    });
});
</script>

<div id="node-parent-tree">
    <p style="padding-top: 20px;">Select target place from the menu below and Save after.</p>
    
    <ul class="simple-tree">
        <li class="root"><span><a href="#" onclick="$('#node-parent').attr('value', 0); growlMessage('Parent set to node_id: 0'); return false;"><span>Root</span></a></span>
            
            <!-- BEGIN: group -->
            <ul>
            <!-- BEGIN: item -->
            <li class='{ITEM.type} {ITEM.css_class} node-id-{ITEM.id}'>
                
                <!-- BEGIN:link -->
                <span><a href="#{ITEM.id}" title="{ITEM.title|htmlspecialchars} ID: {ITEM.id}, Priority: {ITEM.priority}, Type: {ITEM.node_group}, Layout: {ITEM.node_controller}" class="{ITEM.css_class} node-id-{ITEM.id}"><span>{ITEM.name|htmlspecialchars} ({ITEM.node_group}/{ITEM.node_controller})</span><!-- BEGIN: strapline --><br /><span class="strapline">{ITEM.strapline|strip_tags|htmlspecialchars}</span><!-- END: strapline --></a></span>
                <!-- END:link -->
                <!-- BEGIN:nolink -->
                <span><a href="#{ITEM.id}" title="{ITEM.title|htmlspecialchars} ID: {ITEM.id}, Priority: {ITEM.priority}, Type: {ITEM.node_group}, Layout: {ITEM.node_controller}" class="{ITEM.css_class} node-id-{ITEM.id}"><span>{ITEM.name|htmlspecialchars}</span></a></span>
                <!-- END:nolink -->
                
                {ITEM.subcontent}
            </li>
            <!-- END: item -->
            {END_RESULT_ITEMS}
            </ul>
            <!-- END: group -->
            {END_RESULT_GROUPS}
            
        </li>
    </ul>
</div>
<!-- END: content -->
