<!-- BEGIN: content -->
{MESSAGES}
<div id="content-list-{GET.id}">
<script type="text/javascript">
$(function() {

    // code styling of JSON in custom fields
    $(".custom-fields").each(function(index, element) {
        if ($(element).text() == '') {
            return;
        }
        const obj = JSON.parse($(element).text());
        if (obj) {
            $(element).text(JSON.stringify(obj, undefined, 2));
        }
    });
});
</script>
   
    <!-- BEGIN: children -->

    <ul class="content-pods" id="content-pods">
        <li class="root folder-open">
            <a href="#{GET.id}" class="fakelink"></a>
            <ul>
                <!-- BEGIN: item -->
                <li>
                    <span>
                        <a href="#{CHILD.id}" class="fakelink" title="Created: {CHILD.created} &#013;Last Modified: {CHILD.modified}">
                            <div class="content-pods__item">
                                <div class="content-pods__item--content">
                                    <span class="pill">ID {CHILD.id}</span>
                                    <span class="heading">
                                        <strong>{CHILD.title|htlmspecialchars}</strong>
                                        <p>({CHILD.node_controller})</p>
                                    </span>
                                    <!-- BEGIN: css_class -->
                                        <span class="label">CSS Classes:</span><p>{CHILD.css_class}</p>
                                    <!-- END: css_class -->

                                    <!-- BEGIN: content_excerpt -->
                                        <span class="label">Content:</span><p>{CONTENT_EXCERPT}</p>
                                    <!-- END: content_excerpt -->

                                    <!-- BEGIN: description -->
                                        <span class="label">Description:</span><p>{CHILD.description}</p>
                                    <!-- END: description -->

                                    <!-- BEGIN: custom_fields -->
                                        <span class="label">Custom Fields:</span><pre class="custom-fields">{CHILD.custom_fields|htlmspecialchars}</pre>
                                    <!-- END: custom_fields -->

                                    <!-- BEGIN: sub_items -->
                                        <p><span class="label">Sub items: {SUB_ITEMS}</span></p>
                                    <!-- END: sub_items -->
                                </div>
                                <div class="content-pods__item--images">
                                    {FILE_LIST}
                                </div>
                                <div class="content-pods__item--actions onyx-edit-page">
                                    <button class="onyx-edit fakelink" title="Edit {CHILD.title}" onclick="openEdit('/popup/properties/{CHILD.id}/orig' + window.location.pathname)"></button>
                                    <button class="onyx-duplicate fakelink" title="Duplicate {CHILD.title}" onclick="duplicateNode('{CHILD.id}', '{CHILD.parent}', '{CHILD.node_group}')"></button>
                                    <button class="onyx-delete fakelink" title="Delete {CHILD.title}" onclick="deleteNode('{CHILD.id}')"></button>
                                </div> 
                            </div>
                        </a>
                    </span>
                </li>
                <!-- END: item -->
            </ul>
        </li>
        
    </ul>
    <script type="text/javascript">
        $(document).ready(function(){
            function repositionNode(event, ui) {
                var source_node_id = $(ui.item).find('.fakelink').attr('href').match("[0-9]{1,}$");
                var destination_node_id = $(ui.item).closest('.root').find('.fakelink').attr('href').match("[0-9]{1,}$");
                var position = $(ui.item).parent().children().index(ui.item);
                
                $.post(
                    "/request/bo/component/node_move", 
                    {
                        csrf_token: getCSRFToken(),
                        source_node_id: source_node_id[0],
                        destination_node_id: destination_node_id[0],
                        position: position
                    }, 
                    function (data) {
                        popupMessage(data);
                        refreshNodeList('{GET.id}', '{GET.node_group}');
                    }
                );
            }

            $("#content-pods ul").sortable({
                scroll: true,
                placeholder: 'placeholder',

                update: function(event, ui) {
                    //feEditDragDrop(event, ui);
                },
                receive: function(event, ui) {
                    //feEditDragDrop(event, ui);
                },
                over: function(event, ui) {
                    //sortable_selected_id = $(event.target).attr('id');
                },
                change: function(event, ui) {
                    //sortable_selected_id = $(event.target).attr('id');
                },
                stop: function(event, ui) {
                    repositionNode(event, ui);
                },
                activate: function(event, ui) {
                }
            });
        });
    </script>

    <!-- END:children -->
    <button class="button add" title="Add Content"  onclick="addNode('{GET.id}', '{NODE_GROUP}', 'content')">Add Content</button>
    <!-- BEGIN: empty -->
    <p>This node contains no children of content type</p>
    <button class="button add" title="Add Content"  onclick="addNode('{GET.id}', '{NODE_GROUP}', 'content')">Add Content</button>
    <!-- END: empty -->
    <p></p>
</div>

<!-- END: content -->
