<!-- BEGIN: content -->
{MESSAGES}
<div class="node_list_recent">

	<table>
		<thead>
			<tr><th>Latest Updates</th><th>Type</th><th>Author</th><th>Modified</th></tr>
		</thead>
		<tbody>
			<!-- BEGIN: item -->
			<tr id="node_id_{ITEM.id}">
				<td><a class="{ITEM.class}" href="/backoffice/pages/{ITEM.id}">{ITEM.title|htmlspecialchars}</a></td>
				<td>{ITEM.node_group}/{ITEM.node_controller}</td>
				<td><a href="/backoffice/customers/{ITEM.latest_change_by}/detail">{ITEM.latest_change_by}</a></td>
				<td>{ITEM.modified}</td>
			</tr>
			<!-- END: item -->
		</tbody>
	</table>
</div>

<!-- END: content -->
