<!-- BEGIN: content -->
<!-- BEGIN: item -->
<li
    id="navigation-node-{ITEM.id}"
    class="navigation-list-item {ACTIVE} {HAS_CHILDREN} {PUBLISHED}"
    title="{ITEM.node_group}/{ITEM.node_controller}" 
    hx-get="/request/bo/component/node_explorer_level~id={ITEM.id}:active={ITEM.id}~"
    hx-trigger="click"
    hx-target="#navigation-level-{TARGET}"
    hx-indicator="#navigation-level-{TARGET}"
    data-source-id="{ITEM.id}"
    data-parent-id="{ITEM.parent}"
    hx-on::after-request="levelRefresh(event)"
    >
    <span class="icon {ITEM.node_group} {ITEM.node_controller}" title="{ITEM.node_group}/{ITEM.node_controller}"></span>
    <span class="item-label">{ITEM.title|htmlspecialchars}</span>
</li>
<!-- END: item -->
<!-- BEGIN: action_buttons -->
<li class="action-buttons">
    <button
        hx-get="/request/bo/component/x_node_add?parent={GET.id}"
        class="button add" 
        id="button-add-subpage"
        hx-trigger="click"
        hx-target="#edit-dialog .content"
        hx-indicator="#edit-loading"
        hx-swap="innerHTML"
        hx-on::before-request="openDialog()">
        Add Node
    </button>
</li>
<!-- END: action_buttons -->
<!-- END: content -->
