<!-- BEGIN: content -->
{MESSAGES}
<style>
    @import url(/share/css/components/node-list-cards.css?{ONYX_CACHE_VERSION});
</style>
<div class="node-list-cards" id="content-list-{GET.id}">
    <!-- BEGIN: children -->
    <ul class="content-pods" id="content-pods">
        <li class="root folder-open">
            <a href="#{GET.id}" class="fakelink"></a>
            <ul>
                <!-- BEGIN: item -->
                <li>
                    <span>
                        <a href="#{CHILD.id}" class="fakelink" title="Type: {CHILD.node_controller} &#013;Created: {CHILD.created} &#013;Last Modified: {CHILD.modified}">
                            <div class="content-pods__item">
                                <div class="content-pods__item--content">
                                    <span class="pill">ID {CHILD.id}</span>
                                    <strong>{CHILD.title|htlmspecialchars}</strong>
                                    <p>{CHILD.node_group} - {CHILD.node_controller}</p>
                                    <!-- BEGIN: css_class -->
                                        <span class="label">CSS Classes:</span><p>{CHILD.css_class}</p>
                                    <!-- END: css_class -->

                                    <!-- BEGIN: content_excerpt -->
                                        <p>{CONTENT_EXCERPT}</p>
                                    <!-- END: content_excerpt -->

                                    <!-- BEGIN: description -->
                                        <span class="label">Description:</span><p>{CHILD.description}</p>
                                    <!-- END: description -->

                                    <!-- BEGIN: custom_fields -->
                                        <p class="custom-fields">{CHILD.custom_fields|htlmspecialchars}</p>
                                    <!-- END: custom_fields -->

                                    <!-- BEGIN: sub_items -->
                                        <p><span class="label">Sub items: {SUB_ITEMS}</span></p>
                                    <!-- END: sub_items -->
                                </div>
                                <div class="content-pods__item--images">
                                    {FILE_LIST}
                                </div>
                                <div class="content-pods__item--actions onyx-edit-page">
                                    <a class="onyx-edit action" href="/backoffice/content/{CHILD.id}" title="Edit {CHILD.title}"></a>
                                    <button class="onyx-duplicate action" title="Duplicate {CHILD.title}" onclick="duplicateNode('{CHILD.id}', '{CHILD.parent}', '{CHILD.node_group}')"></button>
                                    <button class="onyx-bin action" title="Move {CHILD.title} to Bin" onclick="trashNode(event, '{CHILD.id}')"></button>
                                </div> 
                            </div>
                        </a>
                    </span>
                </li>
                <!-- END: item -->
            </ul>
        </li>
    </ul>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $("#content-pods ul").sortable({
                scroll: true,
                placeholder: 'placeholder',

                stop: function(event, ui) {
                    repositionNode(event, ui, 'content');
                },
            });
        });
    </script>

    <!-- END:children -->
    <!-- BEGIN: empty -->
    <p>This node contains no children of content type</p>
    <!-- END: empty -->
</div>

<!-- END: content -->
