<!-- BEGIN: content -->

<script type="text/javascript">
    $(document).ready(function(){
        initialiseMenuPagesTree();
    });
    
    function initialiseMenuPagesTree() {
        $('#menupages-tree .simple-tree').simpleTree({
            drag: true,
            autoclose: false,
            afterClick:function(node){
                tinymce.remove();
                var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
                makeAjaxRequest("#sub-content", "/request/bo/component/node_edit~id="+node_id+"~", function(data) {
                    appendHeader();
                    initAdvancedSettingsButton();
                });
                $('#button-add-subpage').attr('data-node-id', node_id);
            },
            afterContextMenu:function(node){
                var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
                makeAjaxRequest("#sub-content", "/request/bo/component/node_edit~id="+node_id+"~");
                $('#button-add-subpage').attr('data-node-id', node_id);
            },
            afterMove:function(destination, source, position){
                var source_node_id = $('a:first', source).attr('href').match("[0-9]{1,}$");
                var destination_node_id = $('a:first', destination).attr('href').match("[0-9]{1,}$");
                
                $.post("/request/bo/component/node_move", {
                    csrf_token: getCSRFToken(),
                    source_node_id: source_node_id[0],
                    destination_node_id: destination_node_id[0],
                    position: position}, function (data) {
                        popupMessage(data);
                        refreshNodeList(destination_node_id[0], 'page');
                    });
                
                return false;
            },
            animate: true,
            docToFolderConvert: true /*when false, it will not allow to move page using drag&drop under a page without any children*/
        });
        $('#pages-node-menu').addClass('visible');
    
        // rewrite url on page select
        $('#pages-node-menu a').on('click', function(e) {
            e.preventDefault();
            let newLink = window.location.origin + '/backoffice/pages/' + $(this).attr('href').replace('#', '');
    
            if(window.history.pushState) {
                window.history.pushState({}, $(this).find('span').html(), newLink);
            }
        });
    }
    
</script>

<div id="menupages-tree">

    <ul class="simple-tree">
        <li class="root"><span><a href="#0" onclick="makeAjaxRequest('#sub-content', '/request/bo/component/node_edit~id=0~', function(){appendHeader()}); $('#button-add-subpage').attr('data-node-id', 0); return false"><span>Site {CONFIGURATION.global.title|htmlspecialchars}</span></a></span>
            
            <!-- BEGIN: group -->
            <ul>
            <!-- BEGIN: item -->
            <li class="{ITEM.node_group} {ITEM.node_controller} node-id-{ITEM.id} {ITEM.css_class}">
                
                <!-- BEGIN:link -->
                <span><a href="#{ITEM.id}" title="{ITEM.title|htmlspecialchars} ID: {ITEM.id}, Priority: {ITEM.priority}, Type: {ITEM.node_group}, Controller: {ITEM.node_controller}" class="{ITEM.node_group} {ITEM.node_controller} node-id-{ITEM.id} {ITEM.css_class}"><span>{ITEM.name|htmlspecialchars}</span><!-- BEGIN: strapline --><br /><span class="strapline">{ITEM.strapline|strip_tags|htmlspecialchars}</span><!-- END: strapline --></a></span>
                <!-- END:link -->
                <!-- BEGIN:nolink -->
                <span><a href="#{ITEM.id}" title="{ITEM.title|htmlspecialchars} ID: {ITEM.id}, Priority: {ITEM.priority}, Type: {ITEM.node_group}, Controller: {ITEM.node_controller}" class="{ITEM.node_group} {ITEM.node_controller} node-id-{ITEM.id} {ITEM.css_class}"><span>{ITEM.name|htmlspecialchars}</span></a></span>
                <!-- END:nolink -->
                
                {ITEM.subcontent}
            </li>
            <!-- END: item -->
            {END_RESULT_ITEMS}
            </ul>
            <!-- END: group -->
            {END_RESULT_GROUPS}
            
        </li>
    </ul>
    
</div>

<!-- END: content -->
