<!-- BEGIN: content -->
{MESSAGES}
<div class="node-list-recent">

    <table>
        <thead>
            <tr><th>Latest Updates</th><th>Type</th><th>Author</th><th>Modified</th></tr>
        </thead>
        <tbody>
            <!-- BEGIN: item -->
            <tr id="node-id-{ITEM.id}">
                <td><a class="{ITEM.class}" href="/backoffice/content/{ITEM.id}">{ITEM.title|htmlspecialchars}</a></td>
                <td>{ITEM.node_group}/{ITEM.node_controller}</td>
                <td><a href="/backoffice/customers/{ITEM.latest_change_by}/detail">{ITEM.latest_change_by_fname} {ITEM.latest_change_by_lname}</a></td>
                <td>{ITEM.modified}</td>
            </tr>
            <!-- END: item -->
        </tbody>
    </table>
</div>

<!-- END: content -->
