<!-- BEGIN: content -->
<style>
    @import url(/share/css/components/node-explorer.css?{ONYX_CACHE_VERSION});
</style>
<script>
    $(function() {
        initializeDragAndDrop();
    });

    // rewrite url on page select
    $(document).on('click', '.navigation-list li', function(e) {
        e.preventDefault();
        if($(this).attr('id')) {
            let newLink = window.location.origin + '/backoffice/content/' + $(this).attr('id').replace('navigation-node-', '');
    
            if(window.history.pushState) {
                window.history.pushState({}, $(this).find('span').html(), newLink);
            }
        }
    });

    //rewrite node name in explorer after edit
    document.body.addEventListener('updateNodeName', function(event) {
        if (event.detail && event.detail.nodeId) {
            document.getElementById('navigation-node-' + event.detail.nodeId).querySelector('.item-label').innerText = event.detail.nodeName;
        }
    });

    function scrollToActive(list) {
        var activeItem = list.querySelector('li.active');
        var explorer = document.querySelector('.levels');

        if (activeItem) {
            activeItem.scrollIntoView({ behavior: 'smooth', block: 'nearest' }); 
        }

        if (explorer) {
            explorer.scrollTo({ left: explorer.scrollWidth - explorer.clientWidth, behavior: 'smooth' });
        }
    }

    function initializeDragAndDrop() {
        const explorer = document.querySelector('#node-explorer .levels');
        let draggedItem = null;
        let sourceNodeId = null;
        let sourceNodeTitle = null;
        let sourcePosition = null;
        let sourceList = null;
        let targetList = null;

        if (explorer.dataset.dragAndDropInitialized) return;
        explorer.dataset.dragAndDropInitialized = true;

        // Drag Start
        explorer.addEventListener('dragstart', function (e) {
            draggedItem = e.target;
            if (!draggedItem.classList.contains('navigation-list-item')) {
                e.preventDefault();
                return;
            }
            sourceList = draggedItem.parentElement;
            sourceNodeId = draggedItem.dataset.sourceId;
            sourceNodeTitle = draggedItem.querySelector('.item-label').innerText;
            sourcePosition = [...sourceList.children].indexOf(draggedItem);
            e.dataTransfer.effectAllowed = 'move'; // Explicitly set the allowed effect
            draggedItem.classList.add('dragging');
            setTimeout(function() { draggedItem.classList.add('hidden'); }, 400);
        });

        explorer.addEventListener('dragend', function (e) {
            e.preventDefault();
            draggedItem.classList.remove('dragging', 'hidden');

            let parentId = 0;
            let position = 0;
            let targetList = draggedItem.parentElement;
            let message;
            let isActive = draggedItem.classList.contains('active');
            let activeId = document.querySelector('.levels ul.navigation-list:nth-last-child(2)').dataset.parentId;

            // check for drop on item first
            const acceptChild = document.querySelector('li.accept-child');
            if (acceptChild) {
                // do not allow adding under it's current parent
                if(acceptChild.dataset.sourceId == draggedItem.dataset.parentId) {
                    acceptChild.classList.remove('accept-child');
                    sourceList.insertBefore(draggedItem, sourceList.children[sourcePosition]);
                    return;
                }

                //if acceptChild is active, insert the dragged item into next column
                if(acceptChild.classList.contains('active')) {
                    let acceptChildList = targetList.nextElementSibling;
                    //for some reason does not work without cloning the node first
                    let newItem = draggedItem.cloneNode(true);
                    newItem.setAttribute('data-parent-id', acceptChild.dataset.sourceId);
                    acceptChildList.insertBefore(newItem, acceptChildList.children[0]);
                }

                parentId = acceptChild.dataset.sourceId;
                parentTitle = acceptChild.querySelector('.item-label').innerText;
                message = "Are you sure you want to move item \"" + sourceNodeTitle + "\" (" + sourceNodeId + ") under the parent node \"" + parentTitle + "\" (" + parentId + ")?"
                draggedItem.remove();
            } else if (sourceList === targetList) {
                // dragging in the same column
                parentId = draggedItem.dataset.parentId || 0;
                position = [...draggedItem.parentElement.children].indexOf(draggedItem);
                message = "";
            } else {
                //dragging between different columns
                parentId = targetList.dataset.parentId || 0;
                position = [...draggedItem.parentElement.children].indexOf(draggedItem);
                parentTitle = parentId == 0 ? 'Home' : document.querySelector('#navigation-node-' + parentId + ' .item-label').innerText;
                message = "Are you sure you want to move item \"" + sourceNodeTitle + "\" (" + sourceNodeId + ") under the parent node \"" + parentTitle + "\" (" + parentId + ") to position " + (position + 1) + "?"
            }
            
            if (message.length == 0 || confirm(message)) {
                document.querySelector('#explorer-loading').classList.add('htmx-request');
                updateNodePosition(sourceNodeId, parentId, position, function() {
                    //adding has-children class to new parent if necessary
                    if(acceptChild && !acceptChild.classList.contains('has-children')) {
                        acceptChild.classList.add('has-children');
                    }

                    if (acceptChild) acceptChild.classList.remove('accept-child');
                    document.querySelector('#explorer-loading').classList.remove('htmx-request');
                    
                    //if moving last child of the list, remove parent's has-children class
                    if(sourceList.querySelectorAll('li.navigation-list-item').length == 0) {
                        const parentItem = document.querySelector('#navigation-node-' + sourceList.dataset.parentId);
                        if(parentItem) parentItem.classList.remove('has-children');
                    }

                    //refresh explorer if moving active items
                    if(isActive && targetList != sourceList) {
                        htmx.trigger(document.querySelector('#node-explorer'), 'explorerRefresh');
                    }
                });
            } else {
                if (acceptChild) acceptChild.classList.remove('accept-child');
                sourceList.insertBefore(draggedItem, sourceList.children[sourcePosition]);
            }
            draggedItem = null;
        });

        // Drag Over - the element has a draggable item being dragged over it,
        explorer.addEventListener('dragover', function (e) {
            e.preventDefault();
            e.dataTransfer.dropEffect = 'move';

            const dropTarget = e.target;

            if (dropTarget.tagName === 'LI' && dropTarget !== draggedItem && dropTarget.classList.contains('navigation-list-item')) {
                const rect = dropTarget.getBoundingClientRect();
                const mouseY = e.clientY - rect.top;

                if (mouseY > rect.height / 2) {
                    dropTarget.parentNode.insertBefore(draggedItem, dropTarget.nextSibling);
                } else {
                    dropTarget.parentNode.insertBefore(draggedItem, dropTarget);
                }
            }
        });

        // Drag Leave - the element has a draggable item being dragged out of it
        explorer.addEventListener('dragleave', function (e) {
            let target = e.target;
            let listItem = target.closest('li'); // Find the closest LI ancestor
        });

        // Drag Enter - the element has a draggable item being dragged into it
        explorer.addEventListener('dragenter', function (e) {
            let target = e.target;
            let listItem = target.closest('li'); // Find the closest LI ancestor
            document.querySelectorAll('li.accept-child').forEach((el) => {
                el.classList.remove('accept-child');
            })
            draggedItem.classList.remove('inactive');

            if (listItem && listItem !== draggedItem) {
                listItem.classList.add('accept-child');
                draggedItem.classList.add('inactive');
            }
        });

        function updateNodePosition(nodeId, parentId, position, callback) {
            $.post(
                "/request/bo/component/node_move",
                {
                    csrf_token: getCSRFToken(),
                    source_node_id: nodeId,
                    destination_node_id: parentId,
                    position: position
                },
                function (data) {
                    popupMessage(data);
                    callback();
                }
            );
        }
    }

    function levelRefresh(event) {
        const actualLevel = event.target.closest('ul').nextElementSibling;
        const actualLevelId = actualLevel.id.replace('navigation-level-', '');
        const emptyLevel = document.createElement('ul');

        actualLevel.classList.add('nav-list-' + event.target.dataset.sourceId);
        actualLevel.setAttribute('hx-get', '/request/bo/component/node_explorer_level~id=' + event.target.dataset.sourceId + '~');
        actualLevel.setAttribute('hx-trigger', 'navRefresh');
        actualLevel.setAttribute('hx-swap', 'innerHTML');
        actualLevel.setAttribute('hx-on::after-request', 'scrollToActive(this);');
        actualLevel.setAttribute('hx-indicator', '#navigation-level-' + actualLevelId);
        actualLevel.setAttribute('data-parent-id', event.target.dataset.sourceId);

        htmx.process(actualLevel);

        emptyLevel.classList.add('navigation-list', 'empty');
        emptyLevel.id = 'navigation-level-' + (parseInt(actualLevelId) + 1);

        let next = actualLevel.nextElementSibling;
        while (next) {
            let toRemove = next;
            next = next.nextElementSibling;
            toRemove.remove();
        }

        document.querySelectorAll('.navigation-list.empty').forEach((el) => {
            el.classList.remove('empty');
        });

        scrollToActive(actualLevel);
        actualLevel.parentNode.appendChild(emptyLevel);
    }

    function loadDetailOnClick(event) {
        htmx.ajax('GET', '/request/bo/component/node_edit', {
            target: '#node-properties-edit',
            values: { id: event.target.dataset.sourceId },
            indicator: '#detail-loading'
        });
    }

</script>
<div id="explorer-loading" class="onyx-loading htmx-indicator">
    <img src="/share/images/loading.svg" alt="Loading..."/>
</div>
<div class="levels">
    <!-- BEGIN: level -->
    <ul 
        id="navigation-level-{LEVEL}"
        class="navigation-list nav-list-{ROOT}"
        hx-get="/request/bo/component/node_explorer_level~id={ROOT}:active={ACTIVE_PAGE}~"
        hx-trigger="load, navRefresh"
        hx-swap="innerHTML"
        hx-on::after-request="scrollToActive(this);"
        hx-indicator="#navigation-level-{LEVEL}"
        data-parent-id="{ROOT}"
    >
    </ul>
    <!-- END: level -->
    <ul 
        id="navigation-level-{LAST}"
        class="navigation-list empty"
        hx-indicator="#navigation-level-{LAST}"
    >
    </ul>
</div>
<!-- END: content -->
