<!-- BEGIN: content -->
<div class="node-info">
{MESSAGES}

<div class="actions">
    <a href="/backoffice/content/{NODE.id}" class="edit">
        <img src="/share/images/icons/icon_node_edit.svg">
        <div class="label">Edit</div>
    </a>
    
    <button class="duplicate" onclick="duplicateNode('{NODE.id}', '{NODE.parent}', '{NODE.node_group}', '{SUB_ITEMS}')">
        <img src="/share/images/icons/icon_node_duplicate.svg" />
        <div class="label">Duplicate</div>
    </button>

    <button class="move" onclick="moveNode(event, '{NODE.node_group}', '{NODE.id}')">
        <img src="/share/images/icons/icon_node_move_2.svg" />
        <div class="label">Move</div>
    </button>

    <button class="delete" title="Move {NODE.title} to Bin" onclick="trashNode(event, '{NODE.id}')">
       <img src="/share/images/icons/icon_node_trash.svg" />
        <div class="label">Delete</div>
    </button>
</div>

<h2>{NODE.title}</h2>
<p>{NODE.node_group} - {NODE.node_controller}</p>

<div class="node-info-block">
    <h4>Information</h4>
    <p><span class="label">ID:</span> {NODE.id}</p>
    <p><span class="label">Name:</span> {NODE.title}</p>
    <p><span class="label">Display Title:</span> {NODE.page_title}</p>
    <p><span class="label">Content Type:</span> {NODE.node_group}</p>
    <p><span class="label">Sub items:</span> {SUB_ITEMS}</p>
</div>

<div class="node-info-block">
    <h4>Description</h4>
    <p>{NODE.description}</p>
</div>

<div class="node-info-block">
    <h4>Content</h4>
    <p>{CONTENT_EXCERPT}</p>
</div>

<div class="node-info-block">
    <h4>CSS Classes</h4>
    <p>{NODE.css_class}</p>
</div>

<div class="node-info-block">
    <h4>Files</h4>
    {FILE_LIST}
</div>
</div>
<!-- END: content -->
