<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div id="child_list_{GET.id}">
<script type="text/javascript">
$(function() {

	$('#child_list_{GET.id} a.add, #button_add_subpage').on('click', function() {
		$('#dialog').empty();
		var node_id = $(this).attr('data-node_id');
		var container_id = 0;
		var node_group = $(this).attr('data-node_group');
		var url = '/request/bo/component/node_add~node_group='+node_group+':parent=' + node_id + ':container=' + container_id + ':expand_all=1~';

		$('#dialog').addClass('ajaxLoad').load(url, '', function() {
			var button = '#node_add_form_' + node_id + '_' + container_id + '_wrapper button';
			var container = '#node_add_form_' + node_id + '_' + container_id + '_wrapper';
			$(button).after(' or <a href="#" onclick="$(\'' + container + '\').remove(); return false;"><span>cancel</span></a>');
			
			$('#node_add_form_'+node_id+'_'+container_id+'_wrapper form').ajaxForm({ 
				target: '#node_add_form_'+node_id+'_'+container_id+'_wrapper',
				success: function(responseText, statusText) {
					popupMessage("#node_add_form_"+node_id+"_"+container_id+"_wrapper div.onxshop_messages");
					refreshList();
					$('#dialog').empty().dialog('close');
				}
			});
		});
		$('#dialog').dialog({width: 500, modal: true, overlay: {opacity: 0.5, background: 'black'}, title: 'Add new node'});
		$('#dialog').dialog('open');
		return false;
	});
	$('#child_list_{GET.id} a.onxshop_delete').on('click', function() {
		$('#dialog').empty();
		var child_id = $(this).attr('href').replace('#','');;
		$('#dialog').addClass('ajaxLoad').load('/request/bo/component/node_delete~id='+child_id+':delete=1~', function() {$(this).removeClass('ajaxLoad');});
		$('#dialog').dialog({width: 500, modal: true, overlay: {opacity: 0.5, background: 'black'}, title: 'Delete node', beforeClose: function( event, ui ) {refreshList()}});
		$('#dialog').dialog('open');
		return false;
	});
	$('#child_list_{GET.id} a.onxshop_duplicate').on('click', function() {
		var child_id = $(this).attr('href').replace('#','');;
		$.get('/request/bo/component/node_duplicate~id='+child_id+'~', function(data) {
			popupMessage($(data).find("div.onxshop_messages"));
			refreshList();
		});
		return false;
	});

});

function refreshList() {
	var refresh_url = '/request/bo/component/node_list~id={GET.id}:node_group={NODE_GROUP}~';
	$('#child_list_{GET.id}').parent().load(refresh_url);
	$('#pages_node_menu').load('/request/bo/component/node_menu~id=0:open=0:expand_all=1:publish=0~', function() {initialiseMenuPagesTree()});
}

</script>

	<!-- BEGIN: children -->
	<table>
		<thead>
			<tr><th>Title</th><th>Type</th><th>Container</th><th>Priority</th><th></th></tr>
		</thead>
		<tbody>
			<!-- BEGIN: item -->
			<tr id="node_id_{CHILD.id}">
				<td><a class="{CHILD.class}" href="javascript:void({CHILD.id})" onclick="openEdit('/popup/properties/{CHILD.id}/orig' + window.location.pathname)" title="Modified: {CHILD.modified|htmlspecialchars}">{CHILD.title|htmlspecialchars}</a></td>
				<td>{CHILD.node_group}/{CHILD.node_controller}</td>
				<td>{CHILD.parent_container}</td>
				<td>{CHILD.priority}</td>
				<td><div class="onxshop_page_properties">
					<a class="onxshop_duplicate" title="Duplicate {CHILD.node_controller}" href="#{CHILD.id}"><span>Duplicate</span></a>
					<a class="onxshop_delete" title="Delete {CHILD.node_controller}" href="#{CHILD.id}"><span>Delete</span></a>
				</div></td>
			</tr>
			<!-- END: item -->
		</tbody>
	</table>
	<!-- END:children -->
	<!-- BEGIN: empty -->
	<p>This node contains no children</p>
	<!-- END: empty -->
	<p><a class="button add" title="Add Content ..." data-node_id="{GET.id}" data-node_group="{NODE_GROUP}" href="#child_list_{GET.id}" ><span>Add Content ...</span></a></p>
</div>

<!-- END: content -->
