<!-- BEGIN: content -->
{MESSAGES}
<!-- BEGIN: form -->
<div 
    class="node-edit node-{NODE.node_group}-{NODE.node_controller}">
    <div class="actions" style="float: right; padding: 10px 0 0 20px;">
        <button class="onyx-duplicate action" title="Duplicate {NODE.title}" onclick="duplicateNode('{NODE.id}','{NODE.parent}', '{NODE.node_group}', '{SUB_ITEMS}')"></button>
        <button class="onyx-bin action" title="Move {NODE.title} to bin" onclick="trashNode(event, '{NODE.id}')"></button>
    </div>
    {SUB_CONTENT}
</div>
<!-- END: form -->

<!-- END: content -->
