<!-- BEGIN: content -->
{MESSAGES}
<div id="page-list-{GET.id}">
    <!-- BEGIN: children -->
    <table>
        <thead>
            <tr><th>Title</th><th>Page Type</th><th>ID</th><th>Priority</th><th></th></tr>
        </thead>
        <tbody>
            <!-- BEGIN: item -->
            <tr id="node-id-{CHILD.id}" class="{CHILD.class}">
                <td><a class="{CHILD.class}" onclick="openEdit('/popup/properties/{CHILD.id}/orig' + window.location.pathname)" title="Modified: {CHILD.modified|htmlspecialchars}">{CHILD.title|htlmspecialchars}</a></td>
                <td><a class="{CHILD.class}" onclick="openEdit('/popup/properties/{CHILD.id}/orig' + window.location.pathname)" title="Modified: {CHILD.modified|htmlspecialchars}">{CHILD.node_controller}</a></td>
                <td>{CHILD.id}</td>
                <td>{CHILD.priority}</td>
                <td>
                    <div class="onyx-edit-page">
                        <button class="onyx-duplicate" title="Duplicate {CHILD.title}" onclick="duplicateNode('{CHILD.id}','{CHILD.parent}', '{CHILD.node_group}')"></button>
                        <button class="onyx-delete" title="Delete {CHILD.title}" onclick="deleteNode('{CHILD.id}')"></button>
                    </div>
                </td>
            </tr>
            <!-- END: item -->
        </tbody>
    </table>
    <!-- END:children -->
    <!-- BEGIN: empty -->
    <p>This node contains no children</p>
    <!-- END: empty -->
    <p><button class="button add" title="Add Node" onclick="addNode('{GET.id}', 'page', 'page')">Add Page</button></p>
</div>

<!-- END: content -->
