<!-- BEGIN: content -->
{MESSAGES}

<script type="text/javascript">
    function afterDuplicate(parent_id) {
        popupMessage("div.onyx-messages");
        htmx.trigger('.nav-list-' + parent_id, 'navRefresh');
    }
</script>

<!-- BEGIN: form -->
<div 
    class="node-edit node-{NODE.node_group}-{NODE.node_controller}">
    <div class="actions" style="float: right; padding: 10px 0 0 20px;">
        <button 
            class="onyx-expand action" 
            title="Expand this tab" 
            onclick="expandNodeDetail('{NODE.id}')">
        </button>

        <button 
            class="onyx-duplicate action" 
            title="Duplicate {NODE.node_group|ucfirst} '{NODE.title}'" 
            hx-get="/request/bo/component/node_duplicate?id={NODE.id}"
            hx-confirm="Are you sure you want to duplicate this node and all its children?"
            hx-indicator="#node-properties-edit"
            hx-swap="noswap"
            hx-on::after-request="afterDuplicate({NODE.parent})"
        >
        </button>

        <button 
            class="onyx-bin action" 
            title="Move {NODE.node_group|ucfirst} '{NODE.title}' to bin" 
            onclick="trashNode(event, '{NODE.id}')">
        </button>
    </div>
    {SUB_CONTENT}
</div>
<!-- END: form -->

<!-- END: content -->
