<style>
    @import url(/share/css/components/component-preview.css?{ONYX_CACHE_VERSION});
    @import url(/share/css/components/edit-dialog.css?{ONYX_CACHE_VERSION});
</style>
<div class="page-header">
  <div class="page-header-wrapper">
      <h1 class="page-title popup"><span>{NODE.node_controller|htmlspecialchars|ucfirst} {NODE.node_group|htmlspecialchars|ucfirst}</span> <span class="info" title="{NODE.node_group|htmlspecialchars}/{NODE.node_controller|htmlspecialchars}">ID {NODE.id}</span></h1>
  </div>
</div>
