<!-- BEGIN: content -->

    <!-- BEGIN: preview -->
    <fieldset id="component-qr-code" class="component-preview qrcode">
        <div id="qr-code-loading" class="onyx-loading htmx-indicator">
            <img src="/share/images/loading.svg" alt="Loading..."/>
        </div>
            
        <legend>QR Code</legend>

        <div class="wrapper">
            <div class="img">
                <img src="/view/{QRCODE}" alt="QR Code" width="150" height="150"/>
            </div>

            <div class="body">
                <span class="label">Current QR Code URL:</span>
                <span class="value"><a href="{QRCODE_URL}" class="link">{QRCODE_URL}</a></span>

                <span class="label">Additional Parameters:</span>
                <span class="value">{NODE.custom_fields.qrcode_params|htmlspecialchars}</span>
            </div>
        </div>

        <div class="component-actions">
            <a class="download button" title="Download QR Code" href="/download/{QRCODE}"><span>PNG</span></a>
            <button
                hx-get="/request/bo/component/qr_code?edit=true&node_id={NODE.id}"
                hx-target="#edit-dialog .content"
                hx-indicator="#edit-loading"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-on::before-request="openDialog()"
                class="btn">
                Edit
            </button>
        </div>
    </fieldset>
    <!-- END: preview -->

    <!-- BEGIN: edit -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#qr-regenerate').on('click', function() {
                let params = $('#qrcode_parameters').val();
                makeAjaxRequest('#qr-code-generator', '/request/bo/component/qr_code?node_id={GET.node_id}&regenerate=true&params='+ encodeURIComponent(params), function() {
                    $('#qrcode_parameters').val(params);
                });
            });
        });
    </script>

    <form id="qr-code-edit" class="qrcode">
        <h2>QR Code Edit</h2>

        <div class="row text">
            <label for="qrcode_parameters">Additional parameters:</label>
            <input type="text" id="qrcode_parameters" name="node[custom_fields][qrcode_params]" value="{NODE.custom_fields.qrcode_params|htmlspecialchars}" placeholder="utm_source=circulator&utm_medium=email&utm_campaign=offers-040924"/>
            <div class="additional-info">Insert parameters using pattern: parameter1=value1&amp;parameter2=value2...</div>
        </div>

        {FILE "bo/component/edit_dialog_footer.html"}
    </form>
    <!-- END: edit -->
<!-- END: content -->
