<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function(){
	$('#rt_add_new a.button').live('click', function() {
	
		$('#rt_add_new').addClass('ajaxLoad').load('/request/bo/component/taxonomy_menu~expand_all=1:publish=0~', function() {
			
			$(this).removeClass('ajaxLoad');
			
			$('#rt_add_new .simpleTree').simpleTree({
				drag: false,
				autoclose: true,
				afterClick:function(node){
					var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
					var title = $('a:first', node).text();
					var template = $('#template_rt_select').html();
					
					var html_append = template;
					html_append = html_append.replace('__ID__', node_id);
					html_append = html_append.replace('__TITLE__', title);
					$('#rt_select').append(html_append);
					
				},
				animate: true,
				docToFolderConvert: true
			});
		
		});
		
		return false;
		
	});
	
});
</script>

<fieldset>
	<div class="row">
		<p>Related to <a href="/backoffice/advanced/taxonomy" target="_blank"><span>categories</span></a></p>
		<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
		<div id="rt_select">
			<!-- BEGIN:ptn -->
				<div>
				<input type="hidden" name="relation_taxonomy[]" value="{CURRENT.id}" />
				<button class="remove small" name="" onclick="this.parentNode.parentNode.removeChild(this.parentNode)"><span>Remove</span></button>
				<div style="display: inline-block" {CURRENT.class}>{BREADCRUMB}</div>
				</div>
			<!-- END:ptn -->
		</div>
		
		<div id="rt_add_new">
			<p><a class="button add" href="#"><span>Add Relation to a Category...</span></a></p>
		</div>
	
	
		<div id="template_rt_select" style="visibility: hidden">
			<div>
				<input type="hidden" name="relation_taxonomy[]" value="__ID__" />
				<button class="remove small" name="" onclick="this.parentNode.parentNode.removeChild(this.parentNode)"><span>Remove</span></button>
				<a href="/backoffice/pages/__ID__">__TITLE__</a><br />
			</div>
		</div>
	</div>
</fieldset>
<!-- END: content -->
