<!-- BEGIN: content -->
 <style>
    @import url(/share/css/components/revision-detail.css);
</style>

{MESSAGES}

<div class="revision-detail">
    <h3>Changes made compared to the current version in revision <span>{REVISION.id}</span></h3>
    <p>{REVISION.created|strtotime|date('d/m/Y H:i:s', %s)} by <a href="/backoffice/customers/{REVISION.customer_id}/detail" target="_blank">{REVISION.author.username} ({REVISION.author.email})</a></p>

    <table class="changes">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Current Value</th>
                <th></th>
                <th>Revision Value</th>
            </tr>
        </thead>

        <tbody>
            <!-- BEGIN: line -->
                <tr class="{CSS_CLASS}">
                    <td>{CHANGE.attribute}</td>
                    <td>{CHANGE.current}</td>
                    <td>⇒</td>
                    <td>{CHANGE.revision}</td>
                </tr>
            <!-- END: line -->
        </tbody>
    </table>
    <button onclick="restore({REVISION.id})" class="button restore">Apply</button>
</div>

<hr>

<script type="text/javascript">
    // TRIGGER ALERT
    function restore(id) {
        document.querySelector('#edit-dialog .content').classList.add('htmx-request');

        if (!confirm("Are you sure you want to restore changes from this revision to current version?")) {
            document.querySelector('#edit-dialog .content').classList.remove('htmx-request');
            return;
        } else {
            htmx.ajax('GET', '/request/bo/component/revision_restore?id=' + id,
                {
                    target: '#edit-dialog .content',
                    swap: 'innerHTML',
                }).then(() => {
                    document.querySelector('#edit-dialog .content').classList.remove('htmx-request');
                    closeDialog();
                    htmx.trigger('#node-properties-edit', 'loadDetail');
            });
        }
    }
</script>
<!-- END: content -->
