<!-- BEGIN: content -->
{MESSAGES}
<div class="scheduler-list">
<input type="hidden" name="scheduler_action" value="save"/>

<!-- BEGIN: no_schedule -->
<p id="no-schedule">This content has no publishing schedule.</p>
<!-- END: no_schedule -->

<ul id="scheduler-list">
    <!-- BEGIN:item -->
     <li><div class="scheduler-item">
        {ITEM.status_name} - {ITEM.controller|str_replace('_', ' ', %s)|ucfirst} on {ITEM.scheduled_time|strtotime||date('d/m/Y H:i:s', %s)}
        <a class="onyx-delete onyx-icon" title="Cancel job" onclick="$(this).parent().parent().remove(); return false;" href="#"><span>Remove</span></a>
     </div></li>
    <!-- END:item -->
</ul>

<a id="scheduler-add-new" href="#" class="button primary link"><span>Schedule new publishing</span></a>

<script type="text/javascript">
    $(function() {
        $("dialog a#scheduler-add-new").click(function() {

            var template = '<li><div class="scheduler-item">' +
                'New - <select name="scheduler[controller][]">' +
                    <!-- BEGIN: controller_item -->
                    '<option value="{ITEM}">{ITEM|ucfirst|preg_replace('/_/', ' ', %s)}</option>' +
                    <!-- END: controller_item -->
                '</select>' +
                ' on ' +
                '<div class="datepicker"><input type="date" class="date1" style="width: 80px;" name="scheduler[date][]" value="{TOMORROW}" /></div>' +
                '<input type="text" class="time" style="width: 64px;" name="scheduler[time][]" value="00:00:00" />' +
                '<a class="onyx-delete onyx-icon" title="Cancel job" onclick="$(this).parent().parent().remove(); return false;" href="#"><span>Remove</span></a>' +
            '</div></li>';

            $("dialog #scheduler-list").append(template);
            $("dialog #no-schedule").hide();

            return false;
        });
    });
    
</script>
</div>
<!-- END: content -->
