<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div class="twoColumnLayout layout fibonacci-3-2">
	<div class="layoutWrapper">
			<div class="top"><span>{RESULT}</span></div>
			<div class="layoutContent">
				<div class="layoutContentWrapper">
					<div class="layoutColumnOne ofTwo">
						<div class="layoutColumnWrapper">

							<h3>Pending jobs</h3>

							{LIST}
						</div>
					</div>
					<div class="layoutColumnTwo ofTwo">
						<div class="layoutColumnWrapper">

							<h3>Add a job</h3>

							<form method="post" action="/backoffice/advanced/scheduler">
								<fieldset>
									<div class="row">
										<span class="label"><label for="job_date">Job date</label></span>
										<input id="job_date" type="text" class="date" name="job[date]" value="{JOB.date|htmlspecialchars}" />
									</div>
									<div class="row">
										<span class="label"><label for="job_time">Job time</label></span>
										<input id="job_time" type="text" class="time" name="job[time]" value="{JOB.time|htmlspecialchars}" />
									</div>
									<div class="row">
										<span class="label"><label for="job_url">URL</label></span>
										<input id="job_url" type="text" class="long" name="job[url]" value="{JOB.url|htmlspecialchars}" />
									</div>
									<div class="row">
										<span class="label"></span>
										<button type="submit">Add job to queue</button>
									</div>
								</fieldset>
							</form>

							<script type="text/javascript">
								$(document).ready(function(){
									$('#job_date').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true}); 
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END: content -->