<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div id="schedulerList">

	<table>
		<tr>
			<th>Job number</th>
			<th>Job URL</th>
			<th>Date</th>
			<th>Hour</th>
			<th>Queue</th>
			<th>Username</th>
			<th>Remove</th>
		</tr>

		<!-- BEGIN: no_jobs -->
		<tr>
			<td colspan="6">There are no scheduled jobs.</td>
		</tr>
		<!-- END: no_jobs -->

		<!-- BEGIN: item -->
		<tr>
			<td>{ITEM.number}</td>
			<td id="schedulerUrl{ITEM.number}"><a href="#" title="Load detail" onclick="makeAjaxRequest('#schedulerUrl{ITEM.number}', '/request/bo/component/scheduler_detail?id={ITEM.number}'); return false;">...</a></td>
			<td>{ITEM.date}</td>
			<td>{ITEM.time}</td>
			<td>{ITEM.queue}</td>
			<td>{ITEM.username}</td>
			<td><div class="onxshop_page_properties">
				<a href="#" class="onxshop_delete" title="Remove job from queue" onclick="if (confirm('Are you sure you want to remove job {ITEM.number}?')) makeAjaxRequest('#schedulerList', '/request/bo/component/scheduler_list?remove={ITEM.number}'); return false;">
					<span>delete</span>
				</a>
				</div>
			</td>
		</tr>
		<!-- END: item -->

	</table>

	<div id="schedulerDetail">
	</div>

</div>

<!-- END: content -->