<!-- BEGIN: title -->SEO manager<!-- END: title -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="fix">{MESSAGES}</div><!-- END: messages -->
<script type="text/javascript">
$(document).ready(function() {
	$("div.seo_manager td.page_title a").editInPlace({
		url: "/request/bo/component/single_record_update~model=common_node:attribute=page_title~",
		params: "csrf_token=" + getCSRFToken()
	});
	$("div.seo_manager td.browser_title a").editInPlace({
		url: "/request/bo/component/single_record_update~model=common_node:attribute=browser_title~",
		params: "csrf_token=" + getCSRFToken()
	});
	$("div.seo_manager td.description a").editInPlace({
		url: "/request/bo/component/single_record_update~model=common_node:attribute=description~",
		params: "csrf_token=" + getCSRFToken(),
		field_type: "textarea"
	});
	$("div.seo_manager td.keywords a").editInPlace({
		url: "/request/bo/component/single_record_update~model=common_node:attribute=keywords~",
		params: "csrf_token=" + getCSRFToken(),
		field_type: "textarea"
	});
});
</script>

<div class="seo_manager"> 

	<div class="twoColumnPage page sidebar">
		<div class="top"><span></span></div>
		<div class="content">
			<div class="pageWrapper">

				<div class="pageHeader">
					<div class="pageHeaderWrapper">
						<h1 class="pageTitle"><span>SEO Manager</span></h1>
					</div>
				</div>

				<div class="pageContent">
					<div class="pageContentWrapper">
						<div class="rowTop">
							<div class="rowWrapper">
								<div class="columnWrapper">

									<table>
										<thead><th>URI</th><th>Page Heading Title</th><th>Browser Title</th><!--<th>Strapline</th>--><th>Excerpt (Description)</th><th>Labels (Keywords)</th></thead>
										<tbody>
											<!-- BEGIN: item -->
											<tr>
												<td><a href="{ITEM.public_uri}" target="_blank">{ITEM.public_uri}</a></td>
												<td class="page_title"><a href="#{ITEM.id}" id="comon_node-page_title-id-{ITEM.node_id}">{ITEM.page_title|htmlspecialchars}</a></td>
												<td class="browser_title"><a href="#{ITEM.id}" id="comon_node-browser_title-id-{ITEM.node_id}">{ITEM.browser_title|htmlspecialchars}</a></td>
												<!--<td>{ITEM.teaser|htmlspecialchars}</td>-->
												<td class="description"><a href="#{ITEM.id}" id="comon_node-description-id-{ITEM.node_id}">{ITEM.description|htmlspecialchars}</a></td>
												<td class="keywords"><a href="#{ITEM.id}" id="comon_node-keywords-id-{ITEM.node_id}">{ITEM.keywords|htmlspecialchars}</a></td>
											</tr>
											<!-- END: item -->
										</tbody>
									</table>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="bottom"><span></span></div>
	</div>

</div>
<!-- END: content -->
