<!-- BEGIN: content -->

<div id="server_browser_file_list_wrapper">

	<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
	
	<div id="server_browser_add">
	
		<form action="{URI|htmlspecialchars}" method="post" enctype="multipart/form-data" id="add_new_file">
			
			<!-- BEGIN: confirm_overwrite -->
			<p>Do you want to overwrite file {OVERWRITE_FILE.filename}?</p>
			<fieldset class="confirmOverwrite">
				<input type="hidden" name="filename" value="{OVERWRITE_FILE.filename}" />
				<input type="hidden" name="save_dir" value="{OVERWRITE_FILE.save_dir}" />
				<input type="hidden" name="temp_file" value="{OVERWRITE_FILE.temp_file}" />
				<button type="submit" name="overwrite" value="overwrite" title="Overwrite file {OVERWRITE_FILE.filename}?"><span>Yes, overwrite it.</span></button>
			</fieldset>
			<!-- END: confirm_overwrite -->
			
			<!-- BEGIN: add_new -->
			<div class="addNew">
				<fieldset class="addFolder single">
					
					<div class="row" id="add-folder">
						{FOLDER_HEAD} <input id="add-folder-input" type="text" name="new_folder" value="{GET.new_folder}" placeholder="New Folder Name" />
						<button type="submit" name="create" value="create" class="create"><span>Create</span></button>
					</div>
				</fieldset>
				<!-- BEGIN: upload_file -->
				<fieldset class="addNew single dropzone-wrap">
					<div id="add-dropzone" class="row dropzone">
						<h2>Drop files here</h2>
						<small>Max. {MAX_FILES} files, {MAX_FILE_SIZE}MB each</small>
					</div>
					<div class="row" id="add-file">
						<input id="add-file-input" type="file" name="file" class="file multi" multiple /> 
						<button type="submit" name="create" value="create"><span>Submit File</span></button><span> Max&nbsp;size:&nbsp;{MAX_FILE_SIZE} MB</span>
					</div>
				</fieldset>
				<!-- END: upload_file -->
				<!-- BEGIN: upload_instruction -->
				<fieldset style="padding-top: 20px;">
				<p>Please select a folder on the left or create a new folder. You are not allowed to upload any assets to the root folder.</p>
				</fieldset>
				<!-- END: upload_instruction -->
			</div>
			<!-- END: add_new -->
			
			<input type="hidden" name="open" value="{GET.open}" />
			
		<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
	</div>
	<div class="progress-total">
		Please wait, uploading <span class="num">0</span> file(s)...<br/>
		<progress value="0" max="100">0%</progress>
	</div>
	
	<!-- BEGIN: list -->
	<table class="server-browser">
		<tbody>
			<!-- BEGIN: item -->
			<tr id="file-{ITEM.file_path_encoded_relative}">
				<td><!-- BEGIN: thumbnail --><a style="display: block; min-width: 50px; min-height: 50px;" href="/image/{BASE}{FOLDER}{ITEM.name}" title="View Full Size" onclick="openImg('/image/{BASE}{FOLDER}{ITEM.name}'); return false;"><img src="/thumbnail/50x50/{BASE}{FOLDER}{ITEM.name}" alt="{ITEM.name}" /></a><br /><!-- END: thumbnail --></td>
				<td>
					<a href="/download/{BASE}{FOLDER}{ITEM.name}" title="Download {ITEM.name} ({ITEM.size})" style="display: block;">{ITEM.name|str_replace('_', ' ', %s)}</a>
				</td>
				<td>
					<a class="ui-icon ui-icon-search" style="float: left" title="View {ITEM.name} ({ITEM.size})" href="/view/{BASE}{FOLDER}{ITEM.name}" target="_blank"><span>View</span></a>
					<a class="ui-icon ui-icon-arrowthickstop-1-s" style="float: left" title="Download {ITEM.name} ({ITEM.size})" href="/download/{BASE}{FOLDER}{ITEM.name}"><span>Download</span></a>
					<a class="ui-icon ui-icon-info" style="float: left" href="#" title="Size: {ITEM.size}, click to view more details" onclick="openAjaxRequestInDialog('/request/bo/component/file_info~file_path_encoded={ITEM.file_path_encoded}~', 'File Info'); return false"><span>View more details</span></a>
					
					<!-- BEGIN: usage --><a href="#" onclick="openAjaxRequestInDialog('/request/bo/component/file_usage~file_path_encoded_relative={ITEM.file_path_encoded_relative}~', 'File Usage'); return false" title="Usage">{FILE_USAGE}x</a><!-- END: usage -->
				</td>
				<td>
					<!-- BEGIN: add_to_node --><a class="button small add" title="Use {ITEM.name}" href="#serverBrowser" onclick="makeAjaxRequest('#serverBrowser', '/request/bo/component/file_add~file_path_encoded={ITEM.file_path_encoded}:type={GET.type}:role={GET.role}:relation={GET.relation}:node_id={GET.node_id}~'); "><span>Use</span></a><br /><!-- END: add_to_node -->
					<!-- BEGIN: delete --><a class="button small remove" href="{_SERVER.REDIRECT_URL}?delete_file={BASE}{FOLDER}{ITEM.name}" onclick="$('#file-{ITEM.file_path_encoded_relative}').load('/request/bo/component/file_delete~file_path_encoded={ITEM.file_path_encoded_relative}~', function() {popupMessage('#file-{ITEM.file_path_encoded_relative} div.onxshop_messages');}); return false;"><span>Delete</span></a><!-- END: delete -->
					<!-- BEGIN: database_import --><a class="button add" title="Import {ITEM.name}" href="?data_file={BASE}{FOLDER}{ITEM.name}"><span>Import this ...</span></a><br /><!-- END: database_import --> 
				</td>
			</tr>
			<!-- END: item -->
		</tbody>
		
	</table>
	<!-- END: list -->
			
	<!-- BEGIN: empty -->
	<div class="empty">
		<p style="padding: 2em;">This folder is empty. Do you want to remove this folder? <a class="button delete" href="#" onclick="$('#server_browser_file_list').load('/request/bo/component/server_browser_file_list~delete_file={BASE}{FOLDER}~'); fileTreeRefresh(); return false"><span>Yes, delete?</span></a></p>
	</div>
	<!-- END: empty -->
				
</div>
<!-- this must be at the end, the document must start with HTML - otherwise overwrite doesn't work in Firefox
this component would be good to split into upload and file list
 -->
<script type="text/javascript">
	
	function newFileFormAfterSuccess() {
		newFileFormInit();
		fileTreeRefresh();
		popupMessage('#server_browser_file_list div.onxshop_messages');
	}
	
	function newFileFormInit() {
		var options = { 
			target: '#server_browser_file_list',   // target element(s) to be updated with server response 
			beforeSubmit:  function() {
				$("#server_browser_file_list button span").replaceWith("<span style='background: white; color: black; padding: 5px; display: block; font-size: 125%'><img src='/share/images/ajax-indicator/indicator.gif' alt='Loading ...'/> Saving...</span>");
			},  // pre-submit callback 
			success: newFileFormAfterSuccess,  // post-submit callback
			url:  "/request/bo/component/server_browser_file_list~open={GET.open}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}~"
		}; 

    	$('#add_new_file').ajaxForm(options); 
	}
	
	function showFileUploadDialog() {
		if (window.FileReader) {
			$('#add-dropzone').show();
			// keep upload input above the dropzone with zero opacity to allow click and select
			$('#add-file').hide();
			$('#add-dropzone').css("cursor", "pointer").click(function() {
				$("#add-file-input").click();
			});
		} else {
			$('#add-dropzone').hide();
			$('#add-file').show();
		}
		newFileFormInit();
	}
	
	function fileTreeRefresh() {
		$("#browser-tree").load("/request/bo/component/server_browser_menu~directory={BASE}:type={GET.type}:node_id={GET.node_id}:relation={GET.relation}:expand_all=1:type=d~", function() {initializeServerBrowserMenu()});
	}

	var overwriteDialogsOpen = 0;
	var allFilesUploadedFlag = false;

	function allFilesUploaded() {

		makeAjaxRequest("#server_browser_file_list", "/request/bo/component/server_browser_file_list~open={GET.open}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}~");
		growlMessage("Uploaded completed.");

	}

	var template =
		'<tr id="file-id">' +
			'<td><img/></td>' +
			'<td>' +
				'<span class="title"></span>&nbsp;<small class="speed"></small><br />' +
				'<progress value="0" max="100">0%</progress>' +
				'<div class="overwrite" style="display: none;">' +
				'File already exists. Do you want to overwrite it?<br/>' +
				'<button class="overwrite">Yes</button>' +
				'<button class="keep">No</button>' +
				'</div>' +
			'</td>' +
			'<td>' +
			'</td>' +
		'</tr>';

	function createImage(file) {

		var preview = $(template), 
		image = $('img', preview);

		var reader = new FileReader();

		image.css('width', 50);
		image.css('height', 50);
		$(".title", preview).text(file.name);

		reader.onload = function(e) { image.attr('src', e.target.result); };
		reader.readAsDataURL(file);
		$('table.server-browser tbody').prepend(preview);
		$.data(file, preview);
	}

	$(function() {
		$('#add-dropzone').filedrop({
			fallback_id: 'add-file-input',
			url: '/request/bo/component/server_browser_file_list~multiupload=true~',
			paramname: 'file',                // POST parameter name used on serverside to reference file
			withCredentials: true,            // make a cross-origin request with cookies
			error: function(err, file) {
				switch(err) {
					case 'BrowserNotSupported':
						growlMessage('Your browser does not support HTML5 file uploads!');
						break;
					case 'TooManyFiles':
						growlMessage('Too many files! You can upload maximum {MAX_FILES} files at once.');
						break;
					case 'FileTooLarge':
						growlMessage('File ' + file.name + ' too large! Current limit is {MAX_FILE_SIZE}MB');
						break;
					case 'FileTypeNotAllowed':
						growlMessage('File ' + file.name + ' is not a supported image.');
					default:
						break;
				}
				$("#server_browser_add").show();
				$("#server_browser_file_list_wrapper .progress-total").hide();
			},
			allowedfiletypes: [], // filetypes allowed by Content-Type.  Empty array means no restrictions
			maxfiles: {MAX_FILES},
			maxfilesize: {MAX_FILE_SIZE}, // max file size in MBs
			dragOver: function() { $("#add-dropzone").addClass("drag-over"); },
			dragLeave: function() { $("#add-dropzone").removeClass("drag-over"); },
			drop: function() { 
				$("#add-dropzone").removeClass("drag-over"); 
				$("#server_browser_add").hide();
				$("#server_browser_file_list_wrapper .progress-total").show();
			},
			uploadStarted: function(i, file, len){
				createImage(file);
				var num = $("#server_browser_file_list_wrapper .progress-total .num");
				num.html(1 + (num.text() * 1));
			},
			uploadFinished: function(i, file, response, time) {
				if (response) {

					if (response.status == 'file_exists') {
						overwriteDialogsOpen++;
						var dialog = $.data(file).find('.overwrite').show();
						dialog.find("button.overwrite").click(function() {
							$(this).parent().hide();
							$.post("/request/bo/component/server_browser_file_list~open={GET.open}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}~", {
								filename: response.filename,
								save_dir: response.save_dir,
								temp_file: response.temp_file,
								csrf_token: getCSRFToken(),
								overwrite: "overwrite"
							}, function(data) {
								overwriteDialogsOpen--;
								if (overwriteDialogsOpen == 0 && allFilesUploadedFlag == true) allFilesUploaded();
							});
						});
						dialog.find("button.keep").click(function() {
							$(this).parent().hide();
							overwriteDialogsOpen--;
							if (overwriteDialogsOpen == 0 && allFilesUploadedFlag == true) allFilesUploaded();
						});
					} else if (response.status != 'success') {
						growlMessage("An error occured during upload of the file '" + file.name + "'!");
					}
				}
			},
			speedUpdated: function(i, file, speed) {
	        	$.data(file).find('.speed').text("(" + Math.round(speed) + " kB/s)");
	    	},
			progressUpdated: function(i, file, progress) {
				$.data(file).find('progress').val(progress);
			},
			globalProgressUpdated: function(progress) {
				$("#server_browser_file_list_wrapper .progress-total progress").val(progress);
			},
			afterAll: function() {
				allFilesUploadedFlag = true;
				if (overwriteDialogsOpen == 0) allFilesUploaded();
			}
		});

		showFileUploadDialog();
	});

</script>

<!-- END: content -->
