<!-- BEGIN: content -->

<div id="server-browser-file-list-wrapper">

    {MESSAGES}
    
    <div id="server-browser-add">
    
        <form hx-post="/request/bo/component/server_browser_file_list~open={GET.open}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}:file_id={GET.file_id}~" enctype="multipart/form-data" id="add-new-file" hx-on::after-request="popupMessage('#server-browser-file-list div.onyx-messages');" hx-on::before-request="beforeRequest()" hx-target="#server-browser-file-list-wrapper">
            
            <!-- BEGIN: confirm_overwrite -->
            <p>Do you want to overwrite file {OVERWRITE_FILE.filename}?</p>
            <fieldset class="confirm-overwrite">
                <input type="hidden" name="filename" value="{OVERWRITE_FILE.filename}" />
                <input type="hidden" name="save_dir" value="{OVERWRITE_FILE.save_dir}" />
                <input type="hidden" name="temp_file" value="{OVERWRITE_FILE.temp_file}" />
                <button type="submit" name="overwrite" value="overwrite" title="Overwrite file {OVERWRITE_FILE.filename}?"><span>Yes, overwrite it.</span></button>
            </fieldset>
            <!-- END: confirm_overwrite -->
            
            <!-- BEGIN: add_new -->
            <div class="add-new">
                <fieldset class="add-folder single">
                    
                    <div class="media-breadcrumbs">{FOLDER_HEAD}</div>

                    <div class="row" id="add-folder">
                        <input id="add-folder-input" type="text" name="new_folder" value="{GET.new_folder}" placeholder="New Folder Name" />
                        <button type="submit" name="create" value="create" class="create"><span>Create</span></button>
                    </div>

                    <div class="media-subfolders">{SUBFOLDERS}</div>
                </fieldset>
                <!-- BEGIN: upload_file -->
                <fieldset class="add-new single dropzone-wrap">
                    <div id="add-dropzone" class="row dropzone">
                        <h2>Drop files here or click to upload.</h2>
                        <p class="limits">{MAX_FILES} files max, {MAX_FILE_SIZE}MB each</p>
                    </div>
                    <div class="row" id="add-file">
                        <input id="add-file-input" type="file" name="file" class="file multi" multiple /> 
                        <button type="submit" name="create" value="create"><span>Submit File</span></button><span> Max&nbsp;size:&nbsp;{MAX_FILE_SIZE} MB</span>
                    </div>
                </fieldset>
                <!-- END: upload_file -->
                <!-- BEGIN: upload_instruction -->
                <fieldset style="padding-top: 20px;">
                    <div class="row">
                        <p>You are not allowed to upload any assets into this folder.</p>
                        <!-- BEGIN: root --><p>Please select a folder on the left or create a new folder.</p><!-- END: root -->
                        <!-- BEGIN: permission --><p>Please select another folder on the left or contact your administrator to change folder permissions.</p><!-- END: permission -->
                    </div>
                </fieldset>
                <!-- END: upload_instruction -->
            </div>
            <!-- END: add_new -->
            
            <input type="hidden" name="open" value="{GET.open}" />
            <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
        </form>
    </div>
    <div class="progress-total">
        <div class="wrapper">
            <p>Please wait, uploading <span class="num">0</span> file(s)...</p>
            <progress value="0" max="100">0%</progress>
            <div class="file-uploads"></div>
        </div>
    </div>
    
    <!-- BEGIN: list -->
    <div class="server-browser">
        <div class="wrapper">
            <!-- BEGIN: item -->
            <div id="file-{ITEM.file_path_encoded_relative}" class="file">
                <!-- BEGIN: thumbnail --><img src="/thumbnail/200/{BASE}{FOLDER}{ITEM.name}" alt="{ITEM.name}" /><!-- END: thumbnail -->
                <div class="overlay">
                    <p style="display: block;">{ITEM.name|str_replace('_', ' ', %s)}</p>
                    <div class="file-info">
                        <a class="view" title="View {ITEM.name} ({ITEM.size})" href="/view/{BASE}{FOLDER}{ITEM.name}" target="_blank"><span>View</span></a>
                        <a class="download" title="Download {ITEM.name} ({ITEM.size})" href="/download/{BASE}{FOLDER}{ITEM.name}"><span>Download</span></a>
                        <a class="info" href="#" title="Size: {ITEM.size}, click to view more details" onclick="openAjaxRequestInDialog('/request/bo/component/file_info~file_path_encoded={ITEM.file_path_encoded}~', 'File Info'); return false"><span>View more details</span></a>
                    </div>
                    
                    <!-- BEGIN: usage --><a class="usage" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/file_usage~file_path_encoded_relative={ITEM.file_path_encoded_relative}~', 'File Usage'); return false" title="Usage">This file has been used<br>{FILE_USAGE} times</a><!-- END: usage -->
                    
                    <div class="file-actions">
                    <!-- BEGIN: add_to_node --><a class="button small add" title="Use {ITEM.name}" href="#serverBrowser" onclick="makeAjaxRequest('#server-browser', '/request/bo/component/file_add~file_path_encoded={ITEM.file_path_encoded}:type={GET.type}:role={GET.role}:relation={GET.relation}:node_id={GET.node_id}~'); "><span>Use</span></a><br /><!-- END: add_to_node -->
                    <!-- BEGIN: replace_file --><a class="button small add" title="Use {ITEM.name}" onclick="openAjaxRequestInDialog('/request/bo/component/file_replace~file_path_encoded={ITEM.file_path_encoded}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}:file_id={GET.file_id}~', 'Replace file'); "><span>Use</span></a><br /><!-- END: replace_file -->
                    <!-- BEGIN: delete --><a class="button small remove" onclick="deleteFile('{ITEM.file_path_encoded_relative}');"><span>Delete</span></a><!-- END: delete -->
                    <!-- BEGIN: database_import --><a class="button add" title="Import {ITEM.name}" href="?data_file={BASE}{FOLDER}{ITEM.name}"><span>Import this ...</span></a><br /><!-- END: database_import --> 
                </div>
                    
                </div>
            </div>
            <!-- END: item -->
        </div>
        
    </div>
    <!-- END: list -->
            
    <!-- BEGIN: empty -->
    <div class="empty">
        <p style="padding: 2em;">This folder is empty. Do you want to remove this folder? <br><br><a class="button delete remove" onclick="deleteFolder()"><span>Yes, delete?</span></a></p>
    </div>
    <!-- END: empty -->
                
    <script type="text/javascript">
    
        function deleteFile(file) {
            $('#file-' + file).load(
                '/request/bo/component/file_delete~file_path_encoded='+file+'~', 
                function() {
                    popupMessage('#file-{ITEM.file_path_encoded_relative} div.onyx-messages'); 
                    $('#file-' + file).addClass('deleted')
                    checkEmptyFolder();
                }
            );
    
            return false;
        }
    
        function deleteFolder() {
            makeAjaxRequest('#server-browser-file-list', '/request/bo/component/server_browser_file_list~delete_file={BASE}{FOLDER}~', function() {
                const folder = '{FOLDER}';
                let parentFolder = folder.substring(0, folder.length - 1);
                parentFolder = parentFolder.substring(0, parentFolder.lastIndexOf('/'));
                let newLink = window.location.origin + '/backoffice/media/' + parentFolder;
    
                if(window.history.pushState && '{GET.type}' != 'replace_file') {
                    window.history.pushState({}, "", newLink);
                }
    
                var url = "/request/bo/component/server_browser_file_list~open=" + parentFolder + ":type={GET.type}:relation={GET.relation}:node_id={GET.node_id}:file_id={GET.file_id}~";
                makeAjaxRequest('#server-browser-file-list', url, function() {
                    $("#add-new-file").attr('action', '{_SERVER.REDIRECT_URL}?open='+parentFolder);
                }, true);
            });
    
            return false;
        }
    
        function checkEmptyFolder() {
            let files = $('#server-browser-file-list .server-browser .file').length;
            let deletedFiles = $('#server-browser-file-list .server-browser .file.deleted').length;
    
            if (files == deletedFiles) {
                makeAjaxRequest('#server-browser-file-list', "/request/bo/component/server_browser_file_list~open={GET.open}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}:file_id={GET.file_id}~");
            }
        }
        
        // TODO
    
        function beforeRequest() {
            $("#server-browser-file-list button span").replaceWith("<span style='background: white; color: black; padding: 5px; display: block; font-size: 125%'><img src='/share/images/ajax-indicator/indicator.gif' alt='Loading ...'/> Saving...</span>");
        }
        
        function showFileUploadDialog() {
            if (window.FileReader) {
                $('#add-dropzone').show();
                // keep upload input above the dropzone with zero opacity to allow click and select
                $('#add-file').hide();
                $('#add-dropzone').css("cursor", "pointer").click(function() {
                    $("#add-file-input").click();
                });
            } else {
                $('#add-dropzone').hide();
                $('#add-file').show();
            }
        }
    
        var overwriteDialogsOpen = 0;
        var allFilesUploadedFlag = false;
    
        function allFilesUploaded() {
    
            makeAjaxRequest("#server-browser-file-list", "/request/bo/component/server_browser_file_list~open={GET.open}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}:file_id={GET.file_id}~");
            growlMessage("Uploaded completed.");
    
        }
    
        var template =
            '<div class="file-upload-preview">' +
                '<img/>' +
                '<div class="file-overlay">' +
                    '<span class="title"></span>&nbsp;<small class="speed"></small><br />' +
                    '<progress value="0" max="100">0%</progress>' +
                    '<div class="overwrite" style="display: none;">' +
                        'File already exists. Do you want to overwrite it?<br/>' +
                        '<button class="overwrite">Yes</button>' +
                        '<button class="keep">No</button>' +
                    '</div>' +
                '</div>' +
            '</div>';
    
        function createImage(file) {
    
            var preview = $(template), 
            image = $('img', preview);
    
            var reader = new FileReader();
    
            $(".title", preview).text(file.name);
    
            reader.onload = function(e) { image.attr('src', e.target.result); };
            reader.readAsDataURL(file);
            $('.progress-total .file-uploads').prepend(preview);
            $.data(file, preview);
        }
    
        $(function() {
            $('#add-dropzone').filedrop({
                fallback_id: 'add-file-input',
                fallback_dropzoneClick : false,
                url: '/request/bo/component/server_browser_file_list~multiupload=true~',
                paramname: 'file',                // POST parameter name used on serverside to reference file
                withCredentials: true,            // make a cross-origin request with cookies
                error: function(err, file) {
                    switch(err) {
                        case 'BrowserNotSupported':
                            growlMessage('Your browser does not support HTML5 file uploads!');
                            break;
                        case 'TooManyFiles':
                            growlMessage('Too many files! You can upload maximum {MAX_FILES} files at once.');
                            break;
                        case 'FileTooLarge':
                            growlMessage('File ' + file.name + ' too large! Current limit is {MAX_FILE_SIZE}MB');
                            break;
                        case 'FileTypeNotAllowed':
                            growlMessage('File ' + file.name + ' is not a supported image.');
                        default:
                            break;
                    }
                    $("#server-browser-add").show();
                    $("#server-browser-file-list-wrapper .progress-total").hide();
                },
                allowedfiletypes: [], // filetypes allowed by Content-Type.  Empty array means no restrictions
                maxfiles: {MAX_FILES},
                maxfilesize: {MAX_FILE_SIZE}, // max file size in MBs
                dragOver: function() { $("#add-dropzone").addClass("drag-over"); },
                dragLeave: function() { $("#add-dropzone").removeClass("drag-over"); },
                drop: function() { 
                    $("#add-dropzone").removeClass("drag-over"); 
                    $("#server-browser-add").hide();
                    $("#server-browser-file-list-wrapper .progress-total").show();
                },
                uploadStarted: function(i, file, len){
                    createImage(file);
                    var num = $("#server-browser-file-list-wrapper .progress-total .num");
                    num.html(1 + (num.text() * 1));
                },
                uploadFinished: function(i, file, response, time) {
                    if (response) {
    
                        if (response.status == 'file_exists') {
                            overwriteDialogsOpen++;
                            var dialog = $.data(file).find('.overwrite').show();
                            dialog.find("button.overwrite").click(function() {
                                $(this).parent().hide();
                                $.post("/request/bo/component/server_browser_file_list~open={GET.open}:type={GET.type}:relation={GET.relation}:node_id={GET.node_id}~", {
                                    filename: response.filename,
                                    save_dir: response.save_dir,
                                    temp_file: response.temp_file,
                                    csrf_token: getCSRFToken(),
                                    overwrite: "overwrite"
                                }, function(data) {
                                    overwriteDialogsOpen--;
                                    if (overwriteDialogsOpen == 0 && allFilesUploadedFlag == true) allFilesUploaded();
                                });
                            });
                            dialog.find("button.keep").click(function() {
                                $(this).parent().hide();
                                overwriteDialogsOpen--;
                                if (overwriteDialogsOpen == 0 && allFilesUploadedFlag == true) allFilesUploaded();
                            });
                        } else if (response.status != 'success') {
                            growlMessage("An error occured during upload of the file '" + file.name + "'!");
                        }
                    }
                },
                speedUpdated: function(i, file, speed) {
                    $.data(file).find('.speed').text("(" + Math.round(speed) + " kB/s)");
                },
                progressUpdated: function(i, file, progress) {
                    $.data(file).find('progress').val(progress);
                },
                globalProgressUpdated: function(progress) {
                    $("#server-browser-file-list-wrapper .progress-total progress").val(progress);
                },
                afterAll: function() {
                    allFilesUploadedFlag = true;
                    if (overwriteDialogsOpen == 0) allFilesUploaded();
                }
            });
    
            showFileUploadDialog();
        });
    
    </script>
</div>
<!-- END: content -->
