<!-- BEGIN: content -->
{MESSAGES}
<div class="survey_list">
	<table cellspacing="0">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Created</th>
				<th>Entries</th>
			</tr>
		</thead>
		<tfoot>
			{PAGINATION}
		</tfoot>
		<tbody>
			<!-- BEGIN: item -->
			<tr class="publish_{ITEM.publish}">
				<td><a title="Edit survey" href="/backoffice/surveys/{ITEM.id}/detail">{ITEM.id}</a></td>
				<td><a title="Edit survey" href="/backoffice/surveys/{ITEM.id}/detail">{ITEM.title|htmlspecialchars}</a></td>
				<td><a title="Edit survey" href="/backoffice/surveys/{ITEM.id}/detail">{ITEM.created}</a></td>
				<td><a title="Download entries" href="/request/bo/export/csv_survey_entries?survey_id={ITEM.id}">{ITEM.usage_count}</a></td>
			</tr>
			<!-- END: item -->
			<!-- BEGIN: empty -->
			<tr>
				<td class="empty" colspan="4"><span class="note">No Surveys</span></td>
			</tr>
			<!-- END: empty -->

		</tbody>
	</table>
</div>
<!-- END: content -->
