<!-- BEGIN: content -->

{MESSAGES}
<div class="survey_edit">

	<script type="text/javascript">
	
	$(function() {
		
		function initSurveyEditForm() {
	
		    $('#survey_edit_form').ajaxForm({ 
				target: '#sub_content',
				beforeSubmit: function() {return $("#survey_edit_form").valid()},
				success: function(responseText, statusText) {
					popupMessage("#sub_content div.onxshop-messages");
					makeAjaxRequest('#sub_content', '/request/bo/component/survey_list');
				}
			});
		}
		
		initSurveyEditForm();
	});
	
	</script>
	
	<form method="post" action="{URI|htmlspecialchars}" id="survey_edit_form">

		<fieldset class="single">
			<div class="row title">
				<span class="label"><label for="survey-title">Title</label></span>
				<span class="field"><input class="required text title" id="survey-title" type="text" name="survey[title]" value="{SURVEY.title|htmlspecialchars}" /></span>
			</div>
			<div class="row description">
				<span class="label"><label for="survey-description">Description</label></span>
				<span class="field"><textarea id="survey-description" name="survey[description]">{SURVEY.description|htmlspecialchars}</textarea></span>
			</div>			
		</fieldset>
				
		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit" class="save" name="save" value="save"><span>Create a New Survey</span></button></span>
		</div>
		
	<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
		
</div>
<!-- END: content -->
