<!-- BEGIN: title -->{SURVEY.title}<!-- END: title -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div id="sub_content" class="twoColumnPage page survey_detail fibonacci-1-5">
	<div class="top"><span></span></div>
	<div class="content">
		<div class="pageWrapper">

			<div class="pageHeader">
				<div class="pageHeaderWrapper">
					<h1 class="pageTitle"><span>Survey Detail</span> <span class="info">{SURVEY.title|htmlspecialchars}</span></h1>
				</div>
			</div>

			<div class="pageContent">
				<div class="pageContentWrapper">
					<div class="rowTop">
						<div class="rowWrapper">
							<div class="columnWrapper">
								
								{disableONXSHOP_REQUEST_menu #bo/component/survey_list@bo/component/survey_menu}
								<p>{SURVEY.description|htmlspecialchars}</p>
								<table>
									<caption>Questions</caption>
									<thead>
										<tr>
											<th>Title<br/>
												Description</th>
											<th>
												Type<br/>
												Answers</th>
											</th>
										</tr>
									</thead>
									<tbody>
										<!-- BEGIN: question -->
										<tr class="publish_{QUESTION.publish}">
											<td><a class="publish_{QUESTION.publish}" title="Edit question" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_question_edit~id={QUESTION.id}:survey_id={QUESTION.survey_id}~'); return false" href="#sub_content"><span><strong>{QUESTION.title|htmlspecialchars}</strong></span></a><br />
												{QUESTION.description|htmlspecialchars}
											</td>
											<td class="answers">
												<!-- BEGIN: answer_text -->
												{QUESTION.type}
												<!-- END: answer_text -->
												<!-- BEGIN: answer_list -->
												{QUESTION.type}
												<ul>
													<!-- BEGIN: item -->
													<li><a class="publish_{ANSWER.publish} is_correct_{ANSWER.is_correct}" title="Edit Answer Option" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_question_answer_edit~id={ANSWER.id}:survey_id={QUESTION.survey_id}~'); return false" href="#sub_content"><span>{ANSWER.title|htmlspecialchars}</span></a> <small>({ANSWER.usage} answers/votes)</small></li>
													<!-- END: item -->
												</ul>
												<a class="button add small" style="float: left;" title="Add a New Answer Option" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_question_answer_add~question_id={QUESTION.id}:survey_id={QUESTION.survey_id}~'); return false" href="#sub_content"><span>Add an Answer</span></a>
												<!-- END: answer_list -->
											</td>
										</tr>
										<!-- END: question -->
										<!-- BEGIN: empty -->
										<tr>
											<td class="empty" colspan="3">No Questions</td>
										</tr>
										<!-- END: empty -->
									</tbody>
								</table>
								
							</div>
						</div>
					</div>
					<div class="rowMiddle">
						<div class="rowWrapper">
							<div class="columnOne">
								<div class="columnWrapper">

								</div>
							</div>
							<div class="columnTwo">
								<div class="columnWrapper">

								</div>
							</div>
						</div>
					</div>
					<div class="rowBottom">
						<div class="rowWrapper">
							<div class="columnWrapper">

								<p>
									<a class="button add" title="Add new question" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_question_add~survey_id={SURVEY.id}~'); return false" href="#sub_content"><span>Add a New Question</span></a>
									<a class="button edit" title="Edit survey - Update basic information" href="/backoffice/surveys/{SURVEY.id}/edit"><span>Edit Survey Properties</span></a>
									<a class="button" href="/request/bo/export/csv_survey_entries?survey_id={SURVEY.id}"><span>Export {SURVEY.usage_count} Entries</span></a>
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom"><span></span></div>
</div>
</div>
<!-- END: content -->
