<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="survey_list">
	
	<div class="twoColumnLayout layout fibonacci-5-1">
		<div class="layoutWrapper">
			<div class="top"><span></span></div>
			<div class="layoutContent">
				<div class="layoutContentWrapper">
					<div class="layoutColumnOne ofTwo">
						<div class="layoutColumnWrapper">
							<table cellspacing="0">
								<thead>
									<tr>
										<th>ID</th>
										<th>Title</th>
										<th>Created</th>
										<th>Entries</th>
									</tr>
								</thead>
								<tfoot>
									{PAGINATION}
								</tfoot>
								<tbody>
									<!-- BEGIN: item -->
									<tr class="publish_{ITEM.publish}">
										<td><a title="Edit survey" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_detail~id={ITEM.id}~'); return false" href="#sub_content">{ITEM.id}</a></td>
										<td><a title="Edit survey" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_detail~id={ITEM.id}~'); return false" href="#sub_content">{ITEM.title|htmlspecialchars}</a></td>
										<td><a title="Edit survey" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_detail~id={ITEM.id}~'); return false" href="#sub_content">{ITEM.created}</a></td>
										<td><a title="Download entries" href="/request/bo/export/csv_survey_entries?survey_id={ITEM.id}">{ITEM.usage_count}</a></td>
									</tr>
									<!-- END: item -->
									<!-- BEGIN: empty -->
									<tr>
										<td colspan="4"><span class="note">No Surveys.</span></td>
									</tr>
									<!-- END: empty -->
						
								</tbody>
							</table>
						</div>
					</div>
					<div class="layoutColumnTwo ofTwo">
						<div class="layoutColumnWrapper">
							<p><a class="button add" title="Add new survey" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_add'); return false" href="#sub_content"><span>Create new survey</span></a></p>
							<p>Export All Surveys Statistic: <a class="button" href="/request/bo/export/csv_surveys"><span>CSV</span></a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom"><span></span></div>
		</div>
	</div>

</div>
<!-- END: content -->
