<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="survey_question_answer_edit">

	<script type="text/javascript">
	
	$(function() {
		
		function initSurveyEditForm() {
	
		    $('#survey_question_answer_edit_form').ajaxForm({ 
				target: '#sub_content',
				beforeSubmit: function() {return $("#survey_question_answer_edit_form").valid()},
				success: function(responseText, statusText) {
					popupMessage("#sub_content div.onxshop_messages");
					makeAjaxRequest('#sub_content', '/request/bo/component/survey_detail~id={GET.survey_id}~');
				}
			});
		}
		
		initSurveyEditForm();
	});
	
	</script>
	
	<form method="post" action="{URI}" id="survey_question_answer_edit_form">

		<fieldset class="single">
			<legend>Answer edit</legend>
			<div class="row title">
				<span class="label"><label for="answer-title">Title</label></span>
				<span class="field"><input class="required text title" id="answer-title" type="text" name="answer[title]" value="{ANSWER.title|htmlspecialchars}" /></span>
			</div>
			<div class="row description">
				<span class="label"><label for="answer-description">description</label></span>
				<span class="field"><textarea id="answer-description" name="answer[description]">{ANSWER.description|htmlspecialchars}</textarea></span>
			</div>
			<div class="row points">
				<span class="label"><label for="answer-points">points</label></span>
				<span class="field"><input class="number short" id="answer-points" type="text" name="answer[points]" value="{ANSWER.points}" /></span>
			</div>
			<div class="row publish">
				<span class="label"><label for="answer-publish">Publish</label></span>
				<span class="field">
					<select id="answer-publish" name="answer[publish]">
						<option value="0" {SELECTED_0}>No</option>
						<option value="1" {SELECTED_1}>Yes</option>
						<option value="-1" {SELECTED_-1}>Reject</option>
					</select>
				</span>
			</div>
			<div class="row priority">
				<span class="label"><label for="answer-priority">Priority</label></span>
				<span class="field"><input class="number short" id="answer-priority" type="text" name="answer[priority]" value="{ANSWER.priority}" /></span>
			</div>
		</fieldset>
				
		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button type="submit"  name="save" value="save"><span>Save</span></button> or <a href="#sub_content" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/survey_detail~id={GET.survey_id}~'); return false;">cancel</a></span>
		</div>
		
		<input type="hidden" name="answer[id]" value="{ANSWER.id}" />
		
	</form>
		
</div>
<!-- END: content -->
