<!-- BEGIN: content -->
{MESSAGES}

<div id="taxonomy-edit-{GET.id}-wrapper">
<script type="text/javascript"> 
$(document).ready(function() { 
    $('#taxonomy-edit-{GET.id}').ajaxForm({target: '#sub-content'}); 
});
</script>



<!-- BEGIN: editor -->
<form method="post" action="{URI|htmlspecialchars}" id="taxonomy-edit-{GET.id}">

    <p>{ONXSHOP_REQUEST_taxonomy #component/breadcrumb_taxonomy~id=GET.id~}</p>

    <div id="taxonomy-edit">
    
        <button class="save" type="submit" name="save" value="save"><span>Save</span></button>
        
        <fieldset>
            <legend>Taxonomy item</legend>
            
            <div class="row">
                <span class="label"><label for="taxonomy-label-title" title="Category title">Name</label></span>
                <span class="field"><input type="text" title="The category title" class="text title" id="taxonomy-label-title" name="taxonomy[label][title]" value="{TAXONOMY.label.title|htmlspecialchars}"/></span>
            </div>
            <div class="row">
                <span class="field"><input type="checkbox" id="taxonomy-label-publish" name="taxonomy[label][publish]" {TAXONOMY.label.publish_check} /> <label for="taxonomy-label-publish">Publish (Visibility in context of Taxonomy)</label></span>
            </div>
            <div class="row rte">
                <span class="label"><label for="taxonomy-label-description">Description</label></span>
                <span class="field"><textarea style="height: 50px" name="taxonomy[label][description]" id="taxonomy-label-description">{TAXONOMY.label.description|htmlspecialchars}</textarea></span>
            </div>
            <!--common_taxonomy_tree.priority used instead <div class="row">
                <span class="label"><label for="taxonomy-label-priority">Priority</label></span>
                <span class="field"><input type="text" id="taxonomy-label-priority" name="taxonomy[label][priority]" value="{TAXONOMY.label.priority}" /></span>
            </div>-->
            
        </fieldset>
        <fieldset>
            <legend>Images</legend>
            <div class="row">
                {ONXSHOP_REQUEST_imagelist #bo/component/file_list~type=add_to_taxonomy:relation=taxonomy:node_id=GET.id~}
            </div>
        </fieldset>
        
        <input type="hidden" name="taxonomy[label][id]" value="{TAXONOMY.label.id}" />
    </div>
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
<!-- END: editor -->
</div>
<!-- END: content -->
