<!-- BEGIN: content -->
<ul class="simpleTree">
	<li class="root"><a href="#0"><span>Root</span></a>
		
		<!-- BEGIN: group -->
		<ul>
		<!-- BEGIN: item -->
		<li class='{ITEM.type} {ITEM.css_class} node_id_{ITEM.id}'>
			
			<!-- BEGIN:link -->
			<span><a href="#{ITEM.id}" title="Priority: {ITEM.priority}" class="{ITEM.css_class} node_id_{ITEM.id}"><span>{ITEM.name|htmlspecialchars}</span><!-- BEGIN: teaser --><br /><span class="teaser">{ITEM.teaser|strip_tags|htmlspecialchars}</span><!-- END: teaser --></a></span>
			<!-- END:link -->
			<!-- BEGIN:nolink -->
			<span><a href="#{ITEM.id}" class="{ITEM.css_class} node_id_{ITEM.id}"><span>{ITEM.name|htmlspecialchars}</span></a></span>
			<!-- END:nolink -->
			
			{ITEM.subcontent}
		</li>
		<!-- END: item -->
		{END_RESULT_ITEMS}
		</ul>
		<!-- END: group -->
		{END_RESULT_GROUPS}

		
	</li>
</ul>
<!-- END: content -->
