<!-- BEGIN: title -->Template Edit<!-- END: title -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<!-- BEGIN: listing -->
<form>
<h2 style="margin-top: 0;">{TEMPLATE_FILENAME}</h2>
<pre style="margin: 0;"><code class="html">{CONTENT}</code></pre>
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
<!-- END: listing -->
<!-- BEGIN: hint -->
<p style="margin-left: 10px; margin-top: 10px;">Select a HTML file from the menu on the left.</p>
<!-- END: hint -->
<!-- END: content -->
