<!-- BEGIN: title -->Template Edit<!-- END: title -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="template_edit">
	<!-- BEGIN: listing -->
		<div class="row">
			<textarea class="html" id="code_html" name="template_content">{CONTENT}</textarea>
		</div>
		<script type="text/javascript">
			// Codemirror
			var code_mirror_options = {
				lineNumbers: true,
				viewportMargin: Infinity
			}
			var editor = CodeMirror.fromTextArea(document.getElementById('code_html'), code_mirror_options);
			$(".pageContent .rowBottom p").html('<button href="#" class="button save" disabled onclick="return saveTemplate()"><span>Save</span></button>');
		</script>
		<!-- BEGIN: edit -->
		<script type="text/javascript">
			$(".pageContent .rowBottom .save").attr("disabled", null);
		</script>
		<!-- END: edit -->
	<!-- END: listing -->
	<!-- BEGIN: hint -->
	<p>Select a HTML file from the menu on the left.</p>
	<!-- END: hint -->
</div>
<!-- END: content -->
