<!-- BEGIN: content -->
<script type="text/javascript">

function addNewTaxonomy() {

    makeAjaxRequest('dialog #rt-add-new', '/request/bo/component/taxonomy_menu~expand_all=1:publish=0~', function() {
        $('#rt-add-new .simple-tree').simpleTree({
            drag: false,
            autoclose: true,
            afterClick:function(node){
                var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
                var title = $('a:first', node).text();
                var template = $('#template-rt-select').html();
                
                var html_append = template;
                html_append = html_append.replace('__ID__', node_id);
                html_append = html_append.replace('__TITLE__', title);
                $('dialog #rt-select').append(html_append);
                
            },
            animate: true,
            docToFolderConvert: true
        });
    });

    return false;
}
</script>
    <!-- BEGIN: preview -->
    <fieldset id="component-product-taxonomy" class="component-preview">
        <div id="product-taxonomy-loading" class="onyx-loading htmx-indicator">
            <img src="/share/images/loading.svg" alt="Loading..."/>
        </div>

        <legend>Product Categories</legend>

        <!-- BEGIN: empty -->
        <p>No categories assigned.</p>
        <!-- END: empty -->

        <ul class="category-list">
            <!-- BEGIN:ptn -->
            <li {CURRENT.class}>
                <div class="category-item">
                    {BREADCRUMB}
                </div>
            </li>
            <!-- END:ptn -->
        </ul>

        <div class="component-actions">
            <button
                hx-get="/request/bo/component/x_product_taxonomy?edit=true&node_id={GET.node_id}"
                hx-target="#edit-dialog .content"
                hx-indicator="#edit-loading"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-on::before-request="openDialog()"
                class="btn">
                Edit
            </button>
        </div>
    </fieldset>
    <!-- END: preview -->

    <!-- BEGIN: edit -->
    <form id="product-taxonomy-edit">
        <h2>Edit Product Categories</h2>

        <!-- BEGIN: empty -->
        <p>No categories assigned.</p>
        <!-- END: empty -->

        <div class="row">
            <ul class="category-list" id="rt-select">
                <!-- BEGIN: ptn -->
                <li {CURRENT.class}>
                    <div class="category-item">
                        <input type="hidden" name="relation_taxonomy[]" value="{CURRENT.id}" />
                        {BREADCRUMB}
                        <a class="onyx-delete onyx-icon" href="#" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)"></a>
                    </div>
                </li>
                <!-- END: ptn -->
            </ul>
            
            <div id="rt-add-new">
                <p><a class="button add" href="#" onclick="addNewTaxonomy()"><span>Add a Category...</span></a></p>
            </div>
        
            <div id="template-rt-select" style="display: none">
                <li>
                    <div class="category-item">
                        <input type="hidden" name="relation_taxonomy[]" value="__ID__" />
                        <div class="breadcrumb"><a href="/backoffice/pages/__ID__">__TITLE__</a></div>
                        <a class="onyx-delete onyx-icon" href="#" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode)"></a>
                    </div>
                </li>
            </div>
        </div>

        <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
        <input type="hidden" name="product[id]" value="{GET.node_id}" />

        <div class="edit-actions">
            <button 
                hx-indicator="#edit-loading"
                hx-trigger="click"
                hx-post="/request/bo/component/x_product_taxonomy"
                class="btn" 
                type="submit" 
                name="save" 
                value="save" 
                id="saveAndClose"
            >
                Save & Close
            </button>

            <button class="btn secondary" type="button" onclick="closeDialog()">Cancel</button>
        </div>
    </form>
    <!-- END: edit -->
<!-- END: content -->
