<!-- BEGIN: content -->
{MESSAGES}
<form 
    id="product-add-form"
    hx-indicator="#edit-loading"
    hx-post="/request/bo/component/x_product_add?node_id={GET.node_id}"
    hx-validate="true"
    data-action="addProduct"
>
    <h2>Add a New Product</h2>

    <div class="row text">
        <label for="product-name">Product Name:</label>
        <input 
            id="product-name" 
            type="text" 
            name="product[name]" 
            required
        />
    </div>

    <div class="row select">
        {ONYX_REQUEST_producttype #bo/component/ecommerce/product_type_select}
    </div>

    <div class="row text">
        <label for="product-variety-name">Variety Name e.g. 500g or 12pack</label>
        <input type="text" name="product[variety][name]" id="product-variety-name" required/>
    </div>

    <div class="row text">
        <label for="product-varitety-sku">Code (SKU)</label>
        <input type="text" name="product[variety][sku]" id="product-varitety-sku" required/>
    </div>

    <div class="row text">
        <label for="product-variety-weight_gross">Weight Gross [{VARIETY_CONF.weight_units}]</label>
        <input type="number" name="product[variety][weight_gross]" id="product-variety-weight_gross" required/> 
        <p>(Used for postage. Zero weight is free postage.)</p>
    </div>

    <div class="row text">
        <label for="product-varitety-stock">Stock</label>
        <input type="number" class="digits" name="product[variety][stock]" id="product-varitety-stock" required/>
    </div>

    <div class="row text">
        <label>Price Value excluding VAT in {GLOBAL_DEFAULT_CURRENCY}</label>
        <input id="price_without_vat" type="number" name="product[variety][price][value]" value="{PRICE.variety.price.value}" required/>
    </div>

    <div class="row text">
        <label>Price Value including VAT in {GLOBAL_DEFAULT_CURRENCY}</label>
        <input id="price_with_vat" type="number"/>
    </div>
   
    <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
    <input type="hidden" name="product[variety][price][currency_code]" value="{GLOBAL_DEFAULT_CURRENCY}" />
    <input type="hidden" name="product[variety][price][type]" value="common" />

    <div class="edit-actions">
        <!-- TODO: fix refresh - other listener than saveAndClose -->
        <!-- TODO: move all posts to form in order to work with validations and such? can this be problem for components that have multiple buttons ? are there any? -->
        <button class="btn" type="submit" name="save" value="save">
            Add & Close
        </button>

        <button class="btn secondary" type="button" onclick="closeDialog()">Cancel</button>
    </div>
</form>

<script type="text/javascript">  
    $(function(){  
        $("#product-add-form").validate();

        /**
         * Calculate VAT if available
         */
        var rate_select = $('select[name="product[variety][product_type_id]"]');
        var no_vat_input = $("#price-without-vat");
        var vat_input = $("#price-with-vat");

        if (rate_select.length > 0) {
            no_vat_input.change(updateVatPrice);
            no_vat_input.keyup(updateVatPrice);
            no_vat_input.blur(updateVatPrice);
            vat_input.change(updateNoVatPrice);
            vat_input.keyup(updateNoVatPrice);
            vat_input.blur(updateNoVatPrice);
        } else {
            vat_input.parent().parent().remove();
        }

        function updateVatPrice() {
            var price = no_vat_input.val() * 1;
            var rate = rate_select.find("option:selected").data("vat") * 1;
            if (isNaN(price) || isNaN(rate)) vat_input.val("0");
            else vat_input.val(Math.round(price * (100 + rate) / 100 * 100000) / 100000);
        }

        function updateNoVatPrice() {
            var price = vat_input.val() * 1;
            var rate = rate_select.find("option:selected").data("vat") * 1;
            if (isNaN(price) || isNaN(rate)) no_vat_input.val("0");
            else no_vat_input.val(Math.round(price / (100 + rate) * 100 * 100000) / 100000);
        }

    });
</script>
<!-- END: content -->
