<!-- BEGIN: content -->
<style>
    @import url(/share/css/components/revision-list.css);
</style>

{MESSAGES}

<!-- BEGIN: preview -->
    <fieldset id="component-revision-list" class="component-preview revision-list">

        <legend>Item Revisions</legend>

        <span class="label">Author:</span>
        <span class="value">{NODE.author_detail.email}</span>

        <span class="label">Created:</span>
        <span class="value">{NODE.created}</span>

        <span class="label">Last Modified:</span>
        <span class="value">{NODE.modified}</span>

        <div class="component-actions">
            <button
                hx-get="/request/bo/component/x_revision_list?edit=true&node_id={NODE.id}&object={GET.object}"
                hx-target="#edit-dialog .content"
                hx-indicator="#edit-dialog .content"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-on::before-request="openDialog()"
                class="btn">
                Edit
            </button>
        </div>

    </fieldset>
<!-- END: preview -->

<!-- BEGIN: edit -->
    <div class="revision-list">
        <h2>Restore Previous Changes</h2>

        <div id="revision-detail-preview">
            <div class="info-message">Select revision below to compare differences with current version</div>
        </div>
        
        <table cellspacing="0" class="revision-list-table">
            <thead>
                <tr>
                    <th>Revision ID</th>
                    <th>Created</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN: item -->
                <tr class="status-{ITEM.status}">
                    <td>{ITEM.id}</td>
                    <td>{ITEM.created|strtotime|date('d/m/Y H:i:s', %s)}</td>
                    <td><a href="/backoffice/customers/{ITEM.customer_id}/detail" target="_blank">{ITEM.customer.email}</a></td>
                    <td>
                        <span class="current">Current version</span>
                        <button
                            hx-get="/request/bo/component/revision_detail?node_id={GET.node_id}&revision_id={ITEM.id}&object={GET.object}"
                            hx-target="#revision-detail-preview"
                            hx-indicator="#edit-dialog .content"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                            class="btn detail">
                            View Changes
                        </button>

                    </td>
                </tr>
                <!-- END: item -->
                <!-- BEGIN: empty -->
                <tr>
                    <td class="empty" colspan="4"><span class="note">No Revisions</span></td>
                </tr>
                <!-- END: empty -->
            </tbody>
            <tfoot>
                <!-- BEGIN: show_more -->
                <tr>
                    <td colspan="4" class="show-more">
                        <span onclick="toggleRevisionList(event)">Show More</span>
                    </td>
                </tr>
                <!-- END: show_more -->
            </tfoot>
        </table>
    </div>
    
    <script type="text/javascript">
        function toggleRevisionList(event) {
            console.log('whatup');

            var tableBody = document.querySelector('dialog .revision-list-table tbody');
            var showMoreText = event.target;
            
            tableBody.classList.toggle('expanded');
            
            if (tableBody.classList.contains('expanded')) {
                showMoreText.textContent = "Show Less";
            } else {
                showMoreText.textContent = "Show More";
            }
        }
    </script>
<!-- END: edit -->

<!-- END: content -->
