<!-- BEGIN: content -->
    <!-- BEGIN: preview -->
    <fieldset id="component-store-images" class="component-preview">

        <legend>Store Images</legend>

        <span class="label">Files:</span>
	    <br>

        <div 
            hx-get="/request/bo/component/file_list?type=add_to_store&relation=store&node_id={GET.store_id}"
            hx-trigger="load, refresh"
            hx-indicator="#store-images-loading">
        </div>
        
        <div class="component-actions">
            <button
                hx-get="/request/bo/component/file_list?type=add_to_store&relation=store&node_id={GET.store_id}"
                hx-target="#edit-dialog .content"
                hx-indicator="#edit-loading"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-on::before-request="openDialog()"
                class="btn">
                Edit
            </button>
        </div>
    </fieldset>
    <!-- END: preview -->
<!-- END: content -->
