<!-- BEGIN: head_once -->
<!-- this libraries can be included only once on the page -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cycle2.js"></script>
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cycle2.swipe.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('div.image_gallery_cycle2').cycle({
		speed: 500,
		timeout: 0,
		fx: 'scrollHorz',
		slides: 'div.item',
		prev: '> div.controls a.prev',
		next: '> div.controls a.next',
		swipe: true,
		pager: '> div.controls div.pagination',
		pagerActiveClass: 'active',
		pagerTemplate: '<a><span>&bull;</span></a>',
		log: false
	});
});
</script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="image_gallery_cycle2 number_of_items_{IMAGE_COUNT}" id="gallery_cycle2_{GET.node_id}">
	<!-- BEGIN: item -->
	<div class="item item_id_{GET.node_id}_{ITEM.id}">
		<img id="image_id_{GET.relation}{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" src="{ITEM.path}{ITEM.src}{IMAGE_RESIZE_OPTIONS}" />
		<div class="description">{ITEM.description|htmlspecialchars}</div>
	</div>
	<!-- END: item -->
	<div class="controls">
		<a href="#" title="previous" class="prev"><span>&#9668;</span></a>
		<div class="pagination"></div>
		<a href="#" title="next" class="next"><span>&#9658;</span></a>
	</div>
</div>
<!-- END: content -->
