<!-- BEGIN: head_once -->
<!-- include cycle2.js in a way which prevents multiple initialization -->
{ONXSHOP_REQUEST_cycle2 #component/cycle2_js}
<script type="text/javascript">
$(document).ready(function() {
	$('div.gallery-cycle2 div.image-container ').cycle({
		speed: 600,
		timeout: 0,
		fx: 'scrollHorz',
		slides: 'figure',
		prev: 'div.controls a.prev',
		next: 'div.controls a.next',
		swipe: true,
		pager: 'div.gallery-pagination',
		pagerActiveClass: 'active',
		pagerTemplate: '<a><span>&bull;</span></a>',
		log: false
	});
});
</script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="image-container number-of-items-{IMAGE_COUNT}" id="gallery-cycle2-{GET.node_id}">
	<!-- BEGIN: item -->
	<figure class="item-id-{GET.node_id}-{ITEM.id}">
		<img id="image-id-{GET.relation}{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" src="{ITEM.path}{ITEM.src}{IMAGE_RESIZE_OPTIONS}"/>
		<figcaption>
			<h2>{ITEM.title|htmlspecialchars}</h2>
			<p>{ITEM.description|htmlspecialchars}</p>
			<!-- BEGIN: link --><a class="button" href="/page/{ITEM.link_to_node_id}"><span>Find out more</span></a><!-- END: link -->
		</figcaption>
	</figure>
	<!-- END: item -->
</div>
<div class="controls">
	<a href="#" class="prev"><span>&#9668;</span></a>
	<a href="#" class="next"><span>&#9658;</span></a>
</div>
<div class="gallery-pagination"></div>
<!-- END: content -->

