<!-- BEGIN: head_once -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.stellar.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	/*
	$.stellar({
		horizontalScrolling: false,
		responsive: false
	});
	*/
})
</script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="image_gallery_parallax number_of_items_{IMAGE_COUNT}" id="gallery_parallax_{GET.node_id}">
	<!-- BEGIN: item -->
	<div class="item index_{INDEX}" style="background-image: url({ITEM.path}{ITEM.src});" data-stellar-background-ratio="0.5">
		<a class="single_image{GET.relation}{GET.node_id}" rel="single_image{GET.relation}{GET.node_id}" title="{ITEM.title|htmlspecialchars}" href="/page/{ITEM.link_to_node_id}">
		<img src="{ITEM.path}{ITEM.src}" />
		<div class="sliderCopy">
			<div class="wrap">
				<h3><span>{ITEM.title|htmlspacialchars}</span></h3>		
				<p class="description">{ITEM.description|htmlspecialchars|nl2br}</p>
			</div>
			<div class="content">{ITEM.content}</div>
		</div>
		
		</a>
	</div>
	<!-- END: item -->
</div>
<!-- END: content -->
