<!-- BEGIN: head_once -->
<script type="text/javascript" src="/share/js/jquery/plugins/unoslider.js"></script>
<link rel="stylesheet" type="text/css" href="/share/themes/unoslider/unoslider.css" />
<link rel="stylesheet" type="text/css" href="/share/themes/unoslider/modern/theme.css" />
<!-- END: head_once -->
<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function() {
	$("#gallery_unoslider_{GET.node_id}").unoslider();
}); 
</script>
<ul class="image_gallery_unoslider number_of_items_{IMAGE_COUNT}" id="gallery_unoslider_{GET.node_id}">
	<!-- BEGIN: item -->
	<li class="item image_id_{GET.relation}{ITEM.id}"><img id="image_id_{GET.relation}{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" title="{ITEM.title|htmlspecialchars}" src="{ITEM.path}{ITEM.src}{IMAGE_RESIZE_OPTIONS}" /></li>
	<!-- END: item -->
</ul>
<!-- END: content -->
