<!-- BEGIN: head_once -->
<script type="text/javascript" src="/share/js/jquery/plugins/unoslider.js"></script>
<link rel="stylesheet" type="text/css" href="/share/themes/unoslider/unoslider.css" />
<link rel="stylesheet" type="text/css" href="/share/themes/unoslider/modern/theme.css" />
<!-- END: head_once -->
<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function() {
    $("#gallery-unoslider-{GET.node_id}").unoslider();
}); 
</script>
<ul class="image-gallery-unoslider number-of-items-{IMAGE_COUNT}" id="gallery-unoslider-{GET.node_id}">
    <!-- BEGIN: item -->
    <li class="item image-id-{GET.relation}{ITEM.id}"><img id="image-id-{GET.relation}{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" title="{ITEM.title|htmlspecialchars}" src="{ITEM.path}{ITEM.src}{IMAGE_RESIZE_OPTIONS}" /></li>
    <!-- END: item -->
</ul>
<!-- END: content -->
