<!-- BEGIN: content -->
<script type="text/javascript">  
$(document).ready(function(){  
    $("#client-edit").validate({onkeyup: false});  
});  
</script>
{MESSAGES}
<form action="{URI_SAFE|htmlspecialchars}" method="post" id="client-edit" class="client-edit">
    
    <!-- BEGIN: password -->
    <fieldset>
        <legend>{I18N_CHANGE_PASSWORD}</legend>
        <div class="row password">
            <span class="label"><label for="client-customer-password">{I18N_CURRENT_PASSWORD}</label></span>
            <span class="field"><input class="text" type="password" id="client-customer-password" name="client[customer][password]" value="" title="You need to type your old password here if you want to set a new password" /></span>
        </div>
        <div class="row password-new">
            <span class="label"><label for="client-customer-password-new">{I18N_NEW_PASSWORD}</label></span>
            <span class="field"><input class="text" type="password" id="client-customer-password-new" name="client[customer][password_new]" value="" title="Enter a new password if you'd like to change it" /></span>
        </div>
        <div class="row password-new1">
            <span class="label"><label for="client-customer-password-new1">{I18N_NEW_PASSWORD1}</label></span>
            <span class="field"><input class="text" type="password" id="client-customer-password-new1" name="client[customer][password_new1]" value="" title="Please repeat your new password" /></span>
        </div>
    </fieldset>
    <!-- END: password -->
    <fieldset>
        <legend>{I18N_R_PERSONAL_DETAILS}</legend>
        <div class="row title-before">
            <span class="label"><label for="client-customer-title-before"><span class="mandatory-mark">*</span> {I18N_R_TITLE}</label></span>
            <span class="field"><input class="required text short" type="text" id="client-customer-title-before" name="client[customer][title_before]" value="{CLIENT.customer.title_before|htmlspecialchars}" title="Your title, ie Ms, Mr, Miss, Dr" /></span>
        </div>
        <div class="row first-name">
            <span class="label"><label for="client-customer-first-name"><span class="mandatory-mark">*</span> {I18N_R_FIRST_NAME}</label></span>
            <span class="field"><input class="required text" type="text" id="client-customer-first-name" name="client[customer][first_name]" value="{CLIENT.customer.first_name|htmlspecialchars}" title="Please type here your first name" /></span>
        </div>
        <div class="row last-name">
            <span class="label"><label for="client-customer-last-name"><span class="mandatory-mark">*</span> {I18N_R_LAST_NAME}</label></span>
            <span class="field"><input class="required text" type="text" id="client-customer-last-name" name="client[customer][last_name]" value="{CLIENT.customer.last_name|htmlspecialchars}" title="Your family name" /></span>
        </div>
        <div class="row email">
            <span class="label"><label for="client-customer-email"><span class="mandatory-mark">*</span> {I18N_R_EMAIL}</label></span>
            <span class="field"><input class="required email" type="email" id="client-customer-email" name="client[customer][email]" value="{CLIENT.customer.email}" title="Your valid email address" /></span>
        </div>
        <div class="row telephone">
            <span class="label"><label for="client-customer-telephone"><span class="mandatory-mark">*</span> {I18N_R_TELEPHONE}</label></span>
            <span class="field"><input class="required text" type="tel" id="client-customer-telephone" name="client[customer][telephone]" value="{CLIENT.customer.telephone|htmlspecialchars}" title="Contact telephone number"/></span>
        </div>
    </fieldset>
    
    <fieldset>
        <legend>{I18N_R_COMPANY_DETAILS}</legend>
        <div class="row company-name">
            <span class="label"><label for="client-company-name">{I18N_R_COMPANY_NAME}</label></span>
            <span class="field"><input class="text" type="text" id="client-company-name" name="client[company][name]" value="{CLIENT.company.name|htmlspecialchars}" title="If you register as a company, please enter here your company name" /></span>
        </div>
        <div class="row company-vat">
            <span class="label"><label for="client-company-vat-no">{I18N_R_VAT_NO}</label></span>
            <span class="field"><input class="text" type="text" id="client-company-vat-no" name="client[company][vat_no]" value="{CLIENT.company.vat_no|htmlspecialchars}" title="Please enter your company VAT number" /></span>
        </div>
    </fieldset>
    
    <fieldset>
        <div class="row checbox newsletter">
            <span class="field"><input type="checkbox" class="checkbox" id="client-customer-newsletter-id" name="client[customer][newsletter]" value="1" {CLIENT.customer.newsletter} /> <label for="client-customer-newsletter-id">{I18N_R_NEWSLETTER}</label></span> 
        </div>
        <div class="row currency">
            <span class="label"><label for="client-customer-currency-code-id">{I18N_R_CURRENCY}</label></span>
            <span class="field">{ONXSHOP_REQUEST_2 #component/ecommerce/currency_switcher_inline}</span>
        </div>
    </fieldset>
    
    <div class="row submit">
        <span class="field"><button class="button save" type="submit" name="save" value="save" title="Click to save your records"><span>{I18N_SAVE}</span></button></span>
    </div>
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>


<!-- END: content -->
