<!-- BEGIN: content -->
<div class="facebook_auth">
	<!-- BEGIN: authorised -->
	<div class="authorised">
		<span><img src="https://graph.facebook.com/{USER_PROFILE.id}/picture" alt="{USER_PROFILE.first_name|htmlspecialchars} {USER_PROFILE.last_name|htmlspecialchars}" title="{USER_PROFILE.first_name|htmlspecialchars} {USER_PROFILE.last_name|htmlspecialchars}"></span>
	</div>
	<!-- END: authorised -->
	<!-- BEGIN: login -->
	<form method="post" action="{URI|htmlspecialchars}" class="login via_facebook">
		<button class="facebook" name="facebook_auth" value="1"><span>Connect with Facebook</span></button>
	</form>
	<!-- END: login -->
</div>
<!-- END: content -->