<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div class="password_reset">
<!-- BEGIN: request_form -->
<!--<p>Please enter your registered email address below.</p>-->
<form method="post" action="{URI_SAFE}#node_id_{GET.node_id}">
	<fieldset class="single">
		<legend>{I18N_PASSWORD_RESET}</legend>
		<div class="row email">
			<span class="label"><label for="email">{I18N_YOUR_EMAIL}:</label></span>
			<span class="field"><input class="text" type="text" id="email" name="client[customer][email]" value="{CLIENT.customer.email|htmlspecialchars}"/></span>
		</div>
	</fieldset>
	<div class="row submit">
		<span class="label"><label>&nbsp;</label></span>
		<span class="field"><button type="submit" name="submit" value="submit" class="submit"><span>{I18N_SUBMIT}</span></button></span>
	</div>
</form>
<!-- END: request_form -->

<!-- BEGIN: request_sent -->
<p>{I18N_A_MESSAGE_HAS_BEEN_SENT_TO} {CLIENT.customer.email}{I18N_PLEASE_CHECK_YOUR_EMAIL}</p>
<!-- END: request_sent -->


<!-- BEGIN: password_changed -->
<p>{I18N_A_NEW_PASSWORD_FOR} {GET.email} {I18N_HAS_NOW_BEEN_GENERATED_ETC}</p>
<!-- END: password_changed -->
</div>
<!-- END: content -->
