<!-- BEGIN: content -->
<div class="twitter-auth">
	<!-- BEGIN: authorised -->
	<div class="authorised">
		<h3>{USER_PROFILE.name|htmlspecialchars}</h3>
		<img src="{USER_PROFILE.profile_image_url}" />
		<!--<pre>{USER_PROFILE|print_r(%s, true)|htmlspecialchars}</pre>-->
	</div>
	<!-- END: authorised -->
	<!-- BEGIN: login -->
	<form method="post" action="{URI|htmlspecialchars}" class="login via-twitter">
		<button class="twitter" name="twitter_auth" value="1"><span>Connect with Twitter</span></button>
	<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
	<!-- END: login -->
</div>
<!-- END: content -->
