<!-- BEGIN: title -->Adaptive Content<!-- END: title -->
<!-- BEGIN: content -->
<div class="pageHeader">
	<div class="pageHeaderWrapper">
		<h1 class="pageTitle popup"><span>Adaptive Content</span></h1>
	</div>
</div>

{FILE "bo/node/default_top.html"}

<fieldset>
	<div class="row">
		<span class="label"><label>Content Adaption</label></span>
		<span class="field"><select id="contentConditionSelect" name="node[component][condition]">
			<optgroup label="Default">
				<option value="always" {SELECT_condition_always}>Always displayed</option>
			</optgroup>
			<optgroup label="Customer Status">
				<option value="customer_returning" {SELECT_condition_customer_returning}>Displayed only to returning customers</option>
				<option value="customer_new" {SELECT_condition_customer_new}>Displayed only to new customers</option>
			</optgroup>
			<optgroup label="Newsletter Subscription Status">
				<option value="customer_newsletter_subscribed" {SELECT_condition_customer_newsletter_subscribed}>Displayed only to customers with newletter subscription</option>
				<option value="customer_newsletter_not_subscribed" {SELECT_condition_customer_newsletter_not_subscribed}>Displayed only to customers without newletter subscription</option>
			</optgroup>
		</select>
		<div id="conditionInfo" style="display: none;">
			<br/>
			<div class="always">
				<p>Nested components are displayed at all times.</p>
			</div>
			<div class="customer_returning">
				<p>Nested components are displayed only to customers who:</p>
				<ul>
					<li>have an account and are currently logged in (and not necessarily made an order in the past),</li>
					<li>or have visited the site in the past according to <code>visited_status</code> cookie stored in their browser,</li>
					<li>and their account or the cookie is older than 24 hours.</li>
				</ul>
			</div>
			<div class="customer_new">
				<p>Nested components are displayed only to customers who:</p>
				<ul>
					<li>are not currently logged in (however, they could be returning customers, but their status cannot be verified),</li>
					<li>nor have <code>visited_status</code> cookie stored in their browser.</li>
					<li>or are currently logged in, but their account (or the cookie) is not older than 24 hours.</li>
				</ul>
				<p>
				</p>
			</div>
			<div class="customer_newsletter_subscribed">
				<p>Nested components are displayed only to customers who:</p>
				<ul>
					<li>have an account, are logged in and have subscribed to newsletter,</li>
					<li>or have <code>newletter_status</code> cookie stored in their browser.</li>
				</ul>
			</div>
			<div class="customer_newsletter_not_subscribed">
				<p>Nested components are displayed only to customers who:</p>
				<ul>
					<li>are not currently logged in (however, they could be subscribed to newsletter, but their status cannot be verified),</li>
					<li>nor have <code>newletter_status</code> cookie stored in their browser.</li>
				</ul>
			</div>
		</div>
		</span>
	</div>
</fieldset>

<script type="text/javascript">
	$(function() {

		function showConditionMessage() {
			var val = $('#contentConditionSelect').val();
			$("#conditionInfo").show();
			$("#conditionInfo div").hide();
			$("#conditionInfo div." + val).show();
		}

		$('#contentConditionSelect').change(showConditionMessage);
		showConditionMessage();

	});
</script>

{FILE "bo/node/default_bottom.html"}

<!-- END: content -->
