body { font-size: 75%; }
#tables { font-size: 11px; line-height: 16px; }
#content { padding-bottom: 60px; }

p.pages { background: rgba(255, 255, 255, 0.90); border: none; box-shadow: 0 -1px 10px rgba(0,0,0,0.25); left: 0; padding: 20px 0; z-index: 100; width: 100%; z-index: 1000; }
p.pages a { padding: 8px 12px; border: 1px solid #ccc; }
p.pages a:hover { border: 1px solid #888; }
p.pages a:first-child { padding: 0; background: none; border: none;}
p.pages a:hover:first-child { border: none;}

p.pages { padding-left: 21em; }

pre { font-size: 11; font-family: "Menlo", monospace; }
#menu p.links { padding-right: 0; }
#menu p.links a { margin-right: 10px; font-size: 11px; }
#menu p.links a:nth-child(3) { margin-right: 0; }
div#content p.links a { font-size: 12px; border: 1px solid #999; padding: 3px 10px; border-radius: 4px; background: #ffffff; margin-right: 12px; }
div#content p.links a:hover { text-decoration: none; background: #f0f0f0; color: #000; }
div#content p.links:nth-child(4) { position: absolute; right: 0; top: 42px; }
div#content h2 { margin-bottom: 10px; }
form#form fieldset { margin-top: 0; }
