<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<script type="text/javascript">  
$(function(){   
	$("#customer_add").validate({onkeyup: false});	
});  
</script>

<form id="customer_add" action="{URI_SAFE|htmlspecialchars}" method="post">

	<fieldset>
		
		<div class="row first_name">
			<span class="label"><label for="client_customer_first_name_id"><span class="mandatory-mark">*</span> {I18N_R_FIRST_NAME}</label></span>
			<span class="field"><input class="required text" type="text" id="client_customer_first_name_id" name="client[customer][first_name]" value="{CLIENT.customer.first_name|htmlspecialchars}" /></span>
 		</div>
 		
		<div class="row last_name">
			<span class="label"><label for="client_customer_last_name_id"><span class="mandatory-mark">*</span> {I18N_R_LAST_NAME}</label></span>
			<span class="field"><input class="required text" type="text" id="client_customer_last_name_id" name="client[customer][last_name]" value="{CLIENT.customer.last_name|htmlspecialchars}" /></span>
		</div>
		
		<div class="row email">
			<span class="label"><label for="client_customer_email_id"><span class="mandatory-mark">*</span> {I18N_R_EMAIL}</label></span>
			<span class="field"><input class="required email" type="email" id="client_customer_email_id" name="client[customer][email]" value="{CLIENT.customer.email|htmlspecialchars}" /></span>
		</div>
		
		<div class="row password">
			<span class="label"><label for="client_customer_password_id"><span class="mandatory-mark">*</span> {I18N_R_PASSWORD}</label></span>
			<span class="field"><input class="required text" type="password" id="client_customer_password_id" name="client[customer][password]" value="" /></span>
 		</div>

	</fieldset>

	<div class="row submit">
		<span class="label"><label>&nbsp;</label></span>
		<span class="field"><button class="button save" type="submit" name="save" value="save"><span>Continue</span></button></span>
	</div>

</form>

<!-- END: content -->