<!-- BEGIN: title -->User Edit<!-- END: title -->
<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<script type="text/javascript">  
	$(document).ready(function(){  
		$("#client_customer_edit").validate();  
	});  
</script>


<div class="client_edit">

	<form action="{URI_SAFE|htmlspecialchars}" method="post" id="client_customer_edit" autocomplete="false">

		<div class="twoColumnLayout layout fibonacci-1-1">
			<div class="layoutWrapper">
				<div class="top"><span></span></div>
				<div class="layoutContent">
					<div class="layoutContentWrapper">
						<div class="layoutColumnOne ofTwo">
							<div class="layoutColumnWrapper">

								<fieldset>
									<div class="row title_before">
										<span class="label"><label for="client-customer-title_before">{I18N_R_TITLE}</label></span>
										<span class="field"><input class="text short" type="text" id="client-customer-title_before" name="client[customer][title_before]" value="{CLIENT.customer.title_before|htmlspecialchars}" title="Your title, ie Ms, Mr, Miss, Dr" /></span>
									</div>
									<div class="row first_name">
										<span class="label"><label for="client-customer-first_name"><span class="mandatory-mark">*</span> {I18N_R_FIRST_NAME}</label></span>
										<span class="field"><input class="required text" type="text" id="client-customer-first_name" name="client[customer][first_name]" value="{CLIENT.customer.first_name|htmlspecialchars}" title="Please type here your first name" /></span>
									</div>
									<div class="row last_name">
										<span class="label"><label for="client-customer-last_name"><span class="mandatory-mark">*</span> {I18N_R_LAST_NAME}</label></span>
										<span class="field"><input class="required text" type="text" id="client-customer-last_name" name="client[customer][last_name]" value="{CLIENT.customer.last_name|htmlspecialchars}" title="Your family name" /></span>
									</div>
									<div class="row email">
										<span class="label"><label for="client-customer-email"><span class="mandatory-mark">*</span> {I18N_R_EMAIL}</label></span>
										<span class="field"><input class="required text" type="text" id="client-customer-email" name="client[customer][email]" value="{CLIENT.customer.email}" title="Your valid email address" /></span>
									</div>
									<div class="row telephone">
										<span class="label"><label for="client-customer-telephone">{I18N_R_TELEPHONE}</label></span>
										<span class="field"><input class="text" type="text" id="client-customer-telephone" name="client[customer][telephone]" autocomplete="new-telephone" value="{CLIENT.customer.telephone|htmlspecialchars}" title="Contact telephone number"/></span>
									</div>
									
									<p><a href="#row-password_new" onclick="$('#row-password_new').toggle(); return false;">Do you need to change the password?</a></p>
									<div class="row password_new" id="row-password_new" style="display: none;"> <!-- don't show to prevent browser autofill -->
										<p>Please rememebr you can send the user link to <a href="/page/9" target="_blank">password reset page</a> where they can change the passsword on their own. Alternatively change the password using the following field.</p>
										<span class="label"><label for="client-customer-password_new">{I18N_CHANGE_PASSWORD}</label></span>
										<span class="field"><input class="text" type="password" id="client-customer-password_new" name="password_new" autocomplete="new-password" value="" title="Set customer's new password"  /></span>
									</div>

									<!-- BEGIN: status -->
									<div class="row status">
										<span class="label" for="client-customer-status"><label>Account Status</label></span>
										<span class="field">
											<select id="client-customer-status" name="client[customer][status]" >
												<option value="0" {SELECTED_status_0}>disabled (can't request new registration, i.e. temporarily locked)</option>
												<option value="1" {SELECTED_status_1}>registered</option>
												<!--<option value="2" {SELECTED_status_2}>reserved</option>-->
												<option value="3" {SELECTED_status_3}>preserved (no authentication method associated, i.e. registered only for newsletter)</option>
												<option value="4" {SELECTED_status_4}>deleted (can register again)</option>
												<option value="5" {SELECTED_status_5}>guest checkout (can register again)</option>
											</select>
										</span>
									</div>
									<!-- END: status -->

								</fieldset>

								<fieldset>

									<!-- BEGIN: role -->
										<div class="row role">
											<span class="label"><label>Back Office Access Role</label></span>
											<span class="field">
												<!-- BEGIN: item -->
												<input type="checkbox" id="role_ids_{ITEM.id}" name="role_ids[]" value="{ITEM.id}" {CHECKED}/>
												<label for="role_ids_{ITEM.id}">{ITEM.name|htmlspecialchars}</label>
												<br/>
												<!-- END: item -->
											</span>
										</div>
									<!-- END: role -->
									
								</fieldset>

								<fieldset>
									<div class="row facebook_id">
										<span class="label"><label for="client-customer-facebook_id">Facebook Id</label></span>
										<span class="field"><input class="text" type="text" id="client-customer-facebook_id" name="client[customer][facebook_id]" value="{CLIENT.customer.facebook_id}" /></span>
									</div>
									<div class="row twitter_id">
										<span class="label"><label for="client-customer-twitter_id">Twitter Id</label></span>
										<span class="field"><input class="text" type="text" id="client-customer-twitter_id" name="client[customer][twitter_id]" value="{CLIENT.customer.twitter_id}" /></span>
									</div>
									<div class="row google_id">
										<span class="label"><label for="client-customer-google_id">Google Id</label></span>
										<span class="field"><input class="text" type="text" id="client-customer-google_id" name="client[customer][google_id]" value="{CLIENT.customer.google_id}" /></span>
									</div>
									<div class="row profile_image_url">
										<span class="label"><label for="client-customer-profile_image_url">Profile Image URL</label></span>
										<span class="field"><input class="text" type="text" id="client-customer-profile_image_url" name="client[customer][profile_image_url]" value="{CLIENT.customer.profile_image_url}" /></span>
									</div>
									<div class="row birthday">
										<span class="label"><label for="client-customer-birthday">Birthday</label></span>
										<span class="field"><input class="text" type="text" id="client-customer-birthday" name="client[customer][birthday]" value="{CLIENT.customer.birthday}" /></span>
									</div>

								</fieldset>
								
								<fieldset>
									{ONXSHOP_REQUEST_rt #bo/component/relation_taxonomy~relation=customer:id=GET.id~}
								</fieldset>

							</div>
						</div>
						<div class="layoutColumnTwo ofTwo withPadding">
							<div class="layoutColumnWrapper">

								<fieldset>
									{ADDRESS}
								</fieldset>

								<fieldset>
									<!-- BEGIN: group -->
										<div class="row group">
											<span class="label"><label>Customer Group</label></span>
											<span class="field">
												<!-- BEGIN: item -->
												<input type="checkbox" id="group_ids_{ITEM.id}" name="group_ids[]" value="{ITEM.id}" {CHECKED}/>
												<label for="group_ids_{ITEM.id}">{ITEM.name|htmlspecialchars}</label>
												<br/>
												<!-- END: item -->
											</span>
										</div>
									<!-- END: group -->																	
								</fieldset>

								<fieldset>
									<div class="row company_name">
										<span class="label"><label for="client-company-name">{I18N_R_COMPANY_NAME}</label></span>
										<span class="field"><input class="text" type="text" id="client-company-name" name="client[company][name]" value="{CLIENT.company.name|htmlspecialchars}" title="If you register as a company, please enter here your company name" /></span>
									</div>
									<div class="row company_vat">
										<span class="label"><label for="client-company-vat_no">{I18N_R_VAT_NO}</label></span>
										<span class="field"><input class="text" type="text" id="client-company-vat_no" name="client[company][vat_no]" value="{CLIENT.company.vat_no|htmlspecialchars}" title="Please enter your company VAT number" /></span>
									</div>
									<div class="row company_web">
										<span class="label"><label for="client-company-www">Web</label></span>
										<span class="field"><input class="text" type="text" id="client-company-www" name="client[company][www]" value="{CLIENT.company.www|htmlspecialchars}" /></span>
									</div>
									<div class="row company_tel">
										<span class="label"><label for="client-company-telephone">Telephone</label></span>
										<span class="field"><input class="text" type="text" id="client-company-telephone" name="client[company][telephone]" value="{CLIENT.company.telephone|htmlspecialchars}" /></span>
									</div>
									<div class="row company_fax">
										<span class="label"><label for="client-company-fax">Fax</label></span>
										<span class="field"><input class="text" type="text" id="client-company-fax" name="client[company][fax]" value="{CLIENT.company.fax|htmlspecialchars}" /></span>
									</div>
									
									<input type="hidden" name="client[company][id]" value="{CLIENT.company.id}">
								</fieldset>

								<fieldset>
									<!-- BEGIN: account_type -->
									<div class="row account_type">
										<span class="label" for="client-customer-account_type"><label>Account Type</label></span>
										<span class="field">
											<select id="client-customer-account_type" name="client[customer][account_type]" >
												<option value="0" {SELECTED_account_type_0}>normal account</option>
												<option value="1" {SELECTED_account_type_1}>requested trade</option>
												<option value="2" {SELECTED_account_type_2}>approved trade</option>
											</select>
										</span>
									</div>
									<!-- END: account_type -->
									<div class="row checbox newsletter">
										<span class="field"><input type="checkbox" class="checkbox" id="client_customer_newsletter_id" name="client[customer][newsletter]" value="1" {CLIENT.customer.newsletter} /> <label for="client_customer_newsletter_id">{I18N_R_NEWSLETTER}</label></span>
									</div>
									<div class="row currency">
										<span class="label"><label for="client_customer_currency_code_id">{I18N_R_CURRENCY}</label></span>
										<span class="field">{ONXSHOP_REQUEST_2 #component/ecommerce/currency_switcher_inline}</span>
									</div>
								</fieldset>
								
								<!-- BEGIN: other_data -->
								<fieldset>
								<table>
									<caption>Other data</caption>
									<!-- BEGIN: item -->
									<tr><td>{ITEM.key}</td><td>{ITEM.value|htmlspecialchars|nl2br}</td></tr>
									<!-- END: item -->
								</table>
								</fieldset>
								<!-- END: other_data -->
								
								<fieldset>
									<dl>
										<dt>Store ID:</dt><dd><a href="/backoffice/stores/{CLIENT.customer.store_id}/edit">{CLIENT.customer.store_id}</a>&nbsp;</dd>
										<dt>Verified:</dt><dd>{CLIENT.customer.verified_email_address}</dd>
										<dt>Created:</dt><dd>{CLIENT.customer.created}</dd>
										<dt>Modified:</dt><dd>{CLIENT.customer.modified}</dd>
									</dl>
								</fieldset>

							</div>
						</div>
					</div>
				</div>
				<div class="bottom"><span></span></div>
			</div>
		</div>

		<p class="extended_toolbar">
			<a class="button" href="/backoffice/advanced/logs?&amp;filter[customer_id]={GET.id}&amp;filter[archive]=1"><span>View Sessions</span></a>
			<a class="button" href="/page/{NODE_CONF.id_map-login}?client[email]={CLIENT.customer.email}"><span>Log In</span></a>
			<a class="button" title="Export customer's orders to CSV file" href="/request/bo/export/csv_orders?customer_id={GET.customer_id}"><span>Export Orders</span></a>
			<a class="button" title="Export customer's orders including purchased products (unpaid orders are not included) to CSV file" href="/request/bo/export/csv_orders?inlude_products=1&amp;customer_id={GET.customer_id}"><span>Export Purchased Products</span></a>
			<a class="button showAdvancedSettings" href="#"><span>Show Advanced Settings</span></a>
		</p>


		<div class="row submit">
			<span class="label"><label>&nbsp;</label></span>
			<span class="field"><button class="button save" type="submit" name="save" value="save" onclick="$(this).addClass('saving')" title="Click to save updated records"><span>{I18N_SAVE}</span></button></span>
		</div>

	<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>
</div>

<!-- END: content -->
