	{FILE "bo/node/item_publish.html"}
</div>
		
<div id="onxshop_minor" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
	{FILE "bo/node/item_title_link.html"}
	{FILE "bo/node/item_meta_data.html"}
	{FILE "bo/node/item_taxonomy.html"}
	{FILE "bo/node/item_other_data.html"}
	{FILE "bo/node/item_position.html"}
</div>

<div id="onxshop_advanced" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
	{FILE "bo/node/item_advanced.html"}
	{FILE "bo/node/item_expert_options.html"}
	{FILE "bo/node/item_content_list.html"}
	{FILE "bo/node/item_image_list.html"}
	{FILE "bo/node/item_signature.html"}
</div>

{FILE "bo/node/form_close.html"}
