{FILE "bo/node/form_open.html"}

<div class="twoColumnLayout fibonacci-1-1">
	<div class="layoutColumnOne ofTwo">
		<fieldset>
			{FILE "bo/node/item_title.html"}
			<div class="advanced">
			{FILE "bo/node/item_page_title.html"}
			{FILE "bo/node/item_uri_title.html"}
			{FILE "bo/node/item_browser_title.html"}
			{FILE "bo/node/item_teaser.html"}
			{FILE "bo/node/item_description.html"}
			</div>
		</fieldset>
	</div>
	<div class="layoutColumnTwo ofTwo">
		<fieldset class="advanced">
			{FILE "bo/node/item_image_list.html"}
			{FILE "bo/node/item_taxonomy.html"}
		</fieldset>
		<fieldset>
			<div class="advanced">
			{FILE "bo/node/item_layout_style.html"}
			</div>
			{FILE "bo/node/item_css_class.html"}
		</fieldset>
	</div>
</div>