{FILE "bo/node/form_open.html"}

<div class="twoColumnLayout fibonacci-1-1">
	<div class="layoutColumnOne ofTwo">
		{FILE "bo/node/item_title.html"}
		{FILE "bo/node/item_page_title.html"}
		{FILE "bo/node/item_uri_title.html"}
		{FILE "bo/node/item_browser_title.html"}
		{FILE "bo/node/item_teaser.html"}
		{FILE "bo/node/item_description.html"}
	</div>
	<div class="layoutColumnTwo ofTwo">
		{FILE "bo/node/item_image_list.html"}
		{FILE "bo/node/item_taxonomy.html"}
		{FILE "bo/node/item_layout_style.html"}
		{FILE "bo/node/item_css_class.html"}
	</div>
</div>