<div class="advanced">
{FILE "bo/node/item_content_list.html"}
</div>
<div class="two-column-layout fibonacci-1-1 advanced">
	<div class="layout-column-one of-two">
		<fieldset>
			{FILE "bo/node/item_display_in_menu.html"}
			{FILE "bo/node/item_display_permission.html"}
			{FILE "bo/node/item_display_permission_group_acl.html"}
			{FILE "bo/node/item_require_login.html"}
		</fieldset>
	</div>
	<div class="layout-column-two of-two">
		<fieldset>
			{NODE_TYPE}
			{FILE "bo/node/item_signature.html"}
			{FILE "bo/node/item_customer.html"}
			{FILE "bo/node/item_head.html"}
		</fieldset>
	</div>
</div>

{FILE "bo/node/item_publish.html"}
	
{FILE "bo/node/form_close.html"}
