<div class="advanced">
{FILE "bo/node/item_content_list.html"}
{FILE "bo/node/item_position.html"}
</div>
<div class="twoColumnLayout fibonacci-1-1 advanced">
	<div class="layoutColumnOne ofTwo">
		<fieldset>
			{FILE "bo/node/item_display_in_menu.html"}
			{FILE "bo/node/item_display_permission.html"}
			{FILE "bo/node/item_display_permission_group_acl.html"}
			{FILE "bo/node/item_require_login.html"}
			{FILE "bo/node/item_require_ssl.html"}
		</fieldset>
	</div>
	<div class="layoutColumnTwo ofTwo">
		<fieldset>
			{NODE_TYPE}
			{FILE "bo/node/item_signature.html"}
			{FILE "bo/node/item_head.html"}
		</fieldset>
	</div>
</div>

{FILE "bo/node/item_publish.html"}
	
{FILE "bo/node/form_close.html"}
