        <div>
            <input type="hidden" name="node[id]" value="{NODE.id}" />
        </div>

        <div class="row-bottom">
            <div class="row-wrapper">
                <div class="column-wrapper">
                    
                    <p>
                        <a class="button show-advanced-settings" href="#" style="display: {ALLOW_ADVANCE_SETTINGS_CSS_DISPLAY_PROPERTY};"><span>Show Advanced Settings</span></a>
                    </p>
                    
                    <button class="save" id="save-button" type="submit" name="save" value="save"><span>Save</span></button>

                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
    </form>
</div>
