		
	</div>
	
	<div>
		<input type="hidden" name="node[id]" value="{NODE.id}" />
	</div>

	<div class="rowBottom">
		<div class="rowWrapper">
			<div class="columnWrapper">

				<p>
					<a class="button showAdvancedSettings" href="#"><span>Show Advanced Settings</span></a>
				</p>
				
				<button class="save" id="save_button" type="submit" name="save" value="save"><span>Save</span></button>

			</div>
		</div>
	</div>
	
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>

</div>