

<form method="post" action="/request/bo/component/node_edit~id={GET.id}:orig={GET.orig}~" id="node_edit_{GET.id}">
	
	<div id="node_properties_edit" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	
		<ul id="node_properties_menu" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="active"><a class="onxshop_basicinfo ui-corner-top" href="#onxshop_basicinfo"><span>Basic</span></a></li>
			<li><a class="onxshop_minor ui-corner-top" href="#onxshop_minor"><span>Minor Tweaks</span></a></li>
			<li><a class="onxshop_advanced ui-corner-top" href="#onxshop_advanced"><span>Under the Hood</span></a></li>
		</ul>
		
		<div class="save_button top"> 
			<button class="save" id="save_button" type="submit" name="save" value="save"><span>Save</span></button>
		</div>
