        <div>
            <input type="hidden" name="node[id]" value="{NODE.id}" />
        </div>

        <div class="row-bottom">
            <div class="row-wrapper">
                <div class="column-wrapper">
                    
                    <p>
                        <a class="button show-advanced-settings" href="#" style="display: {ALLOW_ADVANCE_SETTINGS_CSS_DISPLAY_PROPERTY};"><span>Show Advanced Settings</span></a>
                    </p>
                    
                    <button 
                        class="save"
                        name="save"
                        value="save"
                        hx-post="/request/bo/component/node_edit?id={GET.id}"
                        hx-target="#node-properties-edit"
                        id="save-button">
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
    </form>
</div>
