<div class="row">
    <label for="node-title">{NODE.node_group|ucfirst} Name:</label>    
    <input class="title" type="text" id="node-title" name="node[title]" value="{NODE.title|htmlspecialchars}" onkeyup="document.getElementById('node-page-title').setAttribute('placeholder', this.value); document.getElementById('node-uri-title').setAttribute('placeholder', this.value.toString().normalize('NFKD').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w\-]+/g, '').replace(/\-\-+/g, '-'))"/>
</div>
