<div class="row display_permission">
	<span class="label"><label for="node.display_permission">Display Permission by Customer Status:</label></span>
	<span class="field">
		<select name="node[display_permission]" id="node.display_permission">
			<option value="0" {NODE.display_permission_select_0}>Display Always</option>
			<option value="1" {NODE.display_permission_select_1}>Show At Normal Login</option>
			<option value="2" {NODE.display_permission_select_2}>Hide At Normal Login</option>
			<option value="3" {NODE.display_permission_select_3}>Show At Trade Login</option>
			<option value="4" {NODE.display_permission_select_4}>Hide At Trade Login</option>
		</select>
	</span>
</div>