<div class="row">
    <table>
        <tbody>
            <tr><td>Node ID</td><td>{NODE.id}</td></tr>
            <tr><td>Parent ID</td><td><a href="javascript:void({NODE.parent})" onclick="openEdit('/popup/properties/{NODE.parent}/orig/page/{GET.id}')">{NODE.parent}</a></td></tr>
            <tr><td>Created</td><td>{NODE.created} by <a href="/backoffice/customers/{NODE.customer_id}/detail">{NODE.customer_id}</a></td></tr>
            <tr><td>Last Modified</td><td>{NODE.modified}</td></tr>
        </tbody>
    </table>
    {ONYX_REQUEST_revisions #bo/component/revision_list~node_id=GET.id:object=common_node~}
</div>