<div class="row uri_title">
	<span class="label"><label for="node.uri_title" title="Speaking URL path segment">Title for URI (use only last segment, not full path):</label></span>
	<span class="field"><input class="text half" type="text" name="node[uri_title]" id="node.uri_title" value="{NODE.uri_title|htmlspecialchars}" title="If empty, navigation title will be used" onchange="var value = $(this).attr('value'); if (value.indexOf('{_SERVER.HTTP_HOST}') != -1) {growlMessage('Invalid title, don\'t use actual URL'); $(this).attr('value', '');}" /></span>
	Current path: {NODE_URL}
</div>
