<div class="row rte content">
	<span class="label"><label>Content <a href="#" onclick="tinyMCE.execCommand('mceToggleEditor', 'simple', 'component_content'); return false;"><span>RTE</span></a>:</label></span>
	<span class="field"><textarea name="node[content]" id="component_content" class="big" style="width: 100%; height: auto;" rows="20" cols="20"><!-- BEGIN: empty --><p>enter your content here</p><!-- END: empty -->{NODE.content|htmlspecialchars}</textarea></span>
</div>
{ONXSHOP_REQUEST_tinymce1 #bo/tinymce~id=GET.id:relation=node:edit_elements=component_content:theme=advanced~}