<div class="row">
    <label for="node-layout-style">Layout Style (column one to column two width ratio)</label>
    <!-- BEGIN: style -->
    <select name="node[layout_style]" id="node-layout-style">
        <!-- BEGIN: item -->
            <option class='{STYLE.key}' value="{STYLE.key}" {SELECTED}>{STYLE.title}</option>
        <!-- END: item -->
    </select>

    <div style="margin: 10px 0; width: 100%" id="slider-ui"></div>
    
    <script type="text/javascript">
    $(function() {
        $("#slider-ui").slider({
            value: $('#node-layout-style').prop("selectedIndex"),
            min: 0,
            max: $('#node-layout-style').children().length - 1,
            step: 1,
            slide: function(event, ui) { 
                $('#node-layout-style').prop("selectedIndex", ui.value);
                $("#layout-style-preview").attr("class", "two-column-layout layout " + $('#node-layout-style').val());
            },
            start: function(event, ui) {
                $("#layout-style-preview").show();
            },
            stop: function(event, ui) {
                $("#layout-style-preview").hide();
            }
        });
        
        $("#node-layout-style").bind("change", function() {
            $("#slider-ui").slider({value: $('#node-layout-style').prop("selectedIndex")});
            $("#layout-style-preview").attr("class", "two-column-layout layout " + $('#node-layout-style').val());
        });
        
    });
    </script>               
    <!-- END: style -->
</div>
<div class="two-column-layout layout fibonacci-1-1 " id="layout-style-preview">
    <div class="layout-wrapper">
        
        <div class="layout-content">
            <div class="layout-content-wrapper">
                
                <div class="layout-column-one of-two">
                    <div class="layout-column-wrapper">
                        Column One
                    </div>
                </div>
                <div class="layout-column-two of-two">
                    <div class="layout-column-wrapper">
                        Column Two
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<style type="text/css">
#layout-style-preview {display: none;}
#layout-style-preview div.layout-column-wrapper {border: 1px solid grey; padding: 1em;}
</style>
