<script type="text/javascript">
$(function() {
    $('#main-image-width-slider').slider({
        value: {NODE.component.main_image_width},
        min: {IMAGE_CONF.thumbnail_width_min},
        max: {IMAGE_CONF.thumbnail_width_max},
        step: {IMAGE_CONF.thumbnail_step},
        change: function(event, ui) { $('#main-image-width-display-size').attr('value', ui.value); },
        slide : function(event, ui) { $('#main-image-width-display-size').html(ui.value).attr('selected', true); }
    });
});
</script>

<div class="image-properties">
    <div style="float: left;">
        <label>Image Width:</label>
        <select name="node[component][main_image_width]">
            <option value="0" {SELECTED_main_image_width_original}>Original</option>
            <option id="main-image-width-display-size" value="{NODE.component.main_image_width}" {SELECTED_main_image_width_custom}>{NODE.component.main_image_width}</option>
        </select>
    </div>
    <div style="float: left; margin-left: 10px;">
        <label>Constrain:</label>
        <select name="node[component][main_image_constrain]">
            <option value="0" {SELECTED_main_image_constrain_0}>Original</option>
            <option value="1-1" {SELECTED_main_image_constrain_1-1}>Square</option>
            <option value="2_39-1" {SELECTED_main_image_constrain_2_39-1}>Widescreen Cinema 2.39:1</option> <!-- http://en.wikipedia.org/wiki/Aspect_ratio_%28image%29 -->
            <option value="16-9" {SELECTED_main_image_constrain_16-9}>Landscape 16:9</option>
            <option value="4-3" {SELECTED_main_image_constrain_4-3}>Landscape 4:3</option>
        </select>
    </div>
    <div style="float: left; margin-left: 10px;">
        <label>Cropping options:</label>
        <select name="node[component][image_fill]">
            <option value="1" {SELECTED_image_fill_1}>Expand to fill all space</option>
            <option value="0" {SELECTED_image_fill_0}>Add white space</option>
        </select>
    </div>
    
    <div style="clear: both; margin: 10px 0; width: 100%" id="main-image-width-slider"></div>
</div>
