
			<fieldset>
				<legend>Advanced</legend>
				{NODE_TYPE}
				<script type="text/javascript">
				/*$(function(){
					$('#node-node_controller').change(
						function(){
							if (confirm('reload interface')) {
								alert('reloading');
								$('#node_edit_{GET.id}').submit();
							}
						});
				});*/
				</script>
				<div class="row uri_title">
					<span class="label"><label for="node.uri_title" title="Speaking URL path segment">Title for URI:</label></span>
					<span class="field"><input class="text" type="text" name="node[uri_title]" id="node.uri_title" value="{NODE.uri_title|htmlspecialchars}" title="If empty, navigation title will be used" /></span>
				</div>
				<div class="row css_class">
					<span class="label"><label for="node.css_class">CSS class:</label></span>
					<span class="field"><input class="text" type="text" name="node[css_class]" id="node.css_class" value="{NODE.css_class|htmlspecialchars}" /></span>
				</div>

				<div class="row display_in_menu">
					<span class="label"><label for="node.display_in_menu">Display Menu Option:</label></span>
					<span class="field">
						<select name="node[display_in_menu]" id="node.display_in_menu">
							<option value="1" {NODE.display_in_menu_select_1}>Normal</option>
							<option value="2" {NODE.display_in_menu_select_2}>Don't create a link</option>
							<option value="0" {NODE.display_in_menu_select_0}>Don't display in the menu</option>
						</select>
					</span>
				</div>
				<div class="row display_permission">
					<span class="label"><label for="node.display_permission">Display Permission:</label></span>
					<span class="field">
						<select name="node[display_permission]" id="node.display_permission">
							<option value="0" {NODE.display_permission_select_0}>Display Allways</option>
							<option value="1" {NODE.display_permission_select_1}>Show At Normal Login</option>
							<option value="2" {NODE.display_permission_select_2}>Hide At Normal Login</option>
							<option value="3" {NODE.display_permission_select_3}>Show At Trade Login</option>
							<option value="4" {NODE.display_permission_select_4}>Hide At Trade Login</option>
						</select>
					</span>
				</div>
				
				<div class="row require_login">
					<span class="label"><label for="node.require_login">Require Login (force login)</label></span>
					<span class="field"><input type="checkbox" id="node.require_login" name="node[require_login]" {NODE.require_login_check} /></span>
				</div>
				
				<div class="row require_ssl">
					<span class="label"><label for="node.require_ssl">Require SSL (if available)</label></span>
					<span class="field"><input type="checkbox" id="node.require_ssl" name="node[require_ssl]" {NODE.require_ssl_check} /></span>
				</div>
				
			</fieldset>
			
