<fieldset class="advanced">
	<div class="row three-column-layout">
		
		<div class="layout-column-one of-three priority">
			<label for="node-priority">Priority:</label>
			<input class="short" type="text" name="node[priority]" id="node-priority" value="{NODE.priority}" />
		</div>

		<div class="layout-column-two of-three parent-container">
			<label for="node-parent-container">Parent Container:</label>
			<input class="short" type="text" name="node[parent_container]" id="node-parent-container" value="{NODE.parent_container}" />
		</div>

		<div class="layout-column-three of-three move-to">
			<label><br/><a class="button" href="#" onclick="$('#parent-ajax').addClass('ajax-load').load('/request/bo/component/node_parent_menu~id=0:expand_all=1:publish=0:parent_type={NODE.node_group}~', function() {$(this).removeClass('ajax-load')}); return false"><span>Move to ...</span></a></label>
			<span style="display: block;" id="parent-ajax"></span>
		</div>
	</div>

	<input type="hidden" id="node-parent" name="node[parent]" value="{NODE.parent}" />
</fieldset>
