<div>
  <fieldset class="advanced">
    {FILE "bo/node/item_node_type.html"}
    {FILE "bo/node/item_css_class.html"}
    {FILE "bo/node/item_position.html"}
    {FILE "bo/node/item_signature.html"}
    {FILE "bo/node/item_customer.html"}
  </fieldset>

  <fieldset id="bo-visibility">
    {FILE "bo/node/item_publish.html"}

    <div class="advanced">
        {FILE "bo/node/item_display_permission.html"}
        {FILE "bo/node/item_display_permission_group_acl.html"}
        {FILE "bo/node/item_require_login.html"}
    </div>
  </fieldset>
</div>

<div class="advanced">
  <fieldset>
    {FILE "bo/node/item_head.html"}
  </fieldset>
    
  <fieldset>
      <legend>Previous versions</legend>
      {FILE "bo/node/item_revisions.html"}
  </fieldset>
</div>
  
{FILE "bo/node/form_close.html"}
