<!-- BEGIN: content -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cookie.js"></script>
<script type="text/javascript">
    $(function() {

        var customer_age = $.cookie('onxshop-customer-age');
        var minimum_age = '{MIN_AGE}' * 1;
        var edit_mode = $('div.onxshop-edit-page').length > 0;

        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 
            'September', 'October', 'November', 'December'];

        var now = new Date();
        var current_year = {BIRTHDAY.year};
        var current_month = {BIRTHDAY.month};
        var current_day = {BIRTHDAY.day};

        /**
         * Get number of days in given month. Leap year is considered for February
         */
        function getDaysInMonth(month, year) {
            var month_len = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
            var isLeap = !((year % 4) || (!(year % 100) && (year % 400)));
            if (month == 1 && isLeap) return 29;
            return month_len[month];
        }

        /**
         * Update day selection dropdown with correct number of days in the month
         */
        function updateDays() {
            var select = $('#age-gate select.day');
            var selected_day = select.val() || current_day;
            var year = $('#age-gate select.year').val();
            var month = $('#age-gate select.month').val();
            var max = getDaysInMonth(month, year);
            var days = '';
            for (var i = 1; i <= max; i++) {
                var selected = (selected_day == i) ? 'selected="selected"' : '';
                days += '<option value="' + i + '" ' + selected + '>' + i + '</option>';
            }
            select.html(days);
        }

        /**
         * Get filled age from the corresponding input fields
         */
        function getAge() {
            var birth_date;
            if ($('#age-gate input[type=date]').is(':visible')) {
                birth_date = $('#age-gate input[type=date]').get(0).valueAsDate;
            } else {
                var day = $('#age-gate select.day').val();
                var year = $('#age-gate select.year').val();
                var month = $('#age-gate select.month').val();
                birth_date = new Date(year, month, day);
            }
            var age = now.getFullYear() - birth_date.getFullYear();
            var m = now.getMonth() - birth_date.getMonth();
            if (m < 0 || (m === 0 && now.getDate() < birth_date.getDate())) age--;
            return age;
        }

        function submitForm() {
            customer_age = getAge();
            if (customer_age >= minimum_age) {
                $('#age-gate').fadeOut(500, function() {
                    $('#age-gate').remove();
                    $('.page-content').fadeIn(500);
                    $.cookie('onxshop-customer-age', customer_age, { expires: 7 });
                });
            } else {
                $('#age-gate > div').html('<h3>Sorry, you have to be of legal age to view the page’s content.</h3>');
            }
            return false;
        }

        function showAgeGate() {

            $('.page-content').hide()

            var html = '<div id="age-gate"><div id="age-gate-wrapper">';
            html += '<h3>This page requires that you are of legal drinking age to enter.</h3>';
            html += '<p>Your Birthday: ';
            html += '<select class="day"></select>';
            html += '<select class="month">';
            for (var i = 0; i < 12; i++) {
                var selected = (current_month == i) ? 'selected="selected"' : '';
                html += '<option value="' + i + '" ' + selected + '>' + months[i] + '</option>';
            }
            html += '</select>';
            html += '<select class="year">';
            for (var i = 1900; i <= now.getFullYear(); i++) {
                var selected = (current_year == i) ? 'selected="selected"' : '';
                html += '<option value="' + i + '" ' + selected + '>' + i + '</option>';
            }
            html += '</select>';
            html += '<input class="input" type="date" value="{BIRTHDAY.year}-{BIRTHDAY.month}-{BIRTHDAY.day}"/>';
            html += '</p>';
            html += '<p><button class="submit">Submit</button></p>';
            html += '</div></div>';
            $('.page-content').after(html);

            updateDays();
            $('#age-gate select.year, #age-gate select.month').change(updateDays);
            $('#age-gate button.submit').click(submitForm);
        };


        if (edit_mode) $('.page-content').prepend('<p style="max-width: 600px; margin: 0 auto; padding: 20px 40px; background: #ff3030; color: #ffffff; font-size: 1.2em; ">This page is secured by the Age Gate. Minimum age has been set to ' + minimum_age + ' years.</p>');
        else if (customer_age == undefined || customer_age < minimum_age) showAgeGate();

    });
</script>
<!-- END: content -->
