<!-- BEGIN: content -->
<div class="breadcrumb history number-of-items-{NUMBER_OF_ITEMS}">
    <!-- BEGIN: item -->
        <!-- BEGIN: path_delimiter --><span class="path_delimiter {LAST}">&raquo;</span> <!-- END: path_delimiter -->
        <!-- BEGIN: first --><a href="/" title="{HOME_NODE.page_title|htmlspecialchars}"><span>{HOME_NODE.title|htmlspecialchars}</span></a> <!-- END: first -->
        <!-- BEGIN: middle --><a href="/page/{PATH.id}" title="{PATH.page_title|htmlspecialchars}"><span>{PATH.title|htmlspecialchars}</span></a><!-- END: middle -->
        <!-- BEGIN: last --><span class="last">{PATH.title|htmlspecialchars}</span><!-- END: last -->   
    <!-- END: item -->
</div>
<!-- END: content -->
