<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="comment_add">
	<!-- BEGIN: comment_insert -->
	<script type="text/javascript">  
	$(document).ready(function(){  
		
		var options = { 
			target: 'div.comment_add_container',
			beforeSubmit: function() {return $("#comment_form_{GET.node_id}").valid()},
			success: function(){
				popupMessage("div.comment_add div.onxshop_messages");
			},
			url: '/request/component/comment_add~node_id={GET.node_id}:allow_anonymouse_submit={GET.allow_anonymouse_submit}~'
		}; 
	
		$("#comment_form_{GET.node_id}").ajaxForm(options); 
		
	});  
	</script>
	
	<form id="comment_form_{GET.node_id}" class='comment' method='post' action='{URI}#comment_form_{GET.node_id}'>
		<fieldset class="single">
			<!-- BEGIN: identity_show -->
			<div class="row">
				<span class="label"><label for="comment_author_name_{GET.node_id}"><span class="mandatory-mark">*</span> {I18N_AUTHOR_NAME}:</label></span>
				<span class="field"><input class="required text" type='text' id="comment_author_name_{GET.node_id}" name='comment[author_name]' value='{COMMENT.author_name|htmlspecialchars}' {DISABLED.author_name} /></span>
			</div>
			<div class="row">
				<span class="label"><label for="comment_author_email_{GET.node_id}"><span class="mandatory-mark">*</span> {I18N_AUTHOR_EMAIL}:</label></span>
				<span class="field"><input class="required text" type='text' id="comment_author_email_{GET.node_id}" name='comment[author_email]' value='{COMMENT.author_email|htmlspecialchars}' {DISABLED.author_email} /></span>
			</div>
				<!-- BEGIN: website -->
				<div class="row">
					<span class="label"><label for="comment_author_website_{GET.node_id}">{I18N_AUTHOR_WEBSITE}:</label></span>
					<span class="field"><input class="text" type='text' id="comment_author_website_{GET.node_id}" name='comment[author_website]' value='{COMMENT.author_website|htmlspecialchars}' {DISABLED.author_website} /></span>
				</div>
				<!-- END: website -->
			<!-- END: identity_show -->
			<!-- BEGIN: identity_hidden -->
			<input type='hidden' name='comment[author_name]' value='n/a' />
			<input type='hidden' name='comment[author_email]' value='anonym@noemail.com' />
			<!-- END: identity_hidden -->
			<div class="row">
				<span class="label"><label for="comment_title_{GET.node_id}"><span class="mandatory-mark">*</span> {I18N_SUBJECT}:</label></span>
				<span class="field"><input class="required text title" type='text' id="comment_title_{GET.node_id}" name='comment[title]' value='{COMMENT.title|htmlspecialchars}' /></span>
			</div>
			<div class="row">
				<span class="label"><label for="comment_content_{GET.node_id}"><span class="mandatory-mark">*</span> {I18N_TEXT}:</label></span>
				<span class="field"><textarea class="required text" id="comment_content_{GET.node_id}" name='comment[content]' cols='50' rows='10'>{COMMENT.content|htmlspecialchars}</textarea></span>
			</div>
			<div class="row submit">
				<span class="label"><label>&nbsp;</label></span>
				<span class="field"><button type="submit" name='save' class='send_comment' value='send'><span>{I18N_SEND}</span></button></span>
		    </div>
			<input type='hidden' class="parent" name='comment[parent]' value='0' />
			<input type='hidden' class="node_id"  name='comment[node_id]' value='{GET.node_id}' />
		</fieldset>	
    </form>
    <!-- END: comment_insert -->
    
    <!-- BEGIN: comment_inserted -->
	<div class="comment_inserted">
		<p>{I18N_COMMENT_THANK_YOU}</p>
	</div>
	<!-- END: comment_inserted -->
	
	<!-- BEGIN: log_to_insert -->
	<script type="text/javascript">
	$(function() { 
		var options = { 
			target: 'div.comment_add',
			success: function(){
				popupMessage("div.comment_add div.onxshop_messages");
				$('div.comment_add').load('/request/component/comment_add~node_id={GET.node_id}:allow_anonymouse_submit=0~');
			},
			url: '/request/component/client/login~to=ajax~'
		}; 
	
		$('div.comment_add form').ajaxForm(options); 
	});
	</script>
	<div class="comment_login">
		<h3>{I18N_COMMENT_PLEASE_LOGIN}</h3>
		{LOGIN_BOX}
		<p class="create_account"><a href="/page/8"><span>{I18N_COMMENT_CREATE_ACCOUNT}</span></a></p>
	</div>
	<!-- END: log_to_insert -->
</div>
<!-- END: content -->
