<!-- BEGIN: content -->
<div class="comment_list">
	<!-- BEGIN: comment_list -->
	<ul class="comment">
		<!-- BEGIN: item -->
		<li class="{ITEM.odd_even_class}">
			<div class="item item_id_{ITEM.id}">
				<h4 class="linkname">{ITEM.title|htmlspecialchars}</h4>
				<p class="author"> {ITEM.created|strtotime|strftime('%e %b %R', %s)}</p>
		
				<div class="content">{ITEM.content|htmlspecialchars|nl2br}</div>
				<!-- BEGIN: edit -->
					<!-- BEGIN: reply -->
					<p><a href="#comment_form_{GET.node_id}" onclick="$('#comment_form_{GET.node_id} input.title').attr('value', 'Re: ' + $('div.item_id_{ITEM.id} > h4.linkname').text()); $('#comment_form_{GET.node_id} input.parent').attr('value', {ITEM.id});"><span>{I18N_COMMENT_REPLY}</span></a></p>
					<!-- END: reply -->
					
					<!-- BEGIN: publish_awaiting -->
					<p><a href="/request/component/comment_approve?comment_id={ITEM.id}&publish=1">{I18N_COMMENT_APPROVE}</a> {I18N_COMMENT_OR} <a href="/request/component/comment_approve?comment_id={ITEM.id}&publish=-1">{I18N_COMMENT_REJECT}</a>.</p>
					<!-- END: publish_awaiting -->
					<!-- BEGIN: publish_approved -->
					<p>{I18N_COMMENT_APPROVED} <a href="/request/component/comment_approve?comment_id={ITEM.id}&publish=-1">{I18N_COMMENT_REJECT_QUESTION}</a>.</p>
					<!-- END: publish_approved -->
					<!-- BEGIN: publish_rejected -->
					<p>{I18N_COMMENT_REJECTED}. <a href="/request/component/comment_approve?comment_id={ITEM.id}&publish=1">{I18N_COMMENT_PUBLISH_QUESTION}</a>.</p>
					<!-- END: publish_rejected -->
					
				<!-- END: edit -->
				<!-- BEGIN: awaiting --><p><i>{I18N_COMMENT_AWAITING_APPROVAL}</i></p><!-- END: awaiting -->
				<!-- BEGIN: rejected --><p><i>{I18N_COMMENT_REJECTED_BY_WEBMASTER}</i></p><!-- END: rejected -->
				
				<div class="bottom"><span></span></div>
				
				<div class="reply_list">
					{SUB_COMMENTS}
				</div>
			</div>
			
		</li>
		<!-- END: item -->
	</ul>
    <!-- END: comment_list -->
    <!-- BEGIN: comment_list_empty -->
		<p>{I18N_COMMENT_EMPTY_LIST}</p>
    <!-- END: comment_list_empty -->
</div>
<!-- END: content -->
