<!-- BEGIN: content -->
<div id="fb-root"></div>
<script type="text/javascript">
window.fbAsyncInit = function() {
	FB.init({
		appId: '{ONXSHOP_FACEBOOK_APP_ID}',
		xfbml: true,
		status: true,
		cookie: true,
		oauth: true
	});
	
	FB.Canvas.setAutoGrow();
};
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_GB/all.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- END: content -->
