<!-- BEGIN: content -->
{MESSAGES}
<div class="feed">
	<!-- BEGIN: channel_title --><h4><a href="{CHANNEL.link}" title="{CHANNEL.description|htmlspecialchars}">{CHANNEL.title|htmlspecialchars}</a></h4> <!-- END: channel_title -->
	<!-- BEGIN: image -->
	<p class="image"><a href="{CHANNEL.image_link}"><img src="{CHANNEL.image_url}" alt="{CHANNEL.image_title|htmlspecialchars}" /></a></p>
	<!-- END: image -->
	<div class="list">
	<!-- BEGIN: item -->
		<div class="item {ITEM.odd_even_class}">
			<!-- BEGIN: image --><span class="image"><a href="{ITEM.link}"><img src="{ITEM.image}" alt="{ITEM.title|htmlspecialchars}" /></a></span><!-- END: image -->
			<h5><a href="{ITEM.link}">{ITEM.title|htmlspecialchars}</a></h5>
			<!-- BEGIN: description -->
			<div class="description">{ITEM.description|htmlspecialchars}</div>
			<!-- END: description -->
			<!-- BEGIN: content -->
			<div class="content">{ITEM.content}</div>
			<!-- END: content -->
			<!-- BEGIN: pubdate -->
			<p class="pubDate">{ITEM.pubDate|strftime('%c', %s)}</p>
			<!-- END: pubdate -->
		</div>
	<!-- END: item -->
	</div>
	<!-- BEGIN: copyright -->
	<p class="copyright">{CHANNEL.copyright|htmlspecialchars}</p>
	<!-- END: copyright -->
</div>
<!-- END: content -->