<!-- BEGIN: head -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cycle.all.min.js"></script>
<!-- END: head -->
<!-- BEGIN: content -->
<div class="flick-gallery-list" id="flick-gallery-list-{GET.id}">

    <!-- BEGIN: item -->
    <div class="item" data-photoset-id="{ITEM.id}">
        <a href="#photoset-id-{ITEM.id}" class="image"><span class="image-wrap"><img src="https://farm{ITEM.farm}.staticflickr.com/{ITEM.server}/{ITEM.primary}_{ITEM.secret}_n.jpg" alt="{ITEM.title._content}"/></span></a>
        <div class="meta">
            <div class="date">{ITEM.date_update|date("jS M, Y", %s)}</div>
            <h4>{ITEM.title._content}</h4>
            <p>{ITEM.description._content|character_limiter(%s, 100)}</p>
        </div>
        <div class="bottom"></div>
        <br/>
    </div>
    <!-- END: item -->

    <!-- BEGIN: more -->
    <div class="more">
        <a href="?limit_from={NEXT_PAGE}" class="buttonLink"><span>Older Posts</span></a>
    </div>
    <!-- END: more -->

    <div class="bottom"></div>

    <script type="text/javascript">

        function loadGallery(photoset_id, element) {

            $('#gallery-wrapper').remove();

            var shareButtons = '<div class="social-share-buttons"><a href="#" class="social-icon facebook">Share On <span>Facebook</span></a>' + 
                '<a href="#" class="social-icon twitter">Share On <span>Twitter</span></a></div>';

            $(document.body).append('<div id="gallery-wrapper" style="dispay: none;">' + 
                '<div id="gallery-content">' + 
                    '<a id="gallery-close" href="#">X</a>' + 
                    '<div id="gallery-title">' + element.find(".meta").html() + '</div>' + 
                    '<div id="gallery-images"></div>' + 
                    shareButtons +
                '</div>' + 
            '</div>');

            $('#gallery-images').load('/request/component/flickr_photoset_detail?photoset_id=' + photoset_id, function() {
                $('#gallery-wrapper').fadeIn(300);

                $('#gallery-content').append('<div class="buttons"><a href="#" class="prev">&lt;</a><a href="#" class="next">&gt;</a></div>');

                $('#gallery-images > .flick-gallery-detail').cycle({
                    fx: 'fade',
                    fit: true,
                    width: Math.min(670, window.innerWidth),
                    height: Math.min(435, window.innerHeight),
                    timeout: 0, 
                    next: '#gallery-wrapper a.next',
                    prev: '#gallery-wrapper a.prev',
                    log: false
                });

                $('#gallery-wrapper, #gallery-close').click(function(e) {
                    if (e.target.id == 'gallery-wrapper' || e.target.id == 'gallery-close') {
                        $('#gallery-wrapper').remove();
                        return false;
                    }
                });

                window.location.hash = '#photoset-id-' + photoset_id;

                $("#gallery-wrapper div.social-share-buttons a.facebook").click(function() {
                    nOpenWin('http://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href), 400, 300);
                    return false;
                });

                $("#gallery-wrapper div.social-share-buttons a.twitter").click(function() {
                    nOpenWin('https://twitter.com/share?url=' + encodeURIComponent(window.location.href), 400, 300);
                    return false;
                });

            });

        }

        $(function() {

            // load overlay gallery on click
            $('#flick-gallery-list-{GET.id} .item').click(function() {
                var photoset_id = $(this).attr("data-photoset-id");
                loadGallery(photoset_id, $(this));
                return false;
            });

            // load overlay gallery from url
            if (window.location.hash.substr(0, 13) == '#photoset-id-') {
                var found = window.location.hash.match(/#photoset-id-(\d+)/);
                var item = $('#flick-gallery-list-{GET.id} .item a[href="' + window.location.hash + '"]').parent();
                if (item.length == 1) loadGallery(found[1], item);
            }
        });

    </script>
</div>

<!-- END: content -->
