<!-- BEGIN: content -->

<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="googlePicasaFeed">
	<!-- BEGIN: albums -->
	<h4><a href="{RSS.link}" title="{RSS.description}">{RSS.title}</a></h4>
	<div class="list">
	<!-- BEGIN: item -->
		<div class="item {ITEM.odd_even_class}">
			<h5><a href="{URI|htmlspecialchars}?albumId={ITEM.id}#node_id_{GET.node_id}">{ITEM.title} ({ITEM.numPhotos})</a></h5>
		</div>
	<!-- END: item -->
	</div>
	<!--  END: albums -->
	
	<!-- BEGIN: album_detail -->

	<div id="picasaGallery_{GET.node_id}" class="googlePicasaGallery">
		<div class="googlePicasaGalleryWrapper">
			<div class="imageThumbnailsContainer">
				<table><tr>
				<!-- BEGIN: item -->
				<td>
				<div class="imageThumbnail">
					<div class="iamgeThumbnailWrapper">
						<span class="imageWrap"><a href="{ITEM.full}" onclick="$('#imageFull_{GET.node_id}').attr('src', '{ITEM.full}'); $('#imageFull_{GET.node_id}').attr('title', '{ITEM.title}'); return false"><img id="image_id_{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" title="{ITEM.title|htmlspecialchars}" src="{ITEM.thumbnail}" /></a></span>
					</div>
				</div>
				</td>
				<!-- END: item -->
				</tr></table>
			</div>
			<div class="imageFull layout">
				<div class="imageFullWrapper">
					<span class="imageWrap"><img id="imageFull_{GET.node_id}" alt="Full size" title="{ITEM.title|htmlspecialchars}" src="{ITEM.full}" /></span>
				</div>
			</div>
		</div>
	</div>

	<!--  END: album_detail -->
	
</div>
<!-- END: content -->
