<!-- BEGIN: head -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cycle.all.min.js"></script>
<style type="text/css">
#smoothGallery_{GET.node_id} {
	width: {DIMENSION_MAX.width}px;
	height: {DIMENSION_MAX.height}px;
}

#smoothGallery_{GET.node_id} div.pics {
	width: {DIMENSION_MAX.width}px;
	height: {DIMENSION_MAX.height}px;
}
</style>
<!-- END: head -->
<!-- BEGIN: content -->

<div id="smoothGallery_{GET.node_id}" class="image_gallery_smooth">
	<div class="top"><span></span></div>
    <div class="controls">
		<a href="#" title="previous" class="prev"><span>Previous</span></a>
		<div class="pagination"></div>
		<a href="#" title="next" class="next"><span>Next</span></a>
    </div>
    <div class="pics">
		<!-- BEGIN: item -->
		<div class="imageElement">
			<!-- BEGIN: normal --><span class="imageWrap"><img id="image_id_{IMAGE.id}" alt="{IMAGE.title|htmlspecialchars}" title="{IMAGE.title|htmlspecialchars}" src="{IMAGE.path}{IMAGE.src}" /></span><!-- END: normal -->
			<!-- BEGIN: link --><span class="imageWrap"><a href="/page/{IMAGE.link_to_node_id}" title="{IMAGE.title|htmlspecialchars}"><img id="image_id_{IMAGE.id}" alt="{IMAGE.title|htmlspecialchars}" title="{IMAGE.title|htmlspecialchars}" src="{IMAGE.path}{IMAGE.src}" /></a></span><!-- END: link -->
			<div class="imageInfo">
				<h5>{IMAGE.title|htmlspecialchars}</h5>
				<p>{IMAGE.description|htmlspecialchars}</p>
			</div>
		</div>
		<!-- END: item -->
	</div>
	<div class="bottom"><span></span></div>
</div>

<script type="text/javascript">
/**
 * Initialize the cycle plugin
 */
function beforeSmoothGalleryTransition{GET.node_id}(currSlideElement, nextSlideElement, options, forwardFlag) {
	if (typeof localBeforeSmoothGalleryTransition{GET.node_id} == "function") {
		localBeforeSmoothGalleryTransition{GET.node_id}(currSlideElement, nextSlideElement, options, forwardFlag);
	}
}

function afterSmoothGalleryTransition{GET.node_id}(currSlideElement, nextSlideElement, options, forwardFlag) {
	if (typeof localAfterSmoothGalleryTransition{GET.node_id} == "function") {
		localAfterSmoothGalleryTransition{GET.node_id}(currSlideElement, nextSlideElement, options, forwardFlag);
	}
}

function activateSmoothGallery{GET.node_id}() {
	
	<!-- BEGIN: control -->
    $('#smoothGallery_{GET.node_id}').hover(
            function() { $('#smoothGallery_{GET.node_id} div.controls').fadeIn(); },
            function() { $('#smoothGallery_{GET.node_id} div.controls').fadeOut(); }
        );
    <!-- END: control -->
    
	$('#smoothGallery_{GET.node_id} div.pics').cycle({
	    fx: '{CYCLE.fx}',
	    speed: {CYCLE.speed},
	    timeout: {CYCLE.timeout},
	    pause: 1,
	    fit: 1,
	    height: '{DIMENSION_MAX.height}px',
	    easing: {CYCLE.easing},
	    next: '#smoothGallery_{GET.node_id} a.next',
        prev: '#smoothGallery_{GET.node_id} a.prev',
        pager: '#smoothGallery_{GET.node_id} div.pagination',
        activePagerClass: 'active',
        before:	beforeSmoothGalleryTransition{GET.node_id},
    	after: afterSmoothGalleryTransition{GET.node_id}
	});

	//move control links to bottom right corner
	var top = Math.round({DIMENSION_MAX.height} - $('#smoothGallery_{GET.node_id} div.controls').outerHeight());
	var left = Math.round({DIMENSION_MAX.width} - $('#smoothGallery_{GET.node_id} div.controls').outerWidth());
	$('#smoothGallery_{GET.node_id} div.controls').css('top', top + 'px').css('left', left + 'px');
	
	//set full height on control links
	//$('#smoothGallery_{GET.node_id} div.controls a').css('height', {DIMENSION_MAX.height} + 'px');
	//$('#smoothGallery_{GET.node_id} div.controls a').css('width', {DIMENSION_MAX.width}/2 + 'px');
}

$(document).ready(function () {
	activateSmoothGallery{GET.node_id}();
});
</script>

<!-- END: content -->
