<!-- BEGIN: content -->
<div class="image_gallery node_id_{GET.node_id}">
	<div class="detail">
		<!-- BEGIN: item -->
		<div class="item image_id_{GET.relation}{ITEM.id}"><span class="imageWrap"><img id="image_id_{GET.relation}{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" title="{ITEM.title|htmlspecialchars}" src="{ITEM.path}{ITEM.src}" /></span></div>
		<!-- END: item -->
	</div>
	
	<!-- BEGIN: thumbnails -->
	<div class="thumbnails">
		<!-- BEGIN: item -->
		<div class="item image_id_{GET.relation}{ITEM.id}"><a href="{ITEM.path}/{ITEM.src}" onclick="$('#image_id_{GET.relation}{ITEM.first_id}').attr('src', '{ITEM.path}/{ITEM.src}').attr('alt', $(this).find('img').attr('alt')).attr('title', $(this).find('img').attr('title')); return false;"><span class="imageWrap"><img id="thumbnail_id_{GET.relation}{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" title="{ITEM.title|htmlspecialchars}" src="/thumbnail/{ITEM.thumbnail_size}/{ITEM.src}" /></span></a></div>
		<!-- END: item -->
	</div>
	<!-- END: thumbnails -->
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('div.image_gallery.node_id_{GET.node_id} div.detail div.item').hide();
	$('div.image_gallery.node_id_{GET.node_id} div.detail div.item.image_id_{GET.relation}{ITEM.first_id}').show();
});
</script>
<!-- END: content -->
