<!-- BEGIN: head_once -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.cycle.all.min.js"></script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<script type="text/javascript">
	$(function() {
		var gallery = $("#gallery_2columns_{GET.node_id}");	
		gallery.find(".twoColumnLayout").show();
		gallery.cycle({
			fx: "scrollHorz",
			next: '#gallery_2columns_{GET.node_id} a.next',
        	prev: '#gallery_2columns_{GET.node_id} a.prev',
			/*pager: '#gallery_2columns_{GET.node_id} div.pagination',*/
			activePagerClass: 'active',
			cleartypeNoBg: true,
			fit: 1,
			slideResize: 0,
			delay: 10000,
			pause: 1,
			height: 270
		});
	});
</script>
<div class="image_gallery_2columns number_of_items_{IMAGE_COUNT}" id="gallery_2columns_{GET.node_id}">
	<!-- BEGIN: item -->
	<div class="twoColumnLayout fibonacci-1-1 item_id_{GET.node_id}_{ITEM.id}">
		<div class="layoutColumnOne ofTwo">
			<p><a class="single_image{GET.relation}{GET.node_id}" rel="single_image{GET.relation}{GET.node_id}" title="{ITEM.title|htmlspecialchars}" href="/page/{ITEM.link_to_node_id}"><img id="image_id_{GET.relation}{ITEM.id}" alt="{ITEM.title|htmlspecialchars}" title="{ITEM.title|htmlspecialchars}" src="{ITEM.path}{ITEM.src}" /></a></p>
		</div>
		<div class="layoutColumnTwo ofTwo">
			<div class="sliderCopy">
				<div class="wrap">
					<h3><a href="/page/{ITEM.link_to_node_id}"><span>{ITEM.title|htmlspacialchars}</span></a></h3>		
					<p class="description">{ITEM.description|htmlspecialchars|nl2br}</p>
				</div>
				<div class="content"><a href="/page/{ITEM.link_to_node_id}">{ITEM.content}</a></div>
				<div class="controls">
					<a href="#" title="previous" class="prev"><span>&#x25C3;</span></a>
					<div class="pagination"></div>
					<a href="#" title="next" class="next"><span>&#x25B9;</span></a>
				</div>
			</div>
		</div>
		<div class="bottom"></div>
	</div>
	<!-- END: item -->
</div>
<!-- END: content -->
