<!-- BEGIN: head_once -->
<script type="text/javascript" src="/share/js/jquery/plugins/jquery.stellar.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	
	$.stellar({
		horizontalScrolling: false
	});

})
</script>

<style type="text/css">
div.image_gallery_parallax {text-align: center; background: black;}
div.image_gallery_parallax div.item {opacity: 0.5;}
div.image_gallery_parallax div.item:hover {opacity: 1;}
div.image_gallery_parallax div.sliderCopy {padding-top: 150px; text-align: center; color: white;}
div.image_gallery_parallax a {color: white;}
div.image_gallery_parallax div.sliderCopy h3 {text-align: center;}
div.image_gallery_parallax div.item {margin: 0; background-repeat: no-repeat; background-size: cover; height: 500px; background-attachment: fixed;}
</style>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="image_gallery_parallax number_of_items_{IMAGE_COUNT}" id="gallery_parallax_{GET.node_id}">
	<!-- BEGIN: item -->
	<div class="item index_{INDEX}" style="background-image: url({ITEM.path}{ITEM.src});" data-stellar-background-ratio="0.2">
		<a class="single_image{GET.relation}{GET.node_id}" rel="single_image{GET.relation}{GET.node_id}" title="{ITEM.title|htmlspecialchars}" href="/page/{ITEM.link_to_node_id}">
		<div class="sliderCopy">
			<div class="wrap">
				<h3><a href="/page/{ITEM.link_to_node_id}"><span>{ITEM.title|htmlspacialchars}</span></a></h3>		
				<p class="description">{ITEM.description|htmlspecialchars|nl2br}</p>
			</div>
			<div class="content"><a href="/page/{ITEM.link_to_node_id}">{ITEM.content}</a></div>
		</div>
		
		</a>
	</div>
	<!-- END: item -->
</div>
<!-- END: content -->
