<!-- BEGIN: content -->
<!-- BEGIN: group -->
<ul>
<!-- BEGIN: item -->
<li class='{ITEM.css_class} node-id-{ITEM.id}'>
    <!-- BEGIN:link -->
    <a href="/page/{ITEM.id}" class="{ITEM.css_class} node-id-{ITEM.id}"><span>{ITEM.name|htmlspecialchars}</span><!-- BEGIN: strapline --><br /><span class="strapline">{ITEM.strapline|strip_tags|htmlspecialchars}</span><!-- END: strapline --></a>
    <!-- END:link -->
    <!-- BEGIN:nolink -->
    <span class="nolink {ITEM.css_class} node-id-{ITEM.id}">{ITEM.name|htmlspecialchars}</span>
    <!-- END:nolink -->
    
    {ITEM.subcontent}
</li>
<!-- END: item -->
{END_RESULT_ITEMS}
</ul>
<!-- END: group -->
{END_RESULT_GROUPS}
<!-- END: content -->
