<!-- BEGIN: content -->
<div>
	<!-- BEGIN: list -->
		<!-- BEGIN: item -->
		<article class="{ITEM.taxonomy_class} news_id_{ITEM.id}">
			<a href="/page/{ITEM.id}">
				<!-- BEGIN: image -->
				<img alt="{ITEM.image.title|htmlspecialchars}" title="{ITEM.image.title|htmlspecialchars}" src="{IMAGE_PATH}{ITEM.image.src}{IMAGE_RESIZE_OPTIONS}" />
				<!-- END: image -->
				<header>
					<h4>{ITEM.title|htmlspecialchars}</h4>
					<p>{ITEM.description|htmlspecialchars}</p>
					<div class="byline {AUTHOR_EMPTY}">
						<time datetime="{ITEM.created|strtotime|strftime('%Y-%m-%d', %s)}">{ITEM.created|strtotime|strftime('%A %e %B %Y', %s)}</time>
						<address class="author">{ITEM.author_detail.name|htmlspecialchars}</address>
					</div>
				</header>
			</a>
		</article><!-- END: item -->
	<!-- END: list -->
	{PAGINATION}
</div>
<!-- END: content -->
