<!-- BEGIN: content -->
<div class="news_list stack stack_list">
	<!-- BEGIN: list -->
		<div class="list">
			<!-- BEGIN: item -->
			<div class="item {ITEM.taxonomy_class} news_id_{ITEM.id}">
				<a href="/page/{ITEM.id}"><div class="image"><!-- BEGIN: image --><span class="wrap"><img alt="{ITEM.image.title|htmlspecialchars}" title="{ITEM.image.title|htmlspecialchars}" src="{IMAGE_PATH}{ITEM.image.src}{IMAGE_RESIZE_OPTIONS}" /></span><!-- END: image --></div><div class="info"><div class="wrap"><h4 class="title"><span>{ITEM.title|htmlspecialchars}</span></h4><div class="description">{ITEM.description|htmlspecialchars}</div><div class="created {AUTHOR_EMPTY}"><span class="created">{ITEM.created|strtotime|strftime('%A %e %B %Y', %s)}</span> {I18N_BY} <span class="author_name">{ITEM.author_detail.name|htmlspecialchars}</span></div></div></div></a>
			</div>
			<!-- END: item -->
		</div>
	<!-- END: list -->
	{PAGINATION}
	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->
