<!-- BEGIN: content -->
{MESSAGES}
<div class="news-categories">

	<!-- BEGIN: list -->
	
		<div class="content-body">
			<ul>
				<li class="all {ACTIVE_CLASS_ALL}"><a href="/page/{BLOG_NODE_ID}"><span class="title">{I18N_VIEW_ALL}</span></a> <span class="count">({COUNT_ALL})</span></li>
				<!-- BEGIN: item -->
				<li class="t{ITEM.taxonomy_tree_id} {ACTIVE_CLASS}"><a href="/page/{BLOG_NODE_ID}?taxonomy_tree_id={ITEM.taxonomy_tree_id}" title="{ITEM.description|htmlspecialchars}"><span class="title">{ITEM.title|htmlspecialchars}</span></a> <span class="count">({ITEM.count})</span></li>
				<!-- END: item -->
			</ul>		
		</div>
	
	<!-- END: list -->
	
</div>
<!-- END: content -->
