<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="news_list teaser">

	<!-- BEGIN: list -->
	
		<div class="contentBody">
			<!-- BEGIN: item -->
			<div class="item {ITEM.odd_even_class} {ITEM.taxonomy_class}">
				<h2 class="title"><a href="/page/{ITEM.id}">{ITEM.title|htmlspecialchars}</a></h2>
				<div class="created"><p>{ITEM.created|strtotime|strftime('%A %e %B %Y', %s)} {I18N_BY} <span class="author_name">{ITEM.author_detail.name|htmlspecialchars}</span></p></div>
				<div class="image"><a href="/page/{ITEM.id}"><!-- BEGIN: image --><span class="imageWrap"><img alt="{ITEM.image.title|htmlspecialchars}" title="{ITEM.image.title|htmlspecialchars}" src="{IMAGE_PATH}{ITEM.image.src}?fill=1" /></span><!-- END: image --></a></div>
				<div class="content"><p>{ITEM.description|htmlspecialchars}</p></div>
				<p class="more"><a href="/page/{ITEM.id}"><span>{I18N_NEWS_LIST_READ_MORE}</span></a></p>
				<!-- BEGIN: comment -->
				<p class="comment"><a href="/page/{ITEM.id}#comment">{I18N_NEWS_LIST_COMMENTS} <span class="count">({COMMENT_COUNT})</span></a></p>
				<!-- END: comment -->
			</div>
			<div class="divider"><hr /></div>
			<!-- END: item -->
		</div>
	
	<!-- END: list -->
	<div class="pagination-slide"></div>
	{PAGINATION}
	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->
