<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<div class="news_list teaser">

	<!-- BEGIN: list -->
	
		<div class="contentBody">
			<!-- BEGIN: item -->
			<div class="item {ITEM.odd_even_class}">
				<h2 class="newsTitle"><a href="/page/{ITEM.id}">{ITEM.title|htmlspecialchars}</a></h2>
				<div class="created"><p>{ITEM.created|strtotime|strftime('%A %e %B %Y', %s)} {I18N_BY} <span class="author_name">{ITEM.author_detail.name|htmlspecialchars}</span></p></div>
				<div class="teaser_image"><a href="/page/{ITEM.id}">{IMAGE}</a></div>
				<div class="content">{ITEM.description}</div>
				<p class="readMore"><a href="/page/{ITEM.id}"><span>{I18N_NEWS_LIST_READ_MORE}</span></a></p>
				<!-- BEGIN: comment -->
				<p class="comment"><a href="/page/{ITEM.id}#comment">{I18N_NEWS_LIST_COMMENTS} <span class="count">({COMMENT_COUNT})</span></a></p>
				<!-- END: comment -->
			</div>
			<div class="divider"><hr /></div>
			<!-- END: item -->
		</div>
	
	<!-- END: list -->
	<div class="pagination-slide"></div>
	{PAGINATION}
	
</div>
<!-- END: content -->