<!-- BEGIN: title -->
{_GET.src}
<!-- END: title -->

<!-- BEGIN: head -->
<script type="text/javascript" src="/share/js/compiled.js"></script>
<!-- END: head -->

<!-- BEGIN: content -->
<style type="text/css">
body {padding: 0; margin: 0; background: white;}
div.popimage img {width: 100%; border: 0;}
</style>

<div class="popimage">
	<div class="popimage-wrap">
		{MESSAGES}
		<a href="#" onclick="window.close()" title="Close"><img src="/{_GET.src}" alt="Preview"></a>
	</div>
</div>
<!-- END: content -->
