<!-- BEGIN: content -->
<div class="searchbox">
	<div class="searchboxWrapper">
		<div class="top"><span></span></div>
		<div class="content">
			<form action="/page/{NODE_CONF.id_map-search}" method="get">
				<label title="Fulltext search" for="search-query">{I18N_SEARCH}</label>
				<input class="text required" name="search_query" id="search-query" type="text" value="{GET.search_query|htmlspecialchars}" size="20" title="Fulltext search" />
				<button class="search" type="submit" name="submit" value="search"><span>{I18N_SEARCH}</span></button>
			</form>
		</div>
		<div class="bottom"><span></span></div>
	</div>
</div>
<!-- END: content -->
