<!-- BEGIN: head_once -->
<script type="text/javascript">
var addthis_config = {data_track_addressbar: false, ui_click: true, data_ga_property: '{CONFIGURATION.global.google_analytics}', data_ga_social: true};
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid={CONFIGURATION.global.addthis_profile}"></script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="social_network_addthis addThisButtons">
	<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
	</div>
</div>
<!-- END: content -->