<!-- BEGIN: head_once -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="social_network_share">
	<ul>
		<li class="twitter"><a class="twitter-share-button" href="https://twitter.com/share?url={URI|urlencode}&text={NODE.page_title|urlencode}" onclick="nOpenWin('https://twitter.com/share?url={URI|urlencode}&text={NODE.page_title|urlencode}', 400, 300); return false"><span>Tweet</span></a></li>
		<li class="google"><g:plusone size="medium" count="false"></g:plusone></li>
		<li class="pinterest"><a href="https://pinterest.com/pin/create/button/" onclick="nOpenWin('https://pinterest.com/pin/create/button/?description={NODE.page_title|urlencode}.%20{NODE.description|urlencode}&url={URI|urlencode}&media=http://{_SERVER.HTTP_HOST}/image/{IMAGE.src|urlencode}', 600, 300); return false;"><span>Pin It</span></a></li>
		<li class="mailto"><a target="_black" href="mailto:?&subject={NODE.page_title|urlencode}&body={URI|urlencode}"><span>&#9993; Email</span></a></li>
		<li class="facebook"><fb:like href="{URI}" layout="button_count" show_faces="false" width="91" action="Like" font="arial"></fb:like></li>
	</ul>
	<div class="bottom"><span></span></div>					
</div>
<!-- END: content -->