<!-- BEGIN: head_once -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'en-GB'}
</script>
<!-- END: head_once -->
<!-- BEGIN: content -->
<div class="social_network_share">
	<ul>
		<li class="twitter"><a href="https://twitter.com/share?url={URI|urlencode}" class="twitter-share-button"><span>Tweet</span></a></li>
		<li class="google"><g:plusone size="medium" count="false"></g:plusone></li>
		<li class="facebook"><script src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="{URI}" layout="button_count" show_faces="false" width="91" action="Like" font="arial"></fb:like>
	</li>
	</ul>
	<div class="bottom"><span></span></div>					
</div>
<!-- END: content -->