<!-- BEGIN: content -->
<!-- BEGIN: list -->
<div class="store_nearby">
	<h3>Nearby Stores</h3>
	<div class="threeColumnLayout">
		<div class="layoutColumnOne ofThree">
			<ul>
			<!-- BEGIN: column1 -->
				<li><a href="/page/{STORE.node_id}">{STORE.title}</a> <small>({STORE.distance})</small></li>
			<!-- END: column1 -->
			</ul>
		</div>
		<div class="layoutColumnTwo ofThree">
			<ul>
			<!-- BEGIN: column2 -->
				<li><a href="/page/{STORE.node_id}">{STORE.title}</a> <small>({STORE.distance})</small></li>
			<!-- END: column2 -->
			</ul>
		</div>
		<div class="layoutColumnThree ofThree">
			<ul>
			<!-- BEGIN: column3 -->
				<li><a href="/page/{STORE.node_id}">{STORE.title}</a> <small>({STORE.distance})</small></li>
			<!-- END: column3 -->
			</ul>
		</div>
	</div>
</div>
<!-- END: list -->
<!-- END: content -->