<!-- BEGIN: content -->
<div class="store_detail">
	
	<!-- BEGIN: store -->
	<p class="store_title">{STORE.title|htmlspecialchars}</p>

	<a class="save_my_store" href="{URI|htmlspecialchars}?set_home_store=true">Save as my own store</a><br/>
	<p class="change"> or <a href="/locate/">change location</a></p>

	<div class="shop_facility_list">
		<!-- BEGIN: category -->
		<span class="tag">{CATEGORY.title}</span>
		<!-- END: category -->
		<span style="clear: both;"></span>
	</div>

	<p class="store_address">{STORE.address|htmlspecialchars}</p>
	<p class="opening_hours">{STORE.opening_hours|htmlspecialchars}</p>

	<p><span class="icon">&#128222;</span> <a href="tel:{STORE.telephone|htmlspecialchars}">{STORE.telephone|htmlspecialchars}</a></p>
	<p><a class="get_directions" href="#" onclick="getDirections({STORE.latitude}, {STORE.longitude}); return false;" style="text-decoration: none;"><span class="icon">&#128191;</span> Get directions to here</a></p>

	<!-- BEGIN: smile_app_banner -->
	<img src="/images/smile_app_banner.png" alt="Use your smile app here"/>
	<!-- END: smile_app_banner -->

	<script type="text/javascript">
		$(function(){
			$(".provinceDropdowns").hide();
		});
	</script>

	<!-- END: store -->

	<!-- BEGIN: no_store -->
	<p class="store_title">
		Find your store on the map
	</p>
	<!-- END: no_store -->

</div>
<!-- END: content -->
