<!-- BEGIN: content -->
<div class="survey">
<!-- BEGIN: form -->
<style type="text/css">
@import url(/share/themes/jquery-ui/onxshop/jquery-ui.css);
</style>
<script type="text/javascript" src="/share/js/jquery/ui/jquery-ui.all.min.js"></script>
<script type="text/javascript">
$(function() {
	$("#survey_form_{GET.node_id}").validate();

	/*birthday*/
	var current_year = new Date().getFullYear();
	var last_year = current_year - 1;
	$('#client_customer_birthday_id').datepicker({firstDay: 1, dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '1900:' + last_year, maxDate: last_year});

});
</script>

<style type="text/css">
label.error { display: none; }	
</style>

<form method="post" action="{URI|htmlspecialchars}#node_id_{GET.node_id}" id="survey_form_{GET.node_id}" enctype="multipart/form-data">
	<fieldset class="single">
		<legend>{SURVEY.title|htmlspecialchars}</legend>
		<!-- BEGIN: question -->
		<div class="row">
			<span class="label"><label for="question_id_{QUESTION.id}">{QUESTION.title|htmlspecialchars}</label></span>
			<span class="field">
				<!-- BEGIN: answer_text -->
				<textarea class="{CLASS_REQUIRED}" name="answer[{QUESTION.id}]">{SELECTED_VALUE}</textarea>
				<!-- END: answer_text -->
				<!-- BEGIN: answer_list_radio -->
					<!-- BEGIN: item -->
					<div class="row"><input type="radio" class="radio {CLASS_REQUIRED}" name="answer[{QUESTION.id}]" value="{ANSWER.id}" {SELECTED} id="answer_id_{ANSWER.id}"> <label for="answer_id_{ANSWER.id}" class="radio">{ANSWER.title|htmlspecialchars}</label></div>
					<!-- END: item -->
					<label for="answer[{QUESTION.id}]" class="error">This field is required.</label>
				<!-- END: answer_list_radio -->
				<!-- BEGIN: answer_list_select -->
				<select class="{CLASS_REQUIRED}" name="answer[{QUESTION.id}]" id="question_id_{QUESTION.id}">
					<option value="">-</option>
					<!-- BEGIN: item -->
					<option value="{ANSWER.id}" {SELECTED}>{ANSWER.title|htmlspecialchars}</option>
					<!-- END: item -->
				</select>
				<!-- END: answer_list_select -->
				<!-- BEGIN: answer_file -->
					<input type="file" name="answer[{QUESTION.id}]" class="file {CLASS_REQUIRED}" />
				<!-- END: answer_file -->
			</span>
		</div>
		<!-- END: question -->
	</fieldset>
	
	<!-- BEGIN: require_user_details -->

	<fieldset class="single">
	
		<legend>{I18N_R_PERSONAL_DETAILS}</legend>
		
		<div class="row first_name">
			<span class="label"><label for="client_customer_first_name_id"><span class="mandatory-mark">*</span> {I18N_R_FIRST_NAME}</label></span>
			<span class="field"><input class="required text" type="text" id="client_customer_first_name_id" name="client[customer][first_name]" value="{CLIENT.customer.first_name|htmlspecialchars}"/></span>
 		</div>
 		
		<div class="row last_name">
			<span class="label"><label for="client_customer_last_name_id"><span class="mandatory-mark">*</span> {I18N_R_LAST_NAME}</label></span>
			<span class="field"><input class="required text" type="text" id="client_customer_last_name_id" name="client[customer][last_name]" value="{CLIENT.customer.last_name|htmlspecialchars}"/></span>
		</div>

		<div class="row email">
			<span class="label"><label for="client_customer_email_id"><span class="mandatory-mark">*</span> {I18N_R_EMAIL}</label></span>
			<span class="field"><input class="required email" type="email" id="client_customer_email_id" name="client[customer][email]" value="{CLIENT.customer.email|htmlspecialchars}"/></span>
		</div>

		<div class="row telephone">
			<span class="label"><label for="client_customer_telephone_id">{I18N_R_TELEPHONE}</label></span>
			<span class="field"><input class="text" type="tel" id="client_customer_telephone_id" name="client[customer][telephone]" value="{CLIENT.customer.telephone|htmlspecialchars}"/></span>
		</div>

		<div class="row birthday">
			<span class="label"><label for="client_customer_birthday_id"><span class="mandatory-mark">*</span> Date of Birth</label></span>
			<span class="field"><input class="required text" type="text" id="client_customer_birthday_id" name="client[customer][birthday]" value="{CLIENT.customer.birthday|htmlspecialchars}"/></span>
		</div>

		<!-- BEGIN: store -->
		<div class="row county">
			<span class="label"><label for="client_customer_home_store_id">Store</label></span>
			<span class="field">
				<!-- BEGIN: county_dropdown -->
				<select id="client_customer_home_store_id" name="client[customer][other_data][home_store_id]" style="width: 100%; font-size: 18px;">
					<!-- BEGIN: province -->
					<optgroup label="{PROVINCE_NAME}">
						<!-- BEGIN: store -->
						<option value="{STORE.id}" {STORE.selected}>{COUNTY.label.title|htmlspecialchars} - {STORE.title|htmlspecialchars}</option>
						<!-- END: store -->
					</optgroup>
					<!-- END: province -->
				</select>
				<!-- END: county_dropdown -->
			</span>
		</div>
		<!-- END: store -->
		
		<!-- BEGIN: location -->
		<div class="row county">
			<span class="label"><label for="client_customer_county_id">County</label></span>
			<span class="field">
			
				<!-- BEGIN: county_dropdown -->
				<select id="client_customer_county_id" name="client[customer][other_data][county]" style="width: 100%; font-size: 18px;">
					<!-- BEGIN: province -->
					<optgroup label="{PROVINCE_NAME}">
						<!-- BEGIN: county -->
						<option value="{COUNTY.id}" {COUNTY.selected}>{COUNTY.label.title|htmlspecialchars}</option>
						<!-- END: county -->
					</optgroup>
					<!-- END: province -->
				</select>
				<!-- END: county_dropdown -->
			</span>
		</div>
		<div class="row city">
			<span class="label"><label for="client_customer_city_id">City / Town</label></span>
			<span class="field"><input class="text" type="text" id="client_customer_city_id" name="client[customer][other_data][city]" value="{CLIENT.customer.city|htmlspecialchars}"/></span>
		</div>
		<!-- END: location -->

		<div class="row checkbox newsletter">
			<span class="label"><input type="checkbox" class="checkbox" id="client_customer_newsletter_id" name="client[customer][newsletter]" value="1" {CLIENT.customer.newsletter} /> <label for="client_customer_newsletter_id">{I18N_R_NEWSLETTER}</label></span>
		</div>
		
	</fieldset>

	<!-- END: require_user_details -->
	
	<!-- BEGIN: require_t_and_c -->
	<div class="row agreed_with_latest_t_and_c">
		<span class="label">
			<input class="checkbox required" type="checkbox" id="client_customer_agreed_with_latest_t_and_c_id" name="client[customer][agreed_with_latest_t_and_c]" value="{CLIENT.customer.agreed_with_latest_t_and_c|htmlspecialchars}"/> <label for="client_customer_agreed_with_latest_t_and_c_id"><span class="mandatory-mark">*</span> I have read and agreed to the <a href="/page/26" target="_blank">Terms &amp; Conditions</a></label>
		</span>
	</div>
	<!-- END: require_t_and_c -->
	
	<button type="submit" name="save" value="save"><span>{I18N_SUBMIT}</span></button>
</form>
<!-- END: form -->

<!-- BEGIN: result -->
<div class="thank_you">
	<p>Thank you for your entry!</p>
	{SURVEY_RESULT}
	{ONXSHOP_REQUEST_pile #component/client/facebook_pile_survey~survey_id=GET.survey_id~}
</div>
<!-- END: result -->
<div class="bottom"></div>
</div>
<!-- END: content -->