<!-- BEGIN: content -->
<div class="taxonomy_list">
	<!-- BEGIN: item -->
	<div class="item">
		<!-- BEGIN: image --><span><img src="/image/{IMAGE.src}" alt="{IMAGE.title|htmlspecialchars}" title="{ITEM.label.title|htmlspecialchars|nl2br}"></span><!-- END: image -->
		<!-- BEGIN: image_link --><span><a href="/page/{IMAGE.link_to_node_id}"><img src="/image/{IMAGE.src}" alt="{IMAGE.title|htmlspecialchars}" title="{ITEM.label.title|htmlspecialchars|nl2br}"></a></span><!-- END: image_link -->
	</div>
	<!-- END: item -->
</div>
<!-- END: content -->
