<!-- BEGIN: content -->
<div class="teaser">
	<a href="/page/{NODE.id}">
		<!-- BEGIN: image -->
		<div class="image">
			<span class="imageWrap"><img alt="{NODE.image.title|htmlspecialchars}" title="{NODE.image.title|htmlspecialchars}" src="/thumbnail/210x90/{NODE.image.src}?fill=1" /></span>
		</div>
		<!-- END: image -->
		<h4><span>{NODE.title|htmlspecialchars}</span></h3>
		<p class="description">{NODE.description|htmlspecialchars}</p>
		<p class="more"><span>{NODE.link_text|htmlspecialchars}</span></p>
	</a>
</div>
<!-- END: content -->
