<!-- BEGIN: content --><div class="item {ITEM.taxonomy_class} node_id_{NODE.id}">
	<a href="/page/{NODE.id}">
		<div class="image"><!-- BEGIN: image --><span class="wrap"><img alt="{NODE.image.title|htmlspecialchars}" title="{NODE.image.title|htmlspecialchars}" src="{IMAGE_PATH}{NODE.image.src}{IMAGE_RESIZE_OPTIONS}" /></span><!-- END: image --></div>
		<div class="info">
			<div class="wrap">
				<h4 class="title"><span>{NODE.title|htmlspecialchars}</span></h4>
				<div class="description">{NODE.description|htmlspecialchars}</div>
			</div>
		</div>
	</a>
</div><!-- END: content -->
