<!-- BEGIN: content -->
<div class="video-youtube">
    <div class="fluid-video youtube widescreen">
        <iframe id="youtube-player-id-{GET.video_id}" type="text/html" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{GET.video_id}?autoplay={GET.autoplay}&amp;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<!-- END: content -->
