/**
 * Norbert @ Laposa Ltd, 2009/09/22
 *
 */
 
/****************************************************************************************/
/*****************************          node/page           *****************************/
/****************************************************************************************/

/************ node/page/default.html ****/
/*default, fobinaci-1-1, 50%/50%*/
div.twoColumnPage div.columnOne div.columnWrapper {margin-right: 15px;}
div.twoColumnPage div.columnTwo div.columnWrapper {margin-left: 15px;}


/****************************************************************************************/
/*****************************          node/layout         *****************************/
/****************************************************************************************/

/*default, fibonacci-1-1, 50%/50%*/
div.twoColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnOne.ofTwo > div.layoutColumnWrapper {margin-right: 15px;}
div.twoColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnTwo.ofTwo > div.layoutColumnWrapper {margin-left: 15px;}

/********* node/layout/3columns.html *********/
div.threeColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnOne.ofThree > div.layoutColumnWrapper {margin-right: 16px;}
div.threeColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnTwo.ofThree > div.layoutColumnWrapper {margin-left: 8px; margin-right: 8px;}
div.threeColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnThree.ofThree > div.layoutColumnWrapper {margin-left: 16px;}

/********* node/layout/4columns.html *********/
div.fourColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnOne.ofFour > div.layoutColumnWrapper {margin-right: 16px;}
div.fourColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnTwo.ofFour > div.layoutColumnWrapper,
div.fourColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnThree.ofFour > div.layoutColumnWrapper {margin-left: 8px; margin-right: 8px;}
div.fourColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnFour.ofFour > div.layoutColumnWrapper {margin-left: 16px;}

/********* node/layout/5columns.html *********/
div.fiveColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnOne.ofFive > div.layoutColumnWrapper {margin-right: 16px;}
div.fiveColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnTwo.ofFive > div.layoutColumnWrapper,
div.fiveColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnThree.ofFive > div.layoutColumnWrapper,
div.fiveColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnFour.ofFive > div.layoutColumnWrapper {margin-left: 8px; margin-right: 8px;}
div.fiveColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnFive.ofFive > div.layoutColumnWrapper {margin-left: 16px;}

/********* node/layout/6columns.html *********/
div.sixColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnOne.ofSix > div.layoutColumnWrapper {margin-right: 16px;}
div.sixColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnTwo.ofSix > div.layoutColumnWrapper,
div.sixColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnThree.ofSix > div.layoutColumnWrapper,
div.sixColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnFour.ofSix > div.layoutColumnWrapper,
div.sixColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnFive.ofSix > div.layoutColumnWrapper {margin-left: 8px; margin-right: 8px;}
div.sixColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutBody > div.layoutColumnSix.ofSix > div.layoutColumnWrapper {margin-left: 16px;}
