#basket,
#secondaryNavigation div.content {display: none;}
#primaryNavigation {width: 100%; background: grey;}
#primaryNavigation li {float: left; width: 20%; text-align: center;}
#primaryNavigation li.last {float: right;}
#secondaryNavigation {width: 20%; float: left;}
div.twoColumnPage {width: 80%; float: right;}
#content {width: 100%; clear: both; float: none; padding-top: 2em;}
#footerNavigation,
#secondaryNavigation {background: grey;}
