/**
 * create sidebar (on installations after Onyx 1.6)
 * Norbert @ Laposa Ltd, 2013/04/30
 *
 */

#content {width: 83.33%; float: right;}
#contentWrapper {margin-left: 15px;}

#primaryNavigation {float: left; width: 16.66%;}
#primaryNavigation li {float: none; margin-right: 0;}
#primaryNavigationWrapper {overflow: hidden; margin-right: 15px;}

#pageSide {width: 16.66%;} /*also wrapper to secondaryNavigation*/

