/**
 * no sidebar (use full content width) (prior to Onxshop 1.6)
 * Norbert @ Laposa Ltd, 2013/01/07
 *
 */

#content { width: 100%; float: none; clear: both; }
#contentWrapper {margin-left: 0;}

#primaryNavigation {width: 100%; float: none; margin-bottom: 10px;}
#primaryNavigation li {float: left; margin-right: 20px;}
