<!-- BEGIN: title -->API<!-- END: title -->
<!-- BEGIN: content -->

<div class="api"> 

    <div class="two-column-page page sidebar">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="page-header-wrapper">
                        <h1 class="page-title"><span>API</span></h1>
                    </div>
                </div>

                <div class="page-content">
                    <div class="page-content-wrapper">
                        <div class="row-top">
                            <div class="row-wrapper">
                                <div class="column-wrapper">
                                    <h3>Available documenation</h3>
                                    <p>The links can be shared with a developer, they are outside of backoffice.</p>
                                    <ul>
                                        <li><a href="/api/v1.0/documentation">v1.0</a></li>
                                        <li><a href="/api/v1.1/documentation">v1.1</a></li>
                                        <li><a href="/api/v1.2/documentation">v1.2</a></li>
                                        <li><a href="/api/v1.3/documentation">v1.3</a></li>
                                        <li><a href="/api/v1.4/documentation">v1.4</a></li>
                                    </ul>
                                    
                                    <p><a class="button" href="#flush_api_cache" onclick="makeAjaxRequest('#dialog', '/request/bo/component/tools?tool=flush_api_cache'); return false;"><span>Refresh API Cache (Force User to Download new Dataset)</span></a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>

</div>

<!-- END: content -->
