<!-- BEGIN: title -->Advanced<!-- END: title -->
<!-- BEGIN: content -->
<div id="advanced" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="configuration {ACTIVE_configuration} first ui-state-default ui-corner-top" ><a href="/backoffice/advanced/configuration"><span>Configuration</span></a></li>
			<li class="taxonomy {ACTIVE_taxonomy} ui-state-default ui-corner-top"><a href="/backoffice/advanced/taxonomy"><span>Categories</span></a></li>
			<li class="currency {ACTIVE_currency} ui-state-default ui-corner-top"><a href="/backoffice/advanced/currency"><span>Currency</span></a></li>
			<li class="templates {ACTIVE_templates} ui-state-default ui-corner-top"><a href="/backoffice/advanced/templates"><span>Templates/CSS</span></a></li>
			<li class="database {ACTIVE_database} ui-state-default ui-corner-top"><a href="/backoffice/advanced/database"><span>Database</span></a></li>
			<li class="media {ACTIVE_media} ui-state-default ui-corner-top"><a href="/backoffice/advanced/media"><span>Media Library</span></a></li>
			<li class="logs {ACTIVE_logs} ui-state-default ui-corner-top"><a href="/backoffice/advanced/logs"><span>Logs</span></a></li>
			<li class="seo_manager {ACTIVE_seo_manager} ui-state-default ui-corner-top"><a href="/backoffice/advanced/seo_manager"><span>SEO Manager</span></a></li>
			<li class="search_index {ACTIVE_search_index} ui-state-default ui-corner-top"><a href="/backoffice/advanced/search_index"><span>Search Index</span></a></li>
			<li class="tools {ACTIVE_tools} last ui-state-default ui-corner-top"><a href="/backoffice/advanced/tools"><span>Tools</span></a></li>
		</ul>
	
	<div id="onxshop_cms_content" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
		<div class="top"><span></span></div>
			{SUB_CONTENT}
		<div class="bottom"><span></span></div>
	</div>

</div>

<!-- END: content -->
