<!-- BEGIN: title -->Reviews & Comments<!-- END: title -->
<!-- BEGIN: content -->

<div id="reviews-page" class="two-column-page page sidebar">
		<div class="page-wrapper">
			<div id="page-header-wrapper">
				<div class="page-header">
					<div class="page-header-wrapper">
						<h1 class="page-title"><span>Reviews &amp; Comments</span></h1>
					</div>
				</div>
			</div>

			<div class="page-content">
				<div class="page-content-wrapper">
					<div class="row-top">
						<div class="row-wrapper">
							<div class="column-wrapper">

								<div class="onxshop-tabs">
									<ul class="tabs">
										<li class="{ACTIVE.comments}"><a href="/backoffice/comments/"><span>Comments</span></a></li>
										<li class="{ACTIVE.products}"><a href="/backoffice/comments/products"><span>Product Reviews</span></a></li>
										<li class="{ACTIVE.recipes}"><a href="/backoffice/comments/recipes"><span>Recipe Reviews</span></a></li>
									</ul>
								</div>

								<div id="sub-content">
									{SUBCONTENT}
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<!-- END: content -->
