<!-- BEGIN: title -->Reviews & Comments<!-- END: title -->
<!-- BEGIN: content -->


<div class="twoColumnPage page fibonacci-1-5">
	<div class="top page"><span></span></div>
	<div class="content page">
		<div class="contentWrappper page">
			<div class="pageHeader">
				
			</div>
			<div class="columnTop page">
				<div class="columnWrapper page">

				</div>
			</div>

			<div class="columnOne page">
				<div class="columnWrapper page">
					<ul>
						<li><a href="#sub_content" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/ecommerce/review_list')"><span>Product Reviews</span></a></li>
						<li><a href="#sub_content" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/comment_list')"><span>Blog Comments</span></a></li>
						<li><a href="#sub_content" onclick="makeAjaxRequest('#sub_content', '/request/bo/component/comment_list')"><span>Forums</span></a></li>
					</ul>
				</div>
			</div>
			<div class="columnTwo page">
				<div class="columnWrapper page">
					<div id="sub_content">
						{ONXSHOP_REQUEST_reviews #bo/component/ecommerce/review_list}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom page"><span></span></div>
</div>

<!-- END: content -->
