<!-- BEGIN: title -->Reviews & Comments<!-- END: title -->
<!-- BEGIN: content -->

<div id="reviews_page" class="twoColumnPage page">
	<div class="top"><span></span></div>
	<div class="content">
		<div class="pageWrapper">

			<div class="pageHeader">
				<div class="pageHeaderWrapper">
					<h1 class="pageTitle"><span>Reviews &amp; Comments</span></h1>
				</div>
			</div>

			<div class="pageContent">
				<div class="pageContentWrapper">
					<div class="rowTop">
						<div class="rowWrapper">
							<div class="columnWrapper">

								<div class="onxshop_tabs">

									<ul>
										<li><a href="#product_reviews" data-url="/request/bo/component/ecommerce/product_review_list"><span>Product Reviews</span></a></li>
										<li><a href="#recipe_reviews" data-url="/request/bo/component/ecommerce/recipe_review_list"><span>Recipe Reviews</span></a></li>
										<li><a href="#blog_comments" data-url="/request/bo/component/comment_list"><span>Blog Comments</span></a></li>
										<li><a href="#forums" data-url="/request/bo/component/comment_list"><span>Forums</span></a></li>
									</ul>

								</div>

								<div id="sub_content">
									<p>Please select from the menu above...</p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom"><span></span></div>
</div>


<script type="text/javascript">

	$(function(){

		$('.onxshop_tabs a').click(function() {
			var a = $(this);
			var li = a.parent();
			var ul = li.parent();
			ul.find('li').removeClass('active');
			li.addClass('active');
			makeAjaxRequest('#sub_content', a.attr('data-url'));
		}).each(function() {
			var a = $(this);
			var li = a.parent();
			var ul = li.parent();
			if (window.location.hash == a.attr('href')) {
				ul.find('li').removeClass('active');
				li.addClass('active');
				makeAjaxRequest('#sub_content', a.attr('data-url'));
			}
		});
	});

</script>

<!-- END: content -->
