<!-- BEGIN: title -->Components<!-- END: title -->
<!-- BEGIN: content -->
<div class="bo-navigation-wrapper">
    <div id="navigation-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
    </div>
    {ONYX_REQUEST_component_list #bo/component/component_list}
</div>

<div class="bo-node-detail-wrapper">
    <div id="detail-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
    </div>
    <div id="component-occurences">
    </div>
</div>
<!-- END: content -->
