<!-- BEGIN: title -->Configuration<!-- END: title -->
<!-- BEGIN: content -->

<script type="text/javascript">
/* <![CDATA[ */
$(document).ready(function(){
	$('div.server_browser_menu .simpleTree').simpleTree({
		drag: false,
		autoclose: true,
		afterClick:function(node){
			var open_dir = $('a:first', node).attr('href').replace('#', '');
			serverBrowserOpenDir(open_dir);
			return false;
		}
	});

});



function serverBrowserOpenDir(open_dir) {
	makeAjaxRequest('#component_configuration', "/request/bo/component/configuration.bo/component/configuration/" + open_dir);
}
/* ]]> */
</script>

<div class="twoColumnPage page fibonacci-1-2">
	<div class="top page"><span></span></div>
	<div class="content page">
		<div class="contentWrappper page">
			<div class="pageHeader">

			</div>
			<div class="columnTop page">
				<div class="columnWrapper page">

				</div>
			</div>

			<div class="columnOne page">
				<div class="columnWrapper page">
					<div id="model_tree">
						<h3><a href="?object=global"><span>Configuration groups</span></a></h3>
						{ONXSHOP_REQUEST_menu #bo/component/server_browser_menu~directory=templates/bo/component/configuration/:scope=onxshop:trim_extension=1~}
					</div>
				</div>
			</div>
			<div class="columnTwo page">
				<div class="columnWrapper page" id="component_configuration">
					{ONXSHOP_REQUEST_conf #bo/component/configuration}
				</div>
			</div>
		</div>
	</div>
	<div class="bottom page"><span></span></div>
</div>
<!-- END: content -->
