<!-- BEGIN: title -->Configuration<!-- END: title -->
<!-- BEGIN: content -->

<script type="text/javascript">
$(document).ready(function(){
    $('div.server-browser-menu .simple-tree').simpleTree({
        drag: false,
        autoclose: true,
        afterClick:function(node){
            var open_dir = $('a:first', node).attr('href').replace('#', '');
            serverBrowserOpenDir(open_dir);
            return false;
        }
    });
    
    //initComponentAjaxForm('#component_configuration');

});

function serverBrowserOpenDir(open_dir) {
    makeAjaxRequestWithForm('#component-configuration', '/request/bo/component/configuration/' + open_dir);
}

</script>

<div class="two-column-page page sidebar">
        <div class="page-wrapper">

            <div class="page-header">
                <div class="page-header-wrapper">
                    <h1 class="page-title"><span>Advanced Configuration</span></h1>
                </div>
            </div>

            <div class="page-content">
                <div class="page-content-wrapper">
                    <div class="row-top">
                        <div class="row-wrapper">
                            <div class="column-wrapper">

                                <div class="column-one page">
                                    <div class="column-wrapper page">
                                        <div id="model-tree">
                                            <h3><a href="?object=global"><span>Configuration groups</span></a></h3>
                                            {ONXSHOP_REQUEST_menu #bo/component/server_browser_menu~directory=templates/bo/component/configuration/:scope=all:trim_extension=1~}
                                        </div>
                                    </div>
                                </div>
                                <div class="column-two page">
                                    <div class="column-wrapper page" id="component-configuration">
                                        {ONXSHOP_REQUEST_conf #bo/component/configuration}
                                    </div>
                                </div>

                                <div class="row-bottom">
                                    <div class="row-wrapper">
                                        <div class="column-wrapper">

                                            <p>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>

<!-- END: content -->
