<!-- BEGIN: title -->Content Explorer<!-- END: title -->
<!-- BEGIN: content -->
<div class="bo-navigation-wrapper">
    <div id="navigation-loading" class="onyx-loading htmx-indicator">
    </div>

    <div 
        id="bo-search"
        class="bo-search"
        hx-get="/request/bo/component/bo_search"
        hx-trigger="load">
    </div>

    <div 
        id="node-explorer" 
        class="node-explorer" 
        hx-get="/request/bo/component/node_explorer" 
        hx-trigger="load, explorerRefresh">
    </div>
</div>

<div class="bo-node-detail-wrapper">
    <div id="detail-loading" class="onyx-loading htmx-indicator">
        <img src="/share/images/loading.svg" alt="Loading..."/>
    </div>

    <div 
        id="node-properties-edit"
        hx-swap="innerHTML"
        hx-trigger="load"
        hx-indicator="#detail-loading"
        hx-get="/request/bo/component/node_edit~id={CONTENT_ID}~">
    </div>
</div>
<!-- END: content -->
