<!-- BEGIN: title -->Content Explorer<!-- END: title -->
<!-- BEGIN: content -->
<div class="bo-navigation-wrapper">

    <div 
        id="bo-search"
        class="bo-search"
        hx-get="/request/bo/component/bo_search"
        hx-trigger="load">
    </div>

    <div 
        id="node-explorer" 
        class="node-explorer" 
        hx-get="/request/bo/component/node_explorer" 
        hx-trigger="load, explorerRefresh">
    </div>
    
</div>

<div 
    class="bo-node-detail-wrapper"
    id="node-properties-edit"
    hx-swap="innerHTML"
    hx-trigger="load, loadDetail from:body"
    hx-indicator="#node-properties-edit"
    hx-get="/request/bo/component/node_edit~id={CONTENT_ID}~">
</div>
<!-- END: content -->
