<!-- BEGIN: title -->Currency<!-- END: title -->
<!-- BEGIN: content -->

<div class="currency"> 

    <div class="two-column-page page sidebar">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="page-header-wrapper">
                        <h1 class="page-title"><span>Currency Management</span></h1>
                    </div>
                </div>

                <div class="page-content">
                    <div class="page-content-wrapper">
                        <div class="row-top">
                            <div class="row-wrapper">
                                <div class="column-wrapper">

                                    {ONXSHOP_REQUEST_currency #bo/component/ecommerce/currency_rate}

                                </div>
                            </div>
                        </div>

                        <div class="row-bottom">
                            <div class="row-wrapper">
                                <div class="column-wrapper">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>

</div>

<!-- END: content -->
