<!-- BEGIN: title -->Currency<!-- END: title -->
<!-- BEGIN: content -->

<div class="currency"> 

	<div class="twoColumnPage page sidebar">
		<div class="content">
			<div class="pageWrapper">

				<div class="pageHeader">
					<div class="pageHeaderWrapper">
						<h1 class="pageTitle"><span>Currency Management</span></h1>
					</div>
				</div>

				<div class="pageContent">
					<div class="pageContentWrapper">
						<div class="rowTop">
							<div class="rowWrapper">
								<div class="columnWrapper">

									{ONXSHOP_REQUEST_currency #bo/component/ecommerce/currency_rate}

								</div>
							</div>
						</div>

						<div class="rowBottom">
							<div class="rowWrapper">
								<div class="columnWrapper">

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- END: content -->
