<!-- BEGIN: title -->Database<!-- END: title -->
<!-- BEGIN: content -->
	<ul>
		<li><a class="{GET.active.page_manager}" href="/backoffice/advanced/database/browse"><span>Browse</span></a></li>
		<li><a class="{GET.active.page_manager}" href="/backoffice/advanced/database/export"><span>Export</span></a></li>
		<li><a class="{GET.active.edit_mode}" href="/backoffice/advanced/database/import"><span>Import</span></a></li>
		<li><a class="{GET.active.preview_mode}" href="/opt/phppgadmin/" target="_blank"><span>PhpPgAdmin</span></a></li>
	</ul>

{SUB_CONTENT}

<!-- END: content -->
