<!-- BEGIN: title -->Database<!-- END: title -->
<!-- BEGIN: content -->

	<div class="twoColumnPage page sidebar">
		<div class="content">
			<div class="pageWrapper">

				<div class="pageHeader">
					<div class="pageHeaderWrapper">
						<h1 class="pageTitle"><span>Database</span></h1>
					</div>
				</div>

				<div class="pageContent">
					<div class="pageContentWrapper">
						<div class="rowTop">
							<div class="rowWrapper">
								<div class="columnWrapper">

									<div class="onxshop-tabs">
										<ul class="tabs">
											<li><a class="{GET.active.page_manager}" href="/backoffice/advanced/database/browse"><span>Browse</span></a></li>
											<li><a class="{GET.active.page_manager}" href="/backoffice/advanced/database/export"><span>Export</span></a></li>
											<li><a class="{GET.active.edit_mode}" href="/backoffice/advanced/database/import"><span>Import</span></a></li>
											<li><a class="{GET.active.preview_mode}" href="/opt/phppgadmin/" target="_blank"><span>PhpPgAdmin</span></a></li>
										</ul>
									</div>

									<div id="sub-content">
										<p>Please select from the menu above...</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


{SUB_CONTENT}

<!-- END: content -->
