<!-- BEGIN: title -->Database<!-- END: title -->
<!-- BEGIN: content -->

    <div class="two-column-page page sidebar">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="page-header-wrapper">
                        <h1 class="page-title"><span>Database</span></h1>
                    </div>
                </div>

                <div class="page-content">
                    <div class="page-content-wrapper">
                        <div class="row-top">
                            <div class="row-wrapper">
                                <div class="column-wrapper">

                                    <div class="onxshop-tabs">
                                        <ul class="tabs">
                                            <li><a class="{GET.active.page_manager}" href="/backoffice/advanced/database/browse"><span>Browse</span></a></li>
                                            <li><a class="{GET.active.page_manager}" href="/backoffice/advanced/database/export"><span>Export</span></a></li>
                                            <li><a class="{GET.active.edit_mode}" href="/backoffice/advanced/database/import"><span>Import</span></a></li>
                                            <li><a class="{GET.active.preview_mode}" href="/opt/adminer/?{ONXSHOP_DB_TYPE}={ONXSHOP_DB_HOST}&username={ONXSHOP_DB_USER}&db={ONXSHOP_DB_NAME}&ns=public" target="_blank"><span>Adminer</span></a></li>
                                        </ul>
                                    </div>

                                    <div id="sub-content">
                                        <p>Please select from the menu above...</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>


{SUB_CONTENT}

<!-- END: content -->
