<!-- BEGIN: title -->Discounts<!-- END: title -->
<!-- BEGIN: content -->
<div id="discounts-page" class="twoColumnPage page">

	<div class="content">
		<div class="pageWrapper">

			<div class="pageHeader">
				<div class="pageHeaderWrapper">
					<h1 class="pageTitle"><span>Discounts</span></h1>
				</div>
			</div>

			<div class="pageContent">
				<div class="pageContentWrapper">
					<div class="rowTop">
						<div class="rowWrapper">
							<div class="columnWrapper">

								<div class="horizontal-filter">
									{ONXSHOP_REQUEST_filter #bo/component/ecommerce/promotion_filter}
								</div>

								{ONXSHOP_REQUEST_promotion #bo/component/ecommerce/promotion_list}

							</div>
						</div>
					</div>
					<div class="rowMiddle">
						<div class="rowWrapper">
							<div class="columnOne">
								<div class="columnWrapper">
								</div>
							</div>
							<div class="columnTwo">
								<div class="columnWrapper">
								</div>
							</div>
						</div>
					</div>
					<div class="rowBottom">
						<div class="rowWrapper">
							<div class="columnWrapper">

								<p>
									<a class="button add" href="#" onclick="makeAjaxRequest('#discounts-page', '/request/bo/component/ecommerce/promotion_add'); return false"><span>Add a New Coupon</span></a>
									<a class="button export" href="/request/bo/export/csv_promotion" ><span>Export to CSV</span></a>
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- END: content -->
