<!-- BEGIN: title -->News<!-- END: title -->
<!-- BEGIN: content -->
<div class="twoColumnPage page sidebar">
	<div class="top"><span></span></div>
	<div class="content">
		<div class="pageWrapper">

			<div class="pageContent">
				<div class="pageContentWrapper">
					<div class="rowTop">
						<div class="rowWrapper">
							<div class="columnWrapper">

								<div id="sub_content">
								
								{SUB_CONTENT}
								
								</div>

							</div>
						</div>
					</div>
					<div class="rowMiddle">
						<div class="rowWrapper">
							<div class="columnOne">
								<div class="columnWrapper">
								</div>
							</div>
							<div class="columnTwo">
								<div class="columnWrapper">
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="bottom"><span></span></div>
</div>

<!-- END: content -->
