<!-- BEGIN: title -->News<!-- END: title -->
<!-- BEGIN: content -->
<div class="twoColumnPage page fibonacci-5-1">
	<div class="top page"><span></span></div>
	<div class="content page">
		<div class="contentWrappper page">
			<div class="pageHeader">
				
			</div>
			<div class="columnTop page">
				<div class="columnWrapper page">

				</div>
			</div>

			<div class="columnOne page">
				<div class="columnWrapper page">
					<div id="sub_content">
					{SUB_CONTENT}
					</div>
				</div>
			</div>
			<div class="columnTwo page">
				<div class="columnWrapper page">
					<p><a class="button" href="/page/{GET.id}?fe_edit_mode=edit" target="_blank"><span>Preview in Front-End</span></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom page"><span></span></div>
</div>

<!-- END: content -->
