<!-- BEGIN: title -->News<!-- END: title -->
<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function(){
	$('#newsTaxonomyFilter .simpleTree').simpleTree({
		drag: false,
		autoclose: true,
		afterClick:function(node){
			var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
			$("#news-list").html(onxshop_load_indicator_html_snippet).load("/request/bo/component/news_list~show_all_from_bo=1:taxonomy_tree_id="+node_id+"~");
		},
		animate: true,
		docToFolderConvert: true
		});
	
});
</script>

<div id="news">
	<div class="twoColumnPage page sidebar">
		<div class="content">
			<div class="pageWrapper">

				<div class="pageHeader">
					<div class="pageHeaderWrapper">
						<h1 class="pageTitle"><span>{BLOG_SECTION.title|htmlspecialchars}</span></h1>
						{ONXSHOP_REQUEST_section_select #bo/component/news_section_select}
					</div>
				</div>

				<div class="pageContent">
					<div class="pageContentWrapper">
						<div class="rowTop">
							<div class="rowWrapper">
								<div class="columnWrapper">
									{CONTAINER.0}
								</div>
							</div>
						</div>
						<div class="rowMiddle">
							<div class="rowWrapper">
								<div class="columnOne">
									<div class="columnWrapper">

										<div id="news-taxonomy-filter">
											{ONXSHOP_REQUEST_menupages #bo/component/taxonomy_menu~expand_all=1:publish=0~}
										</div>

									</div>
								</div>
								<div class="columnTwo">
									<div class="columnWrapper">

										<div id="news-list">
											{ONXSHOP_REQUEST_newslist #bo/component/news_list~display_pagination=1~}
										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="rowBottom">
							<div class="rowWrapper">
								<div class="columnWrapper">

									<p>
										<a class="button add" title="Add new article to {BLOG_SECTION.title|htmlspecialchars}" href="#" onclick="openAjaxRequestInDialog('/request/bo/component/news_add~blog_node_id={BLOG_SECTION.id}~', 'Create a news item for {BLOG_SECTION.title|htmlspecialchars}'); return false"><span>Add a New Article</span></a>
										<a class="button rss" title="News RSS Export ({BLOG_SECTION.title}" href="/export/rss/node/{BLOG_SECTION.id}"><span>Export This List as RSS</span></a>
									</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- END: content -->
