<!-- BEGIN: title -->Pages<!-- END: title -->
<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function(){
	appendHeader();
	initialiseMenuPagesTree();
});

function appendHeader() {
	var header = $("#sub-content div.page-header").detach();
	var title = $("#sub-content #node-title").val();
	$('#page-header-wrapper').empty().append(header);
	
	document.title = title + ' - Pages';
	
	var buttonToolbar = $('div.row-bottom p:first');
	if (buttonToolbar.length > 0) buttonToolbar.append($('.extended-toolbar a').detach());

}

function initialiseMenuPagesTree() {

	$('#menupages-tree .simple-tree').simpleTree({
		drag: true,
		autoclose: false,
		afterClick:function(node){
    		tinymce.remove();
			var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
			makeAjaxRequest("#sub-content", "/request/bo/component/node_edit~id="+node_id+"~", function(data) {
				appendHeader();
				initAdvancedSettingsButton();
			});
			$('#button-add-subpage').attr('data-node-id', node_id);
		},
		afterContextMenu:function(node){
			var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
			makeAjaxRequest("#sub-content", "/request/bo/component/node_edit~id="+node_id+"~");
			$('#button-add-subpage').attr('data-node-id', node_id);
		},
		afterMove:function(destination, source, position){
			var source_node_id = $('a:first', source).attr('href').match("[0-9]{1,}$");
			var destination_node_id = $('a:first', destination).attr('href').match("[0-9]{1,}$");
			//openAjaxRequestInGrowl('/request/bo/component/node_move~source_node_id='+source_node_id+':destination_node_id='+destination_node_id+':position='+position+'~', 'Move node');
			
			$.post("/request/bo/component/node_move", {
                csrf_token: getCSRFToken(),
                source_node_id: source_node_id[0],
                destination_node_id: destination_node_id[0],
                position: position}, function (data) {
					popupMessage(data);
				});
            
			return false;
		},
		animate: true,
		docToFolderConvert: true /*when false, it will not allow to move page using drag&drop under a page without any children*/
	});
	$('#pages-node-menu').addClass('visible');
}

function hookNodeEditPostUpdate() {
	$('#pages-node-menu').load("/request/bo/component/node_menu~id=0:open=0:expand_all=1:publish=0~", function() {
		initialiseMenuPagesTree();
	});
}
</script>

<div id="pages">

	<div class="two-column-page page sidebar">
			<div class="page-wrapper">

				<div id="page-header-wrapper">
					<div class="page-header">
						<div class="page-header-wrapper">
							<h1 class="page-title"><span>Page</span> <span class="info">ID {NODE_ID}</span></h1>
						</div>
					</div>
				</div>

				<div class="page-content">
					<div class="page-content-wrapper">
						<div class="row-top">
							<div class="row-wrapper">
								<div class="column-wrapper">
									{CONTAINER.0}
								</div>
							</div>
						</div>
						<div class="row-middle">
							<div class="row-wrapper">
								<div class="column-one">
									<div class="column-wrapper">

										<div id="pages-node-menu">
											{ONXSHOP_REQUEST_menupages #bo/component/node_menu~id=0:open=GET.open:expand_all=1:publish=0~}
										</div>

									</div>
								</div>
								<div class="column-two">
									<div class="column-wrapper">

										<div id="sub-content">
											{NODE_EDIT}
										</div>
										
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

</div>
<!-- END: content -->
