<!-- BEGIN: title -->Pages<!-- END: title -->
<!-- BEGIN: content -->
<script type="text/javascript">
/* <![CDATA[ */
$(document).ready(function(){
	initialiseMenuPagesTree();
});

function initialiseMenuPagesTree() {

	$('#menupages_tree .simpleTree').simpleTree({
		drag: true,
		autoclose: false,
		afterClick:function(node){
			var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
			makeAjaxRequest("#sub_content", "/request/bo/component/node_edit~id="+node_id+"~");
		},
		afterDblClick:function(node){
			//alert("text-"+$('span:first',node).text());
		},
		afterMove:function(destination, source, position){
			var source_node_id = $('a:first', source).attr('href').match("[0-9]{1,}$");
			var destination_node_id = $('a:first', destination).attr('href').match("[0-9]{1,}$");
			//alert("moved"+source_node_id+"to"+destination_node_id+"pos"+position);
			openAjaxRequestInGrowl('/request/bo/component/node_move~source_node_id='+source_node_id+':destination_node_id='+destination_node_id+':position='+position+'~', 'Move node');
			return false;
		},
		afterAjax:function()
		{
			//alert('Loaded');
		},
		animate: true,
		docToFolderConvert: true
	});
	$("#menupages_tree").css('display', 'block');
	
}

function hookNodeEditPostUpdate() {
	$('#pages_node_menu').load("/request/bo/component/node_menu~id=0:open=0:expand_all=1:publish=0~", function() {
		initialiseMenuPagesTree();
	});
}

/* ]]> */
</script>

<div id="pages">
	<div class="twoColumnPage page fibonacci-1-5">
		<div class="top"><span></span></div>
		<div class="content">
			<div class="pageWrapper">
				{PAGE_HEADER}
				<div class="pageContent">
					<div class="pageContentWrapper">
						<div class="rowTop">
							<div class="columnWrapper">
								{CONTAINER.0}
							</div>
						</div>
			
						<div class="columnOne">
							<div class="columnWrapper">
								<div id="pages_node_menu">
									{ONXSHOP_REQUEST_menupages #bo/component/node_menu~id=0:open=0:expand_all=1:publish=0~}
								</div>
							</div>
						</div>
						<div class="columnTwo">
							<div class="columnWrapper">
								<div id="sub_content">
									{NODE_EDIT}
								</div>
							</div>
						</div>
						<div class="rowBottom">
							<div class="columnWrapper">
								{CONTAINER.3}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom"><span></span></div>
	</div>
</div>
<!-- END: content -->
