<!-- BEGIN: title -->Server Browser<!-- END: title -->
<!-- BEGIN: content -->

<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click', '.media-breadcrumbs a, .media-subfolders a', function(e) {
            e.preventDefault();
            let newLink = window.location.origin + $(this).attr('href');

            if(window.history.pushState && '{GET.type}' === '') {
                window.history.pushState({}, "", newLink);
            }

            openDir = $(this).attr('href').replace('/backoffice/media/', '');
            var url = "/request/bo/component/server_browser_file_list~open=" + openDir + ":type={GET.type}:relation={GET.relation}:node_id={GET.node_id}:file_id={GET.file_id}~";
            makeAjaxRequest('#server-browser-file-list', url);
            $("#add-new-file").attr('action', '{_SERVER.REDIRECT_URL}?open='+openDir);
        });
    });
</script>

<div id="server-browser" class="two-column-page page server-browser">
    <div class="page">
        <div class="content-wrappper page">

            <div class="page-header">
                <div class="page-header-wrapper">
                    <h1 class="page-title"><span>Media Library</span></h1>
                </div>
            </div>

            <div class="page">
                <div class="column-wrapper page">
                    <div id="server-browser-file-list">
                        {SERVER_BROWSER_FILE_LIST}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END: content -->
