<!-- BEGIN: title -->Reports<!-- END: title -->
<!-- BEGIN: content -->

<script type="text/javascript">
$(function() {
	var options = {
		url: '/request/bo/component/ecommerce/orders_graph',
		target: '#orders_graph',
		beforeSubmit: function () {
    		$("#orders_graph").html(onxshop_load_indicator_html_snippet)
		},
		success: function(responseText, statusText) {
			popupMessage("#orders_graph div.onxshop_messages");
			$('#orders_graph form').ajaxForm(options);
		}
	}; 

    $('#orders_graph form').ajaxForm(options);
    
    var options1 = {
		url: '/request/bo/component/ecommerce/reports_filter',
		target: '#reports_filter',
		success: function(responseText, statusText) {
			popupMessage("#reports_filter div.onxshop_messages");
			$('#reports_filter form').ajaxForm(options1);
			makeAjaxRequest('#orders_breakdown', '/request/bo/component/ecommerce/orders_breakdown');
			makeAjaxRequest('#sales_report', '/request/bo/component/ecommerce/sales_report');
			makeAjaxRequest('#promotion_report', '/request/bo/component/ecommerce/promotion_list_report');
		}
	}; 

    $('#reports_filter form').ajaxForm(options1);

});
</script>

<div id="reports_page" class="twoColumnPage page">
	<div class="top"><span></span></div>
	<div class="content">
		<div class="pageWrapper">

			<div class="pageHeader">
				<div class="pageHeaderWrapper">
					<h1 class="pageTitle"><span>Reports</span></h1>
				</div>
			</div>

			<div class="pageContent">
				<div class="pageContentWrapper">
					<div class="rowTop">
						<div class="rowWrapper">
							<div class="columnWrapper">

								<div id="reports_filter" class="horizontalFilter">
									{ONXSHOP_REQUEST_reports_filter #bo/component/ecommerce/reports_filter}
								</div>

								<div id="orders_breakdown">
									{ONXSHOP_REQUEST_breakdown #bo/component/ecommerce/orders_breakdown}
								</div>
								
								<div id="sales_report" style="display: none;">
									{ONXSHOP_REQUEST_bestbuys #bo/component/ecommerce/sales_report}
								</div>

								<div id="promotion_report" style="display: none;">
									{ONXSHOP_REQUEST_promotion_report #bo/component/ecommerce/promotion_list_report}
								</div>
								
								<div id="orders_graph">
									{ONXSHOP_REQUEST_graph #bo/component/ecommerce/orders_graph}
								</div>

							</div>
						</div>
					</div>
					<div class="rowMiddle">
						<div class="rowWrapper">
							<div class="columnOne">
								<div class="columnWrapper">
								</div>
							</div>
							<div class="columnTwo">
								<div class="columnWrapper">
								</div>
							</div>
						</div>
					</div>
					<div class="rowBottom">
						<div class="rowWrapper">
							<div class="columnWrapper">
								<p>
									<a class="button" href="#sales_report" onclick="$('#sales_report').show(); scrollToElement('#sales_report'); return false;"><span>Show Itemised Sales Report</span></a>
									<a class="button" href="#promotion_report" onclick="$('#promotion_report').show(); scrollToElement('#promotion_report'); return false;"><span>Show Itemised Promotion Report</span></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->
