<!-- BEGIN: title -->Summary<!-- END: title -->
<!-- BEGIN: content -->
<div class="two-column-page page">
        <div class="page-wrapper">

            <div class="page-header">
                <div class="page-header-wrapper">
                    <h1 class="page-title"><span>Backoffice</span></h1>
                </div>
            </div>

            <div class="page-content">
                <div class="page-content-wrapper">
                    <div class="row-middle">
                        <div class="row-wrapper">
                            {ONYX_REQUEST_authorstats #bo/component/author_stats}
                            {ONYX_REQUEST_recent #bo/component/node_list_recent}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- END: content -->
