<!-- BEGIN: title -->Summary<!-- END: title -->
<!-- BEGIN: content -->
<div class="twoColumnPage page">
	<div class="content">
		<div class="pageWrapper">

			<div class="pageHeader">
				<div class="pageHeaderWrapper">
					<h1 class="pageTitle"><span>Backoffice</span></h1>
				</div>
			</div>

			<div class="pageContent">
				<div class="pageContentWrapper">
					<div class="rowTop">
						<div class="rowWrapper">
							<div class="columnWrapper">
								
								

							</div>
						</div>
					</div>
					<div class="rowMiddle">
						<div class="rowWrapper">
							<div class="columnOne">
								<div class="columnWrapper">
									{ONXSHOP_REQUEST_authorstats #bo/component/author_stats}
								</div>
							</div>
							<div class="columnTwo">
								<div class="columnWrapper">
									{ONXSHOP_REQUEST_recent #bo/component/node_list_recent}
								</div>
							</div>
						</div>
					</div>
					<div class="rowBottom">
						<div class="rowWrapper">
							<div class="columnWrapper">

								

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->
