<!-- BEGIN: title -->Surveys<!-- END: title -->
<!-- BEGIN: content -->
<div class="two-column-page page fibonacci-1-5">
		<div class="page-wrapper">

			<div class="page-header">
				<div class="page-header-wrapper">
					<h1 class="page-title"><span>Surveys</span></h1>
				</div>
			</div>

			<div class="page-content">
				<div class="page-content-wrapper">
					<div class="row-top">
						<div class="row-wrapper">
							<div class="column-wrapper">

								<div id="sub-content">
									{ONXSHOP_REQUEST_reviews #bo/component/survey_list}
								</div>

							</div>
						</div>
					</div>
					<div class="row-middle">
						<div class="row-wrapper">
							<div class="column-one">
								<div class="column-wrapper">
								</div>
							</div>
							<div class="column-two">
								<div class="column-wrapper">
								</div>
							</div>
						</div>
					</div>
					<div class="row-bottom">
						<div class="row-wrapper">
							<div class="column-wrapper">

								<p>
									<a class="button add" title="Add a New Survey" onclick="makeAjaxRequest('#sub-content', '/request/bo/component/survey_add'); return false" href="#sub_content"><span>Add a New Survey</span></a>
									<a class="button" href="/request/bo/export/csv_surveys"><span>Export Statistics to CSV</span></a>
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- END: content -->
