<!-- BEGIN: title -->Taxonomy<!-- END: title -->
<!-- BEGIN: content -->
<script type="text/javascript">
$(document).ready(function(){
	$('#taxonomyEditSelect .simpleTree').simpleTree({
		drag: true,
		autoclose: false,
		afterClick:function(node){
			var node_id = $('a:first', node).attr('href').match("[0-9]{1,}$");
			makeAjaxRequest('#sub_content', '/request/bo/component/taxonomy_edit~id='+node_id+'~');
		},
		afterDblClick:function(node){
			alert("text-"+$('span:first',node).text());
		},
		afterMove:function(destination, source, position){
			var source_node_id = $('a:first', source).attr('href').match("[0-9]{1,}$");
			var destination_node_id = $('a:first', destination).attr('href').match("[0-9]{1,}$");
			//alert("moved"+source_node_id+"to"+destination_node_id+"pos"+position);
			openAjaxRequestInGrowl('/request/bo/component/taxonomy_move~source_node_id='+source_node_id+':destination_node_id='+destination_node_id+':position='+position+'~', 'Move taxonomy label');
			return false;
			
		},
		afterAjax:function()
		{
			alert('Loaded');
		},
		animate: true,
		docToFolderConvert: true
	});
});
</script>
<div class="twoColumnPage page fibonacci-2-5">
	<div class="top"><span></span></div>
	<div class="content">
		<div class="contentWrappper">
			<div class="pageHeader">
				
			</div>
			<div class="columnTop">
				<div class="columnWrapper">

				</div>
			</div>

			<div class="columnOne">
				<div class="columnWrapper">
					<div id="taxonomyEditSelect">
						{ONXSHOP_REQUEST_menupages #bo/component/taxonomy_menu~expand_all=1:publish=0~}
					</div>
				</div>
			</div>
			<div class="columnTwo">
				<div class="columnWrapper">
					<div id="sub_content">
						{SUB_CONTENT}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom"><span></span></div>
</div>

<!-- END: content -->
