<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<h1>Authentication required!</h1>
<p>
This server could not verify that you are authorized to access
the URL "{URI|htmlspecialchars}".
You either supplied the wrong credentials (e.g., bad password), or your
browser doesn't understand how to supply the credentials required.
</p>
<p>
In case you are allowed to request the document, please
check your user-id and password and try again.
</p>
<p>
If you think this is a server error, please contact
the webmaster.</p>

<pre style="text-align: left; padding: 20px">
HTTP/1.0 401 Unauthorized
</pre>
<!-- END: content -->
