/* 
* Bin BO Page
*/

span.important {
  color: red; 
  font-weight: bold; 
}

.bin-empty-action {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .button {
    margin-top: 10px;
  }
}
