
/*
* Content pods
*/

ul#content-pods {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .placeholder {
    position: relative;
    padding-bottom: 10px;

    &:after {
      content: "Move here";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      top: 0;
      left: 0;
      width: 100%;
      position: relative;
      transition: 0.5s ease;
      opacity: 0;
      max-height: 0;
      height: 75px;
      color: #999;
      border: 2px dashed transparent;
      border-radius: 10px;
      animation: growPlaceholder 0.5s ease forwards;
    }
  }
}

div.content-pods__item {
  width: 100%;
  padding: 15px;
  padding-bottom: 35px;
  background-color: white;
  cursor: pointer;
  display: flex;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgba(0,0,0,0.05);

  strong {
    display: block;
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .pill {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    text-shadow: 0 -1px 0 #fff;
    border-radius: 20px;
    padding: 3px 16px;
    color: #666;
  }

  .label {
    line-height: 1;
    font-size: 1.15rem;
    color: black;
    font-weight: 500;
  }

  > a {
    flex-grow: 1;
    width: 100%;
    cursor: grab;
  }

  @media all and (max-width: 1000px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

div.content-pods__item--content {
  padding-right: 10px;

  > p {
    display: flex;
    margin: 0;
    color: #888;
    font-size: 1.2em;
    margin-bottom: 15px;
  }
}


div.content-pods__item--images {
  margin-left: auto;
  width: 300px;
  min-width: 300px;
  margin-top: 50px;

  p {
    display: none;
  }

  .list {
    position: relative;
    margin-right: -15px;
  }

  .button {
    display: none;
  }

  .item {
    transition: 0.25s ease;
    z-index: 1;
    border: 1px solid #eee;
    background: white;
    width: 90px;
    height: 90px;
    opacity: 0.8;
    margin-right: 15px;
    margin-bottom: 15px;

    img {
      width: 100%!important;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      opacity: 1;
      transform:scale(1.3);
    }
  }

  @media all and (max-width: 1200px) {

    min-width: 180px;
    width: 180px;

    .item {
      width: 50px;
      height: 50px;
    }
  }

  @media all and (max-width: 1000px) {
    width: 100%;
  }
}

div.content-pods__item--actions {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 0.25rem 0.5rem;
  background: white;

	a.fakelink {
		display: none;
	}
}

div#drag_container.clean {
  border: none;

  &:before {
    content: none;
  }

  li {
    background: none;
    padding: 0;
  }
}


a.fakelink {text-decoration: none; display:block;}
a.fakelink:hover {text-decoration: none;}

@keyframes growPlaceholder {
  from {
    max-height: 0;
    opacity: 0;
    border: transparent;
  }
  to {
    max-height: 75px;
    opacity: 0.5;
    border-color: #999;
  }
}
