/*
* Deeplinks
*/

#node-deeplink {
  position: relative;
  z-index: 15;
}

.deeplink .wrapper {
  position: relative;
  margin: 0;
}

.deeplinks {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% - 10px);
  background-color: white;
  z-index: 10;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  border: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .item {
    line-height: 2;
    padding: 0 5px;
    cursor: pointer;

    &.hidden {
      display: none;
    }

    &:hover, &.selected {
      background-color: #f0f0f0;
    }
  }
}

#rt-select > div {
  margin-bottom: 10px;
}
