dialog.edit-dialog {
	display: none;
	padding: 20px;
	min-width: 800px;
	min-height: 200px;
	pointer-events: none;
	opacity: 0;
	transition: 0.3s ease;
	border: none;
	border-radius: 10px;
	position: relative;

	&[open] {
		display: flex;
		opacity: 1;
		pointer-events: inherit;
		box-shadow: 0 0 0 100vw  rgba(0, 0, 0, 0.3);
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0);
	}

	ul {
		padding-left: 20px;

		li {
			margin-bottom: 5px;
		}
	}

	p {
		color: var(--color-text-grey);
	}

	select {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 10px;
		color: var(--color-text);
		outline: none;
		transition: 0.3s ease;
		min-height: 45px;
		min-width: 49%;
		width: 100%;

		&:focus {
			border-color: var(--color-primary);
			box-shadow: 0 0 5px var(--color-primary-opaque);
		}
	}

	.content, #variety-more-details {
		width: 100%;
	}

	.close::after {
		position: absolute;
		content: '✕';
		cursor: pointer;
		font-size: 20px;
		line-height: 20px;
		top: 20px;
		right: 20px;
		color: var(--color-primary);
	}

	/* Form & Inputs */
	form {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		margin: 0;

		h2 {
			margin-bottom: 10px;
		}
		
		label {
			color: var(--color-text-grey);

			&:has(+ .error) {
				color: var(--color-danger);
			}
		}

		input, textarea {
			width: 100%;
			min-width: 49%;
			font-weight: normal;
			color: var(--color-text);
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 12px 10px 10px 12px;
			transition: 0.3s ease;
			outline: none;

			&:placeholder {
				font-weight: normal;
			}

			&:focus {
				border-color: var(--color-primary);
				box-shadow: 0 0 5px var(--color-primary-opaque);
			}
		}
		
		.row {
			position: relative;
			margin-bottom: 20px;
			width: 100%;
		}

		.row.text, .row.select {
			margin-top: 10px;
		}

		.row.checkbox {
			display: flex;
			align-items: center;
			gap: 10px;
			color: var(--color-text);

			label {
				position: relative;
				display: inline-block;
				width: 40px;
				height: 22px;
			}

			input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				transition: .3s ease;
				border-radius: 5px;

				&:before {
					position: absolute;
					content: "";
					height: 14px;
					width: 14px;
					left: 4px;
					bottom: 4px;
					background-color: white;
					transition: 0.3s ease;
					border-radius: 4px;
				}
			}

			input:checked + .slider {
				background-color: var(--color-primary);
			}

			input:focus + .slider {
				box-shadow: 0 0 1px var(--color-primary-opaque);
			}

			input:checked + .slider:before {
				transform: translateX(18px);
			}

			label {
				margin-bottom: 0;
				color: var(--color-text);
			}
		}

		.row.text label, .row.select label {
			padding: 0 5px;
			background-color: white;

			&.error {
				display: none!important;
				/* left: auto;
				right: 7px;
				color: var(--color-danger); */
			}
		}
	}

	.additional-info {
		padding-left: 10px;
		padding-top: 5px;
		color: var(--color-text-grey);

		a {
			color: var(--color-primary);
		}
	}

	.edit-actions {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		margin-bottom: 20px;
		width: 100%;

		button {
			padding: 10px 15px;
			border-radius: 5px;
			line-height: normal;
			height: auto;
		}
	}

	/* TODO: specific changes - create separate files for each component? */

	.file-item-form {
		width: 100%;
	}

	.datepicker {
		position: relative;
		
		.ui-datepicker {
			position: absolute;
			top: 40px;
			z-index: 100;
			width: 14em;

			table {
				font-size: 0.6rem;
			}
		}
	}

	.onyx-delete {
			background-image: none;
			height: auto;
			padding-top: 1px;

			&:hover {
				text-decoration: none;
			}

			&:before {
				content: '✕';
				font-weight: bold;
				font-size: 18px;
				color: var(--color-danger);
			}
		}

	.scheduler-list {
		input {
			padding: 10px;
			min-width: 100px;
		}

		.scheduler-item {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}

	.product-other-data {
		width: 100%;

		.item {
			display: flex;
			align-items: flex-start;
			gap: 10px;
			margin-bottom: 10px;
		}
	}

	.street-view-options {
		display: flex;
		width: 100%;
		gap: 20px;
		
		.inputs, .preview {
			width: calc(50% - 10px);
		}

		.adjustable-text .field {
			display: flex;
			gap: 10px;

			a {
				margin-bottom: 0;
				display: inline-flex;
				min-width: 45px;
				align-items: center;
				justify-content: center;
				font-size: 17px;
				background-color: var(--color-primary);
				color: white;
				border-radius: 5px;

				&.zoom-in, &.zoom-out {
					font-size: 20px;
				}
			}
		}
	}
}
