
  /*default, fobinaci-1-1, 50%/50%*/
  div.two-column-page div.column-one,
  div.two-column-page.fibonacci-1-1 div.column-one {float: left; width: 49.999%; clear: both; overflow: hidden; }
  div.two-column-page div.column-two,
  div.two-column-page.fibonacci-1-1 div.column-two {width: 49.999%; float: right; overflow: hidden;}
  /*fibonacci-1-5, 16.6%/83.3%*/
  div.two-column-page.fibonacci-1-5 div.column-one {width: 16.66%;}
  div.two-column-page.fibonacci-1-5 div.column-two {width: 83.33%;}
  div.two-column-page.fibonacci-5-1 div.column-one {width: 83.33%;}
  div.two-column-page.fibonacci-5-1 div.column-two {width: 16.66%;}
  /*fibonacci-1-3, 25%/75%*/
  div.two-column-page.fibonacci-1-3 div.column-one {width: 25%;}
  div.two-column-page.fibonacci-1-3 div.column-two {width: 75%;}
  div.two-column-page.fibonacci-3-1 div.column-one {width: 75%;}
  div.two-column-page.fibonacci-3-1 div.column-two {width: 25%;}
  /*fibonacci-2-5, 28.6%/71.4%*/
  div.two-column-page.fibonacci-2-5 div.column-one {width: 28.6%;}
  div.two-column-page.fibonacci-2-5 div.column-two {width: 71.4%;}
  div.two-column-page.fibonacci-5-2 div.column-one {width: 71.4%;}
  div.two-column-page.fibonacci-5-2 div.column-two {width: 28.6%;}
  /*fibonacci-1-2, 33%/66%*/
  div.two-column-page.fibonacci-1-2 div.column-one {width: 33.3%;}
  div.two-column-page.fibonacci-1-2 div.column-two {width: 66.6%;}
  div.two-column-page.fibonacci-2-1 div.column-one {width: 66.6%;}
  div.two-column-page.fibonacci-2-1 div.column-two {width: 33.3%;}
  /*fibonacci-3-5, 38.2%/61.8%*/
  div.two-column-page.fibonacci-3-5 div.column-one {width: 38.2%;}
  div.two-column-page.fibonacci-3-5 div.column-two {width: 61.77%;}
  div.two-column-page.fibonacci-5-3 div.column-one {width: 61.77%;}
  div.two-column-page.fibonacci-5-3 div.column-two {width: 38.2%;}
  /*fibonacci-2-3, 40%/60%*/
  div.two-column-page.fibonacci-2-3 div.column-one {width: 40%;}
  div.two-column-page.fibonacci-2-3 div.column-two {width: 60%;}
  div.two-column-page.fibonacci-3-2 div.column-one {width: 60%;}
  div.two-column-page.fibonacci-3-2 div.column-two {width: 40%;}
  
  @media all and (max-width: 800px) {
      div.two-column-page div.column-one, 
      div.two-column-page div.column-two {width: auto!important; float: none!important;}
  }
  
  /****************************************************************************************/
  /*****************************          node/layout         *****************************/
  /****************************************************************************************/
  
  div.wrapper:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}
  
  /********* node/layout/1column.html *********/
  .one-column-layout {clear: both;}
  .one-column-layout div.layout-column-single {float: none; width: auto;}
  
  /********* node/layout/2columns.html *********/
  .two-column-layout {clear: both;}
  .two-column-layout:after,
  .two-column-layout div.layout-body:after {content: '.'; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}
  
  /*default, fibonacci-1-1, 50%/50%*/
  .two-column-layout div.layout-column-one.of-two,
  .two-column-layout.fibonacci-1-1 div.layout-column-one.of-two {float: left; width: 49.999%;}
  .two-column-layout div.layout-column-two.of-two,
  .two-column-layout.fibonacci-1-1 div.layout-column-two.of-two {width: 49.999%; float: right;}
  /*fibonacci-1-5, 16.6%/83.3%*/
  .two-column-layout.fibonacci-1-5 div.layout-column-one.of-two {width: 16.66%;}
  .two-column-layout.fibonacci-1-5 div.layout-column-two.of-two {width: 83.33%;}
  .two-column-layout.fibonacci-5-1 div.layout-column-one.of-two {width: 83.33%;}
  .two-column-layout.fibonacci-5-1 div.layout-column-two.of-two {width: 16.66%;}
  /*fibonacci-1-3, 25%/75%*/
  .two-column-layout.fibonacci-1-3 div.layout-column-one.of-two {width: 25%;}
  .two-column-layout.fibonacci-1-3 div.layout-column-two.of-two {width: 75%;}
  .two-column-layout.fibonacci-3-1 div.layout-column-one.of-two {width: 75%;}
  .two-column-layout.fibonacci-3-1 div.layout-column-two.of-two {width: 25%;}
  /*fibonacci-2-5, 28.6%/71.4%*/
  .two-column-layout.fibonacci-2-5 div.layout-column-one.of-two {width: 28.6%;}
  .two-column-layout.fibonacci-2-5 div.layout-column-two.of-two {width: 71.4%;}
  .two-column-layout.fibonacci-5-2 div.layout-column-one.of-two {width: 71.4%;}
  .two-column-layout.fibonacci-5-2 div.layout-column-two.of-two {width: 28.6%;}
  /*fibonacci-1-2, 33%/66%*/
  .two-column-layout.fibonacci-1-2 div.layout-column-one.of-two {width: 33.3%;}
  .two-column-layout.fibonacci-1-2 div.layout-column-two.of-two {width: 66.6%;}
  .two-column-layout.fibonacci-2-1 div.layout-column-one.of-two {width: 66.6%;}
  .two-column-layout.fibonacci-2-1 div.layout-column-two.of-two {width: 33.3%;}
  /*fibonacci-3-5, 38.2%/61.8%*/
  .two-column-layout.fibonacci-3-5 div.layout-column-one.of-two {width: 38.2%;}
  .two-column-layout.fibonacci-3-5 div.layout-column-two.of-two {width: 61.8%;}
  .two-column-layout.fibonacci-5-3 div.layout-column-one.of-two {width: 61.8%;}
  .two-column-layout.fibonacci-5-3 div.layout-column-two.of-two {width: 38.2%;}
  /*fibonacci-2-3, 40%/60%*/
  .two-column-layout.fibonacci-2-3 div.layout-column-one.of-two {width: 40%;}
  .two-column-layout.fibonacci-2-3 div.layout-column-two.of-two {width: 60%;}
  .two-column-layout.fibonacci-3-2 div.layout-column-one.of-two {width: 60%;}
  .two-column-layout.fibonacci-3-2 div.layout-column-two.of-two {width: 40%;}
  
  @media all and (max-width: 800px) {
      .two-column-layout div.layout-column-one.of-two,
      .two-column-layout div.layout-column-two.of-two {width: auto!important; float: none!important;}
  }
  
  /********* node/layout/3columns.html *********/
  .three-column-layout {clear: both;}
  .three-column-layout div.layout-column-one.of-three, 
  .three-column-layout div.layout-column-two.of-three, 
  .three-column-layout div.layout-column-three.of-three {width: 33.3334%; overflow: hidden;}
  .three-column-layout div.layout-column-one.of-three, 
  .three-column-layout div.layout-column-two.of-three {float: left;}
  .three-column-layout div.layout-column-three.of-three {float: right;}
  
  @media all and (max-width: 800px) {   
      .three-column-layout div.layout-column-one.of-three,
      .three-column-layout div.layout-column-two.of-three,
      .three-column-layout div.layout-column-three.of-three {width: auto; float: none;}
  }
  