.revision-list {
	table {
		margin-top: 15px;
  	width: 100%;

		tbody {
			tr:nth-child(n+6) {
				display: none;
			}

			&.expanded {
				tr:nth-child(n+6) {
					display: table-row;
				}
			}

			span.current {
				display: none;
				font-style: italic;
			}

			button.detail {
				opacity: 0;
				transition: 0.3s ease;
			}

			tr:hover {
				button.detail {
					opacity: 1;
				}
			}

			tr:first-of-type {
				button.detail {
					display: none;
				}

				span.current {
					display: inline;
				}
			}
		}

		.show-more {
			text-align: center;
			font-weight: 600;
			color: var(--onyx-color-primary);
			background-color: var(--onyx-color-background-light);

			span {
				cursor: pointer;
			}
		}
	}

	hr {
		margin: 20px 0;
		border-color: var(--onyx-color-background-light);
	}

	.info-message {
		padding: 10px;
		border-radius: 10px;
		background-color: var(--onyx-color-background-light);
		color: var(--onyx-color-primary);
	}

	.hidden {
			display: none;
	}
}
