.revision-list {
	table {
		margin-top: 15px;
  	width: 100%;

		tbody {
			tr:nth-child(n+6) {
				display: none;
			}

			&.expanded {
				tr:nth-child(n+6) {
					display: table-row;
				}
			}
		}

		.show-more {
			text-align: center;
			font-weight: 600;
			color: var(--onyx-color-primary);
			background-color: var(--onyx-color-background-light);

			span {
				cursor: pointer;
			}
		}
	}
}
