/**
 * Backoffice icons
 
 * using https://fonts.google.com/icons?selected=Material+Symbols+Outlined
 */

@font-face {
  font-family: 'Material Icons';
  src: url('../fonts/MaterialSymbolsRounded-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#onyx-menu-bar {
  li {
    a:before {
      font-family: 'Material Icons';
      font-size: 20px; 
      margin: 0 8px; 
      width: 1.2em; 
      text-align: center; 
      content: "\e8b8"; /*settings*/
    }

    /* Menu sections */
    &.content a:before {content: "\f51f";} /*two_pager*/
    &.build a:before {content: "\f10b";} /*handyman*/
    &.news a:before {content: "\eb12";} /*full_coverage*/
    &.components a:before {content: "\e574";} /*category*/
    &.products a:before {content: "\e8cc";} /*shopping_cart*/
    &.recipes a:before {content: "\f357";} /*chef_hat*/
    &.stores a:before {content: "\ea12";} /*storefront*/
    &.orders a:before {content: "\f812";} /*order_approve*/
    &.stock a:before {content: "\ebb8";} /*warehouse*/
    &.customers a:before {content: "\f233";} /*groups*/
    &.stats a:before {content: "\f20c";} /*leaderboard*/
    &.marketing a:before {content: "\ef91";} /*featured_seasonal_and_gifts*/
    &.comments a:before {content: "\e0bf";} /*forum*/
    &.surveys a:before {content: "\f04c";} /*quiz*/
    &.media a:before {content: "\e8a7";} /*perm_media*/
    &.taxonomy a:before {content: "\e892";} /*label*/
    &.seo-manager a:before {content: "\eefa";} /*search_gear*/
    &.advanced a:before {content: "\e897";} /*lock*/

    /* Advanced */
    &.back a:before {content: "\f656";} /*lock_open_right*/
    &.database a:before {content: "\f20e";} /*database*/
    &.templates a:before {content: "\f863";} /*format_image_left*/
    &.scheduler a:before {content: "\e855";} /*alarm*/
    &.tools a:before {content: "\f100";} /*home_repair_service*/
    &.logs a:before {content: "\e889";} /*history*/
    &.configuration a:before {content: "\ef48";} /*build_circle*/
    &.currency a:before {content: "\e926";} /*euro_symbol*/
    &.api a:before {content: "\f41a";} /*sync_desktop*/

    /* Misc */
    &.onyx-version a:before {content: "\e88e";} /*info*/
    &.frontoffice a:before {content: "\e30b";} /*desktop_mac*/
    &.flush-cache a:before {content: "\e86a";} /*cached*/
    &.support a:before {content: "\e94c";} /*contact_support*/
    &.logout a:before {content: "\e8ac";} /*power_settings_new*/
  }

  /* FE edit bar*/
  .frontend & {
    a:before {
      font-family: 'Material Icons';
      font-size: 24px; 
    }

    li {
      &.backoffice a:before {content: "\e8b8";} /*settings*/
      &.preview a:before {content: "\e30b";} /*desktop_mac*/
      &.edit a:before {content: "\f88d";} /*edit_square*/
      &.move a:before {content: "\e94f";} /*expand*/
      &.css-edit a:before {content: "\f84d";} /*code_blocks*/
    }
  }
}

/* BE Actions */
button.action, a.action {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-primary);
  font-weight: normal;

  &:before {
    font-family: 'Material Icons';
    font-size: 20px; 
    margin: 0 5px; 
    content: "\e8b8"; /*settings*/
  }
  
  &.onyx-duplicate:before {content: "\e14d";} /*content_copy*/
  &.onyx-bin:before {content: "\e872"; color: var(--color-danger);} /*delete*/
  &.onyx-delete:before {content: "\e5cd"; color: var(--color-danger);} /*close*/
}

.node-edit .actions button.action:before {
    font-size: 30px; 
}

/* FE Edit */
div.onyx-add-content,
div.onyx-edit-content {
  padding: 0 0 50px 5px;
}

.onyx-fe-edit-node-container a.onyx-fe-action {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-primary);
  text-decoration: none;
  display: flex;
  align-items: center;

  &:before {
    font-family: 'Material Icons';
    font-size: 30px; 
    margin: 0 5px; 
    content: "\f88d"; /*edit_square*/
  }

  &:not(.new-content) span {
    display: none;
  }
  
  /* pages */
  &.onyx-edit-default:before {content: "\f88c";} /*edit_document*/
  &.onyx-edit-page:before {content: "\eaf3";} /*file_open*/
  &.onyx-edit-layout:before {content: "\fffd7";} /*dashboard_2_edit*/
  &.onyx-edit-product-browse:before {content: "\f86e";} /*shelves*/
  &.onyx-edit-symbolic:before {content: "\f8ef";} /*dataset_linked*/
  &.onyx-edit-news:before {content: "\eb81";} /*newspaper*/
  &.onyx-edit-product:before {content: "\f5a4";} /*box*/

  /* actions */
  &.onyx-duplicate:before {content: "\e14d";} /*content_copy*/
  &.onyx-bin:before {content: "\e872"; color: var(--color-danger);} /*delete*/
  &.new-content:before {content: "\e147";} /*add_circle*/

  /* content */
  &.onyx-new-layout:before {content: "\e99b";} /*dashboard_customize*/
  &.onyx-edit-source:before {content: "\f846";} /*rebase_edit*/
  &.onyx-edit-print-article-list:before {content: "\eb81";} /*newspaper*/
  &.onyx-edit-news-list:before {content: "\eb81";} /*newspaper*/
  &.onyx-edit-component:before {content: "\e87b";} /*extension*/
  &.onyx-edit-external-source:before {content: "\e87b";} /*extension*/
  &.onyx-edit-quote:before {content: "\e244";} /*format_quote*/
  &.onyx-edit-divider:before {content: "\eabd";} /*unknown_med*/
  &.onyx-edit-teaser:before {content: "\e728";} /*text_ad*/
  &.onyx-edit-imagemap:before {content: "\efa2";} /*imagesmode*/
  &.onyx-edit-image:before {content: "\efa2";} /*imagesmode*/
  &.onyx-edit-image-gallery:before {content: "\f86f";} /*gallery_thumbnail*/
  &.onyx-edit-contact-form:before {content: "\e158";} /*mail*/
  &.onyx-edit-comment:before {content: "\e625";} /*sms*/
  &.onyx-edit-file:before {content: "\f88c";} /*edit_document*/
  &.onyx-edit-product-list:before {content: "\f86e";} /*shelves*/
  &.onyx-edit-feed:before {content: "\e0e5";} /*rss_feed*/
  &.onyx-edit-rte:before {content: "\e745";} /*edit_note*/
  &.onyx-edit-textile:before {content: "\e745";} /*edit_note*/
  &.onyx-edit-text:before {content: "\e745";} /*edit_note*/
  &.onyx-edit-shared:before {content: "\fffb5";} /*link_2*/
  &.onyx-edit-menu:before {content: "\e97a";} /*account_tree*/
  &.onyx-edit-content-list:before {content: "\e0ee";} /*list_alt*/
  &.onyx-edit-page-list:before {content: "\f51f";} /*two_pager*/
  &.onyx-edit-html:before {content: "\e86f";} /*code*/
  &.onyx-edit-product-highlights:before {content: "\ea12";} /*storefront*/
  &.onyx-edit-special-offer-list:before {content: "\ef91";} /*featured_seasonal_and_gifts*/
  &.onyx-edit-filter:before {content: "\ef4f";} /*filter_alt*/
  &.onyx-edit-survey:before {content: "\f04c";} /*quiz*/
  &.onyx-edit-video:before {content: "\ea75";} /*video_settings*/
  &.onyx-edit-recipe-list:before {content: "\f357";} /*chef_hat*/
  &.onyx-edit-adaptive:before {content: "\e9da";} /*responsive_layout*/
}

/**
 * spinning effect
 */
 
.onyx-effect-spin:before {-webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear;}
@-moz-keyframes spin {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(359deg);}
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);}
}
@-o-keyframes spin {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(359deg);}
}
@keyframes spin {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}
