/**
 * Backoffice iconns
 
 * using http://fontawesome.io/
 * and http://www.famfamfam.com/
 *	
 */
@font-face {
	font-family: 'onxshop';
	src:url('../fonts/onxshop.eot?-yjb9qm');
	src:url('../fonts/onxshop.eot?#iefix-yjb9qm') format('embedded-opentype'),
		url('../fonts/onxshop.woff?-yjb9qm') format('woff'),
		url('../fonts/onxshop.ttf?-yjb9qm') format('truetype'),
		url('../fonts/onxshop.svg?-yjb9qm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

#onxshop-header li a:before {display: inline-block; font-family: 'onxshop'; font-style: normal; font-weight: normal;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 1.3em; line-height: 1; margin: 0 8px 0 10px; vertical-align: -15%; width: 1.2em; text-align: center; content: "\f013"; /*default fa-gear*/}

#menu-frontoffice li.frontoffice a:before {content: '\f108';} /*fa-desktop*/

#menu-sections li.pages a:before {content: "\f0e8";} /*fa-sitemap*/
#menu-sections li.news a:before {content: "\f0f6";} /*fa-file-text-o*/
#menu-sections li.products a:before {content: "\f02a";} /*fa-barcode*/
#menu-sections li.recipes a:before {content: "\f0f5";} /*fa-cutlery*/
#menu-sections li.stores a:before {content: "\f1ad";} /*fa-building*/
#menu-sections li.orders a:before {content: "\f07a";} /*fa-shopping-cart*/
#menu-sections li.stock a:before {content: "\f1b3";} /*fa-cubes*/
#menu-sections li.customers a:before {content: "\f0c0";} /*fa-users*/
#menu-sections li.staff a:before {content: "\f0c0";}/*fa-users -------- set as default icon*/
#menu-sections li.clients a:before {content: "\f0e8";} /*fa-sitemap*/
#menu-sections li.stats a:before {content: "\f080";} /*fa-bar-chart-o*/
#menu-sections li.marketing a:before {content: "\f06b";} /*fa-gift*/
#menu-sections li.comments a:before {content: "\f086";} /*fa-comments*/
#menu-sections li.surveys a:before {content: "\f046";} /*fa-check-square-o*/
#menu-sections li.advanced a:before {content: "\f013";} /*fa-gear*/

#menu-advanced li.back a:before {content: "\f0a8";} /*arrow-circle-left*/
#menu-advanced li.media a:before {content: "\f03e";} /*fa-picture-o*/
#menu-advanced li.taxonomy a:before {content: "\f02c";} /*fa-tags*/
#menu-advanced li.seo-manager a:before {content: "\f1de";} /*fa-sliders*/
#menu-advanced li.database a:before {content: "\f1c0";} /*fa-database*/
#menu-advanced li.templates a:before {content: "\f1c9";} /*fa-file-code-o*/
#menu-advanced li.scheduler a:before {content: "\f017";} /*fa-clock-o*/
#menu-advanced li.currency a:before {content: "\f154";} /*fa-gbp*/
#menu-advanced li.search-index a:before {content: "\f002";} /*fa-search*/
#menu-advanced li.tools a:before {content: "\f0ad";} /*fa-wrench*/
#menu-advanced li.logs a:before {content: "\f1b0";} /*fa-paw*/
#menu-advanced li.configuration a:before {content: "\f085";} /*fa-gears*/

#menu-actions li.flush-cache a:before {content: "\f021";} /*fa-refresh*/
#menu-actions li.support a:before {content: "\f059";} /*fa-question-circle*/
#menu-actions li.logout a:before {content: "\f011";} /*fa-power-off*/

/**
 * fe-edit
 */

#menu-backoffice li.backoffice a:before {content: "\f013";} /*fa-gear*/

#menu-edit-mode li.preview a:before {content: "\f108";} /*fa-desktop*/
#menu-edit-mode li.edit a:before {content: "\f044";} /*fa-edit*/
#menu-edit-mode li.move a:before {content: "\f0db";} /*fa-columns*/

/**
 * General
 */
 
a.onxshop-edit {background-image: url(/share/images/famfamfam_icons/plugin.png);}
a.onxshop-layout-properties {background-image: url(/share/images/famfamfam_icons/layout.png);}
a.onxshop-page-properties {background-image: url(/share/images/famfamfam_icons/page.png);}
a.onxshop-duplicate {background-image: url(/share/images/famfamfam_icons/application_double.png);}
a.onxshop-delete {background-image: url(/share/images/famfamfam_icons/delete.png);}
a.onxshop-edit-source {background-image: url(/share/images/famfamfam_icons/link_edit.png);}
a.onxshop-new-content {background-image: url(/share/images/famfamfam_icons/add.png);}
a.onxshop-new-layout {background-image: url(/share/images/famfamfam_icons/layout_add.png);}
a.onxshop-edit-main-content {background-image: url(/share/images/famfamfam_icons/text_signature.png);}
a.onxshop-edit-page-add {background-image: url(/share/images/famfamfam_icons/page_add.png);}

/*
* Container Frontend Icons
*/

option.onxshop-edit-default.container {background-image: url(/share/images/famfamfam_icons/folder.png);}

/*
* Page Frontend Icons
*/

.onxshop-edit-commerce {background-image: url(/share/images/famfamfam_icons/key.png);}
.onxshop-edit-partner {background-image: url(/share/images/famfamfam_icons/key.png);}
.onxshop-edit-product-browse {background-image: url(/share/images/famfamfam_icons/building.png);}
.onxshop-edit-symbolic {background-image: url(/share/images/famfamfam_icons/page_go.png);}
.onxshop-edit-blank {background-image: url(/share/images/famfamfam_icons/page.png);}
.onxshop-edit-default {background-image: url(/share/images/famfamfam_icons/page.png);}
.onxshop-edit-print {background-image: url(/share/images/famfamfam_icons/printer.png);}
.onxshop-edit-news {background-image: url(/share/images/famfamfam_icons/newspaper.png);}
.onxshop-edit-product {background-image: url(/share/images/famfamfam_icons/page_white_ruby.png);}


/*
* Layout Frontend Icons
*/

.onxshop-edit-layout {clear: both; background-image: url(/share/images/famfamfam_icons/layout.png);}


/*
* Content Frontend Icons
*/

div.onxshop-add-content,
div.onxshop-edit-content {clear: both; padding: 0 0 50px 5px;}

div.onxshop-add-content a.onxshop-new-content,
div.onxshop-edit-content a,
div.onxshop-edit-layout a,
div.onxshop-page-properties a {display: block; width: 30px; height: 19px; float: left; background-repeat: no-repeat; background-position: center;}

div.onxshop-add-content a.onxshop-new-content span,
div.onxshop-edit-content a span,
div.onxshop-edit-layout a span,
div.onxshop-page-properties a span {display: none;}

div.onxshop-page-properties a.verbose {width: auto; text-decoration: none; background-position: left;}
div.onxshop-page-properties a.verbose span {display: inline; padding: 0 25px;}

a.onxshop-edit-articlebox {background-image: url(/share/images/famfamfam_icons/page_edit.png);}
a.onxshop-edit-print-article-list {background-image: url(/share/images/famfamfam_icons/newspaper.png);}
a.onxshop-edit-component {background-image: url(/share/images/famfamfam_icons/plugin.png);}
a.onxshop-edit-quote {background-image: url(/share/images/famfamfam_icons/rosette.png);}
a.onxshop-edit-divider {background-image: url(/share/images/famfamfam_icons/text_horizontalrule.png);}
a.onxshop-edit-teaser {background-image: url(/share/images/famfamfam_icons/page_go.png);}
a.onxshop-edit-imagemap {background-image: url(/share/images/famfamfam_icons/map_edit.png);}
a.onxshop-edit-contact-form {background-image: url(/share/images/famfamfam_icons/email.png);}
a.onxshop-edit-comment {background-image: url(/share/images/famfamfam_icons/comment.png);}
a.onxshop-edit-picture {background-image: url(/share/images/famfamfam_icons/photo.png);}
a.onxshop-edit-file {background-image: url(/share/images/famfamfam_icons/disk.png);}
a.onxshop-edit-product-list {background-image: url(/share/images/famfamfam_icons/building.png);}
a.onxshop-edit-feed {background-image: url(/share/images/famfamfam_icons/rss.png);}
a.onxshop-edit-RTE {background-image: url(/share/images/famfamfam_icons/text_signature.png);}
a.onxshop-edit-shared {background-image: url(/share/images/famfamfam_icons/link.png);}
a.onxshop-edit-news-list {background-image: url(/share/images/famfamfam_icons/newspaper.png);}
a.onxshop-edit-menu {background-image: url(/share/images/famfamfam_icons/sitemap_color.png);}
a.onxshop-edit-content-list {background-image: url(/share/images/famfamfam_icons/application_view_list.png);}
a.onxshop-edit-page-list {background-image: url(/share/images/famfamfam_icons/application_view_list.png);}
a.onxshop-edit-HTML {background-image: url(/share/images/famfamfam_icons/html.png);}
a.onxshop-edit-product-highlights {background-image: url(/share/images/famfamfam_icons/award_star_bronze_2.png);}
a.onxshop-edit-special-offer-list {background-image: url(/share/images/famfamfam_icons/money.png);}
a.onxshop-edit-filter {background-image: url(/share/images/famfamfam_icons/page_white_find.png);}
a.onxshop-edit-external-source {background-image: url(/share/images/famfamfam_icons/plugin.png);}
a.onxshop-edit-textile {background-image: url(/share/images/famfamfam_icons/text_signature.png);}
a.onxshop-edit-survey {background-image: url(/share/images/famfamfam_icons/application_form.png);}
a.onxshop-edit-video {background-image: url(/share/images/famfamfam_icons/film.png);}
a.onxshop-edit-recipe-list {background-image: url(/share/images/famfamfam_icons/application_view_list.png);}
a.onxshop-edit-adaptive {background-image: url(/share/images/famfamfam_icons/table_key.png);}

/**
 * Other Icons
 */

a.onxshop-icon {display: block; width: 19px; height: 19px; background-repeat: no-repeat;}
a.onxshop-icon span {display: none;}
a.onxshop-magnifier {background-image: url(/share/images/famfamfam_icons/magnifier.png);}
div.node-node-controller option {background-repeat: no-repeat; background-position: 5px center; padding: 0.2em 0 0.2em 30px; height:1.4em;}

/**
 * spinnig effect
 */
 
.onxshop-effect-spin:before {-webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear;}
@-moz-keyframes spin {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(359deg);}
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);}
}
@-o-keyframes spin {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(359deg);}
}
@keyframes spin {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}
}
