/**
 * Backoffice CSS
 *
 * Norbert @ Laposa Ltd 2009 - 2011
 *
 */

@import url(/share/css/backoffice_icons.css);
@import url(/share/css/simple-tree.css);
@import url(/share/css/default/screen.css);
@import url(/share/themes/jquery-ui/onxshop/jquery-ui.css);
@import url(/share/css/cms_header.css);

body {font-size: 70%; color: white; font-family: "Lucida Grande", Helvetica, Arial, sans-serif;}
p {margin: 0 0 14px 0;}
h2 a, h3 a, h4 a {color: white;}

/**
 * Links
 */
 
a {color: black;}
a:active {color: red;}
a.button {box-shadow: 2px 2px rgba(0,0,0,0.2); color: #3A3A3A; font-weight: bold; border: 1px solid #DBDBDB; border-radius: 5px; background: #eee; display: inline-block; padding: 5px 10px; background-position: center left; background-repeat: no-repeat; vertical-align: baseline; text-decoration: none;}
a.add {
background: #a9db80; /* Old browsers */
background: -moz-linear-gradient(top,  #a9db80 0%, #96c56f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* IE10+ */
background: linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
}
a.edit {background-image: url(/share/images/famfamfam_icons/bullet_go.png); padding-left: 20px; height: 20px; display: block;}
a.remove,
a.delete {background-image: url(/share/images/famfamfam_icons/delete.png); padding-left: 20px;
	height: 20px; display: inline-block; color: red;}
a.fe_edit_go {display: block; padding-left: 20px; background-image: url(/share/images/famfamfam_icons/door_in.png);}

/*
 * disabled links and items
 */
 
a.onxshop_nopublish,
a.onxshop_nopublish span,
.disabled,
.notpublic,
.publish_0 {text-decoration: line-through;}

/**
 * tables
 */
 
table {margin-top: 0; color: black;}
td {vertical-align: middle;}
th {text-align: left;}
th.last {text-align: right;}
tr:hover td {background: white;}
/*tbody tr:nth-child(odd) {background-color:#eee;}
tbody tr:nth-child(even) {background-color:#fff;}*/
div.layoutColumnWrapper > table {border: 1px solid #AAA; background: #FDFDFD; border-top: 0; /*box-shadow: 1px 1px 10px #000;*/ box-shadow: 2px 2px rgba(0,0,0,0.2); width: 100%; margin-top: 0; border-top-left-radius: 0;}
table caption {margin: 0; padding: 5px;}
table a {text-decoration: none;}
td {background: #F9F9F9; border-top: 1px solid white; border-bottom: 1px solid #EAEAEA;}
td td {border-top: 0; border-bottom: 0;}
caption,
th {text-transform: uppercase; text-align: left; border-top: 1px solid white; border-bottom: 1px solid #EAEAEA; text-shadow: 0 1px 0 white;
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
tfoot td {border-top: 1px solid white; border-bottom: 1px solid #EAEAEA; text-shadow: 0 1px 0 white;
background: #e9e9e9; /* Old browsers */
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */}

/**
 * Forms
 */
 
form {padding: 0;}
form div.title span.label {text-align: left;}
form div.title span.field {clear: both; display: block; padding-left: 0; width: 100%;}
form div.title span.field input.text {width: 70%; float: left;}
form div.rte span.label {text-align: left;}
form div.rte span.field {display: block; overflow: auto; width: auto; clear: both; padding: 1px 0 0 1px;}
textarea {font-size: medium;}
/*input.title:hover {background: #f1f1f1 url(/share/images/ruler.png) no-repeat bottom left;}*/
button {padding: 5px 10px;}
button.save {float: right; margin: 3px;}
button.saving {background: white url(/share/images/ajax-indicator/indicator.gif) no-repeat; padding-left: 25px;}

/**
 * fe edit
 */
 
div.onxshop_highlight_delete {background: #ffbfbf;}
div.onxshop_highlight_edit {background: #bfffbf;}

/**
 * Display permission highlights
 */
 
div.node.show_at_normal_login {border: 1px solid red;}
div.node.hide_at_normal_login {border: 1px solid green;}
div.node.show_at_trade_login {border: 1px solid red;}
div.node.hide_at_trade_login {border: 1px solid green;}

/**
 * Product_list
 */
 
div.product_list div.head form {margin-bottom: 1em;}
div.product_list div.head form div.row {clear: none; float: left;}
div.product_list div.head form div.row span.label {width: auto;}
div.product_list div.head form div.row span.field {padding-right: 1em;}

/**
 * Product variety list
 */
 
a.button.add_new_variety {float: left; margin-right: 10px;}

/**
 * product list
 */
 
div.product_list tbody tr td {border-top: 0; border-bottom: 0;}
div.product_list tbody tr.fullproduct td {background-image: url(/share/images/double-border-h.png); background-position: top left; background-repeat: repeat-x;}
div.product_list td.product_name {font-size: 1.5em; font-family: Georgia;}
div.product_list th.price,
div.product_list th.sku {text-align: center;}

/**
 * divider
 */
 
div.divider {border-top: 2px solid #dadada;}

/**
 * jQuery UI
 */
 
div.ui-dialog legend {display: none;}
.ui-tabs-hide { display: none; }

/**
 * popup window
 */
 
div.popup {padding: 10px; background: white; color: black;}
h2 a, h3 a, h4 a {color: black;}

/**
 * image file list
 */
 
div.file_list_icon div.item {height: 120px; overflow: hidden; margin-bottom: 1em;}

/**
 * file list
 */
 
#file_list a.button.delete,
#file_list a.button.remove,
#server_browser_file_list a.button.delete  {padding-top: 0; padding-bottom: 0; background-color: transparent; box-shadow: none; border: 0;}

/**
 * server_browser_file_list_wrapper
 */
#backoffice #server_browser_file_list_wrapper form {background: white;}

/**
 * node_edit (pages)
 */
 
#backoffice div.columnTwo div.node_edit form {padding: 0;}

/**
 * backoffice content
 */
#backoffice {background: #6d7076 url(../images/lion-fabric.png) repeat; /*background: #e6eaef;*/}
#backoffice div.twoColumnPage {margin-top: 5px;}
#backoffice #container {width: auto;}
#backoffice div.pageContentWrapper,
#backoffice div.pageHeaderWrapper {padding-left: 0; margin-left: 0;}
#backofficeWrapper {/*padding: 5px 15px;*/}
#onxshopBackoffice {clear: both; padding: 5px 10px;}
#onxshopBackofficeWrapper {clear: both;}
div.wrapper {margin: 0 10px;}
#onxshop_content {clear: both;}
#layout_icon {background-position: top right; background-repeat: no-repeat;}

/**
 * backoffice columns
 */
 
#backoffice div.columnOne {color: black; border-top-left-radius: 2px; border-bottom-left-radius: 2px;/*box-shadow: 1px 1px 10px #000;*/ box-shadow: 2px 2px rgba(0,0,0,0.2);
background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
#backoffice div.columnOne caption {color: black;}
#backoffice div.columnTwo form {padding: 10px; color: black; background: #ededed; /* Old browsers */
background: -moz-linear-gradient(top,  #ededed 0%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(top,  #ededed 0%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */}
#backoffice div.twoColumnPage div.columnOne div.columnWrapper {padding-top: 10px; margin-left: 10px; padding-right: 15px; margin-right:0;}
#backoffice div.twoColumnPage div.columnTwo div.columnWrapper {margin-left: 0;}
#backoffice div.twoColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutColumnOne > div.layoutColumnWrapper {margin-right: 10px;}
#backoffice div.twoColumnLayout > div.layoutWrapper > div.layoutContent > div.layoutContentWrapper > div.layoutColumnTwo > div.layoutColumnWrapper {padding-top: 25px; margin-left: 0;}


