/**
 * Front Office
 *
 * Norbert @ Laposa Ltd 2009
 *
 */

@import url(/share/themes/jquery-ui/onyx/jquery-ui.css);
@import url(/share/css/variables.css);
@import url(/share/css/backoffice-icons.css);

#onyx-header { 
	position: fixed; 
	z-index: 2147483647; 
	height: 55px; 
	top: auto; 
	left: 50%; 
	margin-left: -280px; 
	bottom: 30px; 
	border-radius: 40px; 
	box-shadow: 1px 1px 20px rgba(0,0,0,0.4); 
	cursor: move; 
	overflow: hidden; 
	background: rgba(50,56,62,1); 
	background: -moz-linear-gradient(top, rgba(50,56,62,1) 0%, rgba(37,38,39,1) 100%); 
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,56,62,1)), color-stop(100%, rgba(37,38,39,1))); 
	background: -webkit-linear-gradient(top, rgba(50,56,62,1) 0%, rgba(37,38,39,1) 100%); 
	background: -o-linear-gradient(top, rgba(50,56,62,1) 0%, rgba(37,38,39,1) 100%); 
	background: -ms-linear-gradient(top, rgba(50,56,62,1) 0%, rgba(37,38,39,1) 100%); 
	background: linear-gradient(to bottom, rgba(50,56,62,1) 0%, rgba(37,38,39,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32383e', endColorstr='#252627', GradientType=0 ); 

	#onyx-menu-bar {
		display: flex;
		justify-content: center;

		ul {
			display: flex;
			margin: 0; 
			list-style: none; 
			text-shadow: 1px 1px 1px rgba(0,0,0,0.5); 
			border-left: 1px solid #33373c; 
			box-shadow: -1px 0 0 #0f1112; 
			padding: 0 5px;

			li {
				margin: 0; 
				height: 55px; 
				list-style: none; 
				text-align: center; 
			}

			a {
				display:flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				line-height: normal;
				text-decoration: none; 
				font-size: 12px; 
				transition: color 200ms linear;   
				height: 55px; 
				line-height: normal; 
				color: #ccc;
				padding: 0 5px;

				.active & {
					color: #fff; 
					margin-top: 0; 
					border-top: 1px solid #6d97d0; 
					background-image: -webkit-linear-gradient(top, #5685c4, #4c6cb8); 
					background-image: -moz-linear-gradient(top, #5685c4, #4c6cb8); 
					background-image: -ms-linear-gradient(top, #5685c4, #4c6cb8); 
					background-image: -o-linear-gradient(top, #5685c4, #4c6cb8); 
					background-image: linear-gradient(to bottom, #5685c4, #4c6cb8);
				}

				&:hover {
					color: #fff;
				}
			}
		}
		
		#menu-system {
			padding: 0;
			border: none; 
			box-shadow: none;
		}

		#menu-actions {
			padding-right: 15px;
		}
	}

	a.onyx-version {
		cursor: move;

		span {
			display: none;
		}

		&:before {
			content: '';
			display: inline-block; 
			background-image: url(/share/images/onyx-logo-white.png);
			background-size: cover;
			opacity: 0.7;
			width: 35px;
			height: 35px;
			-webkit-font-smoothing: antialiased; 
			-moz-osx-font-smoothing: grayscale;
			transition: 0.3s ease;
		}

		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
}

div.onyx-actions {
	display: flex
}

.onyx-highlight-delete {background: #ffbfbf;}
.onyx-highlight-edit {background: #bfffbf;}
.onyx-highlight-new {background: #bfffbf;}

/**
 * Display permission
 */
.onyx-fe-edit-node-container.show-at-normal-login {border: 1px dotted red;}
.onyx-fe-edit-node-container.hide-at-normal-login {border: 1px dotted green;}
.onyx-fe-edit-node-container.show-at-trade-login {border: 1px solid red;}
.onyx-fe-edit-node-container.hide-at-trade-login {border: 1px solid green;}
.onyx-fe-edit-node-container.acl-in-use {border: 1px dotted red;}
.onyx-fe-edit-node-container.not-public {border: 1px solid red;}
.onyx-fe-edit-node-container.adaptive {border: 1px dashed #9933CC;}

/**
 * jQuery UI
 */

/*sortable*/

.droppable-hover {opacity: 0.8; /* outline: 5px dotted black; */}
.droppable-hover:hover {opacity: 1.0;}
.ui-sortable .ui-widget-content {border: 1px dotted red; width: auto; min-height: 150px; overflow: hidden;}
.ui-sortable div.ui-widget-content.node_group-layout {height: auto;}

/*tabs*/
ul.ui-tabs-nav li {padding-bottom: 0;}
