/**
 * Backoffice Global CSS
 *
 * Norbert @ Laposa Ltd 2009
 *
 */

@import url(/share/themes/jquery-ui/onxshop/jquery-ui.css);
@import url(/share/css/backoffice_icons.css);
@import url(/share/css/cms_header.css);

#onxshop_cms_content {clear: both; padding-top: 1px;}
@media all and (max-width: 480px) {
	#onxshop_cms_content { width: 100%; overflow: hidden; }
}

#onxshop_window_content {background: white; text-align: left; padding: 0 10px;}

#onxshop_window_block {display: none;}

div.onxshop_highlight_delete {background: #ffbfbf;}
div.onxshop_highlight_edit {background: #bfffbf;}

div.onxshop_highlight_new {background: #bfffbf;}





#layout_icon {background-position: top right; background-repeat: no-repeat;}

/**
 * tinymce editor overwrites
 */
span.mceEditorContainer select {width: auto;}

/**
 * Display permission
 */
div.node.show_at_normal_login {border: 1px dotted red;}
div.node.hide_at_normal_login {border: 1px dotted green;}
div.node.show_at_trade_login {border: 1px solid red;}
div.node.hide_at_trade_login {border: 1px solid green;}
div.acl_in_use {border: 1px dotted red;}
div.node.not_public {border: 1px solid red;}

/**
 * jQuery UI
 */

/*sortable*/
.droppable-hover {outline: 5px dotted black;}
.ui-sortable .ui-widget-content {border: 1px dotted red; width: auto; height: 150px; overflow: hidden;}
.ui-sortable div.ui-widget-content.node_group-layout {height: auto;}

/*dialog*/
div.ui-dialog div.ui-dialog-content {overflow: auto;}
div.ui-dialog legend {display: none;}
.ui-dialog a.remove,
.ui-dialog a.delete {background-image: url(/share/images/famfamfam_icons/delete.png); background-repeat: no-repeat; background-position: center left; padding-left: 20px; display: inline-block; color: red;}
/*tabs*/
ul.ui-tabs-nav li {padding-bottom: 0;}


/**
 * hide duplicate and delete icons for contentSide and contentFooter
 */
	
#contentSide a.onxshop_duplicate,
#contentFooter a.onxshop_duplicate,
#contentSide a.onxshop_delete,
#contentFooter a.onxshop_delete {display: none}
