#backoffice {
  height: 100%;
  width: auto; 
  margin: 0 auto;

  .page-content-wrapper, 
  .page-header-wrapper {
    padding-left: 0; margin-left: 0;
  }
}

#onyx-backoffice {
  margin-left: 130px; 
  height: 100%; 
  width: calc(100% - 130px);
}

#layout-icon {
  background-position: top right; 
  background-repeat: no-repeat;
}

div.wrapper {
  margin: 0 10px;
}

.bo-page {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.bo-navigation-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 50%;
  height: 100%;
  transition: 0.3s ease;
}

.bo-node-detail-wrapper {
  height: 100%;
  width: 50%;
  padding: 0 20px;
  position: relative;
  border-left: 1px solid #e0e0e0;
  box-shadow: 0px 0px 6px 3px var(--color-primary-opaque);
}
