.bo-navigation {
  height: calc(100% - 60px);
	background-color: var(--color-background-light);
}

.levels {
	display: flex;
	width: auto;
	height: 100%;
	position: relative;
  overflow-x: scroll;
	overflow-y: hidden;
}

.navigation-list {
	min-width: 250px;
	width: 250px;
	padding: 0;
	height: 100%;
	background-color: white;
	transition: 0.3s ease;
	list-style-type: none;
	box-shadow: -5px 0px 5px 1px rgba(0, 0, 0, 0.05);
	overflow-y: auto;

  .navigation-list-item {
		font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 10px;
    transition: all 0.5s ease;
    cursor: pointer;
		min-height: 45px;

    &:hover {
      color:var(--color-primary);
      background-color: rgb(95, 158, 160, 0.05);
    }

		&.active {
      color:var(--color-primary);
			font-weight: bold;
      background-color: var(--color-primary-opaque);
			border-bottom: 2px solid var(--color-primary);
    }

		&.has-children {
			padding-right: 5px;

			&:after {
				content: url('../images/icons/chevron_right.svg');
				margin-left: auto;
				height: 24px;
				opacity: 0.3;
			}
		}
  }

	.action-buttons {
		padding: 10px;
		text-align: center;

		a {
			width: 100%;
		}
	}
		
	/* Icons */

	.icon {
		margin-right: 5px;

		&:before {
			content: "";
			display: block;
			position: relative;
			width: 20px;
			height: 20px;
			background-size: contain;
		}

		&.page:before {
			background-image: url('../images/icons/icon_page.png');
		}
		
		&.content:before, &.layout:before {
			background-image: url('../images/icons/icon_content_2.png');
		}

		 &.container:before {
			background-image: url('../images/icons/icon_container.png');
		}
	}

	.drop-zone {
		height: 5px;
		width: 100%;
		background-color: var(--color-primary);
		transition: 0.3s ease;
		opacity: 0;

		&.drag-over {
			height: 25px;
			opacity: 0.25;
		}
	}
}
