#bo-search {

	.search-bar {
		position: relative;

		.onyx-loading {
			position: absolute;
			top: 5px;
			right: 10px;
			z-index: 1000;
			width: 50px;
			height: 50px;
			min-height: unset;
			background: transparent;
			left: unset;
		}

		input, input:focus {
			padding: 0 10px 0 45px;
			outline: none;
			border: none;
			height: 60px;
			border-radius: 0;
			color: #6a6a6a;
			font-size: 16px;
			margin: 0;
			border-bottom: 1px solid #e0e0e0;
		}

		&:before {
			content: "\f002";
			position: absolute;
			font-family: 'onyx';
			color: var(--color-primary);
			font-size: 25px;
			top: 10px;
			left: 10px;
		}
	}

	.search-results {
		position: absolute;
		left: 0;
		width: 100%;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		z-index: 1000;
		height: calc(100% - 60px);
		pointer-events: none;
	}

	.search-results-list {
		list-style: none;
		margin: 0;
		overflow-y: auto;
		top: 60px;
		max-height: 100%;
		padding: 0;
		pointer-events: all;
		background-color: white;

		> li {
			padding: 10px;
			background-color: white;
			border-bottom: 1px solid #ddd;
			transition: 0.3s ease;

			&:hover {
				background-color: var(--color-primary-opaque);

				.title {
					color: var(--color-primary);
				}
			}
		}

		a:hover {
			text-decoration: none;
		}

		.search-result-item {
			display: flex;
			flex-direction: column;
			width: 100%;
			cursor: pointer;
			color: #333;
			transition: 0.5s ease;

			.title {
				width: 100%;
				font-size: 1.1rem;
				font-weight: 500;
				color: #333;
				display: flex;
				align-items: center;
				transition: 0.3s ease;
			}
		}

		.path {
			font-size: 0.7rem;
			color: #999;
			margin-top: 5px;

			a {
				font-size: 0.7rem;
				color: #999;

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: rgba(0, 0, 0, 0.1);
		pointer-events: all;
		cursor: pointer;
	}

	.search-close {
		cursor: pointer;
		position: absolute;
		top: -50px;
		right: 15px;
		font-family: 'onyx';
		font-size: 25px;
		color: var(--color-primary);
		pointer-events: all;

		&:before {
			content: "\f00d";
		}
	}

	/* Icons */

	.icon {
		margin-right: 5px;

		&:before {
			content: "";
			display: block;
			position: relative;
			width: 20px;
			height: 20px;
			background-size: contain;
		}

		&.page:before {
			background-image: url('../images/icons/icon_page.png');
		}
		
		&.content:before, &.layout:before {
			background-image: url('../images/icons/icon_content_2.png');
		}

		 &.container:before {
			background-image: url('../images/icons/icon_container.png');
		}

		&.page.product:before {
			background-image: url('../images/icons/icon_product.png');
		}
	}
}

