/**
 * Simple Tree
 */
 
.simpleTree a { text-decoration: none; }

.simpleTree
{
	
	margin:0;
	padding:0;
}
.simpleTree li
{
	list-style: none;
	margin:0;
	padding:0 0 0 34px;
	line-height: 18px;
	position: relative;
}
.simpleTree li span
{
	display: inline;
	clear: left;
	white-space: nowrap;
}
.simpleTree ul
{
	margin:0; 
	padding:0;
}
.simpleTree .root
{
	margin-left: -18px;
	background: none;
}
.simpleTree li.root:before,
.simpleTree li.folder:before,
.simpleTree li.folder-open:before,
.simpleTree li.folder-open-last:before,
.simpleTree li.folder-close:before,
.simpleTree li.folder-close-last:before,
.simpleTree li.doc:before,
.simpleTree li.doc-last:before
{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f15c";
  margin-left: -16px;
  line-height: 18px;
  color: #4260a3;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  position: absolute;
  font-size: 14px;
  z-index: 10;
}

.simpleTree li.folder-open:after,
.simpleTree li.folder-open-last:after,
.simpleTree li.folder-close:after,
.simpleTree li.folder-close-last:after
{
  content: "\f0d7";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 18px;
  color: #333;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  z-index: 10;
  margin: 0 0 0 1px;
}

.simpleTree li.folder-close:after,
.simpleTree li.folder-close-last:after
{
  content: "\f0da";
  margin: 0 0 0 3px;
}

.simpleTree .line
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	/*background: url(/share/images/simple-tree/line_bg.gif) 0 0 no-repeat transparent;*/
}
.simpleTree .line-last
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(/share/images/simple-tree/spacer.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(/share/images/simple-tree/line_bg_over.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over-last
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(/share/images/simple-tree/line_bg_over_last.gif) 0 0 no-repeat transparent;
}
.simpleTree .folder-open
{
	margin-left:-16px;
	/*background: url(/share/images/simple-tree/collapsable.gif) 0 -2px no-repeat;*/
}
.simpleTree .folder-open-last
{
	margin-left:-16px;
	/*background: url(/share/images/simple-tree/collapsable-last.gif) 0 -2px no-repeat;*/
}
.simpleTree .folder-close
{
	margin-left:-16px;
	/*background: url(/share/images/simple-tree/expandable.gif) 0 -2px no-repeat;*/
}
.simpleTree .folder-close-last
{
	margin-left:-16px;
	/*background: url(/share/images/simple-tree/expandable-last.gif) 0 -2px no-repeat;*/
}
.simpleTree .doc
{
	margin-left:-16px;
	/*background: url(/share/images/simple-tree/leaf.gif) 0 -1px no-repeat;*/
}
.simpleTree .doc-last
{
	margin-left:-16px;
	/*background: url(/share/images/simple-tree/leaf-last.gif) 0 -1px no-repeat;*/
}

.simpleTree .ajax
{
	background: url(/share/images/simple-tree/spinner.gif) no-repeat 0 0;
	height: 16px;
	display:none;
}
.simpleTree .ajax li
{
	display:none;
	margin:0; 
	padding:0;
}
.simpleTree .trigger
{
	display:inline;
	margin-left:-32px;
	width: 28px;
	height: 11px;
	cursor:pointer;
	position: relative;
	z-index: 20;
}
.simpleTree .text
{
	cursor: default;
}
.simpleTree a:active
{
	color: #000000;
}
.simpleTree .active a:active
{
	color: #ffffff;
}
.simpleTree .active a,
.simpleTree .active
{
	cursor: default;
	background: #5179bf;
	color: #ffffff;
	padding: 3px 5px 4px 5px;
	font-weight: normal;
	border-top: 1px solid #6d97d0;
	border-radius: 2px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#drag_container
{
	color:#000;
	border: 1px dashed #767676;
}
#drag_container ul
{
	list-style: none;
	padding:0;
	margin:0;
}

#drag_container li
{
	list-style: none;
	line-height:18px;
	white-space: nowrap;
	padding:1px 1px 0px 16px;
	margin:0;
}
#drag_container li span
{
	padding:0;
}

#drag_container li.doc, #drag_container li.doc-last
{
	background: url(/share/images/simple-tree/leaf.gif) no-repeat -17px 0;
}
#drag_container .folder-close, #drag_container .folder-close-last
{
	background: url(/share/images/simple-tree/expandable.gif) no-repeat -17px 0;
}

#drag_container .folder-open, #drag_container .folder-open-last
{
	background: url(/share/images/simple-tree/collapsable.gif) no-repeat -17px 0;
}
.contextMenu
{
	display:none;
}