/**
 * Simple Tree
 */
 
.simple-tree a { text-decoration: none; }

div.twoColumnPage.page .simple-tree
{
    padding-bottom: 80px; 
}
.simple-tree
{
    
    margin:0;
    padding:0;
}
.simple-tree li
{
    list-style: none;
    margin:0;
    padding:0 0 0 34px;
    line-height: 18px;
    position: relative;
}
.simple-tree li span
{
    display: inline;
    clear: left;
    white-space: nowrap;
}
.simple-tree ul
{
    margin:0; 
    padding:0;
}
.simple-tree .root
{
    margin-left: -18px;
    background: none;
}
.simple-tree li.root:before,
.simple-tree li.folder:before,
.simple-tree li.folder-open:before,
.simple-tree li.folder-open-last:before,
.simple-tree li.folder-close:before,
.simple-tree li.folder-close-last:before,
.simple-tree li.doc:before,
.simple-tree li.doc-last:before
{
  display: inline-block;
  font-family: 'onxshop';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f15c"; /* page icon */
  margin-left: -16px;
  line-height: 18px;
  color: #4260a3;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  position: absolute;
  font-size: 14px;
  z-index: 10;
}

.server_browser_menu .simple-tree li.folder-open:before,
.server_browser_menu .simple-tree li.folder-open-last:before {
  content: "\f07c"; /* folder icon (open) */
}

.server_browser_menu .simple-tree li.root:before,
.server_browser_menu .simple-tree li.folder:before,
.server_browser_menu .simple-tree li.folder-close:before,
.server_browser_menu .simple-tree li.folder-close-last:before {
  content: "\f07b"; /* folder icon (closed) */
}

.server_browser_menu .simple-tree li.doc:before,
.server_browser_menu .simple-tree li.doc-last:before {
  content: "\f1c9"; /* file icon */
}

.server_browser .server_browser_menu .simple-tree li.doc:before,
.server_browser .server_browser_menu .simple-tree li.doc-last:before {
  content: "\f07b"; /* file icon */
}

#database .server_browser_menu .simple-tree li.doc:before,
#database .server_browser_menu .simple-tree li.doc-last:before {
  content: "\f1c0"; /* file icon */
}

#taxonomy_tree_menu .simple-tree li.folder-open:before,
#taxonomy_tree_menu .simple-tree li.folder-open-last:before,
#taxonomy_tree_menu .simple-tree li.root:before,
#taxonomy_tree_menu .simple-tree li.folder:before,
#taxonomy_tree_menu .simple-tree li.folder-close:before,
#taxonomy_tree_menu .simple-tree li.folder-close-last:before,
#taxonomy_tree_menu .simple-tree li.doc:before,
#taxonomy_tree_menu .simple-tree li.doc-last:before,
#filterTaxonomy .simple-tree li.folder-open:before,
#filterTaxonomy .simple-tree li.folder-open-last:before,
#filterTaxonomy .simple-tree li.root:before,
#filterTaxonomy .simple-tree li.folder:before,
#filterTaxonomy .simple-tree li.folder-close:before,
#filterTaxonomy .simple-tree li.folder-close-last:before,
#filterTaxonomy .simple-tree li.doc:before,
#filterTaxonomy .simple-tree li.doc-last:before,
#newsTaxonomyFilter .simple-tree li.folder-open:before,
#newsTaxonomyFilter .simple-tree li.folder-open-last:before,
#newsTaxonomyFilter .simple-tree li.root:before,
#newsTaxonomyFilter .simple-tree li.folder:before,
#newsTaxonomyFilter .simple-tree li.folder-close:before,
#newsTaxonomyFilter .simple-tree li.folder-close-last:before,
#newsTaxonomyFilter .simple-tree li.doc:before,
#newsTaxonomyFilter .simple-tree li.doc-last:before,
.taxonomy_menu .simple-tree li.folder-open:before,
.taxonomy_menu .simple-tree li.folder-open-last:before,
.taxonomy_menu .simple-tree li.root:before,
.taxonomy_menu .simple-tree li.folder:before,
.taxonomy_menu .simple-tree li.folder-close:before,
.taxonomy_menu .simple-tree li.folder-close-last:before,
.taxonomy_menu .simple-tree li.doc:before,
.taxonomy_menu .simple-tree li.doc-last:before {
  content: "\f02b"; /* tag icon */
}

.simple-tree li.folder-open:after,
.simple-tree li.folder-open-last:after,
.simple-tree li.folder-close:after,
.simple-tree li.folder-close-last:after
{
  content: "\f0d7"; /* right arrow (open) */
  display: inline-block;
  font-family: 'onxshop';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 18px;
  color: #333;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  z-index: 10;
  margin: 0 0 0 1px;
}

.simple-tree li.folder-close:after,
.simple-tree li.folder-close-last:after
{
  content: "\f0da"; /* down arrow (closed) */
  margin: 0 0 0 3px;
}

.simple-tree .line
{
    margin:0 0 0 -16px;
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    /*background: url(/share/images/simple-tree/line_bg.gif) 0 0 no-repeat transparent;*/
}
.simple-tree .line-last
{
    margin:0 0 0 -16px;
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    background: url(/share/images/simple-tree/spacer.gif) 0 0 no-repeat transparent;
}
.simple-tree .line-over
{
    margin:0 0 0 -16px;
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    background: url(/share/images/simple-tree/line_bg_over.gif) 0 0 no-repeat transparent;
}
.simple-tree .line-over-last
{
    margin:0 0 0 -16px;
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    background: url(/share/images/simple-tree/line_bg_over_last.gif) 0 0 no-repeat transparent;
}
.simple-tree .folder-open
{
    margin-left:-16px;
    /*background: url(/share/images/simple-tree/collapsable.gif) 0 -2px no-repeat;*/
}
.simple-tree .folder-open-last
{
    margin-left:-16px;
    /*background: url(/share/images/simple-tree/collapsable-last.gif) 0 -2px no-repeat;*/
}
.simple-tree .folder-close
{
    margin-left:-16px;
    /*background: url(/share/images/simple-tree/expandable.gif) 0 -2px no-repeat;*/
}
.simple-tree .folder-close-last
{
    margin-left:-16px;
    /*background: url(/share/images/simple-tree/expandable-last.gif) 0 -2px no-repeat;*/
}
.simple-tree .doc
{
    margin-left:-16px;
    /*background: url(/share/images/simple-tree/leaf.gif) 0 -1px no-repeat;*/
}
.simple-tree .doc-last
{
    margin-left:-16px;
    /*background: url(/share/images/simple-tree/leaf-last.gif) 0 -1px no-repeat;*/
}

.simple-tree .ajax
{
    background: url(/share/images/simple-tree/spinner.gif) no-repeat 0 0;
    height: 16px;
    display:none;
}
.simple-tree .ajax li
{
    display:none;
    margin:0; 
    padding:0;
}
.simple-tree .trigger
{
    display:inline;
    margin-left:-32px;
    width: 28px;
    height: 11px;
    cursor:pointer;
    position: relative;
    z-index: 20;
}
.simple-tree .text
{
    cursor: default;
}
.simple-tree a:active
{
    color: #000000;
}
.simple-tree .active a:active
{
    color: #ffffff;
}
.simple-tree .active a,
.simple-tree .active
{
    cursor: default;
    background: #5179bf;
    color: #ffffff;
    padding: 3px 5px 4px 5px;
    font-weight: normal;
    border-top: 1px solid #6d97d0;
    border-radius: 2px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#drag_container
{
    color:#000;
    border: 1px dashed #767676;
}
#drag_container ul
{
    list-style: none;
    padding:0;
    margin:0;
}

#drag_container li
{
    list-style: none;
    line-height:18px;
    white-space: nowrap;
    padding:1px 1px 0px 16px;
    margin:0;
}
#drag_container li span
{
    padding:0;
}

#drag_container li.doc, #drag_container li.doc-last
{
    background: url(/share/images/simple-tree/leaf.gif) no-repeat -17px 0;
}
#drag_container .folder-close, #drag_container .folder-close-last
{
    background: url(/share/images/simple-tree/expandable.gif) no-repeat -17px 0;
}

#drag_container .folder-open, #drag_container .folder-open-last
{
    background: url(/share/images/simple-tree/collapsable.gif) no-repeat -17px 0;
}
.contextMenu
{
    display:none;
}
