:root {
	--color-primary: cadetblue;
	--color-primary-opaque: rgba(95, 158, 160, 0.1);
	--color-secondary: #6c757d;
	--color-success: #28a745;
	--color-info: #17a2b8;
	--color-warning: #ffc107;
	--color-danger: #dc3545;
	--color-background-light: rgba(95, 158, 160, 0.05);
	--color-background-dark: #343a40;
	--color-text: #1e1e1e;
	--color-text-grey: #6f6f6f;
	--color-text-light: #ffffff;
}
 