/*
* Variables
*/

:root {
  --onyx-color-primary: cadetblue;
  --onyx-color-primary-opaque: rgba(95, 158, 160, 0.1);
  --onyx-color-secondary: #6c757d;
  --onyx-color-success: #28a745;
  --onyx-color-info: #17a2b8;
  --onyx-color-warning: #ffc107;
  --onyx-color-danger: #dc3545;
  --onyx-color-background-light: rgba(95, 158, 160, 0.05);
  --onyx-color-background-dark: #343a40;
  --onyx-color-text: #1e1e1e;
  --onyx-color-text-grey: #6f6f6f;
  --onyx-color-text-light: #ffffff;
}
