<!-- BEGIN: content -->
<div class="content contact-form {NODE.component.node_controller|preg_replace('/_/', '-', %s)} {NODE.css_class}">
    <div class="wrapper">
        <!-- BEGIN: title --><h3 class="content-title"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
        <div class="content-body">
            <!-- BEGIN: submited -->
            {NODE.component.text}
            <!-- END: submited -->
            <!-- BEGIN: form -->
            {FORM}
            <!-- END: form -->
        </div>
    </div>
</div>
<!-- END: content -->
