<!-- BEGIN: content -->
<!--
<script src="http://convert.rss-to-javascript.com/?chan=1&simple_chan=1&desc=1&num=6&src={PAGE.content}" type="text/javascript"></script>
-->
<div class="external-source {NODE.css_class}">
	<!-- BEGIN: title --><h3 class="content-title"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
	<div class="content-body">
		<!-- BEGIN: uri -->
		<p><a href="{NODE.component.image_link}"><img src="{RSS.image_url}" alt="{RSS.image_title}" /></a></p>
		<!-- END: uri -->
		<div class="content">
		{RESULT}
		</div>
	</div>
</div>
<!-- END: content -->
