<!-- BEGIN: content -->
<div id="node-id-{NODE.id}" class="content external-source {NODE.css_class} {NODE.taxonomy_class}">
    <div class="wrapper">
        <!-- BEGIN: title --><h3 class="content-title"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
        <div class="content-body">
            <!-- BEGIN: uri -->
            <p><a href="{NODE.component.image_link}"><img src="{RSS.image_url}" alt="{RSS.image_title}" /></a></p>
            <!-- END: uri -->
            <div class="result">
            {RESULT}
            </div>
        </div>
    </div>
</div>
<!-- END: content -->
