<!-- BEGIN: content -->
<div id="node-id-{NODE.id}" class="content feed {NODE.css_class} {NODE.taxonomy_class}">
    <div class="wrapper">
        <!-- BEGIN: title --><h3 class="content-title"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
        <div class="content-body">              
            {RSS_RESULT}
            <!-- BEGIN: ajax -->
            <script type="text/javascript">
            /*nocache GET paremeter is only for global controller caching, not the feed component itself*/
            makeAjaxRequest('#node-id-{NODE.id} div.content-body', '/request/component/{FEED_CONTROLLER}~url={RSS_OPTIONS.url}:items_limit={RSS_OPTIONS.items_limit}:image={RSS_OPTIONS.image}:copyright={RSS_OPTIONS.copyright}:description={RSS_OPTIONS.description}:pubdate={RSS_OPTIONS.pubdate}~&nocache=1')
            </script>
            <!-- END: ajax -->
        </div>
    </div>
</div>
<!-- END: content -->
