<!-- BEGIN: content -->
<div id="node-id-{NODE.id}" class="content image {NODE.css_class} {NODE.taxonomy_class}">
    <div class="wrapper">
        <!-- BEGIN: title --><h3 class="content-title"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
        <div class="content-body">
            <figure>
                <!-- BEGIN: image_with_link -->
                <a href="/page/{NODE.link_to_node_id}">
                {ONYX_REQUEST_image #component/image~node_id=GET.id~}
                </a>
                <!-- END: image_with_link -->
                <!-- BEGIN: image_with_no_link -->
                {ONYX_REQUEST_image #component/image~node_id=GET.id~}
                <!-- END: image_with_no_link -->
                
                <!-- BEGIN: caption -->
                <figcaption>
                    <h4>{NODE.strapline|htmlspacialchars}</h4>
                    <p>{NODE.description|htmlspecialchars|nl2br}</p>
                    <div class="content">{NODE.content}</div>
                </figcaption>
                <!-- END: caption -->
            </figure>
        </div>
    </div>
</div>
<!-- END: content -->
