<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<section class="{NODE.node_controller} {NODE.node_group} {NODE.css_class} {NODE.taxonomy_class} {NODE.extra_css_class|htmlspecialchars}" data-node-id="{NODE.id}" data-node-controller="{NODE.node_controller}">
	<div class="wrapper">
		<header>
			<!-- BEGIN: title --><h3 class="contentTitle">{NODE.title|htmlspecialchars}</h3><!-- END: title -->
			<!-- BEGIN: title_link --><h3 class="contentTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h3><!-- END: title_link -->
		</header>
		{NEWS_LIST}
	</div>
</section>
<!-- END: content -->
