<!-- BEGIN: content -->
<section class="page-list {NODE.css_class} {NODE.taxonomy_class} {NODE.extra_css_class|htmlspecialchars}" data-node-id="{NODE.id}" data-node-controller="{NODE.node_controller}">
	<div class="wrapper">
		<!-- BEGIN: title --><h3 class="contentTitle">{NODE.title|htmlspecialchars}</h3><!-- END: title -->
		<!-- BEGIN: title_link --><h3 class="contentTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h3><!-- END: title_link -->
		{CONTENT}
	</div>
</section>
<!-- END: content -->
