<!-- BEGIN: content -->
<div class="picture {NODE.component.template} {NODE.css_class}">
	<div class="top"><span></span></div>
	<!-- BEGIN: title --><h3 class="contentTitle"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
	<!-- BEGIN: title_link --><h3 class="contentTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h3><!-- END: title_link -->
	<div class="contentBody">
		{CONTENT}
	</div>
	<div class="bottom"><span></span></div>
</div>
<!-- END: content -->
