<!-- BEGIN: content -->
<div class="content quote {NODE.css_class} {NODE.taxonomy_class}">
	<div class="wrapper">
		<!-- BEGIN: title --><h3 class="content-title"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
		<div class="content-body">
			<blockquote>
				<p class="quote">{QUOTE.text|htmlspecialchars|nl2br}</p>
				<!-- BEGIN: author -->
				<p class="author">{QUOTE.author|htmlspecialchars|nl2br}</p>
				<!-- END: author -->
			</blockquote>
		</div>
	</div>
</div>
<!-- END: content -->
