<!-- BEGIN: content -->
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->

<div class="recipe_list_content {NODE.css_class}">
	<!-- BEGIN: title --><h3 class="contentTitle"><a href="#node_id_{NODE.id}"><span>{NODE.title|htmlspecialchars}</span></a></h3><!-- END: title -->
	<!-- BEGIN: title_link --><h3 class="contentTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h3><!-- END: title_link -->
	<div class="contentBody">
		{RECIPE_LIST}
	</div>
</div>
<!-- END: content -->
