<!-- BEGIN: content -->
<div class="teaser {NODE.css_class}">
	<!-- BEGIN: title --><h3 class="contentTitle"><span>{NODE.title|htmlspecialchars}</span></h3><!-- END: title -->
	<!-- BEGIN: title_link --><h3 class="contentTitle"><a href="/page/{NODE.link_to_node_id}"><span>{NODE.title|htmlspecialchars}</span></a></h3><!-- END: title_link -->
	<div class="image">
		<a href="{NODE.component.href}">{ONXSHOP_REQUEST_imageview #component/image&amp;relation=teaser&amp;nolink=1&amp;width=100&amp;node_id=GET.id}</a>
	</div>
	<div class="contentBody">
		<div class="text">{NODE.component.text}</div>
		<p><a href="{NODE.component.href}"><span>{NODE.component.link_text}</span></a></p>
	</div>
</div>
<!-- END: content -->
