<!-- BEGIN: title -->Now Available – {DATA.product.name|htmlspecialchars}<!-- END: title -->
<!-- BEGIN: content -->

<p>
Dear {DATA.customer.first_name},
</p>

<p>
    We noted that you expressed an interested in our {DATA.product.name|htmlspecialchars}.
</p> 

<p>
    We are pleased to inform you that the below product is now back in stock.
 </p>

<p>
    To return to {CONFIGURATION.global.title|htmlspecialchars}, please follow the below link:
</p>

<br/>
<table>
    <tr>
        <td><a style="text-decoration: none; border: none;" href="{DATA.product.url}">{DATA.product.image}</a></td>
        <td>&nbsp;&nbsp;</td>
        <td style="border: 1px solid #a39161; padding: 20px; ">
            <h3><a style="font-size: 16px; color: #a39161;" href="{DATA.product.url}">{DATA.product.name|htmlspecialchars} - {DATA.product.variety.name|htmlspecialchars}</a></h3>
            <p>{DATA.product.teaser|strip_tags|htmlspecialchars}</p>
            <p><strong>{DATA.product.variety.price.value||money_format(%s)}</strong></p>
        </td>
    </tr>
</table>

<br/>

<p>
    Please let us know if you would like any further information about our teas, Glassware or service by contacting <a style="color: #a39161;" href="{PROTOCOL}://{_SERVER.SERVER_NAME}/page/20">{CONFIGURATION.global.admin_email|htmlspecialchars}</a>.
</p>

<p>
Kindest regards,<br/>
<a style="color: #a39161;" href="{PROTOCOL}://{_SERVER.SERVER_NAME}">{CONFIGURATION.global.title|htmlspecialchars}</a>
</p>

<hr/>

<p>
    We sent you the above alert as you expressed an interest in the availability of this product at <a style="color: #a39161;" href="{PROTOCOL}://{_SERVER.SERVER_NAME}">{PROTOCOL}://{_SERVER.SERVER_NAME}</a>. To unsubscribe from these emails please click <a style="color: #a39161;" href="{PROTOCOL}://{_SERVER.SERVER_NAME}/page/{DATA.unsubscribe.page_id}?wid={DATA.unsubscribe.id}&amp;unsubscribe={DATA.unsubscribe.key}">here</a>.
</p>

<!-- END: content -->
