<!-- BEGIN: title -->Thank you for inviting {DATA.invited_customer.first_name|htmlspecialchars} to {CONFIGURATION.global.title|htmlspecialchars}<!-- END: title -->
<!-- BEGIN: content -->
<p>Hello {DATA.rewarded_customer.first_name},</p>

<p>Thank you for sharing {CONFIGURATION.global.title|htmlspecialchars} with your friends and family. The invitation you sent to {DATA.invited_customer.first_name} has been accepted. </p>

<p>As promised, we are pleased to offer you {DATA.discount_value|money_format(%s)} off your next order when you spend over {DATA.minimum_order_amount|money_format(%s)}.</p>

<p>Your new {DATA.discount_value|money_format(%s)} voucher code is: <strong>{DATA.code}</strong></p>

<p>Full details of your {CONFIGURATION.global.title|htmlspecialchars} vouchers, and the friends you have invited can be found in your <a href="{PROTOCOL}://{_SERVER.HTTP_HOST}/my-account/invite-friends">{CONFIGURATION.global.title|htmlspecialchars} Account Page</a>.</p>

<p>Kind regards,<br/>
{CONFIGURATION.global.author_content|htmlspecialchars}
</p>

<!-- END: content -->
