<!-- BEGIN: title -->Thank you for Inviting {DATA.customer.first_name} to JING Tea<!-- END: title -->
<!-- BEGIN: content -->

<p>Dear {DATA.customer.first_name}</p>
 
<p>Thank you for inviting your friends to JING Tea.</p>
 
<p>You have now introduced {TOTAL} friends to JING, so we would like to give you 10 more.</p>

<p>If you would like to invite more friends and family and continue to receive your £5 vouchers simply use the invite friends function in your account.</p>
 
<p>All the best,</p>
 <p>JING Tea.</p>

<!-- END: content -->
