<!-- BEGIN: title -->Invite Friends: Customer #{DATA.rewarded_customer.id} has reached 15 invites<!-- END: title -->
<!-- BEGIN: content -->
<p>
	This email is to remind you that customer {DATA.rewarded_customer.first_name} {DATA.rewarded_customer.last_name} has reached 15 invites on the invite friends scheme.
</p>
<p>
	Please log into the backoffice to review their account and amend their voucher accordingly.
</p>
<p>
	<a href="http://{_SERVER.HTTP_HOST}/backoffice/customers/{DATA.rewarded_customer.id}/detail">http://{_SERVER.HTTP_HOST}/backoffice/customers/{DATA.rewarded_customer.id}/detail</a>
</p>
<!-- END: content -->
