<!-- BEGIN: title -->Thank you for inviting {DATA.invited_customer.first_name} to JING Tea<!-- END: title -->
<!-- BEGIN: content --><p align="center"><img src="http://{_SERVER.HTTP_HOST}/images/jing_logo_email.png" alt="JING"/></p>

<p>Hello {DATA.rewarded_customer.first_name},</p>

<p>Thank you for sharing JING Tea with your friends and family. The invitation you sent to {DATA.invited_customer.first_name} has been accepted. </p>

<p>As promised, we are pleased to offer you {DATA.discount_value|money_format} off your next order when you spend over {DATA.minimum_order_amount|money_format}.</p>

<p>Your new {DATA.discount_value|money_format} voucher code is: <strong>{DATA.code}</strong></p>

<p>Full details of your JING vouchers, and the friends you have invited can be found in your <a href="http://{_SERVER.HTTP_HOST}/my-account/invite-friends">JING Account Page</a>.</p>

<p>Kind regards,<br/>
JING Tea
</p>

<!-- END: content -->
