<!-- BEGIN: title -->Thank you for Inviting {DATA.customer.first_name} to JING Tea<!-- END: title -->
<!-- BEGIN: content -->

<p>Hello {DATA.customer.first_name},</p>

<p>Thank you for sharing JING Tea with your friends and family. The invitation you sent to {DATA.friend.first_name} has been accepted. To thank you we would like to offer you £5.00 off your next order.</p>

<p>Your £5.00 code is: <strong>{DATA.code}</strong></p>

<p>Full details of your vouchers, and the friends you have invited can be found in your <a href="http://{_SERVER.HTTP_HOST}/page/{NODE_CONF.id_map-personal_details}">JING Account Page</a>.</p>

<p>Kind regards,<br/>
JING Tea
</p>
<!-- END: content -->
