<!-- BEGIN: title -->{CONFIGURATION.global.title|htmlspecialchars}: Request for password change<!-- END: title -->
<!-- BEGIN: content -->
<p>Hello {DATA.customer.first_name} {DATA.customer.last_name},</p>

<p>You have requested to change your password for {_SERVER.HTTP_HOST}</p>

<p>To reset your password please follow this link <a href="http://{_SERVER.HTTP_HOST}/page/{NODE_CONF.id_map-passwordreset}?email={DATA.customer.email}&key={DATA.customer.password_key}">RESET PASSWORD</a></p>

<p>Best wishes,<br />
{CONFIGURATION.global.author_content}</p>
<!-- END: content -->
