<!-- BEGIN: content -->
<h2>Paypal payment</h2>
<!-- BEGIN: messages --><div class="onxshop_messages">{MESSAGES}</div><!-- END: messages -->
<form  action='{PAYPAL.URL}' method='post'>
	<button class="payment_paypal" type='submit' name='paypal'  value='paypal' /><span>{I18N_MAKE_PAYMENT_WITH_PAYPAL}</span></button>
</form>
<!-- TODO: check invoice was payed in full with Instant Payment Notification  (IPN) 
Verify that the payment amount actually matches what you intend to charge. Although not technically an IPN issue, if you do not encrypt buttons, it is possible for someone to capture the original transmission and change the price. Without this check, you could accept a lesser payment than what you expected.

PayPal will send:
mc_gross=19.95&protection_eligibility=Eligible&address_status=confirmed&payer_id=LPLWNMTBWMFAY&tax=0.00&address_street=1+Main+St&payment_date=20%3A12%3A59+Jan+13%2C+2009+PST&payment_status=Completed&charset=windows-1252&address_zip=95131&first_name=Test&mc_fee=0.88&address_country_code=US&address_name=Test+User&notify_version=2.6&custom=&payer_status=verified&address_country=United+States&address_city=San+Jose&quantity=1&verify_sign=AtkOfCXbDm2hu0ZELryHFjY-Vb7PAUvS6nMXgysbElEn9v-1XcmSoGtf&payer_email=gpmac_1231902590_per%40paypal.com&txn_id=61E67681CH3238416&payment_type=instant&last_name=User&address_state=CA&receiver_email=gpmac_1231902686_biz%40paypal.com&payment_fee=0.88&receiver_id=S8XGHLYDW9T3S&txn_type=express_checkout&item_name=&mc_currency=USD&item_number=&residence_country=US&test_ipn=1&handling_amount=0.00&transaction_subject=&payment_gross=19.95&shipping=0.00

We send back:
https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_notify-validate&mc_gross=19.95&protection_eligibility=Eligible&address_status=confirmed&payer_id=LPLWNMTBWMFAY&tax=0.00&...&payment_gross=19.95&shipping=0.00

PayPal returns:
PayPal will then send one single-word message, VERIFIED, if the message is valid; otherwise, it will send another single-word message, INVALID.

IMPORTANT:After you receive the VERIFIED message, there are several important checks you must perform before you can assume that the message is legitimate and not already processed:Confirm that the payment status is Completed.Use the transaction ID to verify that the transaction has not already been processed, which prevents duplicate transactions from being processed.Validate that the receiver’s email address is registered to you.Verify that the price, item description, and so on, match the transaction on your website.

Some more documentation on Express Checkout: http://zdrojak.root.cz/clanky/implementujeme-platby-pres-paypal-za-30-minut/
Zend: http://framework.zend.com/wiki/display/ZFPROP/Zend_Service_PayPal+-+A.J.+Brown
-->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_cart" />
	<input type="hidden" name="upload" value="1" />
	<input type="hidden" name="business" value="norbert@laposa.co.uk" />
	<input type="hidden" name="charset" value="utf-8" />
	<input type="hidden" name="return" value="{URLspecificToThisTransaction}" />
	<input type="hidden" name="currency_code" value="{CurrencyCode}" />
	<input type="hidden" name="address_override" value="1" />

	<input type="hidden" name="item_name_1" value="Payment For Order {ID}" />
	<input type="hidden" name="amount_1" value="3.00" />
	<input type="hidden" name="tax_cart" value="0" /><!-- total? -->
	<input type="hidden" name="discount_amount_cart" value="0" />
	
	<input type="hidden" name="first_name" value="John" />
	<input type="hidden" name="last_name" value="Doe" />
	<input type="hidden" name="address1" value="9 Elm Street" />
	<input type="hidden" name="address2" value="Apt 5" />
	<input type="hidden" name="city" value="Berwyn" />
	<input type="hidden" name="state" value="PA" />
	<input type="hidden" name="zip" value="19312" />
	<input type="hidden" name="night_phone_a" value="610" />
	<input type="hidden" name="night_phone_b" value="555" />
	<input type="hidden" name="night_phone_c" value="1234" />
	<input type="hidden" name="email" value="jdoe@zyzzyu.com" />
	<!--<input type="submit" value="{I18N_MAKE_PAYMENT_WITH_PAYPAL}">-->
	<input type="hidden" name="notify_url" value="/request/component/ecommerce/payment/paypal_callback" />
	<button class="payment_paypal" type='submit' name='paypal'  value='paypal' /><span>{I18N_MAKE_PAYMENT_WITH_PAYPAL}</span></button> 
</form>


<!-- END: content -->
