<!-- BEGIN: content -->
<form action='{PAYMENT_GATEWAY.URL}' method='post' id="protx_form">
	<h2>Protx</h2>
	{MESSAGES}
	<input type='hidden' name='VPSProtocol' value='{PAYMENT_GATEWAY.VPSProtocol}' />
	<input type='hidden' name='Vendor' value='{PAYMENT_GATEWAY.Vendor}' />
	<input type='hidden' name='TxType' value='{PAYMENT_GATEWAY.TxType}' />
	<input type='hidden' name='Crypt' value='{PAYMENT_GATEWAY.Crypt}' />
	<button class="payment_protx" type='submit' name='protx'  value='protx'><span>{I18N_MAKE_PAYMENT_WITH_PROTX}</span></button>
<input type="hidden" name="csrf_token" value="{CSRF_TOKEN}" />
</form>

<!-- BEGIN: autosubmit -->
<script type="text/javascript">
$(window).load(function () {
$('#protx_form').submit();
});
</script>
<!-- END: autosubmit -->
<!-- END: content -->
